﻿<div class="modal-header has-border">
    <h5 class="modal-title es-modal-title"> {{Title}}</h5>
    <button type="button" class="close custom-modal__close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
        <span aria-hidden="true" class="ua-icon-modal-close"></span>
    </button>
</div>
<div class="modal-body">
    <form name="addform" class="form-horizontal  form-bordered" method="post" ng-validate="validationOptions">
        <div class="row">
            <div class="col-lg-6">
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="input-type">Mã Phòng ban<span class="color-danger">*</span></label>
                        <input type="text" ng-model="model.DepartmentId" name="DepartmentId" class="form-control" ng-non-unicode>
                    </div>
                    <div class="form-group col-md-9">
                        <label for="input-type">Tên Phòng ban<span class="color-danger">*</span></label>
                        <input type="text" ng-model="model.DepartmentName" name="DepartmentName" class="form-control">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="inputState">Thuộc Phòng ban</label>
                        <select ng-smselect se-data="ListDepartmentsCombo" se-change="ChangeDepartment(data)" ng-model="model.ParentId" se-init="DepartmentsComboConfig"></select>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="input-type">Địa chỉ</label>
                        <input type="text" ng-model="model.Address" name="Address" class="form-control">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="input-type">Email</label>
                        <input type="text" ng-model="model.Email" name="Email" class="form-control">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="input-type">Điện thoại</label>
                        <input type="number" ng-model="model.Phone" name="Phone" class="form-control">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="input-type">Số Fax</label>
                        <input type="number" ng-model="model.Fax" name="Fax" class="form-control">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="input-type">Thứ tự</label>
                        <input type="number" ng-model="model.OrderId" name="OrderId" class="form-control">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="input-type">Trạng thái</label>
                        <select ng-smselect se-data="IsActive" se-change="ChangeIsActive(data)" ng-model="model.IsActive" ng-init="model.IsActive=1" se-init="IsActiveConfig"></select>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="form-group col-md-4">
                        <label for="textarea">Khối</label>
                        <select ng-smselect se-data="Khoi" se-change="ChangeDescription(data)" ng-model="model.Description" ng-init="model.Description='GT'"></select>
                    </div>
                    <div class="form-group col-md-8">
                        <label for="inputState">Người quản lý <span class="color-danger"> *</span></label>
                        <div class="input-group input-group-icon icon-right input-group-sm">
                            <select ng-smselect se-data="ListEmployees" se-change="ListEmpChange(data)" ng-model="model.ManagerGuid" placeholder="Chọn nhân viên...." se-init="StatusConfig"></select>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="textarea">Nội dung chức năng, nhiệm vụ</label>
                        <textarea ui-tinymce="tinymceOptions" type="text" ng-model="model.Content" name="Content" class="form-control"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer modal-footer--center">
    <div class="row" style="width:100%; height: 30px;">
        <div class="col-lg-6">
        </div>
        <div class="col-lg-6">
            <div class="form-group" style="float:right">
                <button class="btn btn-info icon-left btn-sm mr-3" type="button" ng-click="insert()">
                    Lưu <span class="btn-icon mdi mdi-content-save-all"></span>
                </button>
                <button class="btn btn-outline-primary icon-left btn-sm mr-3" type="button" data-dismiss="modal" ng-click="cancel()">
                    Đóng <span class="btn-icon mdi mdi-close"></span>
                </button>
            </div>
        </div>
    </div>
</div>