﻿<div class="modal-header has-border">
    <h5 class="modal-title es-modal-title"> {{Title}}</h5>
    <button type="button" class="close custom-modal__close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
        <span aria-hidden="true" class="ua-icon-modal-close"></span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-lg-12">
            <form class="form-horizontal  form-bordered" method="post">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label for="input-type">Mã Phòng ban</label>
                                <div class="textview">{{model.DepartmentId}}</div>
                            </div>
                            <div class="form-group col-md-9">
                                <label for="input-type">Tên Phòng ban</label>
                                <div class="textview">{{model.DepartmentName}}</div>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="inputState">Thuộc Phòng ban</label>
                                <div class="textview">{{model.ParentName}}</div>

                            </div>
                            <div class="form-group col-md-12">
                                <label for="input-type">Địa chỉ</label>
                                <div class="textview">{{model.Address}}</div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="input-type">Email</label>
                                <div class="textview">{{model.Email}}</div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="input-type">Điện thoại</label>
                                <div class="textview">{{model.Phone}}</div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="input-type">Số Fax</label>
                                <div class="textview">{{model.Fax}}</div>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="input-type">Thứ tự</label>
                                <div class="textview">{{model.OrderId}}</div>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="input-type">Trạng thái</label>
                                <div class="textview">{{model.IsActive}}</div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="textarea">Khối</label>
                                <div class="textview">{{model.Description}}</div>
                            </div>
                            <div class="form-group col-md-8">
                                <label for="textarea">Tên quản lý</label>
                                <div class="textview">{{model.ManagerName}}</div>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="textarea">Nội dung chức năng, nhiệm vụ</label>
                                <div class="textview" style="height:210px" ng-bind-html="model.Content"></div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal-footer modal-footer--center" style="padding-left:0px !important">
    <div class="row" style="width:100%; height: 25px;">
        <div class="col-lg-8" style="padding-left:0px !important">
            <ul class="page-footer__nav">
                <li class="page-footer__nav-item">
                    <a href="#" class="page-footer__nav-link">
                        <span class="mdi mdi-account page-footer__nav-icon" title="Người tạo"></span>
                        {{model.CreatedBy}}
                    </a>
                </li>
                <li class="page-footer__nav-item">
                    <a href="#" class="page-footer__nav-link">
                        <span class="mdi mdi-calendar-plus page-footer__nav-icon" title="Ngày tạo"></span>
                        {{model.CreatedDate | fdate:'DD/MM/YYYY HH:mm'}}
                    </a>
                </li>
                <li class="page-footer__nav-item">
                    <a href="#" class="page-footer__nav-link">
                        <span class="mdi mdi-account-check page-footer__nav-icon" title="Người sửa"></span>
                        {{model.ModifiedBy}}
                    </a>
                </li>
                <li class="page-footer__nav-item">
                    <a href="#" class="page-footer__nav-link">
                        <span class="mdi mdi-calendar-check page-footer__nav-icon" title="Ngày sửa"></span>
                        {{model.ModifiedDate | fdate:'DD/MM/YYYY HH:mm'}}
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-lg-4">
            <div class="form-group" style="float:right">
                <button class="btn btn-outline-primary icon-left btn-sm mr-3" type="button" data-dismiss="modal" ng-click="cancel()">
                    Đóng <span class="btn-icon mdi mdi-close"></span>
                </button>
            </div>
        </div>
    </div>
</div>
