﻿@{
    ViewData["Title"] = "Quản lý hợp đồng lao động";
    Layout = "~/Areas/HR/Views/SharedAdmin/_Layout.cshtml";
}

@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
@{ var Permission = System.Web.WebContext.GetPermission();
    string NameLogin = "";
    try
    {
        NameLogin = User.Identity.Name;
    }
    catch (Exception)
    {
        NameLogin = "";
    }
}
<input type="hidden" id="loginName" value="@NameLogin" />

<div class="page-content" id="contentMain" ng-controller="CtrlContracts">
    <div class="container-fluid">
        <div style="min-height:100px" ng-view></div>
    </div>
</div>
<script src="~/views/HR/Contracts/controller.js" type="text/javascript"></script>

