﻿
@{
    ViewData["Title"] = "IndexReport";

}

@using Stimulsoft.Report.Mvc;
@using Stimulsoft.Report.Web;
@using Stimulsoft.System.Web.UI.WebControls;

@{
    ViewBag.Title = "Stimulsoft Reports.Web Demo";
}
@Html.StiNetCoreViewer("StiMvcViewer1", new StiNetCoreViewerOptions()
{
    Localization = "/streport/Localization/vi.xml",
    Actions =
    {
        GetReport = "GetReport",
        ViewerEvent = "ViewerEvent",

        DesignReport = "Design"
    },
    Appearance =
    {
        BackgroundColor = System.Drawing.Color.FromArgb(0xe8, 0xe8, 0xe8),
        ScrollbarsMode = true
    },
    Toolbar =
    {
        DisplayMode = StiToolbarDisplayMode.Separated,
        ShowDesignButton = true
    },
    Width = Unit.Percentage(100),
    Height = Unit.Pixel(1000)
})

<link rel="stylesheet" href="/streport/css/stimulsoft.designer.office2013.whiteblue.css">
<link rel="stylesheet" href="/streport/css/stimulsoft.viewer.office2013.whiteblue.css">
<link rel="stylesheet" href="/streport/css/stimulsoft.designer.office2013.lightgrayteal.css">
<script src="/streport/scripts/stimulsoft.reports.js"></script>
<script src="/streport/scripts/stimulsoft.viewer.js"></script>
<script src="/streport/scripts/stimulsoft.designer.js"></script>

<style>
    table.stiJsViewerToolBarTable td:nth-child(2) {
        display: none !important;
    }
</style>