﻿
@{
    ViewData["Title"] = "Quản lý nhân viên";
    Layout = "~/Areas/HR/Views/SharedAdmin/_Layout.cshtml";
}

@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
@{
    string NameLogin = "";
    try
    {
        NameLogin = User.Identity.Name;
    }
    catch (Exception)
    {
        NameLogin = "";
    }
    var urlStatic = System.Web.WebContext.UrlStatic;
}

<input type="hidden" id="loginName" value="@NameLogin" />
<input type="hidden" id="urlStatic" value="@urlStatic" />
<div class="page-content" id="contentMain" ng-controller="Ctrl_ES_HR_Employees">
    <div class="container-fluid">
        <div style="min-height:100px" ng-view></div>
    </div>
    <script src="~/views/HR/Employees/controller.js" type="text/javascript"></script>
</div>

