﻿
@{
    ViewData["Title"] = "Trang chủ";
    Layout = "/Areas/HR/Views/SharedAdmin/_Layout.cshtml";
}
@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
@{
    string NameLogin = "";
    try
    {
        NameLogin = User.Identity.Name;
    }
    catch (Exception)
    {
        NameLogin = "";
    }
}
<div class="page-content" id="contentMain" ng-controller="CtrlHRMHome">
    <input type="hidden" id="loginName" value="@NameLogin" />
    <div class="container-fluid">
        <div style="min-height:100px" ng-view></div>
    </div>
</div>
<script src="~/views/HR/Home/controller.js" type="text/javascript"></script>
