﻿
@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
@{
    var urlStatic = System.Web.WebContext.UrlStatic;
    System.Web.WebContext.ObjPermiss Permission = System.Web.WebContext.GetPermission();
}

<html lang="en">

<head>
    <title>GLOBAL MEKONG GROUP</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/_layout/images/icons/favicon.png" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/_layout/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/_layout/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/_layout/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/_layout/fonts/linearicons-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/_layout/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/_layout/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/_layout/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/_layout/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/_layout/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/_layout/vendor/slick/slick.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/_layout/vendor/MagnificPopup/magnific-popup.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/_layout/vendor/perfect-scrollbar/perfect-scrollbar.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/_layout/css/util.css">
    <link rel="stylesheet" type="text/css" href="/_layout/css/main.css">
    <!--===============================================================================================-->

    <link rel="stylesheet" href="@urlStatic/vendor/sumo-select/sumoselect.min.css">
    <link rel="stylesheet" href="@urlStatic/vendor/datatables/datatables.min.css"> <!-- styles cho bảng  -->
    <link rel="stylesheet" href="@urlStatic/fonts/open-sans/style.min.css"> <!-- font  styles dùng chung  -->
    <link rel="stylesheet" href="@urlStatic/fonts/universe-admin/style.css"> <!-- icon font styles dùng chung -->
    <link rel="stylesheet" href="@urlStatic/fonts/mdi/css/materialdesignicons.min.css"> <!-- Các icon meterialdesignicons -->
    <link rel="stylesheet" href="@urlStatic/fonts/iconfont/style.css"> <!-- DEPRECATED iconmonstr -->

    <link rel="stylesheet" href="@urlStatic/vendor/flatpickr/flatpickr.min.css"> <!-- Các style gốc flatpickr plugin (datepicker) -->
    <link rel="stylesheet" href="@urlStatic/vendor/simplebar/simplebar.css"> <!-- các style gốc cho simplebar plugin (scrollbar)  -->
    <link rel="stylesheet" href="@urlStatic/vendor/tagify/tagify.css"> <!-- styles dành cho các tags -->
    <link rel="stylesheet" href="@urlStatic/vendor/tippyjs/tippy.css"> <!-- original tippy plugin (tooltip) styles -->
    <link rel="stylesheet" href="@urlStatic/vendor/bootstrap/css/bootstrap.min.css"> <!-- Các style gốc của bootstrap dùng chung -->
    <link rel="stylesheet" href="@urlStatic/css/style.min.css" id="stylesheet"> <!-- các style dùng chung -->
    <link href="@urlStatic/plugins/angular-confirm-master/js/angular-confirm.min.css" rel="stylesheet" />
    <link href="@urlStatic/css/Custom.css" rel="stylesheet" />
    <link rel="stylesheet" href="@urlStatic/css/style-custom.css"><!-- styles tùy chỉnh  -->
    <link rel="stylesheet" href="@urlStatic/plugins/ui-select/select.css">
    @*<link rel="stylesheet" href="@urlStatic/plugins/jquery-contextmenu/jquery.contextMenu.min.css">*@
    <link href="@urlStatic/plugins/angularjs-datetime/angularjs-datetime-picker.css" rel="stylesheet" type="text/css" />
    <link href="@urlStatic/plugins/treegrid/treeGrid.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/fixedcolumns/3.2.2/css/fixedColumns.dataTables.min.css">
    <link href="@urlStatic/plugins/angular-confirm-v1/angular-confirm.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="@urlStatic/vendor/fullcalendar/fullcalendar.min.css">
    <link rel="stylesheet" href="@urlStatic/vendor/jexcel/css/jquery.jcalendar.css">
    <link href="@urlStatic/vendor/jexcel/css/jquery.jexcel.css" rel="stylesheet" />
    <script src="@urlStatic/js/ie.assign.fix.min.js"></script>
    <script src="@urlStatic/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="@urlStatic/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="@urlStatic/plugins/js.cookie.min.js" type="text/javascript"></script>
    <link href="@urlStatic/plugins/jquery-nestable/jquery.nestable.css" rel="stylesheet" />
    <script src="@urlStatic/js/ie.assign.fix.min.js"></script>
    <script src="@urlStatic/plugins/angularjs/angular.min.js" type="text/javascript"></script>
    <script src="@urlStatic/plugins/angularjs/angular-sanitize.min.js" type="text/javascript"></script>
    <script src="@urlStatic/plugins/angularjs/angular-touch.min.js" type="text/javascript"></script>
    <script src="@urlStatic/plugins/angularjs/angular-route.js"></script>
    <script src="@urlStatic/plugins/angularjs/angular-cookies.min.js"></script>
    <script src="@urlStatic/plugins/angularjs/plugins/angular-ui-router.min.js"></script>
    <script src="@urlStatic/vendor/ui-bootstrap-tpls-2.5.0.js" type="text/javascript"></script>

    <script src="@urlStatic/plugins/underscore.js" type="text/javascript"></script>
    <script src="@urlStatic/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="@urlStatic/plugins/jquery-validation/jquery.validate.min.js" type="text/javascript"></script>
    <script src="@urlStatic/plugins/jquery-validation/angular-validate.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="@urlStatic/plugins/angularjs-datatable/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="@urlStatic/plugins/angularjs-datatable/js/dataTables.select.js"></script>
    <script type="text/javascript" src="@urlStatic/plugins/angularjs-datatable/js/dataTables.scroller.js"></script>
    <script type="text/javascript" src="@urlStatic/plugins/angularjs-datatable/js/dataTables.responsive.js"></script>
    <script type="text/javascript" src="@urlStatic/plugins/angularjs-datatable/js/dataTables.colVis.js"></script>
    <script type="text/javascript" src="@urlStatic/plugins/angularjs-datatable/js/dataTables.columnFilter.js"></script>
    <script type="text/javascript" src="@urlStatic/plugins/angularjs-datatable/js/dataTables.colReorder.js"></script>
    <script type="text/javascript" src="@urlStatic/plugins/angularjs-datatable/js/angular-datatables.js"></script>
    <script src="@urlStatic/plugins/angularjs-datatable/js/dataTables.fixedColumns.min.js"></script>
    <script type="text/javascript" src="@urlStatic/plugins/angularjs-datatable/js/angular-datatables.instances.js"></script>
    <script type="text/javascript" src="@urlStatic/plugins/angularjs-datatable/js/angular-datatables.factory.js"></script>
    <script type="text/javascript" src="@urlStatic/plugins/angularjs-datatable/js/angular-datatables.directive.js"></script>
    <script type="text/javascript" src="@urlStatic/plugins/angularjs-datatable/js/angular-datatables.options.js"></script>
    <script type="text/javascript" src="@urlStatic/plugins/angularjs-datatable/js/angular-datatables.renderer.js"></script>
    <script type="text/javascript" src="@urlStatic/plugins/angularjs-datatable/js/angular-datatables.util.js"></script>
    <script type="text/javascript" src="@urlStatic/plugins/angularjs-datatable/js/angular-datatables.bootstrap.min.js"></script>
    <script type="text/javascript" src="@urlStatic/plugins/angularjs-datatable/js/angular-datatables.select.js"></script>
    <script type="text/javascript" src="@urlStatic/plugins/angularjs-datatable/js/angular-datatables.scroller.js"></script>
    <script type="text/javascript" src="@urlStatic/plugins/angularjs-datatable/js/angular-datatables.colvis.js"></script>
    <script type="text/javascript" src="@urlStatic/plugins/angularjs-datatable/js/angular-datatables.columnfilter.js"></script>
    <script type="text/javascript" src="@urlStatic/plugins/angularjs-datatable/js/angular-datatables.colreorder.js"></script>
    <script src="@urlStatic/plugins/angularjs-datatable/js/angular-datatables.fixedcolumns.min.js"></script>
    <script src="@urlStatic/plugins/angular-confirm-master/js/angular-confirm.min.js" type="text/javascript"></script>
    <script src="@urlStatic/plugins/angular-confirm-v1/angular-confirm.js"></script>
    <script src="@urlStatic/plugins/angularjs/plugins/angular-file-upload/angular-file-upload.min.js" type="text/javascript"></script>
    <script src="@urlStatic/plugins/bootstrap-contextmenu/contextMenu.js" type="text/javascript"></script>
    <script src="@urlStatic/plugins/ui-select/select.js" type="text/javascript"></script>
    <script src="@urlStatic/plugins/angularjs-datetime/angularjs-datetime-picker.js" type="text/javascript"></script>
    <script src="@urlStatic/plugins/moment/moment.min.js" type="text/javascript"></script>
    <script src="@urlStatic/plugins/moment/angular-moment.min.js" type="text/javascript"></script>
    <script src="@urlStatic/plugins/jstree/jstree.js" type="text/javascript"></script>
    <script src="@urlStatic/plugins/jstree/ngJsTree.js" type="text/javascript"></script>
    <script src="@urlStatic/plugins/treegrid/tree-grid-directive.js" type="text/javascript"></script>
    <script src="@urlStatic/plugins/tinymce/tinymce.min.js"></script>
    <script src="@urlStatic/plugins/tinymce/ui.tinymce.min.js"></script>
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="@urlStatic/plugins/amcharts/amcharts/amcharts.js" type="text/javascript"></script>
    <script src="@urlStatic/plugins/amcharts/amcharts/serial.js" type="text/javascript"></script>
    <script src="@urlStatic/plugins/amcharts/amcharts/pie.js" type="text/javascript"></script>
    <script src="@urlStatic/plugins/amcharts/amcharts/radar.js" type="text/javascript"></script>
    <script src="@urlStatic/plugins/amcharts/amcharts/themes/light.js" type="text/javascript"></script>
    <script src="@urlStatic/plugins/amcharts/amcharts/themes/patterns.js" type="text/javascript"></script>
    <script src="@urlStatic/plugins/amcharts/amcharts/themes/chalk.js" type="text/javascript"></script>
    <script src="@urlStatic/plugins/amcharts/ammap/ammap.js" type="text/javascript"></script>
    <script src="@urlStatic/plugins/amcharts/ammap/maps/js/worldLow.js" type="text/javascript"></script>
    <script src="@urlStatic/plugins/amcharts/amstockcharts/amstock.js" type="text/javascript"></script>
    <script src="@urlStatic/Module/AM/aifactory.angularjs.js"></script>
    <script src="/js/app.js"></script>


</head>

<body class="js-loading " data-permission="@Permission.Permistion" data-resource="@ViewData["ResourceCode"]" ng-app="App_ESHR">

    <!-- Header -->
    @Html.Partial("~/Views/Shared/_menuTop.cshtml")

    <!-- Cart -->
    @RenderBody()

    @*<script src="@urlStatic/vendor/jquery/jquery.min.js"></script>*@
    <script src="@urlStatic/vendor/popper/popper.min.js"></script>
    <script src="@urlStatic/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="@urlStatic/vendor/simplebar/simplebar.js"></script>
    <script src="@urlStatic/vendor/text-avatar/jquery.textavatar.js"></script>
    <script src="@urlStatic/vendor/tippyjs/tippy.all.min.js"></script>
    <script src="@urlStatic/vendor/flatpickr/flatpickr.min.js"></script>
    <script src="@urlStatic/vendor/wnumb/wNumb.js"></script>
    <script src="@urlStatic/js/main.js"></script>
    <script src="@urlStatic/vendor/sumo-select/jquery.sumoselect.min.js"></script>
    <script src="@urlStatic/vendor/datatables/datatables.min.js"></script>
    <script src="@urlStatic/plugins/jquery-contextmenu/jquery.contextMenu.min.js"></script>
    <script src="@urlStatic/plugins/jquery-contextmenu/jquery.ui.position.js"></script>
    <script src="@urlStatic/plugins/bootstrap-growl/jquery.bootstrap-growl.min.js" type="text/javascript"></script>
    <script src="@urlStatic/plugins/jquery.blockui.min.js" type="text/javascript"></script>    <!--Plugins js-->
    <script src="@urlStatic/vendor/fullcalendar/fullcalendar.min.js"></script>
    <script src="@urlStatic/vendor/fullcalendar/locale-all.js"></script>
    <script src="@urlStatic/js/preview/settings-panel.min.js"></script>
    <script src="@urlStatic/js/preview/slide-nav.min.js"></script>
    <script src="@urlStatic/vendor/jexcel/js/jquery.csv.min.js"></script>
    <script src="@urlStatic/vendor/jexcel/js/jquery.jexcel.js"></script>
    <script src="@urlStatic/vendor/jexcel/js/jquery.jcalendar.js"></script>
    <script src="@urlStatic/vendor/jexcel/js/numeral.min.js"></script>
    <script src="@urlStatic/vendor/jexcel/js/excel-formula.min.js"></script>
    <script src="~/scripts/app.js"></script>
    <!-- Footer -->

    @Html.Partial("~/Views/Shared/_leftModule.cshtml")


    <!-- Back to top -->
    <div class="btn-back-to-top" id="myBtn">
        <span class="symbol-btn-back-to-top">
            <i class="zmdi zmdi-chevron-up"></i>
        </span>
    </div>


    <!--===============================================================================================-->
    <script src="/_layout/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="/_layout/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="/_layout/vendor/bootstrap/js/popper.js"></script>
    <script src="/_layout/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="/_layout/vendor/select2/select2.min.js"></script>

    <!--===============================================================================================-->
    <script src="/_layout/vendor/daterangepicker/moment.min.js"></script>
    <script src="/_layout/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="/_layout/vendor/slick/slick.min.js"></script>
        <script src="/_layout/js/slick-custom.js"></script>
    <!--===============================================================================================-->
    <script src="/_layout/vendor/parallax100/parallax100.js"></script>

    <!--===============================================================================================-->
    <script src="/_layout/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>

    <!--===============================================================================================-->
    <script src="/_layout/vendor/isotope/isotope.pkgd.min.js"></script>
    <!--===============================================================================================-->
    <script src="/_layout/vendor/sweetalert/sweetalert.min.js"></script>

    <!--===============================================================================================-->
    <script src="/_layout/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>

    <!--===============================================================================================-->
    <script src="/_layout/js/main.js"></script>

</body>

</html>