﻿
@{
    ViewData["Title"] = "_leftModule";
    Layout = null;
    var urlStatic = System.Web.WebContext.UrlStatic;
}
@*<footer class="bg3 p-t-75 p-b-32">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-3 p-b-50">
                <h4 class="stext-301 cl0 p-b-30">
                    Liên hệ
                </h4>

                <ul>
                    <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                        Địa chỉ các chi nhánh của chúng tôi, địa điểm chuyên cung cấp các dụng cụ nông nghiệp sạch
                        và dụng cụ làm vườn.</br>
                        TP. Hồ Chí Minh: 601 Phạm Văn Chí, Phường 7, Quận 6</br>
                        Tiền Giang: 17 Ngô Quyền, P.7, TP. Mỹ Tho</br>
                        TP. Nha Trang: 1202 đường 23/10, Vĩnh Hiệp</br>
                        Điện thoại: 0888.542.612 - 0908.730.430</br>
                        sales@dungcunongnghiep.vn
                    </a>


                </ul>
            </div>

            <div class="col-sm-6 col-lg-3 p-b-50">
                <h4 class="stext-301 cl0 p-b-30">
                    Thông tin
                </h4>

                <ul>
                    <li class="p-b-10">
                        <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                            Chính sách bảo mật
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                            Phương thức giao hàng
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                            Chính sách đổi trả hàng
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                            Hướng dẫn mua hàng
                        </a>
                    </li>
                    <li class="p-b-10">
                        <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                            Tiêu chí bán hàng
                        </a>
                    </li>
                    <li class="p-b-10">
                        <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                            Phương thức thanh toán
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-sm-6 col-lg-3 p-b-50">
                <h4 class="stext-301 cl0 p-b-30">
                    TỔNG ĐÀI HỖ TRỢ
                </h4>

                <p class="stext-107 cl7 size-201">
                    Hotline:
                    TP.Hà Nội
                    0917 430 282 | 0989 257 076
                    TP. HCM
                    0966 631 546 | 0985 626 307
                    Hotline:
                    TP.Hà Nội
                    0917 430 282 | 0989 257 076
                    TP. HCM
                    0966 631 546 | 0985 626 307
                    Hotline:
                    TP.Hà Nội
                    0917 430 282 | 0989 257 076
                    TP. HCM
                    0966 631 546 | 0985 626 307
                </p>


            </div>

            <div class="col-sm-6 col-lg-3 p-b-50">
                <h4 class="stext-301 cl0 p-b-30">
                    KẾT NỐI VỚI CHÚNG TÔI
                </h4>

                <form>
                    <div class="icon-social-ft">
                        <a href="https://www.facebook.com/mayvesinhcongnghiepchinhhang" target="_blank"
                           rel="nofollow">
                            <img src="https://yenphat.vn/assets/icons/facebook.svg" alt="facebook" loading="lazy"
                                 width="40" height="40">
                        </a>
                        <a href="https://www.youtube.com/channel/UCyUoVzONTxpxNPijRmLFqpg" target="_blank"
                           rel="nofollow">
                            <img src="https://yenphat.vn/assets/icons/youtube.svg" alt="youtube" loading="lazy"
                                 width="40" height="40">
                        </a>
                        <a href="" target="_blank" rel="nofollow">
                            <img src="https://yenphat.vn/assets/icons/messenger.svg" alt="messenger" loading="lazy"
                                 width="40" height="40">
                        </a><a href="https://zalo.me/0912370282" target="_blank"
                               rel="nofollow">
                            <img src="https://yenphat.vn/assets/icons/zalo.svg" alt="zalo" loading="lazy" width="40"
                                 height="40">
                        </a>


                    </div>
                </form>
            </div>
        </div>

        <div class="p-t-40">
            <div class="flex-c-m flex-w p-b-18">
                <a href="#" class="m-all-1">
                    <img src="/_layout/images/icons/icon-pay-01.png" alt="ICON-PAY">
                </a>

                <a href="#" class="m-all-1">
                    <img src="/_layout/images/icons/icon-pay-02.png" alt="ICON-PAY">
                </a>

                <a href="#" class="m-all-1">
                    <img src="/_layout/images/icons/icon-pay-03.png" alt="ICON-PAY">
                </a>

                <a href="#" class="m-all-1">
                    <img src="/_layout/images/icons/icon-pay-04.png" alt="ICON-PAY">
                </a>

                <a href="#" class="m-all-1">
                    <img src="/_layout/images/icons/icon-pay-05.png" alt="ICON-PAY">
                </a>
            </div>

            <p class="stext-107 cl6 txt-center">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> All rights reserveds
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

            </p>
        </div>
    </div>
</footer>*@

