﻿@{
    ViewData["Title"] = "_menuTop";
    Layout = null;
    var urlStatic = System.Web.WebContext.UrlStatic;
}
<script src="@urlStatic/vendor/jquery/jquery.min.js"></script>

<div class="navbar navbar-light navbar-expand-lg">

    <div class="collapse navbar-collapse" id="navbar-collapse">
        <div class="navbar__menu">
            <ul class="navbar-nav">
                <li style="width: 100%;color: black;font-weight: bold;">GLOBAL MEKONG GROUP</li>
            </ul>
        </div>
    </div>
</div>

