﻿@{
    Layout = null;
    var nav = System.Web.WebContext.GetNavigation("ES-HR");
    var rootParent = nav.Where(x => !x.ParentId.HasValue);
    var root = nav.Where(x => x.HasChild == false);
}
<div class="sidebar-section">
    <div class="sidebar-section__scroll">
        <div>
            <div class="minize-menuleft" onclick="toggleMenuminize()">
                <i class="mdi mdi-arrow-left-bold-circle-outline" id="minize-menuleft"></i>
            </div>
            @if (nav.Count() > 0)
            {
                foreach (var item in rootParent)
                {
                    if (item.HasChild)
                    {
                        var sub = nav.Where(x => x.ParentId.HasValue && x.ParentId.Value == item.Id);
                        <a href="javascript:;" class="sidebar-section-nav__link sidebar-section-nav__link-dropdown es_menu_lv1" title="@item.Title">
                            <span class="sidebar-section-nav__item-icon @item.Icon"></span>
                            <span class="sidebar-section-nav__item-text">@item.Title</span>
                        </a>
                        <ul class="sidebar-section-nav menuLeft-SubnavChild" style="display:none;">
                            @foreach (var itemsubsub in sub)
                            {
                                var sub2 = nav.Where(x => x.ParentId == itemsubsub.Id);
                                if (sub2.Count() > 0)
                                {
                                    <li class="sidebar-section-nav__item">
                                        <a class="sidebar-section-nav__link sidebar-section-nav__link-dropdown es_menu_lv2" href="@itemsubsub.Url" title="@itemsubsub.Title">
                                            <span class="sidebar-section-nav__item-icon @itemsubsub.Icon"></span>
                                            <span class="sidebar-section-nav__item-text">@itemsubsub.Title</span>
                                        </a>
                                        <ul class="sidebar-section-subnav">
                                            @foreach (var itemss in sub2)
                                            {
                                                <li class="sidebar-section-subnav__item">
                                                    <a class="sidebar-section-subnav__link" href="@itemss.Url" link-code="@itemss.Code" title="@itemss.Title">
                                                        <span class="sidebar-section-subnav__item @itemss.Icon"></span>
                                                        <span class="sidebar-section-nav__item-text">@itemss.Title</span>
                                                    </a>
                                                </li>
                                            }
                                        </ul>
                                    </li>
                                }
                                else
                                {
                                    <li class="sidebar-section-nav__item">
                                        <a class="sidebar-section-nav__link" href="@itemsubsub.Url"  link-code="@itemsubsub.Code" title="@itemsubsub.Title">
                                            <span class="sidebar-section-nav__item-icon @itemsubsub.Icon"></span>
                                            <span class="sidebar-section-nav__item-text">@itemsubsub.Title</span>
                                        </a>
                                    </li>
                                }
                            }
                        </ul>
                    }
                }
            }
        </div>
    </div>
</div>