﻿@*@{
    Layout = null;
    List<RenderSetting> _rs = new List<RenderSetting>();
    _rs = Model;
    string _runtime = _rs.Where(x => x.Name == "DomainMessRuntime").Select(x => x.Value).FirstOrDefault();
    string _dataStatic = _rs.Where(x => x.Name == "DataStatic").Select(x => x.Value).FirstOrDefault();
}
<script>
    var CONFIGSETTING = @Html.Raw(JsonConvert.SerializeObject(_rs));
    var CONFIGSETTING_OBJECT = {};
    for (var i = 0; i < CONFIGSETTING.length; i++) {
        CONFIGSETTING_OBJECT[CONFIGSETTING[i].Name.toUpperCase()] = CONFIGSETTING[i].Value;
    }
</script>*@