﻿@{
    ViewData["Title"] = "Trang đổi mật khẩu";
    HRM.Utils.JMessage _mess = Model;
}

<div class="p-front__content">
    <div class="p-signin-a">
        <form action="/Home/ChangePassword" method="post" class="p-signin-a__form" style="box-shadow: 0px 4px 3px 8px rgba(236,242,246,.75) !important">
            <h4 class="p-signin-a__form-heading">Thay đổi mật khẩu</h4>

            <div class="form-group">
                <input class="form-control" type="password" title="Nhập tối thiểu 6 ký tự" autocomplete="off" minLeng placeholder="Mật khẩu cũ" data-val="true" id="Password" name="PasswordOld">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" title="Nhập tối thiểu 6 ký tự" autocomplete="off" minLeng placeholder="Mật khẩu mới" data-val="true" id="Password" name="PasswordNew">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" title="Nhập tối thiểu 6 ký tự" autocomplete="off" minLeng placeholder="Xác nhận mật khẩu mới" data-val="true" id="Password" name="PasswordReNew">
            </div>
            @if (_mess == null || _mess.Error)
            {
                @if (_mess != null && _mess.Title != "")
                {
                    <div class="form-group">
                        <div class="col">
                            <div class="form__col-inline">
                                <label class="col-md-12 lableRight" style="color:red;">@_mess.Title</label>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="form-group">
                    <div class="col">
                        <div class="form__col-inline">
                            <label class="col-md-12 lableRight" style="color:blue;">@_mess.Title</label>
                        </div>
                    </div>
                </div>
            }
        <div class="form-group">
            <button href="" class="btn btn-info btn-lg btn-block btn-rounded" value="login" name="button">
                Thay đổi
            </button>
            <div class="p-signin-a__form-link"><a href="/Home/Delete">Xóa tài khoản ! </a></div>          
        </div>
        </form>
    </div>
</div>