﻿@{
    ViewData["Title"] = "Trang Home";
  //  var lstSlides = (List<HRM.Models.objSearch>)ViewBag.Slides;
}
@{
    ViewData["Title"] = "Trang chủ";
    Layout = "/Views/Shared/_Layout.cshtml";
}
@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
@{
    string NameLogin = "";
    try
    {
        NameLogin = User.Identity.Name;
    }
    catch (Exception)
    {
        NameLogin = "";
    }
}
<div class="page-content" style="padding:0px;margin:0px" id="contentMain" ng-controller="Ctrl_Client_Home">
    <input type="hidden" id="loginName" value="@NameLogin" />
    <div class="container-fluid">
        <!-- Slider -->
       @* <section class="section-slide">
            <div class="wrap-slick1">
                <div class="slick1">
                    @for (var i = 0; i < lstSlides.Count; i++)
                    {
                        var img = lstSlides[i].AnhSanPhams.Count > 0 ? "/Home/GetPic1/" + lstSlides[i].AnhSanPhams.FirstOrDefault().RowGuid : "";


                        var Link = "/Product/Index?Guid=" + lstSlides[i].RowGuid;
                        if (i == 0)
                        {
                            <div class="item-slick1" style="background-image: url(@img);">
                                <div class="container h-full">
                                    <div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
                                        <div class="layer-slick1 animated visible-false" data-appear="fadeInDown" data-delay="0">
                                            <span class="ltext-101 cl2 respon2">
                                                @lstSlides[i].TenNhom
                                            </span>
                                        </div>

                                        <div class="layer-slick1 animated visible-false" data-appear="fadeInUp" data-delay="800">
                                            <h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
                                                @lstSlides[i].Description
                                            </h2>
                                        </div>

                                        <div class="layer-slick1 animated visible-false" data-appear="zoomIn" data-delay="1600">
                                            <a href="@Link"
                                               class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
                                                Xem nhanh
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        }
                        else
                        {
                            <div class="item-slick1" style="background-image: url(@img);">
                                <div class="container h-full">
                                    <div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
                                        <div class="layer-slick1 animated visible-false" data-appear="rollIn" data-delay="0">
                                            <span class="ltext-101 cl2 respon2">
                                                @lstSlides[i].TenNhom
                                            </span>
                                        </div>

                                        <div class="layer-slick1 animated visible-false" data-appear="lightSpeedIn"
                                             data-delay="800">
                                            <h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
                                                @lstSlides[i].Description
                                            </h2>
                                        </div>

                                        <div class="layer-slick1 animated visible-false" data-appear="slideInUp" data-delay="1600">
                                            <a href="@Link"
                                               class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
                                                Xem nhanh
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                    }

                </div>
            </div>
        </section>*@
        <!-- Banner -->


        <div style="min-height:100px" ng-view></div>
        <script src="~/views/Client/Home/controller.js" type="text/javascript"></script>

    </div>
</div>

