﻿
@{
    ViewData["Title"] = "Login";
    HRM.Utils.JMessage _mess = Model;
    var urlStatic = "http://static.fitek.com.vn";
}
<section class="bg0 p-t-23 p-b-140">
    <div class="container">
        <div class="flex-w flex-sb-m p-b-52">
            <div class="flex-w flex-l-m filter-tope-group m-tb-10">
                <div class="limiter">
                    <div class="container-login100">
                        <div class="wrap-login100" style="text-align:center">
                            <div class="login100-pic js-tilt" data-tilt="" style="will-change: transform; transform: perspective(300px) rotateX(0deg) rotateY(0deg);">
                                <img src="@urlStatic/img/img-01.png" alt="IMG" style="width: 20%;">
                            </div>
                            @if (_mess == null || _mess.Error)
                            {
                                <form class="login100-form" action="/Home/Login" method="post">
                                    <span class="login100-form-title">
                                        Đăng nhập tài khoản <br />(tối thiểu 6 ký tự)
                                    </span>
                                    @if (_mess != null && _mess.Title != "")
                                    {
                                        <div class="error">
                                            <span>
                                                @_mess.Title
                                            </span>
                                        </div>
                                    }
                                    <div class="wrap-input100">
                                        <input class="input100" type="text" autocomplete="off" placeholder="Tài khoản" data-val="true" data-val-required="Yêu cầu nhập tài khoản" id="UserName" name="UserName">
                                        <span class="focus-input100"></span>
                                        <span class="symbol-input100">
                                            <i class="fa fa-lock" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                    <div class="wrap-input100">
                                        <input class="input100" type="password"
                                               minlength="6" title="Nhập tối thiểu 6 ký tự" autocomplete="off" minLeng placeholder="Mật khẩu" data-val="true" data-val-required="Yêu cầu nhập mật khẩu" id="Password" name="Password">
                                        <span class="focus-input100"></span>
                                        <span class="symbol-input100">
                                            <i class="fa fa-lock" aria-hidden="true"></i>
                                        </span>
                                    </div>

                                    <div class="container-login100-form-btn">
                                        <button type="submit" class="login100-form-btn" value="login" name="button">
                                            Đăng nhập
                                        </button>
                                    </div>
                                </form>
                            }
                            else
                            {
                                <form class="login100-form" action="/Home/ChangePassword" method="post">
                                    <span class="login100-form-title">
                                        @_mess.Title
                                    </span>
                                </form>
                                <div class="container-login100-form-btn">
                                    <a class="btn btn-primary" value="login" name="button" href="/Home">
                                        Quay lại
                                    </a>
                                </div>
                            }


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


