﻿@{
    ViewData["Title"] = "Khôi phục mật khẩu";
    HRM.Utils.JMessage _mess = Model;
}

<div class="p-front__content">
    <div class="p-signin-a">
        <form action="/Home/RestorePassword" method="post" class="p-signin-a__form" style="box-shadow: 0px 4px 3px 8px rgba(236,242,246,.75) !important">
            <h4 class="p-signin-a__form-heading">Khôi phục mật khẩu</h4>
            <div class="form-group">
                <input type="text" class="form-control form-control-lg" placeholder="Tài khoản" data-val="true" id="UserName" name="UserName">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" minlength="6" title="Nhập Email" autocomplete="off" minLeng placeholder="Email" data-val="true"  id="UserEmail" name="UserEmail">
            </div>
            @if (_mess == null || _mess.Error)
            {
                @if (_mess != null && _mess.Title != "")
                {
                    <div class="form-group">
                        <div class="col">
                            <div class="form__col-inline">
                                <label class="col-md-12 lableRight" style="color:red;">@_mess.Title</label>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="form-group">
                    <div class="col">
                        <div class="form__col-inline">
                            <label class="col-md-12 lableRight" style="color:blue;">@_mess.Title</label>
                        </div>
                    </div>
                </div>
            }
        <div class="form-group">
            <button href="" class="btn btn-info btn-lg btn-block btn-rounded" value="login" name="button">
                Khôi phục
            </button>
            <div class="p-signin-a__form-link"><a href="/Home/Index">Đăng nhập ! </a></div>
        </div>
        </form>     
    </div>
</div>