﻿@{
    Layout = null;
}
@{
    var urlStatic = System.Web.WebContext.UrlStatic;
}
<!DOCTYPE html>
<html ng-app="e-app">
<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/vendor/dhtmlx/dhx_samples.css" rel="stylesheet" />
    <link href="~/vendor/dhtmlx/diagram-editor.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/vendor/context-menu/context-menu.min.css" rel="stylesheet" />
    <link href="~/vendor/assets/global/plugins/toastr/toastr.min.css" rel="stylesheet" />
    <link href="~/vendor/assets/global/plugins/ui-select/select.css" rel="stylesheet" />
    <link href="~/scripts/sumo-select/sumoselect.min.css" rel="stylesheet" />
    <link href="~/scripts/style.min.css" rel="stylesheet" />
    <link href="~/scripts/universe-admin/style.css" rel="stylesheet" />
    <link href="~/scripts/mdi/css/materialdesignicons.css" rel="stylesheet" />
    <style>
        html,
        body {
            height: 100%;
            margin: 0;
            overflow: hidden;
        }

        .modal-dialog {
            width: 80%;
        }

        .fade {
            opacity: 1;
        }

        .full-width {
            width: 100%;
        }

        input.ui-select-search.input-xs.ng-pristine.ng-untouched.ng-valid.ng-empty {
            width: 100% !important;
        }

        label.error {
            color: red;
            font-weight: 100;
        }

        input.error {
            border-color: red;
        }

        .sidebar {
            position: unset;
        }
    </style>
</head>

<body ng-controller="workflowcontroller">
    <div class="modal fade" id="myModalActivity" role="dialog">
        <div class="modal-dialog modal-sm" style="width: 35%;">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Hành động</h4>
                </div>
                <div class="modal-body" style="padding-bottom: 0px !important; padding-top:0px !important;">
                    <div class="container-fluid" style="padding-bottom:15px;">
                        <form name="propertyform" ng-validate="validationOptions">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label class="control-label"><span>Tên hành động</span></label>
                                        <input type="text" ng-model="model2.ActivityName" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer modal-footer--center">
                        <div class="row" style="width:100%; height: 30px;">
                            <div class="col-lg-12">
                                <div class="form-group" style="float:right">
                                    <button class="btn btn-info icon-left btn-sm mr-3" type="button" ng-click="SaveActivity()">
                                        Lưu <span class="btn-icon mdi mdi-content-save-all"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModalTransition" role="dialog" style="opacity:unset;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel" style="float:left;">Thiết đặt điều kiện</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body" style="padding-bottom: 0px !important; padding-top:0px !important;">
                    <div class="container-fluid" style="padding-bottom:15px;">
                        <form id="formappend">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-10">
                                        <label class="control-label"><span>Điều kiện</span></label>
                                    </div>
                                    <div class="col-md-2">
                                        <button class="btn btn-info icon-left btn-sm mr-3" type="button" ng-click="AddCondition()" style="float: right;">
                                            Thêm điều kiện<span class="btn-icon mdi mdi-plus-box"></span>
                                        </button>
                                    </div>
                                </div>
                                <div class="form-group" id="addCondition">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <select ng-model="model2.ColumnGuid" ng-smselect se-data="ListColumn" se-change="ChangeColumn(data)" se-init="ColumneConfig"></select>
                                        </div>
                                        <div class="col-md-3">
                                            <select ng-model="model2.Condition" ng-smselect se-data="ListCondition" se-change="ChangeCondition(data)" se-init="ConditionConfig"></select>
                                        </div>
                                        @*<div class="col-md-4" ng-show="ColumnType == 'chon'">
                                                <select ng-model="model2.ConditionValue" ng-smselect se-data="ListConditionValue" se-change="ChangeConditionValue(data)" se-init="ConditionValueConfig"></select>
                                            </div>
                                            <div class="col-md-2" ng-show="ColumnType == 'trongkhoang'">
                                                <input class="form-control" ng-model="model2.ConditionValueFrom" />
                                            </div>
                                            <div class="col-md-2" ng-show="ColumnType == 'trongkhoang'">
                                                <input class="form-control" ng-model="model2.ConditionValueTo" />
                                            </div>*@

                                        <div class="col-md-4">
                                            <select ng-model="model2.ConditionValue" ng-smselect se-data="ListConditionW" se-change="ChangeListConditionW(data)" se-init="ListConditionWConfig"></select>
                                        </div>
                                        @*<div class="col-md-4" ng-show="ColumnType == 'ngaythang'">
                                                <input type="date" class="form-control" ng-model="model2.ConditionValue" />
                                            </div>*@
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-10">
                                        <label class="control-label"><span>Hành động điều kiện đúng</span></label>
                                    </div>
                                    <div class="col-md-2">
                                        <button class="btn btn-info icon-left btn-sm mr-3" type="button" style="float: right;" ng-click="AddActivityTrue()">
                                            Thêm hành động<span class="btn-icon mdi mdi-plus-box"></span>
                                        </button>
                                    </div>
                                </div>
                                <div class="row" id="condionTrue">
                                    <div class="col-md-4">
                                        <select ng-model="model2.Activity" ng-smselect se-data="ListActivity" se-change="ChangeActivity(data)" se-init="ActivityConfig"></select>
                                        <div ng-show="model2.Activity == 'mail'">
                                            <select ng-model="model2.Approver" ng-smselect se-data="ListApprover" multiple se-change="ChangeApprover(data)" se-init="ApproverConfig"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-4" ng-show="model2.Activity == 'pd'">
                                        <select ng-model="model2.ApproveType" ng-smselect se-data="ListApproveType" se-change="ChangeApproveType(data)" se-init="ApproveTypeConfig"></select>
                                    </div>
                                    <div class="col-md-4" ng-show="model2.Activity == 'pd'">
                                        <select name="ListApprover" class="ListApprover" ng-model="model2.Approver" ng-smselect multiple="multiple" se-data="ListApprover" se-init="ApproverConfig" se-change="ChangeApprover(data)"></select>

                                    </div>
                                    <div class="col-md-8" ng-show="model2.Activity == 'mail'">
                                        <textarea class="form-control" rows="3" ng-model="model2.ContentEmail" placeholder="Nhập nội dung mẫu"></textarea>
                                    </div>
                                </div>

                                <div class="row">
                                    @*<div class="col-md-6">
                                            <label class="control-label"><span>Bước tiếp theo</span></label>
                                            <input class="form-control" ng-model="model2.StepContinue" ng-disabled="true">
                                        </div>*@
                                    @*<div class="col-md-2">
                                        <label class="control-label"><span>Điều kiện rẽ nhánh</span></label>
                                        <select ng-model="model2.WFConditionId" ng-smselect se-data="ListWFStatusId" se-change="ChangeWFConditionId(data)" se-init="WFConditionIdconfig"></select>
                                    </div>*@
                                    <div class="col-md-4">
                                        <label class="control-label"><span>Trạng thái</span></label>
                                        <select ng-model="model2.WFStatusId" ng-smselect se-data="ListWFStatusId" se-change="ChangeWFStatusId(data)" se-init="ListWFStatusIdfig"></select>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-10">
                                        <label class="control-label"><span>Hành động điều kiện sai</span></label>
                                    </div>
                                    @*<div class="col-md-2">
                                        <button class="btn btn-info icon-left btn-sm mr-3" type="button" style="float: right;" ng-click="AddActivityFalse()">
                                            Thêm hành động<span class="btn-icon mdi mdi-plus-box"></span>
                                        </button>
                                    </div>*@
                                </div>
                                <div class="row" id="condionFalse">
                                    <div class="col-md-4">
                                        <select ng-model="model2.ActivityF" ng-smselect se-data="ListActivity" se-change="ChangeActivityF(data)" se-init="ActivityConfig"></select>
                                        <div ng-show="model2.ActivityF == 'mail'">
                                            <select ng-model="model2.ApproverF" ng-smselect se-data="ListApprover" multiple se-change="ChangeApproverF(data)" se-init="ApproverConfig"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-4" ng-show="model2.ActivityF == 'pd'">
                                        <select ng-model="model2.ApproveTypeF" ng-smselect se-data="ListApproveType" se-change="ChangeApproveTypeF(data)" se-init="ApproveTypeConfig"></select>
                                    </div>
                                    <div class="col-md-4" ng-show="model2.ActivityF == 'pd'">
                                        <select ng-model="model2.ApproverF" ng-smselect se-data="ListApprover" multiple se-change="ChangeApproverF(data)" se-init="ApproverConfig" ng-disabled="ChoseApproveType"></select>
                                    </div>
                                    <div class="col-md-8" ng-show="model2.ActivityF == 'mail'">
                                        <textarea class="form-control" rows="3" ng-model="model2.ContentEmailF" placeholder="Nhập nội dung mẫu"></textarea>
                                    </div>
                                </div>

                                <div class="row">
                                    @*<div class="col-md-6">
                                            <label class="control-label"><span>Bước quay lại</span></label>
                                            <input class="form-control" ng-model="model2.StepCallback" ng-disabled="true">
                                        </div>*@
                                    @*<div class="col-md-2">
                                        <label class="control-label"><span>Điều kiện rẽ nhánh</span></label>
                                        <select ng-model="model2.WFConditionBackId" ng-smselect se-data="ListWFStatusId" se-change="ChangeWFConditionBackId(data)" se-init="WFConditionBackIdconfig"></select>
                                    </div>*@
                                    <div class="col-md-4">
                                        <label class="control-label"><span>Trạng thái</span></label>
                                        <select ng-model="model2.WFStatusBackId" ng-smselect se-data="ListWFStatusId" se-change="ChangeWFStatusBackId(data)" se-init="WFStatusBackIdConfig"></select>
                                    </div>

                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer modal-footer--center">
                        <div class="row" style="width:100%; height: 30px;">
                            <div class="col-lg-12">
                                <div class="form-group" style="float:right">
                                    <button class="btn btn-info icon-left btn-sm mr-3" type="button" ng-click="SaveTransition()">
                                        Lưu <span class="btn-icon mdi mdi-content-save-all"></span>
                                    </button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModalFormPoperty" role="dialog">
        <div class="modal-dialog modal-sm" style="width: 35%;">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Thông tin chung</h4>
                </div>
                <div class="modal-body" style="padding-bottom: 0px !important; padding-top:0px !important;">
                    <div class="container-fluid" style="padding-bottom:15px;">
                        <form name="propertyform" ng-validate="validationOptions">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label class="control-label"><span>Tên quy trình</span></label>
                                        <input type="text" ng-model="model.WorkFlowName" name="WorkflowName" class="form-control" />
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group ">
                                            <label for="ObjectID">Quy trình</label>
                                            <select ng-model="model.TableGuid" name="TableGuid" ng-smselect se-data="ListTable" se-change="ChangeTable(data)" se-init="TableConfig"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer modal-footer--center">
                        <div class="row" style="width:100%; height: 30px;">
                            <div class="col-lg-12">
                                <div class="form-group" style="float:right">
                                    <button class="btn btn-info icon-left btn-sm mr-3" type="button" ng-click="SaveProperty()">
                                        Lưu <span class="btn-icon mdi mdi-content-save-all"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/vendor/angular/angular.min.js"></script>
    <script src="@urlStatic/plugins/jquery-validation/jquery.validate.min.js" type="text/javascript"></script>
    <script src="@urlStatic/plugins/jquery-validation/angular-validate.min.js" type="text/javascript"></script>
    <script src="~/vendor/dhtmlx/diagram-editor.js"></script>
    <script src="~/vendor/context-menu/context-menu.min.js"></script>
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
    <script src="~/vendor/assets/global/plugins/toastr/toastr.min.js"></script>
    <script src="~/vendor/assets/global/plugins/ui-select/select.js"></script>
    <script src="@urlStatic/vendor/sumo-select/jquery.sumoselect.min.js"></script>
    <script src="~/js/aifactory.angularjs.js"></script>
    <script src="~/views/EIM/DesignWorkflows/workflowcontroller.js"></script>

    <script type="text/javascript">
        var $ = $.noConflict(true);
    </script>
</body>
</html>
