﻿@{
    ViewData["Title"] = "Quản lý bán hàng";
    Layout = "~/Areas/HR/Views/SharedAdmin/_Layout.cshtml";
}
<div class="page-content" id="contentMain" ng-controller="Ctrl_Sale_ProductionManager">
    <div class="container-fluid">
        <div style="min-height:100px" ng-view></div>
    </div>
</div>
<script src="~/views/Sale/ProductionManager/controller.js" type="text/javascript"></script>