﻿<div class="modal-header has-border">
    <h5 class="modal-title es-modal-title"> {{Title}}</h5>
    <button type="button" class="close custom-modal__close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
        <span aria-hidden="true" class="ua-icon-modal-close"></span>
    </button>
</div>
<div class="modal-body">
    <form name="editform" class="form-horizontal  form-bordered" method="post" ng-validate="validationOptions">
        <div class="row">
            <div class="form-group col-md-4">
                <label for="input-type">Mã phiếu<span class="required"> *</span></label>
                <input type="text" ng-model="model.TicketId" name="TicketId" class="form-control">
            </div>
            <div class="form-group col-md-8">
                <label for="input-type">Tên phiếu<span class="required"> *</span></label>
                <input type="text" ng-model="model.TicketName" name="TicketName" class="form-control">
            </div>
            <div class="form-group col-md-12">
                <label for="inputState">Quy trình<span class="required"> *</span></label>
                <select ng-smselect se-data="ListWorkFlows" se-change="ChangeWorkFlows(data)" ng-model="model.WorkFlowGuid" se-init="WorkFlowsConfig"></select>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer modal-footer--center">
    <div class="row" style="width:100%; height: 30px;">
        <div class="col-lg-6">
        </div>
        <div class="col-lg-6">
            <div class="form-group" style="float:right">
                <button class="btn btn-info icon-left btn-sm mr-3" type="button" ng-click="edit()">
                    Lưu <span class="btn-icon mdi mdi-content-save-all"></span>
                </button>
                <button class="btn btn-outline-primary icon-left btn-sm mr-3" type="button" data-dismiss="modal" ng-click="cancel()">
                    Đóng <span class="btn-icon mdi mdi-close"></span>
                </button>
            </div>
        </div>
    </div>
</div>

