﻿<style>
    .dataTables_scrollHeadInner {
        width: 100% !important;
    }

        .dataTables_scrollHeadInner .table.table-striped.ng-isolate-scope.dataTable.no-footer {
            width: 100% !important;
        }
</style>
<div class="subnav">
    <div class="subnav__header">
        <div class="subnav__heading">
            <span class="mdi mdi-view-list subnav__heading-icon"></span>Cài đặt quy trình
        </div>
        <div class="subnav__header-side">
            <a href="javascript:;" class="btn btn-info btn-sm icon-left" data-toggle="modal" ng-click="add()" onclick="return false" title="Thêm mới quy trình">
                Thêm mới <span class="btn-icon mdi mdi-plus-box"></span>
            </a>
            <a href="javascript:;" class="btn btn-info btn-sm icon-left" data-toggle="modal" ng-click="reloadAll()" onclick="return false" title="Làm mới dữ liệu">
                Làm mới <span class="btn-icon mdi mdi-refresh"></span>
            </a>
            <a href="javascript:;" class="btn btn-danger btn-sm icon-left" ng-click="deleteChecked()" onclick="return false" title="Xóa dữ liệu">
                Xóa <span class="btn-icon mdi mdi-delete-forever"></span>
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="widget widget-tabs bd-widget-overview">
            <div class="widget-tabs__header widget-tabs__header--bordered">
                <div class="widget-tabs__header-meta">
                    <div class="input-group input-group-icon icon-right input-group-sm" style="margin-right:5px">
                        <input class="form-control" ng-model="staticParam.Search" ng-change="reload()" type="search" placeholder="Nhập từ khóa">
                        <span class="input-icon ua-icon-search"></span>
                    </div>
                </div>
            </div>
            <div class="m-datatable es-table-scroll">
                <table class="table table-striped" style="margin-top: 0px !important; width: 100%;"
                       datatable
                       dt-options="dtOptions"
                       dt-columns="dtColumns"
                       dt-instance="dtInstance"
                       id="tblData"></table>
            </div>
        </div>
    </div>
</div>