﻿
@{
    ViewData["Title"] = "Quản lý nhãn công việc.";
    Layout = "~/Areas/HR/Views/SharedAdmin/_Layout.cshtml";
}
<style>
    .ui-select-multiple .ui-select-match .ng-scope{
        margin-right: 10px;
    }

    .ui-select-multiple .ui-select-match-item.btn.btn-default.btn-xs {
        font-size: 10px;
        padding: 3px 5px 3px 1px;
    }

        .ui-select-multiple .ui-select-match-item.btn.btn-default.btn-xs .close.ui-select-match-close {
            padding-right: 5px;
        }
</style>
<div class="page-content" id="contentMain" ng-controller="Ctrl_Lables">
    <div class="container-fluid m-mail">
        <div style="min-height:100px;height: 100%;" ng-view></div>
    </div>
    <script src="~/views/Sale/Lables/controller.js" type="text/javascript"></script>
</div>


