﻿
@{
    ViewData["Title"] = "Quản lý nhãn công việc.";
    Layout = "~/Areas/HR/Views/SharedAdmin/_Layout.cshtml";
}

<div class="page-content" id="contentMain" ng-controller="Ctrl_Customers">
    <div class="container-fluid m-mail">
        <div style="min-height:100px;height: 100%;" ng-view></div>
    </div>
    <script src="~/views/Sale/Customers/controller.js" type="text/javascript"></script>
</div>


