﻿<style>
    .kanban-pick-color {
        padding: 0px 0px 0px 0px;
        color: #FFF;
        width: 100%;
    }

        .kanban-pick-color span, .kanban-pick-color input {
            display: inline-block;
        }

        .kanban-pick-color span {
            float: left;
            padding: 3px 0px 0px 30px;
        }

        .kanban-pick-color input {
            float: right;
        }

    .switch-slider__off:before {
        right: 0px;
    }
</style>
<div class="modal-header has-border" modal-drag>
    <h5 class="modal-title es-modal-title">
        {{Title}}
    </h5>
    <button type="button" class="close custom-modal__close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
        <span aria-hidden="true" class="ua-icon-modal-close"></span>
    </button>
</div>
<div class="modal-body">
    <form name="addform" class="form-horizontal  form-bordered" method="post" ng-validate="validationOptions">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="output-device">Tên danh mục<span class="has-error"> *</span></label>
                        <input type="text" class="form-control" ng-model="model.Title" name="Title" />
                    </div>
                    <!--<div class="form-group col-md-1" style=" text-align: center;">
                        <label for="output-device">Chia sẻ</label>
                        <input type="checkbox" class="form-control" ng-model="model.IsPublic" name="checkbox" />
                    </div>
                    <div class="form-group col-md-1" style=" text-align: center;">
                        <label for="output-device">Mặc định</label>
                        <input type="checkbox" class="form-control" ng-model="model.IsDefault" name="checkbox" />
                    </div>-->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-row">
                    <div class="form-group col-md-9">
                        <label for="output-device">Danh mục cấp trên</label>
                        <div class="input-group input-group-icon icon-right input-group-sm" style="margin-right:5px;">
                            <ui-select ng-model="model.ParentId" class="" style="width: 100%;">
                                <ui-select-match placeholder="Chọn cấp trên...">{{$select.selected.Title}}</ui-select-match>
                                <ui-select-choices repeat="x.Id as x in treeData | filter:$select.search">
                                    {{x.Title}}
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-icon mdi mdi-close-box-outline" style="font-size: 20px;color: black;" ng-click="model.ParentId=null;"></span>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="output-device">Trạng thái</label>
                        <select class="form-control" ng-model="model.IsActive" ng-init="model.IsActive=true"
                                ng-options="ct.Value as ct.Name for ct in StatusData "></select>
                    </div>
                    <!--<div class="form-group col-md-5">
        <label for="output-device">Phòng ban<span class="has-error"> *</span></label>
        <select ng-model="model.DepartmentGuid" ng-disabled="true" se-init="initDepartments" se-change="changeDepartment(data)" ng-smselect se-data="dDepartments"></select>
    </div>-->
                    <!--<div class="form-group col-md-2">
        <label for="output-device">Người quản lý<span class="has-error"> *</span></label>
        <ui-select ng-model="model.EmployeeGuid" class="" style="width: 100%;">
            <ui-select-match placeholder="Chọn người quản lý...">{{$select.selected.FullName}}</ui-select-match>
            <ui-select-choices repeat="x.EmployeeGuid as x in liEmployee | filter:$select.search">
                {{x.FullName}}
            </ui-select-choices>
        </ui-select>
    </div>-->
                    <!--<div class="form-group col-md-12">
        <label for="output-device">Chia sẻ nhóm với phòng ban</label>
        <div class="input-group input-group-icon icon-right input-group-sm" style="margin-right:5px;">
            <ui-select multiple ng-model="model.DepartmentGuids" close-on-select="false" class="" style="width: 100%;">
                <ui-select-match placeholder="Chọn phòng ban...">
                    {{$item.text}}
                </ui-select-match>
                <ui-select-choices repeat="x in dDepartments | filter:$select.search">
                    {{x.text}}
                </ui-select-choices>
            </ui-select>
            <span class="input-icon mdi mdi-close-box-outline" style="font-size: 20px;color: black;" ng-click="model.DepartmentGuids=null;"></span>
        </div>
    </div>-->
                </div>
            </div>
        </div>
        <!--<div class="row">
            <div class="col-lg-12">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="output-device" title="Đánh giá KPI theo mức (A,B,C,...)">KPI theo mức (A,B,C,...)</label>
                        <input class="form-control" type="text" ng-model="model.TaskLevel" />
                    </div>
                    <div class="form-group col-md-3">
                        <label for="output-device" title="Đánh giá KPI theo điểm, hoặc %">KPI theo điểm, hoặc %</label>
                        <input class="form-control" type="number" ng-model="model.Mark" />
                    </div>
                    <div class="form-group col-md-2">
                        <label for="output-device">Số thứ tự</label>
                        <input class="form-control" type="number" ng-model="model.OrderId" />
                    </div>
                    <div class="form-group col-md-3">
                        <label for="output-device">Trạng thái</label>
                        <select class="form-control" ng-model="model.IsActive" ng-init="model.IsActive=true"
                                ng-options="ct.Value as ct.Name for ct in StatusData "></select>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="output-device">Bí danh</label>
                        <input class="form-control" type="text" ng-model="model.Alias" />
                    </div>
                    <div class="form-group col-md-4">
                        <label for="output-device">Màu khung Kanban</label>
                        <div class="form-control">
                            <div class="kanban-pick-color" style="background-color: {{model.Class}};" ng-init="model.Class='#b09611'">
                                <span style="color: {{model.ClassText}};">TEXT MẪU</span>
                                <input type="color" title="Chọn màu" ng-model="model.Class" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="output-device">Màu chữ</label>
                        <div class="form-control">
                            <div class="kanban-pick-color" style="background-color: {{model.ClassText}};" ng-init="model.ClassText='#FFFFFF'">
                                <input type="color" title="Chọn màu" ng-model="model.ClassText" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="output-device">Tạo bước thực hiện</label>
                        <div>
                            <label class="switch">
                                <input type="checkbox" ng-model="model.IsActiveStep" ng-change="onChangeStep()" class="ng-pristine ng-untouched ng-valid ng-empty">
                                <span class="switch-slider">
                                    <span class="switch-slider__on"></span>
                                    <span class="switch-slider__off"></span>
                                </span>
                            </label>
                            <div ng-show="model.IsActiveStep" style="width: calc(100% - 50px); display: inline-block;">
                                <select ng-model="model.TypeStep" se-init="initTypeStep" ng-smselect se-data="liTypeStep"></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-hide="model.IsActiveStep">
            <div class="form-group col-md-6">
                <label for="output-device">Danh sách trạng thái</label>
            </div>
            <div class="col-md-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="width:80px; text-align:center;">Sắp xếp</th>
                            <th style="text-align: center;">Tên trạng thái</th>
                            <th style="width:70px; text-align:center;">Lớp màu</th>
                            <th style="width:80px; text-align:center;" ng-click="addTaskProcess()">
                                <span title="Thêm trạng thái" class="mdi mdi-plus es-cursor" style=" font-size: 14px;"></span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in _liTaskProcessFixLock">
                            <td>
                                <input class="form-control" type="number" ng-model="item.OrderId" />
                            </td>
                            <td>
                                <input class="form-control" ng-model="item.Title" />
                            </td>
                            <td>
                                <div class="kanban-pick-color" style="background-color: {{item.Class}};" ng-init="item.Class='#b09611'">
                                    <input type="color" title="Chọn màu" ng-model="item.Class" />
                                </div>
                            </td>
                            <td style="text-align:center;">-->
                                <!-- <span class="es-cursor" title="Xóa trạng thái" ng-click="delTaskProcess($index)">X</span>-->
                            <!--</td>
                        </tr>
                        <tr ng-repeat="item in liTaskProcess">
                            <td>
                                <input class="form-control" type="number" ng-model="item.OrderId" />
                            </td>
                            <td>
                                <input class="form-control" ng-model="item.Title" />
                            </td>
                            <td>
                                <div class="kanban-pick-color" style="background-color: {{item.Class}};">
                                    <input type="color" title="Chọn màu" ng-model="item.Class" />
                                </div>
                            </td>
                            <td style="text-align:center;">
                                <span class="es-cursor" title="Xóa trạng thái" ng-click="delTaskProcess($index)">X</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row" ng-show="model.IsActiveStep">
            <div class="form-group col-md-6">
                <label for="output-device">Thiết lập bước</label>
            </div>
            <div class="col-md-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="width:80px; text-align:center;">Sắp xếp</th>
                            <th style="text-align: center;" ng-show="model.TypeStep === 'DEP'">Chọn phòng ban</th>
                            <th style="text-align: center;" ng-show="model.TypeStep === 'EMP'">Chọn nhân viên</th>
                            <th style="width:70px; text-align:center;">Lớp màu</th>
                            <th style="width:80px; text-align:center;" ng-click="addTaskStepBySteps()">
                                <span title="Thêm trạng thái" class="mdi mdi-plus es-cursor" style=" font-size: 14px;"></span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in model.TaskStepBySteps">
                            <td>
                                <input class="form-control" type="number" ng-model="item.Sort" />
                            </td>
                            <td>
                                <select ng-model="item.Guid" se-init="initTaskStepBySteps" ng-smselect se-data="liTaskStepBySteps"></select>
                            </td>
                            <td>
                                <div class="kanban-pick-color" style="background-color: {{item.ColorBackground}};" ng-init="item.ColorBackground='#b09611'">
                                    <input type="color" title="Chọn màu" ng-model="item.ColorBackground" />
                                </div>
                            </td>
                            <td style="text-align:center;">
                                <span class="es-cursor" title="Xóa trạng thái" ng-click="delTaskStepBySteps($index)">X</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>-->
    </form>
</div>
<div class="modal-footer">
    <a ng-click="submit()" class="btn btn-primary" href="javascript:;">
        <i class="fa fa-floppy-o"></i> Lưu
    </a>
    <button class="btn btn-outline-primary icon-left btn-sm mr-3" type="button" ng-click="cancel()">
        Đóng <span class="btn-icon mdi mdi-close"></span>
    </button>
</div>