﻿<div class="modal-header has-border" modal-drag>
    <h5 class="modal-title es-modal-title">Sửa nhóm công việc</h5>
    <button type="button" class="close custom-modal__close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
        <span aria-hidden="true" class="ua-icon-modal-close"></span>
    </button>
</div>
<div class="modal-body">
    <form name="editform" class="form-horizontal  form-bordered" method="post" ng-validate="validationOptions">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="output-device">Tên nhóm<span class="has-error"> *</span></label>
                        <input type="text" class="form-control" ng-model="model.Title" name="Title" />
                    </div>
                    <!--<div class="form-group col-md-2" style=" text-align: center;">
                        <label for="output-device">Là mặc định</label>
                        <input type="checkbox" class="form-control" ng-model="model.IsDefault" name="checkbox" />
                    </div>-->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-row">
                    <div class="form-group col-md-9">
                        <label for="output-device">Danh mục cấp trên</label>
                        <ui-select ng-model="model.ParentId" class="" style="width: 100%;">
                            <ui-select-match placeholder="Chọn cấp trên...">{{$select.selected.Title}}</ui-select-match>
                            <ui-select-choices repeat="x.Id as x in treeData | filter:$select.search">
                                {{x.Title}}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="output-device">Trạng thái</label>
                        <select class="form-control" ng-model="model.IsActive" ng-init="model.IsActive=true"
                                ng-options="ct.Value as ct.Name for ct in StatusData "></select>
                    </div>
                    <!--<div class="form-group col-md-4">
        <label for="output-device">Phòng ban<span class="has-error"> *</span></label>
        <ui-select ng-model="model.DepartmentGuid" class="" style="width: 100%;" ng-change="changeDepartment()">
            <ui-select-match placeholder="Chọn phòng ban...">{{$select.selected.DepartmentName}}</ui-select-match>
            <ui-select-choices repeat="x.DepartmentGuid as x in liDepart | filter:$select.search">
                {{x.DepartmentName}}
            </ui-select-choices>
        </ui-select>
    </div>-->
                    <!--<div class="form-group col-md-4">
        <label for="output-device">Người quản lý<span class="has-error"> *</span></label>
        <ui-select ng-model="model.EmployeeGuid" class="" style="width: 100%;">
            <ui-select-match placeholder="Chọn người quản lý...">{{$select.selected.FullName}}</ui-select-match>
            <ui-select-choices repeat="x.EmployeeGuid as x in liEmployee | filter:$select.search">
                {{x.FullName}}
            </ui-select-choices>
        </ui-select>
    </div>-->
                    <!--<div class="form-group col-md-12">
        <label for="output-device">Chia sẻ nhóm với phòng ban</label>
        <div class="input-group input-group-icon icon-right input-group-sm" style="margin-right:5px;">
            <ui-select ng-model="model.DepartmentGuids" multiple class="" style="width: 100%;" ng-change="loadEmployeeByDepartment()">
                <ui-select-match placeholder="Chọn phòng ban...">{{$item.DepartmentName}}</ui-select-match>
                <ui-select-choices repeat="x in liDepartments | filter:$select.search">
                    {{x.DepartmentName}}
                </ui-select-choices>
            </ui-select>
            <span class="input-icon mdi mdi-close-box-outline" style="font-size: 20px;color: black;" ng-click="model.DepartmentGuids=null;"></span>
        </div>
    </div>-->
                </div>
            </div>
        </div>
        <!--<div class="row">
            <div class="col-lg-12">
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="output-device">Trạng thái</label>
                        <select class="form-control" ng-model="model.IsActive" ng-init="model.IsActive=1"
                                ng-options="ct.Value as ct.Name for ct in StatusData "></select>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="output-device">Mức độ công việc</label>
                        <input class="form-control" type="text" ng-model="model.TaskLevel" />
                    </div>
                    <div class="form-group col-md-3">
                        <label for="output-device">Điểm đánh giá</label>
                        <input class="form-control" type="number" ng-model="model.Mark" min="0" max="100" />
                    </div>
                    <div class="form-group col-md-3">
                        <label for="output-device">Bí danh</label>
                        <input class="form-control" type="text" ng-model="model.Alias" />
                    </div>
                    <div class="form-group col-md-12">
                        <label for="output-device">Lớp màu</label>
                        <input class="form-control" type="text" ng-model="model.Class" />
                    </div>
                </div>
            </div>
        </div>-->
    </form>
</div>
<div class="modal-footer">
    <a ng-click="submit()" class="btn btn-primary" href="javascript:;">
        <i class="fa fa-floppy-o"></i> Lưu
    </a>
    <button class="btn btn-outline-primary icon-left btn-sm mr-3" type="button" ng-click="cancel()">
        Đóng <span class="btn-icon mdi mdi-close"></span>
    </button>
</div>