﻿<div class="subnav">
    <div class="subnav__header">
        <div class="subnav__heading">
            <span class="mdi mdi-view-list subnav__heading-icon"></span>Nhóm công việc
        </div>
        <div class="subnav__header-side">
            <a href="#" class="btn btn-info btn-sm icon-left" data-toggle="modal" ng-click="add()" onclick="return false" title="Thêm">
                Thêm <span class="btn-icon mdi mdi-plus-box"></span>
            </a>
            <a href="#" class="btn btn-info btn-sm icon-left" data-toggle="modal" ng-click="reload()" onclick="return false" title="Làm mới">
                Làm mới <span class="mdi mdi-refresh"></span>
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="widget widget-tabs bd-widget-overview">
            <div class="widget-tabs__header widget-tabs__header--bordered">
                <div class="widget-tabs__header-meta">
                    <div class="input-group input-group-icon icon-right input-group-sm" style="margin-right:5px">
                        <input class="form-control" ng-model="model.Keyword" ng-change="loadData()" type="search" placeholder="Nhập từ khóa">
                        <span class="input-icon ua-icon-search"></span>
                    </div>
                </div>
            </div>
            <div class="" ng-init="initData()">
                <div class="portlet light" style="padding: 0px 5px 130px !important;">
                    <div class="portlet-body">
                        <tree-grid tree-data="tree_data" tree-control="my_tree" col-defs="col_defs" expand-on="expanding_property"
                                   on-select="my_tree_handler(branch)" expand-level="4" icon-leaf="glyphicon glyphicon-adjust" icon-expand="mdi mdi-plus-box" icon-collapse="mdi mdi-minus-box"></tree-grid>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style class="ng-scope">
    th:first-child > a:first-child::after {
        content: '';
    }
    .NONE-transform {
        transform: unset !important;
        top: 40px !important;
    }
</style>