﻿<style>
    .kanban-pick-color {
        padding: 0px 0px 0px 0px;
        color: #FFF;
        width: 100%;
    }

        .kanban-pick-color span, .kanban-pick-color input {
            display: inline-block;
        }

        .kanban-pick-color span {
            float: left;
            padding: 3px 0px 0px 30px;
        }

        .kanban-pick-color input {
            float: right;
        }

    .switch-slider__off:before {
        right: 0px;
    }
</style>
<div class="modal-header has-border" modal-drag>
    <h5 class="modal-title es-modal-title">Xem danh mục công việc</h5>
    <button type="button" class="close custom-modal__close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
        <span aria-hidden="true" class="ua-icon-modal-close"></span>
    </button>
</div>
<div class="modal-body">
    <form name="addform" class="form-horizontal  form-bordered" method="post" ng-validate="validationOptions">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="output-device">Tên danh mục<span class="has-error"> *</span></label>
                        <div class="textview">
                            {{model.Title}}
                        </div>
                    </div>
                    <!--<div class="form-group col-md-1" style=" text-align: center;">
                        <label for="output-device">Chia sẻ</label>
                        <input type="checkbox" ng-disabled="true" class="form-control" ng-model="model.IsPublic" name="checkbox" />
                    </div>
                    <div class="form-group col-md-1" style=" text-align: center;">
                        <label for="output-device">Mặc định</label>
                        <input type="checkbox" ng-disabled="true" class="form-control" ng-model="model.IsDefault" name="checkbox" />
                    </div>-->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-row">
                    <div class="form-group col-md-9">
                        <label for="output-device">Danh mục cấp trên</label>
                        <div class="textview">{{model.ParentIdName}}</div>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="output-device">Trạng thái</label>
                        <div class="textview">
                            {{model.IsActive?'Sử dụng': 'Không sử dụng'}}
                        </div>
                    </div>
                    <!--<div class="form-group col-md-5">
                        <label for="output-device">Phòng ban<span class="has-error"> *</span></label>
                        <div class="textview">{{model.DepartmentGuidName}}</div>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="output-device">Người quản lý<span class="has-error"> *</span></label>
                        <div class="textview">{{model.EmployeeGuidName}}</div>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="output-device">Chia sẻ nhóm với phòng ban</label>
                        <div class="textview">
                            <span style="border: 1px solid #80808075; padding: 2px 5px; border-radius: 8px; margin-right: 10px;" ng-repeat="item in model.DataCategoryShares">
                                {{item.DepartmentName}}
                            </span>
                        </div>
                    </div>-->
                </div>
            </div>
        </div>
        <!--<div class="row">
            <div class="col-lg-12">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="output-device" title="Đánh giá KPI theo mức (A,B,C,...)">KPI theo mức (A,B,C,...)</label>
                        <div class="textview">
                            {{model.TaskLevel}}
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="output-device" title="Đánh giá KPI theo điểm, hoặc %">KPI theo điểm, hoặc %</label>
                        <div class="textview">
                            {{model.Mark}}
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="output-device">Số thứ tự</label>
                        <div class="textview">
                            {{model.OrderId}}
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="output-device">Trạng thái</label>
                        <div class="textview">
                            {{model.IsActive?'Sử dụng': 'Không sử dụng'}}
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="output-device">Bí danh</label>
                        <div class="textview">
                            {{model.Alias}}
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="output-device">Màu khung Kanban</label>
                        <div class="form-control">
                            <div class="kanban-pick-color" style="background-color: {{model.Class}};" ng-init="model.Class='#b09611'">
                                <span style="color: {{model.ClassText}};">TEXT MẪU</span>
                                <input type="color" title="Chọn màu" ng-model="model.Class" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="output-device">Màu chữ</label>
                        <div class="form-control">
                            <div class="kanban-pick-color" style="background-color: {{model.ClassText}};" ng-init="model.ClassText='#FFFFFF'">
                                <input type="color" title="Chọn màu" ng-model="model.ClassText" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="output-device">Tạo bước thực hiện</label>
                        <div>
                            <label class="switch">
                                <input type="checkbox" ng-model="model.IsActiveStep" ng-change="onChangeStep()" class="ng-pristine ng-untouched ng-valid ng-empty">
                                <span class="switch-slider">
                                    <span class="switch-slider__on"></span>
                                    <span class="switch-slider__off"></span>
                                </span>
                            </label>
                            <div ng-show="model.IsActiveStep" style="width: calc(100% - 50px); display: inline-block;">
                                <select ng-model="model.TypeStep" se-init="initTypeStep" ng-smselect se-data="liTypeStep"></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-hide="model.IsActiveStep">
            <div class="form-group col-md-6">
                <label for="output-device">Danh sách trạng thái</label>
            </div>
            <div class="col-md-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="width:80px; text-align:center;">Sắp xếp</th>
                            <th style="text-align: center;">Tên trạng thái</th>
                            <th style="width:70px; text-align:center;">Lớp màu</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in _liTaskProcessFixLock">
                            <td>
                                {{item.OrderId}}
                            </td>
                            <td>
                               {{item.Title}}
                            </td>
                            <td>
                                <div class="kanban-pick-color" style="background-color: {{item.Class}};">
                                    <input type="color" title="Chọn màu" ng-model="item.Class" />
                                </div>
                            </td>
                        </tr>
                        <tr ng-repeat="item in liTaskProcess">
                            <td>
                                {{item.OrderId}}
                            </td>
                            <td>
                                {{item.Title}}
                            </td>
                            <td>
                                <div class="kanban-pick-color" style="background-color: {{item.Class}};">
                                    <input type="color" title="Chọn màu" ng-model="item.Class" />
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row" ng-show="model.IsActiveStep">
            <div class="form-group col-md-6">
                <label for="output-device">Thiết lập bước</label>
            </div>
            <div class="col-md-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="width:80px; text-align:center;">Sắp xếp</th>
                            <th style="text-align: center;" ng-show="model.TypeStep === 'DEP'">Chọn phòng ban</th>
                            <th style="text-align: center;" ng-show="model.TypeStep === 'EMP'">Chọn nhân viên</th>
                            <th style="width:70px; text-align:center;">Lớp màu</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in model.TaskStepBySteps">
                            <td>
                                {{item.Sort}}
                            </td>
                            <td>
                                <select ng-model="item.Guid" se-init="initTaskStepBySteps" ng-smselect se-data="liTaskStepBySteps"></select>
                            </td>
                            <td>
                                <div class="kanban-pick-color" style="background-color: {{item.ColorBackground}};" ng-init="item.ColorBackground='#b09611'">
                                    <input type="color" title="Chọn màu" ng-model="item.ColorBackground" />
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>-->
    </form>
</div>
<div class="modal-footer modal-footer--center">
    <div class="row" style="width:100%; height: 30px;">
        <div class="col-lg-10">
            <ul class="page-footer__nav">
                <li class="page-footer__nav-item">
                    <a href="#" class="page-footer__nav-link">
                        <span class="mdi mdi-account page-footer__nav-icon" title="Người tạo"></span>
                        {{model.CreatedBy.split('#')[1]}}
                    </a>
                </li>
                <li class="page-footer__nav-item">
                    <a href="#" class="page-footer__nav-link">
                        <span class="mdi mdi-calendar-plus page-footer__nav-icon" title="Ngày tạo"></span>
                        {{ConDate(model.CreatedDate,1)}}
                    </a>
                </li>
                <li class="page-footer__nav-item">
                    <a href="#" class="page-footer__nav-link">
                        <span class="mdi mdi-account-check page-footer__nav-icon" title="Người sửa"></span>
                        {{model.ModifiedBy.split('#')[1]}}
                    </a>
                </li>
                <li class="page-footer__nav-item">
                    <a href="#" class="page-footer__nav-link">
                        <span class="mdi mdi-calendar-check page-footer__nav-icon" title="Ngày sửa"></span>
                        {{ConDate(model.ModifiedDate,1)}}
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-lg-2">
            <div class="form-group" style="float:right">
                <button class="btn btn-outline-primary icon-left btn-sm mr-3" type="button" ng-click="cancel()">
                    Đóng <span class="btn-icon mdi mdi-close"></span>
                </button>
            </div>
        </div>
    </div>
</div>