﻿<div class="modal-header has-border modal-drag">
    <h5 class="modal-title es-modal-title">{{dlgTitle}}</h5>

    <button type="button" class="close custom-modal__close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true" class="ua-icon-modal-close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"></span>
    </button>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="tab-content tabs-alpha__tab-content">
            <div class="modal-body">
                <form name="editform" class="" method="post" ng-validate="validationOptions">
                    <div class="row" style="margin:0px 10px">
                        <div class="form-row">
                            <div class="col-lg-10">
                                <div class="row">
                                    <div class="form-group col-md-3">
                                        <label for="input-device">Mã Nhân Viên<span class="color-danger">*</span></label>
                                        <input type="text" class="form-control" id="output-device" placeholder="Mã Nhân Viên" name="EmployeeId" ng-model="model.EmployeeId" readonly>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="textarea">Địa chỉ thường trú</label>
                                        <input type="text" class="form-control" id="inputState" ng-model="model.CurrentAddress">
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="inputState" title="Phòng ban/Bộ phận"> Phòng ban/Bộ phận<span class="color-danger">*</span></label>
                                        <div class="input-group input-group-icon icon-right input-group-sm">
                                            <select ng-smselect se-data="ListPB" se-change="ListPBChange(data)" ng-model="model.DepartmentGuid" placeholder="Chọn Phòng ban/Bộ phận..." se-init="ListPBConfig"></select>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-3">
                                        <label for="input-device">Họ và Tên<span class="color-danger">*</span></label>
                                        <input type="text" class="form-control" id="input-device" placeholder="Nhập họ và tên" name="FullName" ng-model="model.FullName" ng-change="detailName()">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="settings-form-fullname">
                                            Nguyên quán
                                        </label>
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" placeholder="" ng-model="Address1" aria-describedby="basic-addon2" readonly>
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-info" type="button" title="Thêm địa chỉ" data-toggle="modal" ng-click="dongAddress()"><span class="ua-icon-plus-circle"></span></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="inputState"> Chức Danh</label>
                                        <div class="input-group input-group-icon icon-right input-group-sm">
                                            <select ng-smselect se-data="li4" se-change="li4Change(data)" ng-model="model.JobTitleId" placeholder="Chọn chức danh..." se-init="JobTitleIDConfig"></select>

                                        </div>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="inputState">Giới Tính</label>
                                        <div class="input-group input-group-icon icon-right input-group-sm">
                                            <select ng-smselect se-data="GenderData" se-change="GenderDataChange(data)" ng-model="model.Gender" placeholder="Chọn giới tính..." se-init="GenderConfig"></select>

                                        </div>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="inputState"> Trạng Thái</label>
                                        <div class="input-group input-group-icon icon-right input-group-sm">
                                            <select ng-smselect se-data="StatusOfWorkData" se-change="StatusOfWorkDataChange(data)" ng-model="model.StatusOfWork" placeholder="Chọn trạng thái..." se-init="StatusOfWorkConfig"></select>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="inputState"> Số điện thoại </label>
                                        <input type="text" class="form-control" id="input-device" ng-model="model.WorkPhone">
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="inputState">Tài Khoản Đăng Nhập</label>
                                        <input type="text" class="form-control" id="output-device" name="LoginName" ng-model="model.LoginName">
                                    </div>

                                    <div class="form-group col-md-12">
                                        <label for="inputState">Ghi Chú</label>
                                        <textarea type="text" class="form-control" ng-model="model.Note" rows="2"></textarea>
                                    </div>
                                </div>                            
                            </div>
                            <div class="col-lg-2">
                                <div class="col-md-12" style="overflow-x:hidden;text-align:center">
                                    <img ng-src="{{model.imageLink}}" style="height:80%;max-height: 200px;border:solid 1px silver" id="image" />
                                    <input style="width:180%;Display: none" type="file" id="loadImage" onchange="angular.element(this).scope().newImage()" /><br /><input type="button" value="Chọn ảnh" onclick="document.getElementById('loadImage').click()" />
                                    <div class="clearfix margin-top-10">
                                    </div>
                                </div>                             
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer modal-footer--center">
    <div class="row" style="width:100%; height: 30px;">
        <div class="col-lg-12">
            <div class="form-group" style="float:right">
                <button class="btn btn-info icon-left btn-sm mr-3" type="button" ng-click="submit()">
                    Lưu <span class="btn-icon mdi mdi-content-save-all"></span>
                </button>
                <button class="btn btn-outline-primary icon-left btn-sm mr-3" type="button" data-dismiss="modal" ng-click="cancel()">
                    Đóng <span class="btn-icon mdi mdi-close"></span>
                </button>
            </div>
        </div>
    </div>
</div>


<script type="text/ng-template" id="editKiemnghiem.html">

    <div class="modal-header has-border modal-drag">
        <h5 class="modal-title es-modal-title">{{dlgTitle}}</h5>

        <button type="button" class="close custom-modal__close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="ua-icon-modal-close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"></span>
        </button>
    </div>
    <div class="modal-body">
        <form name="addform" class="" method="post" ng-validate="validationOptions">
            <div class="row">
                <div class="col-lg-12">
                    <h4 class="es-group-lable-order"></h4>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group ">
                                <label for="ObjectAddress">Phòng ban <span class="color-danger">*</span></label>
                                <div class="input-group input-group-icon icon-right input-group-sm" style="margin-right:5px">
                                    <select class="IsActive" ng-model="jmodel.DepartmentID1" ng-smselect se-data="ListPB" se-init="ListPBConfig" placeholder="Chọn phòng ban bộ phận..." se-change="ListPBChange(data)"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="ObjectAddress">Chức vụ</label>
                                <div class="input-group input-group-icon icon-right input-group-sm" style="margin-right:5px">
                                    <select class="IsActive" ng-model="jmodel.JobTitleID1" ng-smselect se-data="li4" se-init="li4Config" placeholder="Chọn chức vụ..." se-change="li4Change(data)"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="ObjectAddress">Thời gian bắt đầu</label>
                                <input ng-model="jmodel.StartDate" datetime-picker date-format="DD/MM/YYYY" class="form-control" date-only />

                            </div>
                        </div>

                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="ObjectAddress">Thời gian kết thúc</label>
                                <input ng-model="jmodel.EndDate" datetime-picker date-format="DD/MM/YYYY" class="form-control" date-only />
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="ObjectAddress">Trạng thái</label>
                                <div class="input-group input-group-icon icon-right input-group-sm" style="margin-right:5px">
                                    <select class="IsActive" ng-model="jmodel.IsActive" ng-smselect se-data="JIsActiveData" se-init="JIsActiveDataConfig" se-change="JIsActiveDataChange(jmodel.IsActive)"></select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group" style="float:right">
                                <a href="" class="btn btn-info btn-sm icon-left" ng-click="PositionsConcurrently()">
                                    Thêm <span class="btn-icon mdi mdi-plus-box"></span>
                                </a>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-scrollable scroll">
                                <table class="table table-striped table-hover table-bordered" id="sample_editable_1">
                                    <thead>
                                        <tr>
                                            <th style="text-align:center;width:5%"> STT </th>
                                            <th style="text-align:center;width:40%"> Phòng ban </th>
                                            <th style="text-align:center;width:20%"> Chức vụ </th>
                                            <th style="text-align:center;width:10%"> Bắt đầu </th>
                                            <th style="text-align:center;width:10%"> Kết thúc </th>
                                            <th style="text-align:center;width:10%"> Trạng thái </th>
                                            <th>Xóa</th>
                                            <!--<th></th>-->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in ListPositionsConcurrently">
                                            <td align="center">{{$index + 1}}</td>
                                            <td style="text-align:left;width:40%">
                                                {{item.DepartmentName}}

                                            </td>
                                            <td style="text-align:left;width:20%">

                                                <div class="input-group input-group-icon icon-right input-group-sm">
                                                    <select ng-smselect se-data="li4" se-change="li4Change(data)" ng-model="item.JobTitleID" placeholder="Chọn chức danh..." se-init="JobTitleIDConfig"></select>

                                                </div>
                                            </td>
                                            <td style="text-align:right;width:10%"> <input ng-model="item.StartDate" name="jStartDate" datetime-picker date-format="DD/MM/YYYY" class="form-control" date-only /> </td>
                                            <td style="text-align:right;width:10%"> <input ng-model="item.EndDate" name="jEndDate" datetime-picker date-format="DD/MM/YYYY" class="form-control" date-only /> </td>
                                            <td align="left" style="text-align:center;width:10%">
                                                <div class="input-group input-group-icon icon-right input-group-sm">
                                                    <select ng-smselect se-data="JIsActiveData" se-change="JIsActiveDataChange(data)" ng-model="item.IsActive" placeholder="Chọn chức vụ..." se-init="JIsActiveDataConfig"></select>

                                                </div>

                                            </td>

                                            <td align="center">
                                                <a href="" class="btn btn-icon-only btn-default btn-custom" style="font-size:15px;" title="Xóa" ng-click="deleteChecked(item,$index)"><i class="mdi mdi-delete"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </form>
    </div>
    <div class="modal-footer modal-footer--center" style="text-align:right">
        <div class="row" style="width:100%; height: 30px;">
            <div class="col-lg-12">

                <button class="btn btn-outline-primary icon-left btn-sm mr-3" type="button" data-dismiss="modal" ng-click="cancel()">
                    Đóng <span class="btn-icon mdi mdi-close"></span>
                </button>
            </div>
        </div>
    </div>

</script>