﻿<div class="modal-header has-border" modal-drag>
    <h5 class="modal-title es-modal-title">{{openTitle}}</h5>
    <button type="button" class="close custom-modal__close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
        <span aria-hidden="true" class="ua-icon-modal-close"></span>
    </button>
</div>
<div class="modal-body">
    <div class="row" style="margin-top:10px;">
        <!--<div class="col-lg-2">
            <div class="form-group">
                <label for="inputState">Ngày bắt đầu </label>
                <input ng-model="model.StartDate" name="StartDate" datetime-picker date-format="DD/MM/YYYY" class="form-control" date-only />              
            </div>
        </div>
        <div class="col-lg-2">
            <div class="form-group ">
                <label for="ObjectID">Ngày kết thúc </label>
                <input ng-model="model.EndDate" name="EndDate" datetime-picker date-format="DD/MM/YYYY" class="form-control" date-only />

            </div>
        </div>-->
     
        <div class="col-lg-2">
            <div class="form-group ">
               
                <div class="input-group input-group-icon icon-right input-group-sm">
                    <button class="btn btn-outline-primary icon-left btn-sm mr-3" href="javascript:;" ng-click="printClick()">
                        Xem In <span class="btn-icon mdi mdi-magnify"></span>
                    </button>
                </div>
            </div>
        </div>
       
    </div>

    <div id="viewerContent" style="width:100%;height:100%"></div>
</div>
<div class="modal-footer modal-footer--center">
    <div class="row" style="width:100%; height: 30px;">
        <div class="col-lg-12">
            <div class="form-group" style="float:right">
                <button class="btn btn-outline-primary icon-left btn-sm mr-3" href="javascript:;" ng-click="cancel()">
                    Đóng <span class="btn-icon mdi mdi-close"></span>
                </button>
            </div>
        </div>
    </div>
</div>
