﻿<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button>
    <h3 class="modal-title" id="modal-title">{{addTitle}}</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="portlet-body form">
        <form name="addform" class="form-horizontal  form-bordered" method="post" ng-validate="validationOptions">
            <div class="form-body">
                <div class="form-group">
                    <label class="control-label col-md-2">Tiêu đề <span class="required"> *</span></label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" ng-model="model.Title" name="Title" />
                    </div>
                    <label class="control-label col-md-2">Trạng thái</label>
                    <div class="col-md-4">
                        <select class="form-control" ng-model="model.IsActive"
                                ng-options="ct.Value as ct.Name for ct in StatusData "></select>

                    </div>
                </div>
                <div class="form-group">
                    <!--<label class="control-label col-md-2">Mô tả </label>-->
                    <div class="col-md-12" >
                        <input type="text" ui-tinymce="tinymceOptions" class="form-control" ng-model="model.Description" name="Description" />
                    </div>

                </div>

            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <a ng-click="submit()" class="btn btn-primary" href="javascript:;">
        <i class="fa fa-floppy-o"></i> Lưu
    </a>
    <a data-dismiss="modal" class="btn btn-default" href="javascript:;" ng-click="cancel()">
        <i class="fa fa-times"></i> Đóng
    </a>
</div>
