﻿<div class="breadcrumbs">
    <div class="col-md-6" style="padding-left:0px;">
        <span class="mdi mdi-view-list subnav__heading-icon"></span> <h1>DANH SÁCH GIỚI THIỆU</h1>
    </div>
    <div class="col-md-6 table-toolbar-custom">
        <div class="table-toolbar">
            <div class="btn-group pull-right actions">
                <a class="btn btn-circle btn-icon-only btn-default" title="Thêm mới" data-action="ADD" ng-click="add()"><i class="fa fa-plus"></i></a>
                <a class="btn btn-circle btn-icon-only btn-default" title="Xóa" data-action="DELETE" ng-click="deleteChecked()"><i class="fa fa-trash-o"></i></a>
                <a class="btn btn-circle btn-icon-only btn-default" href="#" title="Làm mới" data-action="LISTVIEW" ng-click="reloadALL()"><i class="fa fa-refresh"></i></a>
            </div>
        </div>
    </div>
</div>
<div class="portlet-body">
    <div class="table-toolbar">
        <div class="row">
            <div class="col-md-2 custom-padding">
                <input type="text" title="Nhập từ khóa tìm kiếm" placeholder="Nhập từ khóa ..." ng-change="reload()" class="form-control" ng-model="staticParam.Search" name="Search" />
            </div>
            <div class="col-md-2 custom-padding" style="width:12%">
                <select title="Chọn lọc trạng thái" class="form-control" ng-model="staticParam.IsActive" ng-init="staticParam.IsActive=1"
                        ng-options="ct.Value as ct.Name for ct in StatusData " ng-change="reload()"></select>
            </div>
        </div>
    </div>
    <table class="table dataTable table-bordered table-hover table-striped"
           datatable
           dt-options="dtOptions"
           dt-columns="dtColumns"
           dt-instance="dtInstance"
           id="tblData"></table>
</div>



