﻿<style>
    .app-modal-window .modal-dialog {
        width: 1200px;
    }
</style>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button>
    <h3 class="modal-title" id="modal-title">{{openTitle}}</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="portlet-body form">
        <form name="openform" class="form-horizontal  form-bordered" method="post">
            <div class="form-body">
                <div class="form-group">
                    <label class="control-label col-md-2">Tiêu đề <span class="required"> *</span></label>
                    <div class="col-md-4">
                        <div class="textview">{{model.Title}}</div>
                    </div>
                    <label class="control-label col-md-2">Trạng thái </label>
                    <div class="col-md-4">
                        <div class="textview">{{model.IsActive}}</div>

                    </div>
                </div>
                <div class="form-group">
                    <!--<label class="control-label col-md-2">Tên hãng <span class="required"> *</span></label>-->
                    <div class="col-md-12">
                        <div class="textview" ng-bind-html="model.Description | html"></div>
                    </div>                   
                </div>
                
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <div class="col-md-9 modal-footer-formview" >
        <ul class="list-inline pull-left">
            <li title="Người tạo" class="font-footer-formview">
                <i class="fa fa-user"></i>Tạo bởi:{{model.CreatedBy}}
            </li>
            <li title="Ngày tạo" class="font-footer-formview">
                <i class="fa fa-calendar"></i>Ngày:{{model.CreatedDate | fdate:'DD/MM/YYYY HH:mm'}}
            </li>
            <li title="Người sửa" class="font-footer-formview">
                <i class="fa fa-user"></i>Sửa bởi:{{model.ModifiedBy}}
            </li>
            <li title="Ngày sửa" class="font-footer-formview">
                <i class="fa fa-calendar"></i>Ngày:{{model.ModifiedDate | fdate:'DD/MM/YYYY HH:mm'}}
            </li>
        </ul>
    </div>
    <div class="col-md-3 pull-right modal-btn-formview">
        <a data-dismiss="modal" class="btn btn-default" href="javascript:;" ng-click="cancel()">
            <i class="fa fa-times"></i> Đóng
        </a>
    </div>
</div>
