﻿@{
    ViewData["Title"] = "Home Page";
    var _Error = ViewBag.Result;
}
<section class="">
    <div class="container">
        <div class="p-front__content">
            <div class="p-signin-a">
                <form action="/Account/Login" method="post" class="p-signin-a__form" style="box-shadow: 0px 4px 3px 8px rgba(236,242,246,.75) !important">
                    <h4 class="p-signin-a__form-heading" style="text-align:center;font-weight:bold">ĐĂNG NHẬP HỆ THỐNG</h4>

                    <div class="form-group">
                        <input type="text" class="form-control form-control-lg" placeholder="Tài khoản" data-val="true" data-val-required="Yêu cầu nhập tài khoản" id="UserName" name="UserName">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" minlength="6" title="Nhập tối thiểu 6 ký tự" autocomplete="off" minLeng placeholder="Mật khẩu" data-val="true" data-val-required="Yêu cầu nhập mật khẩu" id="Password" name="Password">
                    </div>
                    <div class="form-group">
                        <div class="col">
                            <div class="form__col-inline">
                                <label class="col-md-4 lableRight">Nhớ tài khoản</label>
                                <div class="form-group col-md-12">
                                    <div class="col-md-12" style="padding-left:0px;">
                                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline " style="height: 12px">
                                            <input type="checkbox" class="checkboxes ng-pristine ng-untouched ng-valid ng-not-empty" data-val="true" id="RememberMe" name="RememberMe" value="true" readonly>
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    @if (_Error != null && _Error != "")
                        {
                            <div class="form-group">
                                <div class="col">
                                    <div class="form__col-inline">
                                        <label class="col-md-12 lableRight" style="color:red;">@_Error</label>
                                    </div>
                                </div>
                            </div>
                        }
                   
                    <div class="form-group">
                        <button href="" class="btn btn-info btn-lg btn-block btn-rounded" value="login" name="button">
                            Đăng nhập
                        </button>
                        @*<div class="p-signin-a__form-link"><a href="signup.html">Quên Tài khoản / Mật khẩu? </a></div>*@
                    </div>
                </form>
            </div>
        </div>


    </div>
</section>