﻿<div class="modal-header has-border modal-drag">
    <h5 class="modal-title es-modal-title">Quản lý đính kèm</h5>
    <button type="button" class="close custom-modal__close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
        <span aria-hidden="true" class="ua-icon-modal-close"></span>
    </button>
</div>
<div class="modal-body">
    <form class="form-horizontal  form-bordered" method="post">
        <div class="row">
            <div class="col-xl-12">
                <div class="form-group" ng-show="jdataattach.length>0">
                    <div class="">
                        <div class="table-scrollable ">
                            <table class="table table-hover">
                                <thead>
                                    <tr>

                                        <th style="width:5%">STT</th>
                                        <th style="width:5%">Icon</th>
                                        <th style="width:20%">Tiêu đề</th>
                                        <th style="">Tên tệp</th>
                                        <th style="width:16%">Người tạo</th>
                                        <th style="width:6%">Ngày tạo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="x in jdataattach">
                                        <td style="width:5%;text-align:center">
                                            {{$index+1}}
                                        </td>
                                        <td style="width:5%;text-align:center" ng-if="x.FileName.includes('.txt')"><div class="es-attachment-icon-textfile" /></td>
                                        <td style="width:5%;text-align:center" ng-if="x.FileName.includes('.png') ||x.FileName.includes('.jpg')"><div class="es-attachment-icon-imagefile" /></td>
                                        <td style="width:5%;text-align:center" ng-if="x.FileName.includes('.pptx')"><div class="es-attachment-icon-powerpoint" /></td>
                                        <td style="width:5%;text-align:center" ng-if="x.FileName.includes('.xlsx') ||x.FileName.includes('.xls')"><div class="es-attachment-icon-excel" /></td>
                                        <td style="width:5%;text-align:center" ng-if="x.FileName.includes('.doc') ||x.FileName.includes('.docx')"><div class="es-attachment-icon-word" /></td>
                                        <td style="width:5%;text-align:center" ng-if="x.FileName.includes('.pdf')"><div class="es-attachment-icon-pdf" /></td>
                                        <td style="width:5%;text-align:center" ng-if="!x.FileName.includes('.txt') && !x.FileName.includes('.png') && !x.FileName.includes('.jpg')&& !x.FileName.includes('.pptx')&& !x.FileName.includes('.xlsx')&& !x.FileName.includes('.xls')&& !x.FileName.includes('.doc')&& !x.FileName.includes('.pdf')"><div class="es-attachment-icon-default" /></td>
                                        <td> {{x.Title}}</td>
                                        <td>
                                            <a target="_blank" href="{{TableName}}/DownloadItemAttachment?Id={{x.AttachmentGuid}}"> {{x.FileName}} </a>
                                            <a href="javascript:void(0)" ng-click="remoteAttach(x,$index)" class="btn btn-sm"><i style="color:red;" class="mdi mdi-close"></i> </a>
                                        </td>
                                        <td style="width:12%;text-align:left">{{x.CreatedBy}}</td>
                                        <td style="width:6%;text-align:right"> {{x.CreatedDate | fdate:'DD/MM/YYYY'}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-show="uploader.queue.length>0">
                    <div class="">
                        <input type="file" style="font-size: 0px;Display: none" nv-file-select="" name="file[]" uploader="uploader" multiple id="attachment" />
                        <div class="table-scrollable">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th style="width:5%">STT</th>
                                        <th style="width:5%">Icon</th>
                                        <th style="width:20%">Tiêu đề</th>
                                        <th style="">Tên tệp</th>
                                        <th style="width:15%">Kích thước</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in uploader.queue">
                                        <td style="width:5%;text-align:center">{{$index+1}}</td>
                                        <td style="width:5%;text-align:center" ng-if="item.file.name.includes('.txt')"><div class="es-attachment-icon-textfile" /></td>
                                        <td style="width:5%;text-align:center" ng-if="item.file.name.includes('.png')||item.file.name.includes('.jpg')"><div class="es-attachment-icon-imagefile" /></td>
                                        <td style="width:5%;text-align:center" ng-if="item.file.name.includes('.pptx')"><div class="es-attachment-icon-powerpoint" /></td>
                                        <td style="width:5%;text-align:center" ng-if="item.file.name.includes('.xlsx')||item.file.name.includes('.xls')"><div class="es-attachment-icon-excel" /></td>
                                        <td style="width:5%;text-align:center" ng-if="item.file.name.includes('.doc')||item.file.name.includes('.docx')"><div class="es-attachment-icon-word" /></td>
                                        <td style="width:5%;text-align:center" ng-if="item.file.name.includes('.pdf')"><div class="es-attachment-icon-pdf" /></td>
                                        <td style="width:5%;text-align:center" ng-if="!item.file.name.includes('.txt') && !item.file.name.includes('.png') && !item.file.name.includes('.jpg')&& !item.file.name.includes('.pptx')&& !item.file.name.includes('.xlsx') && !item.file.name.includes('.xls')&& !item.file.name.includes('.doc')&& !item.file.name.includes('.pdf')"><div class="es-attachment-icon-default" /></td>
                                        <td> <input type="text" class="form-control" ng-model="item.file.FileName" ng-init="item.file.FileName=item.file.name"></td>
                                        <td><strong>{{ item.file.name }}<a href="javascript:void(0)" ng-click="item.remove()" class="btn btn-sm"><i style="color:red;" class="mdi mdi-close"></i> </a></strong></td>
                                        <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer modal-footer--center">
    <div class="row" style="width:100%; height: 30px;">
        <div class="col-lg-6">
        </div>
        <div class="col-lg-6">
            <div class="form-group" style="float:right">
                <button class="btn btn-info icon-left btn-sm mr-3" data-dismiss="modal" type="button" onclick="document.getElementById('attachment').click()">
                    Đính kèm <span class="btn-icon mdi mdi-attachment"></span>
                </button>
                <button class="btn btn-info icon-left btn-sm mr-3" type="button" ng-click="submit()">
                    Lưu <span class="btn-icon mdi mdi-content-save-all"></span>
                </button>
                <button class="btn btn-outline-primary icon-left btn-sm mr-3" type="button" data-dismiss="modal" ng-click="cancel()">
                    Đóng <span class="btn-icon mdi mdi-close"></span>
                </button>
            </div>
        </div>
    </div>
</div>
