﻿<style>

    .lableRight {
        text-align: right;
        margin-right: 0px !important;
    }

    .jexcel tbody {
        display: block !important;
        width: max-content;
    }
</style>
<div class="modal-header has-border modal-drag">
    <h5 class="modal-title es-modal-title"> {{Title}}</h5>
    <button type="button" class="close custom-modal__close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
        <span aria-hidden="true" class="ua-icon-modal-close"></span>
    </button>
</div>
<div class="modal-body">
    
    <div class="row">
        <div class="col-lg-12">
            <!--<ul class="nav nav-tabs tabs-alpha__nav-tabs">
                <li class="nav-item tabs-alpha__item">
                    <a class="nav-link tabs-alpha__link active" data-toggle="tab" href="/Sale/Orders/Index/add/#tabs-1">
                        Chi tiết
                    </a>
                </li>

                <li>
                    <a href="javascript:;" title="{{Check==true?'Phóng to':'Thu nhỏ'}}">
                        <i class="mdi  {{Check==true?'mdi-fullscreen':'mdi-fullscreen-exit'}}" style="font-size: 18px;" ng-init="Check=true" ng-click="Check==true?Check=false:Check=true;fullscreen(Check)"></i>
                    </a>
                </li>
            </ul>-->
            <div class="tab-content tabs-alpha__tab-content">
                <div class="tab-pane active show" id="tabs-1" role="tabpanel">
                    <div class="row">
                        <div class="col-lg-12">
                            <div style="overflow:auto;" ng-model="jxcelAddDetail" id="myht" ng-jexcel jx-init="jxcelAddDetailInit" class="table es-am-root-jexcel" filter="dropdown" deletees="deletees" deleterowhotkey="deleterowhotkey">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tabs-3" role="tabpanel">
                    <div class="form-group" ng-show="uploader.queue.length>0">
                        <div class="">
                            <input type="file" style="font-size: 0px;Display: none" nv-file-select="" name="file[]" uploader="uploader" multiple id="attachment" />
                            <div class="table-scrollable">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th style="width:5%">STT</th>
                                            <th style="width:5%">Icon</th>
                                            <th style="width:20%">Tiêu đề</th>
                                            <th style="">Tên tệp</th>
                                            <th style="width:15%">Kích thước</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in uploader.queue">
                                            <td style="width:5%;text-align:center">{{$index+1}}</td>
                                            <td style="width:5%;text-align:center" ng-if="item.file.name.includes('.txt')"><div class="es-attachment-icon-textfile" /></td>
                                            <td style="width:5%;text-align:center" ng-if="item.file.name.includes('.png')||item.file.name.includes('.jpg')"><div class="es-attachment-icon-imagefile" /></td>
                                            <td style="width:5%;text-align:center" ng-if="item.file.name.includes('.pptx')"><div class="es-attachment-icon-powerpoint" /></td>
                                            <td style="width:5%;text-align:center" ng-if="item.file.name.includes('.xlsx')||item.file.name.includes('.xls')"><div class="es-attachment-icon-excel" /></td>
                                            <td style="width:5%;text-align:center" ng-if="item.file.name.includes('.doc')||item.file.name.includes('.docx')"><div class="es-attachment-icon-word" /></td>
                                            <td style="width:5%;text-align:center" ng-if="item.file.name.includes('.pdf')"><div class="es-attachment-icon-pdf" /></td>
                                            <td style="width:5%;text-align:center" ng-if="!item.file.name.includes('.txt') && !item.file.name.includes('.png') && !item.file.name.includes('.jpg')&& !item.file.name.includes('.pptx')&& !item.file.name.includes('.xlsx')&& !item.file.name.includes('.xls')&& !item.file.name.includes('.doc')&& !item.file.name.includes('.docx')&& !item.file.name.includes('.pdf')"><div class="es-attachment-icon-imagefile"></div></td>
                                            <td> <input type="text" class="form-control" ng-model="item.file.FileName" ng-init="item.file.FileName=item.file.name"></td>
                                            <td><strong>{{ item.file.name }}<a href="javascript:void(0)" ng-click="item.remove()" class="btn btn-sm"><i style="color:red;" class="mdi mdi-close"></i> </a></strong></td>
                                            <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="modal-footer modal-footer--center">
    <div class="row" style="width:100%; height: 30px;">
        <div class="col-lg-6">
        </div>
        <div class="col-lg-6">
            <div class="form-group" style="float:right">
               
                <button class="btn btn-info icon-left btn-sm mr-3" type="button" ng-click="insert()">
                    Lưu <span class="btn-icon mdi mdi-content-save-all"></span>
                </button>
                <button class="btn btn-outline-primary icon-left btn-sm mr-3" type="button" data-dismiss="modal" ng-click="cancel()">
                    Đóng <span class="btn-icon mdi mdi-close"></span>
                </button>
            </div>
        </div>
    </div>
</div>