﻿<div class="modal-header has-border">
    <h5 class="modal-title es-modal-title"> {{Title}}</h5>
    <button type="button" class="close custom-modal__close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
        <span aria-hidden="true" class="ua-icon-modal-close"></span>
    </button>
</div>
<div class="modal-body">
    <form name="addform" class="form-horizontal  form-bordered" method="post" ng-validate="validationOptions">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="input-type">Mã trạng thái quy trình<span class="color-danger">*</span></label>
                        <input type="text" ng-model="model.CategoryId" name="CategoryId" class="form-control">
                    </div>
                    <div class="form-group col-md-4">
<<<<<<< HEAD:HRM/wwwroot/views/EIM/WorkFlowStatus/add.html
                        <label for="input-type">Tên trạng thái quy trình<span class="color-danger">*</span></label>
                        <input type="text" ng-model="model.CategoryName" name="CategoryName" class="form-control">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="input-type">Vị trí<span class="color-danger">*</span></label>
                        <div class="input-group input-group-icon icon-right input-group-sm">
                            <select ng-smselect se-data="Department" name="LocationId" se-change="DepartChange(data)" ng-model="model.LocaitonId" placeholder="Chọn vị trí..." se-init="IsActiveConfig" ng-hide="Checks" style="width:100%"></select>
                        </div>
=======
                        <label for="textarea">Khối</label>
                        <select ng-smselect se-data="Khoi" se-change="ChangeDescription(data)" ng-model="model.Description" ng-init="model.Description='GT'"></select>
                    </div>
                    <div class="form-group col-md-5">
                        <label for="inputState">Thuộc Đầu mối</label>
                        <select ng-smselect se-data="ListClueCombo" se-change="ChangeClue(data)" ng-model="model.ParentId" se-init="ClueComboConfig"></select>
                    </div>

                    <div class="form-group col-md-12">
                        <label for="input-type">Đầu mối cấp 1</label>
                        <input type="text" ng-model="model.Title" name="Title" class="form-control">
>>>>>>> 1a5996fe827fa1bc09915252e64e1284b16d3b00:HRM/wwwroot/views/Project/Clue/addClue.html
                    </div>

                    <div class="form-group col-md-6">
                        <label for="inputState">Trạng thái</label>
                        <select ng-smselect se-data="ListIsActive1" se-change="ChangeIsActive(data)" ng-model="model.IsActive" ng-init="model.IsActive=1" placeholder="Chọn tình trạng" se-init="IsActiveConfig"></select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="input-type">Thứ tự</label>
                        <input type="number" ng-model="model.OrderId" name="OrderId" class="form-control">
                    </div>
<<<<<<< HEAD:HRM/wwwroot/views/EIM/WorkFlowStatus/add.html
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="textarea">Mô tả</label>
                    <textarea type="text" ng-model="model.Description" name="Description" class="form-control" id="textarea" rows="4"></textarea>
                </div>

            </div>
=======
                    <div class="form-group col-md-4">
                        <label for="input-type">Trạng thái</label>
                        <select ng-smselect se-data="IsActive" se-change="ChangeIsActive(data)" ng-model="model.IsActive" ng-init="model.IsActive=1" se-init="IsActiveConfig"></select>
                    </div>
                </div>
            </div>

>>>>>>> 1a5996fe827fa1bc09915252e64e1284b16d3b00:HRM/wwwroot/views/Project/Clue/addClue.html
        </div>
    </form>
</div>
<div class="modal-footer modal-footer--center">
    <div class="row" style="width:100%; height: 30px;">
        <div class="col-lg-6">
        </div>
        <div class="col-lg-6">
            <div class="form-group" style="float:right">
                <button class="btn btn-info icon-left btn-sm mr-3" type="button" ng-click="insert()">
                    Lưu <span class="btn-icon mdi mdi-content-save-all"></span>
                </button>
                <button class="btn btn-outline-primary icon-left btn-sm mr-3" type="button" data-dismiss="modal" ng-click="cancel()">
                    Đóng <span class="btn-icon mdi mdi-close"></span>
                </button>
            </div>
        </div>
    </div>
</div>