﻿<div class="subnav">
    <div class="subnav__header">
        <div class="subnav__heading">
            <span class="mdi mdi-view-list subnav__heading-icon"></span>Danh mục trạng thái quy trình
        </div>
        <div class="subnav__header-side">
            <a href="#" class="btn btn-info btn-sm icon-left" data-toggle="modal" ng-click="add()" onclick="return false">
                Thêm <span class="btn-icon mdi mdi-plus-box"></span>
            </a>
            <a href="#" class="btn btn-info btn-sm icon-left" data-toggle="modal" ng-click="reloadAll()" onclick="return false">
                Làm mới <span class="mdi mdi-refresh"></span>
            </a>
            <a href="#" class="btn btn-danger btn-sm icon-left" ng-click="deleteChecked()" onclick="return false">
                Xóa <span class="btn-icon mdi mdi-delete-forever"></span>
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="widget widget-tabs bd-widget-overview">
            <div class="widget-tabs__header widget-tabs__header--bordered">
                <div class="widget-tabs__header-meta">
                    <div class="input-group input-group-icon icon-right input-group-sm" style="margin-right:5px">
                        <input class="form-control" ng-model="staticParam.Search" ng-change="reload()" type="search" placeholder="Nhập từ khóa">
                        <span class="input-icon ua-icon-search"></span>
                    </div>
                    <div class="col-md-2">
                        <select ng-smselect se-data="IsActive" se-change="IsActiveChange(data)" ng-model="staticParam.IsActive" ng-init="staticParam.IsActive=1" ng-change="Search()" se-init="IsActiveConfig"></select>
                    </div>
                </div>
            </div>
            <div class="m-datatable es-table-scroll">
                <table class="table table-striped" style="margin-top: 0px !important; width: 100%;"
                       datatable
                       dt-options="dtOptions"
                       dt-columns="dtColumns"
                       dt-instance="dtInstance"
                       id="tblData"></table>
            </div>
        </div>
    </div>
</div>