﻿<div class="modal-header has-border">
    <h5 class="modal-title es-modal-title"> {{Title}}</h5>
    <button type="button" class="close custom-modal__close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
        <span aria-hidden="true" class="ua-icon-modal-close"></span>
    </button>
</div>
<div class="modal-body">
    <form name="openform" class="form-horizontal  form-bordered" method="post" ng-validate="validationOptions">
        <div class="row">
            <div class="col-lg-6">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="input-type">Mã trạng thái quy trình<span class="color-danger">*</span></label>
                        <div class="textview">{{model.CategoryId}}</div>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="input-type">Tên trạng thái quy trình<span class="color-danger">*</span></label>
                        <div class="textview">{{model.CategoryName}}</div>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="input-type">Vị trí<span class="color-danger">*</span></label>
                        <div class="textview">{{model.LocationId}}</div>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="inputState">Trạng thái</label>
                        <div class="textview">{{model.IsActive}}</div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="input-type">Thứ tự</label>
                        <div class="textview">{{model.OrderId}}</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="textarea">Mô tả</label>
                    <div class="textview">{{model.Description}}</div>
                </div>

            </div>
        </div>
    </form>
</div>
<div class="modal-footer modal-footer--center">
    <div class="row" style="width:100%; height: 30px;">
        <div class="col-lg-6">
        </div>
        <div class="col-lg-6">
            <div class="form-group" style="float:right">
                <button class="btn btn-outline-primary icon-left btn-sm mr-3" type="button" data-dismiss="modal" ng-click="cancel()">
                    Đóng <span class="btn-icon mdi mdi-close"></span>
                </button>
            </div>
        </div>
    </div>
</div>