﻿
@{
    ViewData["Title"] = "Quản lý sản phẩm";
    Layout = "~/Areas/HR/Views/SharedAdmin/_Layout.cshtml";
}

<div class="page-content" id="contentMain" ng-controller="Ctrl_ES_CSDL_SanPham">
    <div class="container-fluid">
        <div style="min-height:100px" ng-view></div>
    </div>
</div>
<script src="~/views/HR/SanPham/controller.js" type="text/javascript"></script>