﻿
<div class="container">
    <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
        <a href="index.html" class="stext-109 cl8 hov-cl1 trans-04">
            Home
            <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
        </a>

        <a href="product.html" class="stext-109 cl8 hov-cl1 trans-04">
            Men
            <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
        </a>

        <span class="stext-109 cl4">
            Lightweight Jacket
        </span>
    </div>
</div>


<div class="row">
    <div class="col-md-6 col-lg-7 p-b-30">
        <div class="p-l-25 p-r-30 p-lr-0-lg">
            <div class="wrap-slick3 flex-sb flex-w">
                <div class="wrap-slick3-dots">
                    <ul class="slick3-dots" role="tablist" style="">
                        <li class="slick-active" role="presentation" ng-click="btnView(1)">
                            <img src="{{model.Title1_goc}}">
                            <div class="slick3-dot-overlay"></div>
                        </li>
                        <li role="presentation" class="" ng-click="btnView(2)">
                            <img src="{{model.Title2_goc}}">
                            <div class="slick3-dot-overlay"></div>
                        </li>
                        <li role="presentation" ng-click="btnView(3)">
                            <img src="{{model.Title3_goc}}">
                            <div class="slick3-dot-overlay"></div>
                        </li>
                    </ul>
                </div>
                <div class="wrap-slick3-arrows flex-sb-m flex-w">
                    <button class="arrow-slick3 prev-slick3 slick-arrow" style="" ng-click="btnBack()">
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                    </button>
                    <button class="arrow-slick3 next-slick3 slick-arrow" style="" ng-click="btnNext()">
                        <i class="fa fa-angle-right" aria-hidden="true"> </i>
                    </button>
                </div>

                <div class="slick3 gallery-lb slick-initialized slick-slider slick-dotted">
                    <div class="slick-list draggable">
                        <div class="slick-track" style="opacity: 1; width: 1539px;">
                            <div class="item-slick3 slick-slide slick-current slick-active" data-thumb="{{model.Title1}}" data-slick-index="4" aria-hidden="true" tabindex="-1" role="tabpanel" id="slick-slide10" aria-describedby="slick-slide-control10" style="width: 513px; position: relative;left: 0px; top: 0px;z-index: 999;opacity: 1;transition: opacity 500ms ease 0s;">
                                <div class="wrap-pic-w pos-relative">
                                    <img src="{{model.Title1}}" alt="IMG-PRODUCT">

                                    <!--<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="" tabindex="-1">
                                        <i class="fa fa-expand"></i>
                                    </a>-->
                                </div>
                            </div>
                            <div class="item-slick3 slick-slide" data-thumb="{{model.Title2}}" data-slick-index="1" aria-hidden="true" tabindex="-1" role="tabpanel" id="slick-slide11" aria-describedby="slick-slide-control11" style="width: 513px; position: relative; left: -513px; top: 0px; z-index: 998; opacity: 0; transition: opacity 500ms ease 0s;">
                                <div class="wrap-pic-w pos-relative">
                                    <img src="{{model.Title2}}" alt="IMG-PRODUCT">

                                    <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="" tabindex="-1">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="item-slick3 slick-slide" data-thumb="{{model.Title3}}" data-slick-index="2" aria-hidden="false" tabindex="0" role="tabpanel" id="slick-slide12" aria-describedby="slick-slide-control12" style="width: 513px; position: relative; left: -1026px; top: 0px; z-index: 997; opacity: 0;">
                                <div class="wrap-pic-w pos-relative">
                                    <img src="{{model.Title3}}" alt="IMG-PRODUCT">

                                    <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="" tabindex="0">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-lg-5 p-b-30">
        <div class="p-r-50 p-t-5 p-lr-0-lg">
            <h4 class="mtext-105 cl2 js-name-detail p-b-14">
                {{model.TenSanPham}}
            </h4>

            <div class="block2-txt-child2 col-md-8" style="text-align: left;margin: 0px;padding: 0px">
                <a href="{{LinkDetaill}}" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
                    <span style="font-size:18px">
                        {{addPeriod(model.DonGia)}}
                    </span>  <span style="text-decoration:line-through;color:black" ng-show="model.Giamgia < 0"> {{addPeriod(model.DonGia + model.DonGia*model.Giamgia*-1/100)}}</span>
                    <i class="fa fa-check" aria-hidden="true" ng-show="model.Ischeck"> Còn hàng</i>
                    <i class="fa fa-times" style="color:black" ng-hide="model.Ischeck"> Hết hàng</i>
                </a>
            </div>
            <p class="stext-102 cl3 p-t-23">
                {{model.Description}}
            </p>
        </div>
    </div>
</div>

<div class="bor10 m-t-50 p-t-43 p-b-40">
    <!-- Tab01 -->
    <div class="tab01">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item p-b-10">
                <a class="nav-link active" data-toggle="tab" href="#description" role="tab">Description</a>
            </li>

            <li class="nav-item p-b-10">
                <a class="nav-link" data-toggle="tab" href="#information" role="tab">Additional information</a>
            </li>

            <li class="nav-item p-b-10">
                <a class="nav-link" data-toggle="tab" href="#reviews" role="tab">Reviews (1)</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content p-t-43">
            <!-- - -->
            <div class="tab-pane fade show active" id="description" role="tabpanel">
                <div class="how-pos2 p-lr-15-md">
                    <p class="stext-102 cl6">
                        Aenean sit amet gravida nisi. Nam fermentum est felis, quis feugiat nunc fringilla sit amet. Ut in blandit ipsum. Quisque luctus dui at ante aliquet, in hendrerit lectus interdum. Morbi elementum sapien rhoncus pretium maximus. Nulla lectus enim, cursus et elementum sed, sodales vitae eros. Ut ex quam, porta consequat interdum in, faucibus eu velit. Quisque rhoncus ex ac libero varius molestie. Aenean tempor sit amet orci nec iaculis. Cras sit amet nulla libero. Curabitur dignissim, nunc nec laoreet consequat, purus nunc porta lacus, vel efficitur tellus augue in ipsum. Cras in arcu sed metus rutrum iaculis. Nulla non tempor erat. Duis in egestas nunc.
                    </p>
                </div>
            </div>

            <!-- - -->
            <div class="tab-pane fade" id="information" role="tabpanel">
                <div class="row">
                    <div class="col-sm-10 col-md-8 col-lg-6 m-lr-auto">
                        <ul class="p-lr-28 p-lr-15-sm">
                            <li class="flex-w flex-t p-b-7">
                                <span class="stext-102 cl3 size-205">
                                    Weight
                                </span>

                                <span class="stext-102 cl6 size-206">
                                    0.79 kg
                                </span>
                            </li>

                            <li class="flex-w flex-t p-b-7">
                                <span class="stext-102 cl3 size-205">
                                    Dimensions
                                </span>

                                <span class="stext-102 cl6 size-206">
                                    110 x 33 x 100 cm
                                </span>
                            </li>

                            <li class="flex-w flex-t p-b-7">
                                <span class="stext-102 cl3 size-205">
                                    Materials
                                </span>

                                <span class="stext-102 cl6 size-206">
                                    60% cotton
                                </span>
                            </li>

                            <li class="flex-w flex-t p-b-7">
                                <span class="stext-102 cl3 size-205">
                                    Color
                                </span>

                                <span class="stext-102 cl6 size-206">
                                    Black, Blue, Grey, Green, Red, White
                                </span>
                            </li>

                            <li class="flex-w flex-t p-b-7">
                                <span class="stext-102 cl3 size-205">
                                    Size
                                </span>

                                <span class="stext-102 cl6 size-206">
                                    XL, L, M, S
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- - -->
            <div class="tab-pane fade" id="reviews" role="tabpanel">
                <div class="row">
                    <div class="col-sm-10 col-md-8 col-lg-6 m-lr-auto">
                        <div class="p-b-30 m-lr-15-sm">
                            <!-- Review -->
                            <div class="flex-w flex-t p-b-68">
                                <div class="wrap-pic-s size-109 bor0 of-hidden m-r-18 m-t-6">
                                    <img src="images/avatar-01.jpg" alt="AVATAR">
                                </div>

                                <div class="size-207">
                                    <div class="flex-w flex-sb-m p-b-17">
                                        <span class="mtext-107 cl2 p-r-20">
                                            Ariana Grande
                                        </span>

                                        <span class="fs-18 cl11">
                                            <i class="zmdi zmdi-star"></i>
                                            <i class="zmdi zmdi-star"></i>
                                            <i class="zmdi zmdi-star"></i>
                                            <i class="zmdi zmdi-star"></i>
                                            <i class="zmdi zmdi-star-half"></i>
                                        </span>
                                    </div>

                                    <p class="stext-102 cl6">
                                        Quod autem in homine praestantissimum atque optimum est, id deseruit. Apud ceteros autem philosophos
                                    </p>
                                </div>
                            </div>

                            <!-- Add review -->
                            <form class="w-full">
                                <h5 class="mtext-108 cl2 p-b-7">
                                    Add a review
                                </h5>

                                <p class="stext-102 cl6">
                                    Your email address will not be published. Required fields are marked *
                                </p>

                                <div class="flex-w flex-m p-t-50 p-b-23">
                                    <span class="stext-102 cl3 m-r-16">
                                        Your Rating
                                    </span>

                                    <span class="wrap-rating fs-18 cl11 pointer">
                                        <i class="item-rating pointer zmdi zmdi-star-outline"></i>
                                        <i class="item-rating pointer zmdi zmdi-star-outline"></i>
                                        <i class="item-rating pointer zmdi zmdi-star-outline"></i>
                                        <i class="item-rating pointer zmdi zmdi-star-outline"></i>
                                        <i class="item-rating pointer zmdi zmdi-star-outline"></i>
                                        <input class="dis-none" type="number" name="rating">
                                    </span>
                                </div>

                                <div class="row p-b-25">
                                    <div class="col-12 p-b-5">
                                        <label class="stext-102 cl3" for="review">Your review</label>
                                        <textarea class="size-110 bor8 stext-102 cl2 p-lr-20 p-tb-10" id="review" name="review"></textarea>
                                    </div>

                                    <div class="col-sm-6 p-b-5">
                                        <label class="stext-102 cl3" for="name">Name</label>
                                        <input class="size-111 bor8 stext-102 cl2 p-lr-20" id="name" type="text" name="name">
                                    </div>

                                    <div class="col-sm-6 p-b-5">
                                        <label class="stext-102 cl3" for="email">Email</label>
                                        <input class="size-111 bor8 stext-102 cl2 p-lr-20" id="email" type="text" name="email">
                                    </div>
                                </div>

                                <button class="flex-c-m stext-101 cl0 size-112 bg7 bor11 hov-btn3 p-lr-15 trans-04 m-b-10">
                                    Submit
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>