﻿<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button>
    <h3 class="modal-title" id="modal-title">{{addTitle}}</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="portlet-body form">
        <form name="addform" class="form-horizontal  form-bordered" method="post" ng-validate="validationOptions">
            <div class="form-body">
                <div class="form-group">
                    <label class="control-label col-md-2">Email <span class="required"> *</span></label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" ng-model="model.Email" name="Email" />
                    </div>
                    <label class="control-label col-md-2">Xác nhận Email</label>
                    <div class="col-md-4">
                        <select class="form-control" ng-model="model.EmailConfirmed"
                                ng-options="ct.Value as ct.Name for ct in EmailConfirmedData "></select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Số điện thoại </label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" ng-model="model.PhoneNumber" name="PhoneNumber" />
                    </div>
                    <label class="control-label col-md-2">Họ tên</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" ng-model="model.HoTen" name="HoTen" />
                    </div>
                    <!--<label class="control-label col-md-2">Nhóm tài khoản </label>
                    <div class="col-md-4">
                        <ui-select ng-model="model.RoleId" class="" style="width: 100%;">
                            <ui-select-match placeholder="Chọn nhóm tài khoản...">{{$select.selected.Name}}</ui-select-match>
                            <ui-select-choices repeat="x.Id as x in listAspNetRoles | filter:$select.search">
                                {{x.Name}}
                            </ui-select-choices>
                        </ui-select>
                    </div>-->
                </div>
                <div class="form-group">

                    <label class="control-label col-md-2">Địa chỉ</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" ng-model="model.DiaChi" name="DiaChi" />
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <a ng-click="submit()" class="btn btn-primary" href="javascript:;">
        <i class="fa fa-floppy-o"></i> Lưu
    </a>
    <a data-dismiss="modal" class="btn btn-default" href="javascript:;" ng-click="cancel()">
        <i class="fa fa-times"></i> Đóng
    </a>
</div>
