﻿<div class="modal-header has-border" modal-drag>
    <h5 class="modal-title es-modal-title"> {{Title}}</h5>
    <button type="button" class="close custom-modal__close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
        <span aria-hidden="true" class="ua-icon-modal-close"></span>
    </button>
</div>
<div class="modal-body">
    <form name="editform" class="form-horizontal  form-bordered" method="post" ng-validate="validationOptions">
        <div class="row">
            <div class="form-group col-md-5">
                <label for="input-type">Tên thông báo<span class="color-danger"> *</span></label>
                <input type="text" ng-model="model.Title" name="Title" class="form-control">
            </div>

            <div class="form-group col-md-2">
                <label for="input-type">Loại thông báo</label>
                <div class="input-group input-group-icon icon-right input-group-sm">
                    <select ng-smselect se-data="IsPublicCombo" se-change="ChangeIsPublic(data)" ng-model="model.IsPublic" se-init="ColumnConfig" placeholder="Chọn loại thông báo"></select>
                </div>
            </div>
            <div class="form-group col-md-5" ng-show="model.IsPublic =='3'">
                <label for="input-type">Phòng ban<span class="color-danger"> *</span></label>
                <div class="input-group input-group-icon icon-right input-group-sm">
                    <select ng-smselect se-data="ListDepartments" se-change="ChangeDepartments(data)" se-init="ColumnConfig" ng-model="model.DepartmentGuid" placeholder="Chọn phòng ban"></select>
                </div>
            </div>
            <div class="form-group col-md-5" ng-show="model.IsPublic =='2'">
                <label for="inputState" title=""> Nhân viên<span class="color-danger"> *</span></label>
                <div class="input-group input-group-icon icon-right input-group-sm">
                    <select multiple ng-smselect se-data="ListEmpAnnoucement" se-change="changeEmpAnnoucement(data)" ng-model="ListReplate.EmployeeGuid" se-init="ColumnMultiConfig" placeholder="Chọn nhân viên"></select>
                </div>
            </div>
            <div class="form-group col-md-12">
                <label for="textarea">Nội dung</label>
                <textarea ui-tinymce="tinymceOptions" type="text" ng-model="model.Contents" name="Contents" class="form-control"></textarea>
            </div>
            <div class="form-group col-md-6">
                <label for="textarea">Mô tả</label>
                <textarea type="text" ng-model="model.Description" name="Description" class="form-control" id="textarea" rows="4"></textarea>
            </div>
            <div class="form-group col-md-6">
                <label for="textarea">Liên kết</label>
                <textarea type="text" ng-model="model.ExternalUrl" name="ExternalUrl" class="form-control" id="textarea" rows="4"></textarea>
            </div>
            <div class="form-group col-md-2">
                <label for="input-type">Ngày bắt đầu<span class="color-danger"> *</span></label>
                <input ng-model="model.StartDate" name="StartDate" datetime-picker date-format="DD/MM/YYYY" class="form-control" date-only />
            </div>
            <div class="form-group col-md-2" ng-show="model.IsPublic =='2'">
                <label for="input-type">Ngày nhắc hạn</label>
                <input ng-model="model.DueDate" name="DueDate" datetime-picker date-format="DD/MM/YYYY" class="form-control" date-only />
            </div>
            <div class="form-group col-md-2">
                <label for="input-type">Ngày kết thúc</label>
                <input ng-model="model.EndDate" name="" datetime-picker date-format="DD/MM/YYYY" class="form-control" date-only />
            </div>
            <div class="form-group col-md-3">
                <label for="input-type">Mức độ ưu tiên</label>
                <div class="input-group input-group-icon icon-right input-group-sm">
                    <select ng-smselect se-data="LiIspriority" se-change="ChangeIspriority(data)" ng-model="model.Ispriority" se-init="IsActiveConfig"></select>
                </div>
            </div>
            <div class="form-group col-md-3">
                <label for="input-type">Trạng thái</label>
                <div class="input-group input-group-icon icon-right input-group-sm">
                    <select ng-smselect se-data="StatusCombo" se-change="ChangeStatus(data)" ng-model="model.Status" se-init="StatusConfig"></select>
                </div>
            </div>
            <div class="col-lg-12" ng-show="jdataattach.length>0">
                <div class="form-group">
                    <div class="">
                        <div class="table-scrollable ">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th style="width:5%">STT</th>
                                        <th style="width:5%">Icon</th>
                                        <th style="width:20%">Tiêu đề</th>
                                        <th style="">Tên tệp</th>
                                        <th style="width:12%">Người tạo</th>
                                        <th style="width:6%">Ngày tạo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="x in jdataattach">
                                        <td style="width:5%;text-align:center">
                                            {{$index+1}}
                                        </td>
                                        <td style="width:5%;text-align:center" ng-if="x.FileName.includes('.txt')"><div class="es-attachment-icon-textfile" /></td>
                                        <td style="width:5%;text-align:center" ng-if="x.FileName.includes('.png')||x.FileName.includes('.jpg')"><div class="es-attachment-icon-imagefile" /></td>
                                        <td style="width:5%;text-align:center" ng-if="x.FileName.includes('.pptx')"><div class="es-attachment-icon-powerpoint" /></td>
                                        <td style="width:5%;text-align:center" ng-if="x.FileName.includes('.xlsx')||x.FileName.includes('.xls')"><div class="es-attachment-icon-excel" /></td>
                                        <td style="width:5%;text-align:center" ng-if="x.FileName.includes('.doc')||x.FileName.includes('.docx')"><div class="es-attachment-icon-word" /></td>
                                        <td style="width:5%;text-align:center" ng-if="x.FileName.includes('.pdf')"><div class="es-attachment-icon-pdf" /></td>
                                        <td style="width:5%;text-align:center" ng-if="!x.FileName.includes('.txt') && !x.FileName.includes('.png') && !x.FileName.includes('.jpg')&& !x.FileName.includes('.pptx')&& !x.FileName.includes('.xlsx')&& !x.FileName.includes('.doc')&& !x.FileName.includes('.pdf')"><div class="es-attachment-icon-default" /></td>
                                        <td> {{x.Title}}</td>
                                        <td>
                                            <a target="_blank" href="/Announcements/Download?Id={{x.AttachmentGuid}}"> {{x.FileName}} </a>
                                            <a href="javascript:void(0)" ng-click="remoteAttach(x,$index)" class="btn btn-sm"><i style="color:red;" class="mdi mdi-close"></i> </a>
                                        </td>
                                        <td> {{x.CreatedBy.split('#')[1]}}</td>
                                        <td> {{x.CreatedDate | fdate:'DD/MM/YYYY'}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12" ng-show="uploader.queue.length>0">
                <div class="form-group">
                    <div class="">
                        <input type="file" style="font-size: 0px;Display: none" nv-file-select="" name="file[]" uploader="uploader" multiple id="attachment" />
                        <div class="table-scrollable">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th style="width:5%">STT</th>
                                        <th style="width:5%">Icon</th>
                                        <th style="width:20%">Tiêu đề</th>
                                        <th style="">Tên tệp</th>
                                        <th style="width:15%">Kích thước</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in uploader.queue">
                                        <td style="width:5%;text-align:center">{{$index+1}}</td>
                                        <td style="width:5%;text-align:center" ng-if="item.file.name.includes('.txt')"><div class="es-attachment-icon-textfile" /></td>
                                        <td style="width:5%;text-align:center" ng-if="item.file.name.includes('.png')||item.file.name.includes('.jpg')"><div class="es-attachment-icon-imagefile" /></td>
                                        <td style="width:5%;text-align:center" ng-if="item.file.name.includes('.pptx')"><div class="es-attachment-icon-powerpoint" /></td>
                                        <td style="width:5%;text-align:center" ng-if="item.file.name.includes('.xlsx')||item.file.name.includes('.xls')"><div class="es-attachment-icon-excel" /></td>
                                        <td style="width:5%;text-align:center" ng-if="item.file.name.includes('.doc')||item.file.name.includes('.docx')"><div class="es-attachment-icon-word" /></td>
                                        <td style="width:5%;text-align:center" ng-if="item.file.name.includes('.pdf')"><div class="es-attachment-icon-pdf" /></td>
                                        <td style="width:5%;text-align:center" ng-if="!item.file.name.includes('.txt') && !item.file.name.includes('.png') && !item.file.name.includes('.jpg')&& !item.file.name.includes('.pptx')&& !item.file.name.includes('.xlsx')&& !item.file.name.includes('.doc')&& !item.file.name.includes('.pdf')"><div class="es-attachment-icon-imagefile"></div></td>
                                        <td> <input type="text" class="form-control" ng-model="item.FileName" ng-init="item.FileName=item.file.name"></td>
                                        <td><strong>{{ item.file.name }}<a href="javascript:void(0)" ng-click="item.remove()" class="btn btn-sm"><i style="color:red;" class="mdi mdi-close"></i> </a></strong></td>
                                        <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer modal-footer--center">
    <div class="row" style="width:100%; height: 30px;">
        <div class="col-lg-6">
        </div>
        <div class="col-lg-6">
            <div class="form-group" style="float:right">
                <button class="btn btn-info icon-left btn-sm mr-3" data-dismiss="modal" type="button" onclick="document.getElementById('attachment').click()">
                    Đính kèm <span class="btn-icon mdi mdi-attachment"></span>
                </button>
                <button class="btn btn-info icon-left btn-sm mr-3" type="button" ng-click="edit()">
                    Lưu <span class="btn-icon mdi mdi-content-save-all"></span>
                </button>
                <button class="btn btn-outline-primary icon-left btn-sm mr-3" type="button" data-dismiss="modal" ng-click="cancel()">
                    Đóng <span class="btn-icon mdi mdi-close"></span>
                </button>
            </div>
        </div>
    </div>
</div>