﻿<style>
    div:not(.dataTables_scrollBody):not(.dataTables_scrollFoot):not(#myht):not(#myhtread):not(#myopen):not(#mybh)::-webkit-scrollbar {
        display: none;
        margin: 0px !important;
    }

    .task-scroll-custom::-webkit-scrollbar {
        display: unset !important;
    }

    .ES-SM .comment-fixbottom {
        position: absolute;
        bottom: 0px;
        z-index: 15;
        background-color: white;
        min-height: unset;
        height: unset;
    }

        .ES-SM .comment-fixbottom .comment-btn-group {
            position: absolute;
            float: right;
            z-index: 20;
            right: 0px;
            height: 73px;
            width: 126px;
            bottom: 0px;
        }

        .ES-SM .comment-fixbottom textarea {
            min-height: unset;
            height: unset;
            display: inline-block;
            width: 100%;
        }

        .ES-SM .comment-fixbottom .comment-btn-send {
            font-size: 29px;
            position: absolute;
            border: unset;
        }

        .ES-SM .comment-fixbottom .comment-btn-att {
            font-size: 29px;
            position: absolute;
            margin-left: 46px;
            border: unset;
        }
</style>
<div class="subnav">
    <div class="subnav__header">
        <div class="subnav__heading">
            <span class="mdi mdi-view-list subnav__heading-icon"></span>Danh sách thông báo
        </div>
        <div class="subnav__header-side">
            <a href="" class="btn btn-info btn-sm icon-left" data-toggle="modal" ng-click="add()" onclick="return false" title="Thêm mới thông báo">
                Thêm mới <span class="btn-icon mdi mdi-file-outline"></span>
            </a>
            <a href="" class="btn btn-info btn-sm icon-left" ng-click="reloadAll()" title="Làm mới dữ liệu">
                Làm mới <span class="btn-icon  mdi mdi-refresh"></span>
            </a>
            <a href="" class="btn btn-danger btn-sm icon-left" ng-click="deleteChecked()" onclick="return false" title="Xóa dữ liệu">
                Xóa <span class="btn-icon mdi mdi-delete-forever"></span>
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="widget widget-tabs bd-widget-overview">
            <div class="widget-tabs__header widget-tabs__header--bordered">
                <div class="widget-tabs__header-meta">
                    <div class="input-group input-group-icon icon-right input-group-sm" style="margin-right:5px">
                        <input class="form-control" ng-model="staticParam.Search" ng-change="reload()" type="search" placeholder="Nhập từ khóa">
                        <span class="input-icon ua-icon-search"></span>
                    </div>
                    <div class="input-group input-group-icon icon-right input-group-sm es_input-group-sm-width" style="margin-right:5px; width:110px !important">
                        <select s-point="30NT" ng-init="initDate" ng-option-date option-change="changeOptionDate(data)"></select>
                    </div>
                    <div class="input-group input-group-icon icon-right input-group-sm es_input-group-sm-width" style="margin-right: 5px; width: 110px !important">
                        <input ng-model="staticParam.StartDate" se-change="StartDateChange(data)" datetime-picker="" date-format="DD/MM/YYYY" placeholder="dd/mm/yyyy" class="form-control ng-pristine ng-valid ng-empty ng-touched" date-only="">
                    </div>
                    <div class="input-group input-group-icon icon-right input-group-sm es_input-group-sm-width" style="margin-right: 5px; width: 110px !important">
                        <input ng-model="staticParam.EndDate" se-change="EndDateChange(data)" datetime-picker="" date-format="DD/MM/YYYY" placeholder="dd/mm/yyyy" class="form-control ng-pristine ng-valid ng-empty ng-touched" date-only="">
                    </div>
                    <div class="input-group input-group-icon icon-right input-group-sm es_input-group-sm-width" style="margin-right:5px; width:150px !important">
                        <select ng-smselect se-data="ListDepartmentsIndex" ng-model="staticParam.DepartmentGuid" se-change="Search()" se-init="EmpConfig"></select>
                    </div>
                    <div class="input-group input-group-icon icon-right input-group-sm es_input-group-sm-width" style="margin-right:5px; width:110px !important">
                        <select ng-smselect se-data="ListIspriority" se-change="IspriorityChange(data)" ng-model="staticParam.Ispriority" se-init="IspriorityConfig"></select>
                    </div>
                    <div class="input-group input-group-icon icon-right input-group-sm es_input-group-sm-width" style="margin-right:5px; width:110px !important">
                        <select ng-smselect se-data="ListStatus" se-change="StatusChange(data)" ng-model="staticParam.Status" se-init="StatusConfig"></select>
                    </div>
                    <div class="input-group input-group-icon icon-right input-group-sm es_input-group-sm-width" style="margin-right:5px; width:110px !important">
                        <select ng-smselect se-data="ListIsPublic" ng-model="staticParam.IsPublic" se-change="IsPublicChange(data)" se-init="IsPublicConfig"></select>
                    </div>
                </div>
            </div>
            <div class="m-datatable es-table-scroll">
                <table class="table table-striped" style="margin-top: 0px !important; width: 100%;"
                       datatable
                       dt-options="dtOptions"
                       dt-columns="dtColumns"
                       dt-instance="dtInstance"
                       id="tblData">
                    <tfoot>
                        <tr>
                            <th style="text-align:center"><b></b></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th style="text-align:right"><b></b></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="ES-SM settings-panel">
    <div class="settings-panel__header" ng-init="ShowTapSetting = 3">
        <span class="settings-panel__close ua-icon-modal-close" ng-click="close()"></span>
        <h5 class="settings-panel__heading">Thông tin xử lý - <b>{{txtComment}}</b></h5>
    </div>
    <div class="settings-panel__body">
        <div class="m-social-profile__tabs">
            <ul class="nav nav-tabs" id="myTab" role="tablist" style="margin-left:20px">
                <li ng-click="ShowTapSetting = 3" class="nav-item m-social-profile__tab-item">
                    <a class="nav-link m-social-profile__tab-link active" id="home-tab" data-toggle="tab" ole="tab" aria-controls="home" aria-selected="true">
                        Nội dung xử lý
                    </a>
                </li>
                <li ng-click="ShowTapSetting = 1" class="nav-item m-social-profile__tab-item" hidden>
                    <a class="nav-link m-social-profile__tab-link " id="profile-tab" data-toggle="tab" role="tab" aria-controls="profile" aria-selected="false">
                        Ý kiến xử lý
                    </a>
                </li>
                <li ng-click="ShowTapSetting = 2" class="nav-item m-social-profile__tab-item" hidden>
                    <a class="nav-link m-social-profile__tab-link " id="home-tab" data-toggle="tab" ole="tab" aria-controls="home" aria-selected="true">
                        Hoạt động
                    </a>
                </li>

            </ul>
            <div class="tab-content task-scroll-custom" id="setting-content-scroll" data-always-visible="1" data-rail-visible1="1" onscroll="angular.element(this).scope().LoadScroll_commnet(this)">
               
                <div ng-show="ShowTapSetting == 3" class="tab-pane fade show active ES-TM" id="social-profile-followers">
                    <div class="m-messenger__messages-body">
                        <div class="m-messenger__messages-body-scrollpane js-scrollable custom-chatbox-setting">
                            <div class="m-messenger__messages-message {{item.Class}}" ng-repeat="item in liComment | reverse">
                                <img ng-src="/Employees/GetPicThumb/{{item.EmployeeGuid}}" alt="" width="34" height="34" class="rounded-circle m-messenger__messages-avatar">
                                <div class="m-messenger__messages-wrap">
                                    <div class="m-messenger__messages-message-text" ng-bind-html="item.Comment"></div>
                                    <span class="m-messenger__messages-date"> {{ConDate(item.CreatedDate, 1)}} {{item.EmployeeName}}</span>
                                    <div class="m-messenger__messages-attachments" style="width:100%" ng-show="item.CommentAttachments !== undefined && item.CommentAttachments !== null && item.CommentAttachments.length > 0">
                                        <a href="{{TableName}}/DownloadfileCommentAttach?Id={{_att.AttachmentGuid}}" class="m-messenger__messages-attachment" ng-repeat="_att in item.CommentAttachments">
                                            <img ng-src="/Announcements/GetPicfile?id={{_att.AttachmentGuid}}" alt="" width="182" height="137">
                                            <div class="m-messenger__messages-attachment-placeholder">
                                                <div class="m-messenger__messages-attachment-name">{{_att.FileName}}</div>
                                                <div class="m-messenger__messages-attachment-desc">{{_att.FileName}}</div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="m-task__comments-input comment-fixbottom" style="margin-left:13px;">
                        <textarea on-enter="insertcomment()" ng-model="model.Comment" class="form-control m-task__comments-textarea js-auto-size ng-pristine ng-valid ng-isolate-scope ng-empty ng-touched" title="Xuống dòng ấn Shift + Enter " placeholder="Nhập ý kiến..." id="message"></textarea>
                        <div class="comment-btn-group comment-btn-group-custom show">
                            <button ng-click="insertcomment()" class="btn btn-outline-info icon-left comment-btn-send">
                                <i class="mdi mdi-share"></i>
                            </button>
                            <button class="btn btn-outline-info icon-left comment-btn-att " data-toggle="dropdown">
                                <i class="mdi mdi-dots-horizontal" onchange="angular.element(this).scope().comment.changeFileComment()"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" title="Đính kèm" onclick="onlickFileComment()">
                                    <i class="mdi mdi-paperclip"></i>&nbsp;Đính kèm
                                </a>
                                <!--<a class="dropdown-item" onclick="onlickFileComment(1)">
                                    <i class="mdi mdi-video"></i>&nbsp;Thêm video
                                </a>-->
                                <a class="dropdown-item" onclick="onlickFileComment(2)">
                                    <i class="mdi mdi-image-filter"></i> &nbsp; Thêm image
                                </a>
                                <input id="file-comment-id" class="item-hidden" type="file" custom-on-change="addNameFile" />
                            </div>
                            <div class="d-flex align-items-center justify-content-between ng-hide" ng-hide="true">
                                <div class="dropdown no-arrow m-task__comments-dropdown">
                                    <a class="dropdown-toggle task-custom-color">
                                        <span class="mdi mdi-attachment"></span> Đính kèm...
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    var element_comment = null;
    $(window).click(function (event) {
        var _el = document.getElementById('reply-comment');
        if (_el != null && _el != undefined) {
            if (event.target !== element_comment && event.target !== _el) {
                _el.classList.remove('reply-comment-show');
            }
        }
       
    });
    $('#reply-comment').click(function (event) {
        event.stopPropagation();
    });
    function loadScrollSetting() {
        var _el = document.getElementById('setting-content-scroll');
        if (_el != null && _el != undefined) {
            var _top = _el.getBoundingClientRect().top;
            $(_el).css('height', screen.height - _top - 150);
        }
    };
    $(window).ready(function () {
        loadScrollSetting();
    })
    $(window).resize(function () {
        loadScrollSetting();
    })
</script>