﻿<div class="modal-header has-border" modal-drag>
    <h5 class="modal-title es-modal-title"> {{Title}}</h5>
    <button type="button" class="close custom-modal__close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
        <span aria-hidden="true" class="ua-icon-modal-close"></span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="form-group col-md-5">
            <label for="input-type">Tên thông báo<span class="color-danger"> *</span></label>
            <div class="textview">{{model.Title}}</div>
        </div>

        <div class="form-group col-md-2">
            <label for="input-type">Loại thông báo</label>
            <div class="textview">{{model.IsPublicText}}</div>
        </div>
        <div class="form-group col-md-5" ng-show="model.IsPublic =='3'">
            <label for="input-type">Phòng ban<span class="color-danger"> *</span></label>
            <div class="textview">{{model.DepartmentName}}</div>
        </div>
        <div class="form-group col-md-5" ng-show="model.IsPublic =='2'">
            <label for="inputState" title=""> Nhân viên<span class="color-danger"> *</span></label>
            <div class="textview">{{ListReplate.EmployeeGuid}}</div>
        </div>
        <div class="form-group col-md-12">
            <label for="textarea">Nội dung</label>
            <textarea ui-tinymce="tinymceOptions" type="text" ng-model="model.Contents" name="Contents" class="form-control" ng-disabled="true"></textarea>
        </div>
        <div class="form-group col-md-6">
            <label for="textarea">Mô tả</label>
            <div class="textview">{{model.Description}}</div>
        </div>
        <div class="form-group col-md-6">
            <label for="textarea">Liên kết</label>
            <div class="textview" style="display: inline-block!important">{{model.ExternalUrl.length>75 ? model.ExternalUrl.substring(0, 75) +'...' : model.ExternalUrl}}</div>
        </div>
        <div class="form-group col-md-2">
            <label for="input-type">Ngày bắt đầu</label>
            <div class="textview">{{model.StartDate | fdate: 'DD/MM/YYYY'}}</div>
        </div>
        <div class="form-group col-md-2" ng-show="model.IsPublic =='2'">
            <label for="input-type">Ngày nhắc hạn</label>
            <div class="textview">{{model.DueDate | fdate: 'DD/MM/YYYY'}}</div>
        </div>
        <div class="form-group col-md-2">
            <label for="input-type">Ngày kết thúc</label>
            <div class="textview">{{model.EndDate | fdate: 'DD/MM/YYYY'}}</div>
        </div>
        <div class="form-group col-md-3">
            <label for="input-type">Mức độ ưu tiên</label>
            <div class="input-group input-group-icon icon-right input-group-sm">
                <div class="textview">{{model.Ispriority}}</div>
            </div>
        </div>
        <div class="form-group col-md-3">
            <label for="input-type">Trạng thái</label>
            <div class="textview">{{model.Status}}</div>
        </div>
        <div class="col-lg-12" ng-show="jdataattach.length>0">
            <div class="form-group">
                <div class="">
                    <div class="table-scrollable ">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th style="width:5%">STT</th>
                                    <th style="width:5%">Icon</th>
                                    <th style="width:20%">Tiêu đề</th>
                                    <th style="">Tên tệp</th>
                                    <th style="width:12%">Người tạo</th>
                                    <th style="width:6%">Ngày tạo</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="x in jdataattach">
                                    <td style="width:5%;text-align:center">
                                        {{$index+1}}
                                    </td>
                                    <td style="width:5%;text-align:center" ng-if="x.FileName.includes('.txt')"><div class="es-attachment-icon-textfile" /></td>
                                    <td style="width:5%;text-align:center" ng-if="x.FileName.includes('.png')||x.FileName.includes('.jpg')"><div class="es-attachment-icon-imagefile" /></td>
                                    <td style="width:5%;text-align:center" ng-if="x.FileName.includes('.pptx')"><div class="es-attachment-icon-powerpoint" /></td>
                                    <td style="width:5%;text-align:center" ng-if="x.FileName.includes('.xlsx')||x.FileName.includes('.xls')"><div class="es-attachment-icon-excel" /></td>
                                    <td style="width:5%;text-align:center" ng-if="x.FileName.includes('.doc')||x.FileName.includes('.docx')"><div class="es-attachment-icon-word" /></td>
                                    <td style="width:5%;text-align:center" ng-if="x.FileName.includes('.pdf')"><div class="es-attachment-icon-pdf" /></td>
                                    <td style="width:5%;text-align:center" ng-if="!x.FileName.includes('.txt') && !x.FileName.includes('.png') && !x.FileName.includes('.jpg')&& !x.FileName.includes('.pptx')&& !x.FileName.includes('.xlsx')&& !x.FileName.includes('.doc')&& !x.FileName.includes('.pdf')"><div class="es-attachment-icon-default" /></td>
                                    <td> {{x.Title}}</td>
                                    <td>
                                        <a target="_blank" href="/Announcements/Download?Id={{x.AttachmentGuid}}"> {{x.FileName}} </a>
                                    </td>
                                    <td> {{x.CreatedBy.split('#')[1]}}</td>
                                    <td> {{x.CreatedDate | fdate:'DD/MM/YYYY'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer modal-footer--center" style="padding-left:0px !important">
    <div class="row" style="width:100%; height: 30px;">
        <div class="col-lg-8" style="padding-left:0px !important">
            <ul class="page-footer__nav">
                <li class="page-footer__nav-item">
                    <a href="#" class="page-footer__nav-link">
                        <span class="mdi mdi-account page-footer__nav-icon" title="Người tạo"></span>
                        {{model.CreatedBy}}
                    </a>
                </li>
                <li class="page-footer__nav-item">
                    <a href="#" class="page-footer__nav-link">
                        <span class="mdi mdi-calendar-plus page-footer__nav-icon" title="Ngày tạo"></span>
                        {{model.CreatedDate | fdate:'DD/MM/YYYY HH:mm'}}
                    </a>
                </li>
                <li class="page-footer__nav-item">
                    <a href="#" class="page-footer__nav-link">
                        <span class="mdi mdi-account-check page-footer__nav-icon" title="Người sửa"></span>
                        {{model.ModifiedBy}}
                    </a>
                </li>
                <li class="page-footer__nav-item">
                    <a href="#" class="page-footer__nav-link">
                        <span class="mdi mdi-calendar-check page-footer__nav-icon" title="Ngày sửa"></span>
                        {{model.ModifiedDate | fdate:'DD/MM/YYYY HH:mm'}}
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-lg-4">
            <div class="form-group" style="float:right">
                <button class="btn btn-outline-primary icon-left btn-sm mr-3" type="button" data-dismiss="modal" ng-click="cancel()">
                    Đóng <span class="btn-icon mdi mdi-close"></span>
                </button>
            </div>
        </div>
    </div>
</div>
