﻿<style>
    .modal-dialog {
        margin-top: 85px !important;
    }
</style>

<!-- Modal1 -->
<div class="">
    <!--<h5 class="modal-title es-modal-title"> {{Title}}</h5>-->
    <button type="button" class="close custom-modal__close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
        <span aria-hidden="true" class="ua-icon-modal-close"></span>
    </button>
</div>

<div class="row">
    <div class="col-md-6 col-lg-7 p-b-30">
        <div class="p-l-25 p-r-30 p-lr-0-lg">
            <div class="wrap-slick3 flex-sb flex-w">
                <div class="wrap-slick3-dots">
                    <ul class="slick3-dots" role="tablist" style="">
                        <li class="slick-active" role="presentation" ng-click="btnView(1)">
                            <img src="{{model.Title1_goc}}" >
                            <div class="slick3-dot-overlay"></div>
                        </li>
                        <li role="presentation" class="" ng-click="btnView(2)">
                            <img src="{{model.Title2_goc}}">
                            <div class="slick3-dot-overlay"></div>
                        </li>
                        <li role="presentation" ng-click="btnView(3)">
                            <img src="{{model.Title3_goc}}">
                            <div class="slick3-dot-overlay"></div>
                        </li>
                    </ul>
                </div>
                <div class="wrap-slick3-arrows flex-sb-m flex-w">
                    <button class="arrow-slick3 prev-slick3 slick-arrow" style="" ng-click="btnBack()">
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                    </button>
                    <button class="arrow-slick3 next-slick3 slick-arrow" style="" ng-click="btnNext()">
                        <i class="fa fa-angle-right" aria-hidden="true"> </i>
                    </button>
                </div>

                <div class="slick3 gallery-lb slick-initialized slick-slider slick-dotted">
                    <div class="slick-list draggable">
                        <div class="slick-track" style="opacity: 1; width: 1539px;">
                            <div class="item-slick3 slick-slide slick-current slick-active" data-thumb="{{model.Title1}}" data-slick-index="4" aria-hidden="true" tabindex="-1" role="tabpanel" id="slick-slide10" aria-describedby="slick-slide-control10" style="width: 513px; position: relative;left: 0px; top: 0px;z-index: 999;opacity: 1;transition: opacity 500ms ease 0s;">
                                <div class="wrap-pic-w pos-relative">
                                    <img src="{{model.Title1}}" alt="IMG-PRODUCT">

                                    <!--<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="" tabindex="-1">
                                        <i class="fa fa-expand"></i>
                                    </a>-->
                                </div>
                            </div>
                            <div class="item-slick3 slick-slide" data-thumb="{{model.Title2}}" data-slick-index="1" aria-hidden="true" tabindex="-1" role="tabpanel" id="slick-slide11" aria-describedby="slick-slide-control11" style="width: 513px; position: relative; left: -513px; top: 0px; z-index: 998; opacity: 0; transition: opacity 500ms ease 0s;">
                                <div class="wrap-pic-w pos-relative">
                                    <img src="{{model.Title2}}" alt="IMG-PRODUCT">

                                    <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="" tabindex="-1">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="item-slick3 slick-slide" data-thumb="{{model.Title3}}" data-slick-index="2" aria-hidden="false" tabindex="0" role="tabpanel" id="slick-slide12" aria-describedby="slick-slide-control12" style="width: 513px; position: relative; left: -1026px; top: 0px; z-index: 997; opacity: 0;">
                                <div class="wrap-pic-w pos-relative">
                                    <img src="{{model.Title3}}" alt="IMG-PRODUCT">

                                    <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="" tabindex="0">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-lg-5 p-b-30">
        <div class="p-r-50 p-t-5 p-lr-0-lg">
            <h4 class="mtext-105 cl2 js-name-detail p-b-14">
                {{model.TenSanPham}}
            </h4>
         
            <div class="block2-txt-child2 col-md-8" style="text-align: left;margin: 0px;padding: 0px">
                <a href="{{LinkDetaill}}" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
                    <span style="font-size:18px">
                        {{addPeriod(model.DonGia)}}
                    </span>  <span style="text-decoration:line-through;color:black" ng-show="model.Giamgia < 0"> {{addPeriod(model.DonGia + model.DonGia*model.Giamgia*-1/100)}}</span>
                    <i class="fa fa-check" aria-hidden="true" ng-show="model.Ischeck"> Còn hàng</i>
                    <i class="fa fa-times" style="color:black" ng-hide="model.Ischeck"> Hết hàng</i>
                </a>
            </div>
            <p class="stext-102 cl3 p-t-23">
               {{model.Description}}
            </p>                
        </div>
    </div>
</div>




