﻿<!--<style>
</style>-->


<!-- Product -->
<!--<section class="bg0 p-t-23 p-b-0">
    <div class="container">
        <div class="flex-w flex-sb-m p-b-52">
            <div class="flex-w flex-l-m filter-tope-group m-tb-10">
                <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" ng-repeat="item in lstGroupSanPham" ng-click="ClickGroup(item)">
                    {{item.TenNhom}}
                </button>              
            </div>

            <div class="flex-w flex-c-m m-tb-10">
                <div class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter" ng-click="Filter()">
                    <i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
                    <i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
                    Lọc
                </div>

                <div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search" ng-click="Search()">
                    <i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
                    <i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
                    Tìm kiếm
                </div>
            </div>-->

            <!-- Search product -->
            <!--<div class="panel-search w-full p-t-10 p-b-15" ng-show="Searchproduct">
                <div class="bor8 dis-flex p-l-15">
                    <button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
                        <i class="zmdi zmdi-search"></i>
                    </button>

                    <input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" name="search-product"
                           placeholder="Tìm kiếm">
                </div>
            </div>-->

            <!-- Filter -->
            <!--<div class="panel-filter w-full p-t-10" ng-show="Filterproduct">
                <div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">
                    <div class="filter-col1 p-r-15 p-b-27">
                        <div class="mtext-102 cl2 p-b-15">
                            Sắp xếp
                        </div>

                        <ul>
                            <li class="p-b-6">
                                <a href="#" class="filter-link stext-106 trans-04 filter-link-active">
                                    Mặc định
                                </a>
                            </li>

                            <li class="p-b-6">
                                <a href="#" class="filter-link stext-106 trans-04">
                                    Mới nhất
                                </a>
                            </li>

                            <li class="p-b-6">
                                <a href="#" class="filter-link stext-106 trans-04">
                                    Giá: Thấp lên cao
                                </a>
                            </li>

                            <li class="p-b-6">
                                <a href="#" class="filter-link stext-106 trans-04">
                                    Giá: Cao xuống thấp
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="filter-col2 p-r-15 p-b-27">
                        <div class="mtext-102 cl2 p-b-15">
                            Giá
                        </div>

                        <ul>
                            <li class="p-b-6">
                                <a href="#" class="filter-link stext-106 trans-04 filter-link-active">
                                    Tất cả
                                </a>
                            </li>

                            <li class="p-b-6">
                                <a href="#" class="filter-link stext-106 trans-04">
                                    $0.00 - $50.00
                                </a>
                            </li>

                            <li class="p-b-6">
                                <a href="#" class="filter-link stext-106 trans-04">
                                    $50.00 - $100.00
                                </a>
                            </li>

                            <li class="p-b-6">
                                <a href="#" class="filter-link stext-106 trans-04">
                                    $100.00 - $150.00
                                </a>
                            </li>

                            <li class="p-b-6">
                                <a href="#" class="filter-link stext-106 trans-04">
                                    $150.00 - $200.00
                                </a>
                            </li>

                            <li class="p-b-6">
                                <a href="#" class="filter-link stext-106 trans-04">
                                    $200.00+
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>

        <div class="row isotope-grid">
            <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women" ng-repeat="item in lstSanpham">-->
                <!-- Block2 -->
                <!--<div class="block2">
                    <div class="block2-pic hov-img0">
                        <img src="/_layout/images/product-01.jpg" alt="IMG-PRODUCT">

                        <a href=""
                           class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04" ng-click="edit(item.RowGuid)">
                            Xem nhanh
                        </a>
                    </div>

                    <div class="block2-txt flex-w flex-t p-t-14">
                        <div class="block2-txt-child1 flex-col-l ">
                            <a href="/Product_Detail/Index?id={{item.RowGuid}}" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                {{item.TenSanPham}}
                            </a>

                        </div>
                        <div class="row col-md-12" style="margin: 10px 0px 0px 0px ;padding: 0px;">
                            <div class="block2-txt-child1 col-md-4 " style="text-align: left;font-weight: bold;margin: 0px;padding: 0px">
                                <div class="block2-txt-child1 flex-col-l ">
                                    <a href="{{LinkDetaill}}" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                        {{addPeriod(item.DonGia)}}
                                    </a>
                                </div>
                            </div>


                            <div class="block2-txt-child2 col-md-8" style="text-align: right;margin: 0px;padding: 0px">
                                <a href="{{LinkDetaill}}" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
                                    <span style="text-decoration:line-through;color:black" ng-show="item.Giamgia < 0"> {{addPeriod(ConvertNumber(item.DonGia) + ConvertNumber(item.DonGia)*ConvertNumber(item.Giamgia)*-1/100)}}</span>
                                    <i class="fa fa-check" aria-hidden="true" ng-show="item.Ischeck"> Còn hàng</i>
                                    <i class="fa fa-times" style="color:black" ng-hide="item.Ischeck"> Hết hàng</i>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


        </div>-->

        <!-- Load more -->
        <!--<div class="flex-c-m flex-w w-full p-t-45">
            <a href="" class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04" ng-click="LoadMore()">
               Xem thêm
            </a>
        </div>
    </div>
</section>-->

