﻿<style>
    #chartdiv4 {
        width: 100%;
        height: 260px;
    }
</style>
<div class="modal-header has-border">
    <h5 class="modal-title es-modal-title"> {{Title}}</h5>
    <button type="button" class="close custom-modal__close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
        <span aria-hidden="true" class="ua-icon-modal-close"></span>
    </button>
</div>
<!--<div class="row">
    <div class="col-lg-12">
        <div class="widget widget-tabs bd-widget-overview">
            <div class="widget-tabs__header widget-tabs__header--bordered">
                <div class="widget-tabs__header-meta">-->
                    <!--<div class="input-group input-group-icon icon-right input-group-sm col-md-2">
                        <select name="ListDepartments" class="ListDepartments" ng-model="model.DepartmentGuid" ng-smselect multiple="multiple" se-data="ListDepartments" se-init="DepartmentsConfig" se-change="ChangeDepartments(data)"></select>
                    </div>-->
                    <!--<div class="input-group input-group-icon icon-right input-group-sm" style="margin-right:5px;width:80px" ng-show="model.Status ==0">
                        <select ng-smselect se-data="Month" se-change="ChangeMonth(data)" ng-model="model.Month"></select>
                    </div>
                    <div class="input-group input-group-icon icon-right input-group-sm" style="margin-right:5px;width:80px">
                        <select ng-smselect se-data="Year" se-change="ChangeYear(data)" ng-model="model.Year"></select>
                    </div>

                </div>-->

            <!--</div>-->
            <div class="m-datatable es-table-scroll">
                <div class="">
                    <div class="">
                        <div id="chartdiv4"></div>
                    </div>
                </div>
            </div>
        <!--</div>
    </div>
</div>-->
