﻿<div class="modal-header has-border">
    <h5 class="modal-title es-modal-title"> {{Title}}</h5>
    <button type="button" class="close custom-modal__close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
        <span aria-hidden="true" class="ua-icon-modal-close"></span>
    </button>
</div>
<div class="modal-body">
    <form name="editform" class="form-horizontal  form-bordered" method="post" ng-validate="validationOptions">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="input-type">Đánh giá kết quả</label>
                        <div class="input-group input-group-icon icon-right input-group-sm">
                            <select ng-smselect se-data="listApproval" se-change="ChangeApproval(data)" se-init="ColumnConfig" ng-model="model.Approval" placeholder="Chọn đánh giá"></select>
                        </div>
                    </div>
                  
                </div>
            </div>
           
        </div>
    </form>
    <div class="modal-footer modal-footer--center">
        <div class="row" style="width:100%; height: 30px;">
            <div class="col-lg-6">
            </div>
            <div class="col-lg-6">
                <div class="form-group" style="float:right">
                    <button class="btn btn-info icon-left btn-sm mr-3" type="button" ng-click="submit()">
                        Lưu <span class="btn-icon mdi mdi-content-save-all"></span>
                    </button>
                    <button class="btn btn-outline-primary icon-left btn-sm mr-3" type="button" data-dismiss="modal" ng-click="cancel()">
                        Đóng <span class="btn-icon mdi mdi-close"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>