﻿<style>
    div:not(.dataTables_scrollBody):not(.dataTables_scrollFoot):not(#myht):not(#myhtread):not(#myopen):not(#mybh)::-webkit-scrollbar {
        display: none;
        margin: 0px !important;
    }

    #chartdiv2 {
        width: 100%;
        height: 150px;
    }

    .Hienthi {
        display: none;
    }
</style>

<div class="subnav">
    <div class="subnav__header">
        <div class="subnav__heading">
            <span class="mdi mdi-view-list subnav__heading-icon"></span> Quản lý danh sách xếp hạng
        </div>
        <div class="subnav__header-side">
            <a href="" class="btn btn-info btn-sm icon-left" data-toggle="modal" ng-click="ClickTab()" onclick="return false" title="Biểu đồ">
                Biểu đồ <span class="btn-icon mdi mdi-plus-box"></span>
            </a>
            <a href="" class="btn btn-info btn-sm icon-left" data-toggle="modal" ng-click="reloadData()" title="Làm mới">
                Làm mới <span class="btn-icon mdi mdi-refresh"></span>
            </a>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="widget widget-tabs bd-widget-overview">
            <div class="widget-tabs__header widget-tabs__header--bordered">
                <div class="widget-tabs__header-meta">
                    <div class="input-group input-group-icon icon-right input-group-sm" style="margin-right:5px">
                        <input class="form-control" ng-model="staticParam.Search" ng-change="reloadData()" type="search" placeholder="Nhập từ khóa">
                        <span class="input-icon ua-icon-search"></span>
                    </div>
                    <div class="input-group input-group-icon icon-right input-group-sm es_input-group-sm-width" style="margin-right:5px; width:120px !important">
                        <select s-point="30NT" ng-init="initDate" ng-option-date option-change="changeOptionDate(data)"></select>
                    </div>
                    <div class="input-group input-group-icon icon-right input-group-sm es_input-group-sm-width" style="margin-right: 5px; width: 110px !important">
                        <input ng-model="staticParam.StartDate" se-change="StartDateChange(data)" datetime-picker="" date-format="DD/MM/YYYY" placeholder="dd/mm/yyyy" class="form-control ng-pristine ng-valid ng-empty ng-touched" date-only="">
                    </div>
                    <div class="input-group input-group-icon icon-right input-group-sm es_input-group-sm-width" style="margin-right: 5px; width: 110px !important">
                        <input ng-model="staticParam.EndDate" se-change="EndDateChange(data)" datetime-picker="" date-format="DD/MM/YYYY" placeholder="dd/mm/yyyy" class="form-control ng-pristine ng-valid ng-empty ng-touched" date-only="">
                    </div>
                    <div class="input-group input-group-icon icon-right input-group-sm es_input-group-sm-width" style="margin-right:5px">
                        <select ng-smselect se-data="dStatusProcess" se-change="ChangeStatusCompleted(data)" ng-model="staticParam.StatusCompleted" placeholder="Chọn trạng thái" se-init="ColumnConfig"></select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="m-datatable es-table-scroll">
                        <table class="table table-striped" style="margin-top: 0px !important; width: 100%;"
                               datatable
                               dt-options="dtOptions"
                               dt-columns="dtColumns"
                               dt-instance="dtInstance"
                               id="tblData">
                            <tfoot>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th style="text-align:right"><b></b></th>
                                    <th></th>
                                    <th style="text-align:right"><b></b></th>
                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="col-lg-12">
                        <div id="chartdiv2"></div>
                </div>
            </div>
        </div>
    </div>
</div>

