﻿<style>
    .kanban-pick-color {
        padding: 0px 0px 0px 0px;
        color: #FFF;
        width: 100%;
    }

        .kanban-pick-color span, .kanban-pick-color input {
            display: inline-block;
        }

        .kanban-pick-color span {
            float: left;
            padding: 3px 0px 0px 30px;
        }

        .kanban-pick-color input {
            float: right;
        }
</style>
<div class="modal-header has-border">
    <h5 class="modal-title es-modal-title"> {{Title}}</h5>
    <button type="button" class="close custom-modal__close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
        <span aria-hidden="true" class="ua-icon-modal-close"></span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-lg-12">
            <form name="openform" class="form-horizontal  form-bordered" method="post" ng-validate="validationOptions">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputState">Tên nhãn<span class="required"> *</span></label>
                                <div class="textview">{{model.LableName}}</div>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="inputState">Thứ tự</label>
                                <div class="textview">{{model.OrderId}}</div>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="inputState">Màu nhãn</label>
                                <div class="form-control">
                                    <div class="kanban-pick-color" style="background-color: {{model.Class}};" ng-init="model.Class='#b09611'">
                                        <span>Text Mẫu</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="textarea">Mô tả</label>
                                <div class="textview">{{model.Description}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal-footer modal-footer--center">
    <div class="row" style="width:100%; height: 30px;">
        <div class="col-lg-8">
            <ul class="page-footer__nav">
                <li class="page-footer__nav-item">
                    <a href="#" class="page-footer__nav-link">
                        <span class="mdi mdi-account page-footer__nav-icon" title="Người tạo"></span>
                        {{model.CreatedBy}}
                    </a>
                </li>
                <li class="page-footer__nav-item">
                    <a href="#" class="page-footer__nav-link">
                        <span class="mdi mdi-calendar-plus page-footer__nav-icon" title="Ngày tạo"></span>
                        {{model.CreatedDate | fdate:'DD/MM/YYYY HH:mm'}}
                    </a>
                </li>
                <li class="page-footer__nav-item">
                    <a href="#" class="page-footer__nav-link">
                        <span class="mdi mdi-account-check page-footer__nav-icon" title="Người sửa"></span>
                        {{model.ModifiedBy}}
                    </a>
                </li>
                <li class="page-footer__nav-item">
                    <a href="#" class="page-footer__nav-link">
                        <span class="mdi mdi-calendar-check page-footer__nav-icon" title="Ngày sửa"></span>
                        {{model.ModifiedDate | fdate:'DD/MM/YYYY HH:mm'}}
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-lg-4">
            <div class="form-group" style="float:right">
                <button class="btn btn-outline-primary icon-left btn-sm mr-3" type="button" data-dismiss="modal" ng-click="cancel()">
                    Đóng <span class="btn-icon mdi mdi-close"></span>
                </button>
            </div>
        </div>
    </div>
</div>
