﻿<style>
    .kanban-pick-color {
        padding: 0px 0px 0px 0px;
        color: #FFF;
        width: 100%;
    }

        .kanban-pick-color span, .kanban-pick-color input {
            display: inline-block;
        }

        .kanban-pick-color span {
            float: left;
            padding: 3px 0px 0px 30px;
        }

        .kanban-pick-color input {
            float: right;
        }
</style>
<div class="modal-header has-border">
    <h5 class="modal-title es-modal-title"> {{Title}}</h5>
    <button type="button" class="close custom-modal__close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
        <span aria-hidden="true" class="ua-icon-modal-close"></span>
    </button>
</div>
<div class="modal-body">
    <form name="editform" class="form-horizontal  form-bordered" method="post" ng-validate="validationOptions">
        <div class="row">
            <div class="col-lg-6">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="inputState">Tên nhãn<span class="color-danger"> *</span></label>
                        <input type="text" ng-model="model.LableName" name="LableName" class="form-control">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputState">Thứ tự</label>
                        <input type="number" ng-model="model.OrderId" name="OrderId" class="form-control" ng-change="OnlyABS(model)">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputState">Màu nhãn</label>
                        <div class="form-control">
                            <div class="kanban-pick-color" style="background-color: {{model.Class}};" ng-init="model.Class='#b09611'">
                                <span>TEXT MẪU</span>
                                <input type="color" title="Chọn màu" ng-model="model.Class" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="textarea">Mô tả</label>
                    <textarea type="text" ng-model="model.Description" name="Description" class="form-control" id="textarea" rows="4"></textarea>
                </div>
            </div>
        </div>
    </form>
    <div class="modal-footer modal-footer--center">
        <div class="row" style="width:100%; height: 30px;">
            <div class="col-lg-6">
            </div>
            <div class="col-lg-6">
                <div class="form-group" style="float:right">
                    <button class="btn btn-info icon-left btn-sm mr-3" type="button" ng-click="submit()">
                        Lưu <span class="btn-icon mdi mdi-content-save-all"></span>
                    </button>
                    <button class="btn btn-outline-primary icon-left btn-sm mr-3" type="button" data-dismiss="modal" ng-click="cancel()">
                        Đóng <span class="btn-icon mdi mdi-close"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>