﻿<div class="subnav">
    <div class="subnav__header">
        <div class="subnav__heading">
            <span class="mdi mdi-view-list subnav__heading-icon"></span> Quản lý nhãn công việc
        </div>
        <div class="subnav__header-side">
            <a href="javascript:;" class="btn btn-info btn-sm icon-left" data-toggle="modal" ng-click="add()" onclick="return false" title="Thêm mới">
                Thêm mới <span class="btn-icon mdi mdi-plus-box"></span>
            </a>
            <a href="javascript:;" class="btn btn-info btn-sm icon-left" data-toggle="modal" ng-click="reloadAll()" onclick="return false" title="Làm mới">
                Làm mới <span class="btn-icon mdi mdi-refresh"></span>
            </a>
            <a href="javascript:;" class="btn btn-danger btn-sm icon-left" ng-click="deleteChecked()" onclick="return false" title="Xóa dữ liệu">
                Xóa <span class="btn-icon mdi mdi-delete-forever"></span>
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="widget widget-tabs bd-widget-overview">
            <div class="widget-tabs__header widget-tabs__header--bordered">
                <div class="widget-tabs__header-meta">
                    <div class="input-group input-group-icon icon-right input-group-sm" style="margin-right:5px">
                        <input class="form-control" ng-model="staticParam.Search" ng-change="reload()" type="search" placeholder="Nhập từ khóa">
                        <span class="input-icon ua-icon-search"></span>
                    </div>
                </div>
            </div>
            <div class="m-datatable es-table-scroll">
                <table class="table table-striped" style="margin-top: 0px !important; width: 100%;"
                       datatable
                       dt-options="dtOptions"
                       dt-columns="dtColumns"
                       dt-instance="dtInstance"
                       id="tblData">
                    <tfoot>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th style="text-align:right"><b></b></th>
                            <th></th>

                        </tr>
                    </tfoot>
                </table>
                <div class="m-datatable">
                    <ul class="nav nav-tabs tabs-alpha__nav-tabs" style="border-bottom:none">
                        <li class="nav-item tabs-alpha__item">
                            <a class="nav-link tabs-alpha__link active" data-toggle="tab" href="/Sale/Orders/Index/#tabs-alpha-HHDV">
                                Danh sách hợp đồng
                            </a>
                        </li>

                    </ul>
                    <div class="tab-content tabs-alpha__tab-content">
                        <div class="tab-pane active" id="tabs-alpha-HHDV" role="tabpanel" aria-expanded="true">
                            <div class="row">

                                <div class="col-lg-12 m-datatable es-table-scroll">
                                    <table class="table table-striped " style="margin-top: 0px !important; width: 100%;"
                                           datatable
                                           dt-options="dtOptions_hhdv"
                                           dt-columns="dtColumns_hhdv"
                                           dt-instance="dtInstance_hhdv"
                                           id="tblData_hhdv">

                                        <tfoot>
                                            <tr>
                                                <th></th>
                                                <th style="text-align:center"></th>
                                                <th></th>
                                                <th></th>
                                                <th style="text-align:center"></th>
                                                <th style="text-align:right"></th>
                                                <th style="text-align:right"></th>
                                                <th style="text-align:center"></th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>
</div>