﻿
@{
    ViewData["Title"] = "Quản lý danh mục công việc";
    Layout = "~/Areas/HR/Views/SharedAdmin/_Layout.cshtml";

}
<div class="page-content" id="contentMain" ng-controller="Ctrl_CategoryOfTasks">
    <div class="container-fluid m-mail">
        <div style="min-height:100px" ng-view></div>
    </div>
    <script src="~/views/Sale/CategoryOfTasks/controller.js" type="text/javascript"></script>
</div>


