﻿<style>
    .jexcel tbody {
        display: block !important;
        width: max-content !important;
    }

    td.jexcel_label {
        width: 30px !important;
    }
</style>
<div class="modal-header has-border">
    <h5 class="modal-title es-modal-title">Sửa khách hàng</h5>
    <button type="button" class="close custom-modal__close" ng-click="cancel()">
        <span aria-hidden="true" class="ua-icon-modal-close"></span>
    </button>
</div>
<div class="modal-body" id="modaladd">
    <form class="main-container" name="addform" ng-validate="validationOptions">
        <div class="row">
            <div class="main-container tabs-alpha">
                <ul class="nav nav-tabs tabs-alpha__nav-tabs">
                    <li class="nav-item tabs-alpha__item">
                        <a class="nav-link tabs-alpha__link active show" data-toggle="tab" id="tab-1" ng-click="ClickTab(1)">
                            Thông tin chung
                        </a>
                    </li>
                   
                    <li class="nav-item tabs-alpha__item">
                        <a class="nav-link tabs-alpha__link" data-toggle="tab" id="tab-11" ng-click="ClickTab(11)">
                            Đính kèm
                        </a>
                    </li>
                   
                </ul>
                <div class="tab-content tabs-alpha__tab-content" style="height:auto !important">
                    <div class="tab-pane active show" id="tabs-1" role="tabpanel" style="padding-top: 10px;">
                        <div class="" id="">
                            <div class="row" style="margin-right: 30px;">
                                <div class="col-lg-11" style="border:1px solid #dedcdc;margin:10px 10px 10px 10px">
                                    <h4 class="es-group-lable-order">Thông tin chung</h4>
                                    <div class="row" style="margin-top:10px;">
                                        <div class="col-lg-2">
                                            <div class="form-group ">
                                                <div class="custom-control custom-radio">
                                                    <input type="checkbox" class="custom-control-input" id="ch2" ng-model="model.IsProvider" ng-change="ChangeIsProvider(model.IsProvider)">
                                                    <label class="custom-control-label" for="ch2">Là nhà cung cấp</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="form-group ">
                                                <div class="custom-control custom-radio">
                                                    <input type="radio" class="custom-control-input" name="IsBussiness1" id="IsBussiness1" ng-model="model.IsBussiness" value="1">
                                                    <label class="custom-control-label" for="IsBussiness1">Khách hàng doanh nghiệp</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="form-group ">
                                                <div class="custom-control custom-radio ">
                                                    <input type="radio" class="custom-control-input" name="IsBussiness0" id="IsBussiness0" ng-model="model.IsBussiness" value="0">
                                                    <label class="custom-control-label" for="IsBussiness0">Khách hàng cá nhân</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="form-group ">
                                                <div class="custom-control custom-radio">
                                                    <input type="radio" class="custom-control-input" name="IsProvince0" id="IsProvince0" ng-model="model.IsProvince" value="0">
                                                    <label class="custom-control-label" for="IsProvince0">Trong nước</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="form-group ">
                                                <div class="custom-control custom-radio ">
                                                    <input type="radio" class="custom-control-input" name="IsProvince1" id="IsProvince1" ng-model="model.IsProvince" value="1">
                                                    <label class="custom-control-label" for="IsProvince1">Ngoài nước</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <div class="form-group ">
                                                <label for="settings-form-fullname">Mã khách hàng <span class="color-danger">*</span></label>
                                                <input type="text" class="form-control" ng-model="model.CustomerId" name="CustomerId" title="Mã khách hàng" disabled>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Tên khách hàng<span class="color-danger">*</span></label>
                                                <input type="text" class="form-control" ng-model="model.CustomerName" name="CustomerName" title="Nhập tên khách hàng">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Tên khách hàng(đơn vị xuất hóa đơn)</label>
                                                <input type="text" class="form-control" ng-model="model.SortTitle" name="SortTitle" title="Nhập tên viết khách hàng">
                                            </div>
                                        </div>

                                        <div class="col-lg-2">
                                            <div class="form-group">
                                                <label for="inputState">Nhóm khách hàng</label>
                                                <select ng-smselect se-data="ListCustomerGroup" se-change="CustomerGroupChange(data)" placeholder="Chọn nhóm khách hàng..." ng-model="model.PolicyGroupGuid" se-init="ColumnConfig"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-2" ng-show="model.IsBussiness == 0">
                                            <label for="input-type">Số CMND</label>
                                            <input type="text" class="form-control" ng-model="model.Idnumber" name="Idnumber" title="Nhập số CMND/ Số ĐKKD">
                                        </div>
                                        <div class="form-group col-md-1">
                                            <label for="input-type">Ngày cấp</label>
                                            <input ng-model="model.IssueIddate" name="IssueIddate" datetime-picker date-format="DD/MM/YYYY" class="form-control" date-only title="Nhập ngày cấp" />
                                        </div>
                                        <div class="form-group col-md-1">
                                            <label for="input-type" ng-show="model.IsBussiness == 1">Ngày lập</label><label for="input-type" ng-show="model.IsBussiness == 0">Ngày sinh</label>
                                            <input ng-model="model.BirthDate" name="BirthDate" datetime-picker date-format="DD/MM/YYYY" class="form-control" date-only title="Nhập ngày sinh/ ngày thành lập" />
                                        </div>
                                        <div class="form-group col-md-{{model.IsBussiness == 1?'6':'4'}}">
                                            <label for="input-type">Nơi cấp</label>
                                            <input type="text" class="form-control" ng-model="model.IssueIdby" name="IssueIdby" title="Nhập nơi cấp">
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="input-type">Ngày được nợ</label>
                                            <input type="text" class="form-control" ng-model="model.DebtDay" name="Idnumber" title="Nhập ngày được nợ">
                                        </div>
                                        <div class="form-group col-md-2" ng-show="model.IsBussiness == 1">
                                            <label for="input-type">Số ĐKKD<span class="color-danger">*</span></label>
                                            <input type="text" class="form-control" ng-model="model.TaxCode" name="TaxCode1" title="Nhập số CMND/ Mã số thuế">
                                        </div>
                                        <div class="col-lg-2" ng-show="model.IsBussiness == 0">
                                            <div class="form-group">
                                                <label for="settings-form-fullname">Mã số thuế</label>
                                                <input type="text" class="form-control" ng-model="model.TaxCode" name="TaxCode0" title="Nhập mã số thuế">
                                            </div>
                                        </div>
                                        <div class="col-lg-6" ng-show="model.IsBussiness == 1">
                                            <div class="form-group">
                                                <label for="settings-form-email">Địa chỉ xuất hóa đơn<span class="color-danger">*</span></label>
                                                <input type="text" class="form-control" ng-model="model.Address" name="Address1" title="Nhập địa chỉ">
                                            </div>
                                        </div>
                                        <div class="col-lg-6" ng-show="model.IsBussiness == 1">
                                            <div class="form-group">
                                                <label for="settings-form-email">Địa chỉ khách hàng</label>
                                                <input type="text" class="form-control" ng-model="model.PermanentAddress" name="PermanentAddress" title="Địa chỉ khách hàng">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" ng-show="model.IsBussiness == 0">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="settings-form-email">Địa chỉ xuất hóa đơn</label>
                                                <input type="text" class="form-control" ng-model="model.Address" name="Address0" title="Nhập địa chỉ xuất hóa đơn">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="settings-form-email">Địa chỉ thường trú</label>
                                                <input type="text" class="form-control" ng-model="model.PermanentAddress" name="PermanentAddress" title="Nhập Địa chỉ thường trú">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <div class="form-group">
                                                <label for="settings-form-email">Email</label>
                                                <input type="text" class="form-control" ng-model="model.WorkEmail" name="WorkEmail" title="Nhập email">
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="form-group">
                                                <label for="settings-form-email">Địa chỉ Website</label>
                                                <input type="text" class="form-control" ng-model="model.Website" name="Website" title="Nhập địa chỉ website">
                                            </div>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="inputState">Mảng kinh doanh</label>
                                            <select ng-smselect se-data="dType" se-change="ChangeType(data)" ng-model="model.Type" name="Type" se-init="ColumnConfig"></select>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="form-group">
                                                <label for="settings-form-email">Điện thoại cố định</label>
                                                <input type="text" class="form-control" ng-model="model.WorkPhone" name="WorkPhone" title="Nhập số điện thoại cố định">
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="form-group">
                                                <label for="settings-form-email">Di động<span class="color-danger">*</span></label>
                                                <input type="text" class="form-control" ng-model="model.WorkMobile" name="WorkMobile" title="Nhập số di động">
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="form-group">
                                                <label for="settings-form-email">Fax</label>
                                                <input type="text" class="form-control" ng-model="model.WorkFax" name="WorkFax" title="Nhập số fax" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-1" style="border:1px solid #dedcdc;margin:10px -30px 10px 0px">
                                    <h4 class="es-group-lable-order" ng-show="model.IsBussiness == 1">Logo</h4>
                                    <h4 class="es-group-lable-order" ng-show="model.IsBussiness == 0">Ảnh</h4>
                                    <div class="row" style="margin-top:10px;">
                                        <div class="col-md-12" style="overflow-x:hidden;margin-top:10px;">
                                            <img ng-src="{{model.imageLink}}" style="width:100%" id="image" />
                                            <input style="width:180%;Display: none" type="file" id="loadImage" onchange="angular.element(this).scope().newImage()" />
                                            <input type="button" value="Chọn ảnh" style="margin-top: 10px;margin-left: 25px;" onclick="document.getElementById('loadImage').click()" />
                                            <div class="clearfix margin-top-10">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="row" style="margin-right: 20px;">
                                <div class="col-lg-12" style="border:1px solid #dedcdc;margin:10px 10px 10px 10px">
                                    <h4 class="es-group-lable-order">Thông tin khác</h4>
                                    <div class="row" style="margin-top:10px;">
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label for="input-device">Quốc gia</label>
                                                <div class="input-group input-group-icon icon-right input-group-sm">
                                                    <select ng-model="model.CountryId" ng-smselect se-data="ListCurrencies" se-change="ChangeCountry(data)" se-init="CountryConfig" placeholder="Chọn quốc gia"></select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label for="input-device">Vùng miền</label>
                                                <div class="input-group input-group-icon icon-right input-group-sm">
                                                    <select ng-model="model.TerritoryId" ng-smselect se-data="ListTerritories" se-change="ChangeTerritory(data)" se-init="TerritoryConfig" placeholder="Chọn vùng miền" ng-disabled="true"></select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="form-group">
                                                <label for="input-device">Tỉnh/Thành phố</label>
                                                <div class="input-group input-group-icon icon-right input-group-sm">
                                                    <select ng-model="model.ProvinceId" ng-smselect se-data="ListProvince" se-change="ChangeProvinces(data)" se-init="ProvincesConfig" placeholder="Chọn tỉnh thành phố"></select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="form-group">
                                                <label for="input-device">Quận/Huyện</label>
                                                <div class="input-group input-group-icon icon-right input-group-sm">
                                                    <select ng-model="model.DistrictId" ng-smselect se-data="ListDistrict" se-change="ChangeDistricts(data)" se-init="DistrictsConfig" placeholder="Chọn quận huyện"></select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="form-group">
                                                <label for="input-device">Phường/Xã</label>
                                                <div class="input-group input-group-icon icon-right input-group-sm">
                                                    <select ng-model="model.Wards" ng-smselect se-data="ListWards" se-change="ChangeWard(data)" se-init="WardConfig" placeholder="Chọn phường xã"></select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label for="settings-my-target">Ngành nghề kinh doanh</label>
                                                <div class="input-group input-group-icon icon-right input-group-sm">
                                                    <select ng-smselect se-data="ActivityFieldsData" se-change="ActivityFieldsChange(data)" se-init="ActivityFieldConfig" placeholder="Chọn lĩnh vực..." ng-model="model.ActivityFieldId"></select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label for="settings-form-email">Đại lý, chi nhánh của</label>
                                                <div class="input-group input-group-icon icon-right input-group-sm">
                                                    <select ng-model="model.ParentId" ng-smselect se-data="ListParent" se-change="ChangeParentId(data)" se-init="ParentIdConfig"></select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="form-group">
                                                <label for="settings-my-target">Loại hình công ty</label>
                                                <div class="input-group input-group-icon icon-right input-group-sm">
                                                    <select ng-smselect se-data="BusinessTypeData" se-change="BusinessTypeChange(data)" se-init="BusinessTypeConfig" placeholder="Chọn loại hình..." ng-model="model.BusinessTypeId"></select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="form-group">
                                                <label for="settings-form-email">Mức xếp hạng</label>
                                                <div class="input-group input-group-icon icon-right input-group-sm">
                                                    <select ng-model="model.RateByLevel" ng-smselect se-data="RateData" se-change="ChangeRateData(data)" ng-init="model.RateByLevel='A'" title="chọn trạng thái"></select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="form-group">
                                                <label for="settings-form-email">Nguồn khách hàng</label>
                                                <div class="input-group input-group-icon icon-right input-group-sm">
                                                    <select ng-model="model.ResourceId" ng-smselect se-data="ListResource" se-change="ChangeResource(data)" se-init="ResourceConfig" title="chọn nguồn khách hàng"></select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label for="settings-form-email">Trạng thái</label>
                                                <div class="input-group input-group-icon icon-right input-group-sm">
                                                    <select ng-model="model.Status" ng-smselect se-data="StatusData" se-change="ChangeStatus(data)" ng-init="model.Status='A'" title="chọn trạng thái"></select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label for="settings-form-email">Điểm xếp hạng</label>
                                                <input type="number" class="form-control" ng-model="model.RateByScore" name="RateByScore">
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="form-group">
                                                <label for="settings-form-email">% đánh giá tiềm năng</label>
                                                <input type="number" class="form-control" ng-model="model.SuccessRate" min="0" max="100" name="SuccessRate">
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="form-group">
                                                <label for="settings-form-email">Đại diện pháp luật</label>
                                                <input type="text" class="form-control" ng-model="model.Representative" name="Representative" title="Nhập tên đại diện pháp luật">
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="form-group">
                                                <label for="settings-my-target">Chức danh</label>
                                                <div class="input-group input-group-icon icon-right input-group-sm">
                                                    <select ng-smselect se-data="JobTitleList" se-change="JobTitleChange(data)" se-init="JobTitleConfig" placeholder="Chọn chức danh" ng-model="model.JobTitleId"></select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" ng-show="model.IsBussiness == 0">
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label for="settings-form-email">Nơi sinh</label>
                                                <input type="text" class="form-control" ng-model="model.BirthPlace" name="BirthPlace" title="Nhập nơi sinh">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label for="settings-form-email">Nơi làm việc</label>
                                                <input type="text" class="form-control" ng-model="model.WorkPlace" name="WorkPlace" title="Nhập email">
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="form-group">
                                                <label for="settings-my-target">Giới tính</label>
                                                <div class="input-group input-group-icon icon-right input-group-sm">
                                                    <select ng-smselect se-data="GenderData" se-change="GenderDataChange(data)" placeholder="Chọn giới tính" ng-model="model.Gender" ng-init="model.Gender='M'"></select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="form-group">
                                                <label for="settings-my-target">Tình trạng hôn nhân</label>
                                                <div class="input-group input-group-icon icon-right input-group-sm">
                                                    <select ng-smselect se-data="MaritalStatusData" se-change="MaritalStatusChange(data)" placeholder="Chọn hôn nhân..." ng-model="model.MaritalStatus" ng-init="model.MaritalStatus='M'"></select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="form-group">
                                                <label for="settings-my-target">Đã có con?</label>

                                                <div class="input-group input-group-icon icon-right input-group-sm">
                                                    <select ng-smselect se-data="HaveChildrenData" se-change="HaveChildrenChange(data)" placeholder="Chọn hôn nhân..." ng-model="model.HaveChildren" ng-init="model.HaveChildren=0"></select>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row" ng-show="model.IsBussiness == 1">
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label for="settings-form-email">Nguồn thông tin</label>
                                                <div class="input-group input-group-icon icon-right input-group-sm">
                                                    <select ng-model="model.SourceType" ng-smselect se-data="InformationSourcesData" se-change="ChangeSourceType(data)" ng-init="model.SourceType=='A'" placeholder="Chọn nguồn tin"></select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3" hidden>
                                            <div class="form-group">
                                                <label for="settings-form-email">Chiến dịch marketing</label>
                                                <div class="input-group input-group-icon icon-right input-group-sm">
                                                    <select ng-model="model.CompaignGuid" ng-smselect se-data="li5" se-change="ChangeCompaign(data)" se-init="CompaignsConfig" ng-init="model.CompaignGuid==null" placeholder="Chọn chiến dịch "></select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label for="settings-my-target">Tổng vốn đầu tư</label>
                                                <input class="form-control" type="text" formatsub="number" ng-model="model.Capital" name="Capital" title="Tổng vốn đầu tư">
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="form-group">
                                                <label for="settings-my-target">Tổng nhân viên</label>
                                                <input class="form-control" type="text" formatsub="number" ng-model="model.StaffNumber" name="StaffNumber" title="Tổng nhân viên">
                                            </div>
                                        </div>
                                        <div class="col-lg-2" hidden>
                                            <div class="form-group">
                                                <label for="settings-my-target">Tên đơn vị xuất hóa đơn</label>
                                                <input class="form-control" type="text" ng-model="model.OrganizationNameInvoices" name="OrganizationNameInvoices" title="Tên đơn vị xuất hóa đơn">
                                            </div>
                                        </div>
                                        <div class="col-lg-3" hidden>
                                            <div class="form-group">
                                                <label for="settings-my-target">Địa chỉ xuất hóa đơn</label>
                                                <input class="form-control" type="text" ng-model="model.AddressInvoices" name="AddressInvoices" title="Địa chỉ xuất hóa đơn">
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="form-group">
                                                <label for="settings-my-target">Ngày bắt đầu mua hàng</label>
                                                <input ng-model="model.StartDatePP" name="StartDatePP" datetime-picker date-format="DD/MM/YYYY" class="form-control" date-only title="Ngày bắt đầu mua hàng" />
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="form-group">
                                                <label for="settings-form-email">Trạng thái theo dõi</label>
                                                <div class="input-group input-group-icon icon-right input-group-sm">
                                                    <select ng-model="model.Monitor" ng-smselect se-data="MonitorData" se-change="ChangeMonitor(data)" se-init="MonitorConfig"></select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2" style="margin-top:10px;">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" name="Method1" id="Method1" ng-model="model.Method" value="0">
                                                <label class="custom-control-label" for="r1">Xuất hóa đơn theo từng đơn hàng</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-2" style="margin-top: 10px">
                                            <div class="custom-control custom-radio ">
                                                <input type="radio" class="custom-control-input" name="Method1" id="Method2" ng-model="model.Method" value="1">
                                                <label class="custom-control-label" for="r2">Xuất hóa đơn cho tất cả đơn hàng</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="form-group">
                                                <label for="settings-form-email">Ghi chú</label>
                                                <input type="text" class="form-control" ng-model="model.Description" name="Description" title="Ghi chú">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" ng-show="model.IsBussiness == 0">-->
                                        <!--<div class="col-lg-3">
                                            <div class="form-group">
                                                <label for="settings-my-target">Tên đơn vị xuất hóa đơn</label>
                                                <input class="form-control" type="text" ng-model="model.OrganizationNameInvoices" name="OrganizationNameInvoices" title="Tên đơn vị xuất hóa đơn">
                                            </div>
                                        </div>
                                        <div class="col-lg-5">
                                            <div class="form-group">
                                                <label for="settings-my-target">Địa chỉ xuất hóa đơn</label>
                                                <input class="form-control" type="text" ng-model="model.AddressInvoices" name="AddressInvoices" title="Địa chỉ xuất hóa đơn">
                                            </div>
                                        </div>-->
                                        <!--<div class="col-lg-2">
                                            <div class="form-group">
                                                <label for="settings-my-target">Ngày bắt đầu mua hàng</label>
                                                <input ng-model="model.StartDatePP" name="StartDatePP" datetime-picker date-format="DD/MM/YYYY" class="form-control" date-only title="Ngày bắt đầu mua hàng" />
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="form-group">
                                                <label for="settings-form-email">Trạng thái theo dõi</label>
                                                <div class="input-group input-group-icon icon-right input-group-sm">
                                                    <select ng-model="model.Monitor" ng-smselect se-data="MonitorData" se-change="ChangeMonitor(data)" ng-init="model.Monitor=='T'" se-init="MonitorConfig"></select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2" style="margin-top:10px;">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" name="Method3" id="Method3" ng-model="model.Method" value="0">
                                                <label class="custom-control-label" for="r3">Xuất hóa đơn theo từng đơn hàng</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-2" style="margin-top: 10px">
                                            <div class="custom-control custom-radio ">
                                                <input type="radio" class="custom-control-input" name="Method4" id="Method4" ng-model="model.Method" value="1">
                                                <label class="custom-control-label" for="r4">Xuất hóa đơn cho tất cả đơn hàng</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="form-group">
                                                <label for="settings-form-email">Ghi chú</label>
                                                <input type="text" class="form-control" ng-model="model.Description" name="Description" title="Ghi chú">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>-->
                        </div>
                    </div>
                  
                    <div class="tab-pane" id="tabs-11" role="tabpanel" style="padding-top: 10px;">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group" ng-show="jdataattach.length>0">
                                    <div class="">
                                        <div class="table-scrollable ">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>

                                                        <th style="width:5%">STT</th>
                                                        <th style="width:5%">Icon</th>
                                                        <th style="width:20%">Tiêu đề</th>
                                                        <th style="">Tên tệp</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="item in jdataattach">
                                                        <td style="width:5%;text-align:center">
                                                            {{$index+1}}
                                                        </td>
                                                        <td style="width:5%;text-align:center;font-size:15px" ng-if="item.FileName.includes('.txt')"><div class="mdi mdi-note-text" /></td>
                                                        <td style="width:5%;text-align:center;font-size:15px" ng-if="item.FileName.includes('.png')||item.FileName.includes('.jpg')"><div class="mdi mdi-file-image" /></td>
                                                        <td style="width:5%;text-align:center;font-size:15px" ng-if="item.FileName.includes('.pptx')"><div class="mdi mdi-file-powerpoint" /></td>
                                                        <td style="width:5%;text-align:center;font-size:15px" ng-if="item.FileName.includes('.xlsx')||item.FileName.includes('.xls')"><div class="mdi mdi-file-excel" /></td>
                                                        <td style="width:5%;text-align:center;font-size:15px" ng-if="item.FileName.includes('.doc')||item.FileName.includes('.docx')"><div class="mdi mdi-file-word" /></td>
                                                        <td style="width:5%;text-align:center;font-size:15px" ng-if="item.FileName.includes('.pdf')"><div class="mdi mdi-file-pdf" /></td>
                                                        <td style="width:5%;text-align:center;font-size:15px" ng-if="!item.FileName.includes('.txt') && !item.FileName.includes('.png') && !item.FileName.includes('.jpg')&& !item.FileName.includes('.pptx')&& !item.FileName.includes('.xlsx')&& !item.FileName.includes('.doc')&& !item.FileName.includes('.pdf')"><div class="mdi mdi-file-image"></div></td>
                                                        <td> {{item.Title}}</td>
                                                        <td>
                                                            <a target="_blank" href="/Customers/Download?Id={{item.AttachmentGuid}}"> {{item.FileName}} </a>
                                                            <a href="javascript:void(0)" ng-click="remoteAttach(item,$index)" class="btn btn-sm"><i style="color:red;" class="mdi mdi-close"></i> </a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" ng-show="uploader.queue.length>0">
                                    <div class="">
                                        <input type="file" style="font-size: 0px;Display: none" nv-file-select="" name="file[]" uploader="uploader" multiple id="attachment" />
                                        <div class="table-scrollable">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th style="width:5%">STT</th>
                                                        <th style="width:5%">Icon</th>
                                                        <th style="width:20%">Tiêu đề</th>
                                                        <th style="">Tên tệp</th>
                                                        <th style="width:15%">Kích thước</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    <tr ng-repeat="item in uploader.queue">
                                                        <td style="width:5%;text-align:center">{{$index+1}}</td>
                                                        <td style="width:5%;text-align:center;font-size:15px" ng-if="item.file.name.includes('.txt')"><div class="mdi mdi-note-text" /></td>
                                                        <td style="width:5%;text-align:center;font-size:15px" ng-if="item.file.name.includes('.png')||item.file.name.includes('.jpg')"><div class="mdi mdi-file-image" /></td>
                                                        <td style="width:5%;text-align:center;font-size:15px" ng-if="item.file.name.includes('.pptx')"><div class="mdi mdi-file-powerpoint" /></td>
                                                        <td style="width:5%;text-align:center;font-size:15px" ng-if="item.file.name.includes('.xlsx')||item.file.name.includes('.xls')"><div class="mdi mdi-file-excel" /></td>
                                                        <td style="width:5%;text-align:center;font-size:15px" ng-if="item.file.name.includes('.doc')||item.file.name.includes('.docx')"><div class="mdi mdi-file-word" /></td>
                                                        <td style="width:5%;text-align:center;font-size:15px" ng-if="item.file.name.includes('.pdf')"><div class="mdi mdi-file-pdf" /></td>
                                                        <td style="width:5%;text-align:center;font-size:15px" ng-if="!item.file.name.includes('.txt') && !item.file.name.includes('.png') && !item.file.name.includes('.jpg')&& !item.file.name.includes('.pptx')&& !item.file.name.includes('.xlsx')&& !item.file.name.includes('.doc')&& !item.file.name.includes('.pdf')"><div class="mdi mdi-file-image"></div></td>
                                                        <td> <input type="text" class="form-control" ng-model="item.file.FileName" ng-init="item.file.FileName=item.file.name"></td>
                                                        <td><strong>{{ item.file.name }}<a href="javascript:void(0)" ng-click="item.remove()" class="btn btn-sm"><i style="color:red;" class="mdi mdi-close"></i> </a></strong></td>
                                                        <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>

                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer modal-footer--center">
    <div class="row" style="width:100%; height: 30px;">
        <div class="col-lg-12">
            <div class="form-group" style="float:right">
                <button class="btn btn-info icon-left btn-sm mr-3" type="button" onclick="document.getElementById('attachment').click()">
                    Đính kèm <span class="btn-icon mdi mdi-attachment"></span>
                </button>
                <button class="btn btn-info icon-left btn-sm mr-3" type="button" ng-click="submit()">
                    Lưu <span class="btn-icon mdi mdi-content-save-all"></span>
                </button>
                <button class="btn btn-outline-primary icon-left btn-sm mr-3" type="button" ng-click="cancel()">
                    Đóng <span class="btn-icon mdi mdi-close"></span>
                </button>
            </div>
        </div>
    </div>
</div>
<!--<script>
    function loadScrollSetting() {
        var _el = document.getElementById('setting-content-scroll');
        var _top = _el.getBoundingClientRect().top;
        $(_el).css('height', screen.height - _top - 500);
    };
    $(window).ready(function () {
        loadScrollSetting();
    })
    $(window).resize(function () {
        loadScrollSetting();
    })
</script>-->