﻿<style>
    #datatabletab1 .jexcel tbody {
        display: block !important;
        width: max-content;
    }

    td.jexcel_label {
        width: 30px !important;
    }

    .spreadsheet__table {
        display: block !important;
    }
</style>
<div class="modal-header has-border">
    <h5 class="modal-title es-modal-title">Xem khách hàng</h5>
    <button type="button" class="close custom-modal__close" ng-click="cancel()">
        <span aria-hidden="true" class="ua-icon-modal-close"></span>
    </button>
</div>
<div class="modal-body" id="modaladd">
    <form class="main-container" name="addform" ng-validate="validationOptions">
        <div class="row">
            <div class="main-container tabs-alpha">
                <ul class="nav nav-tabs tabs-alpha__nav-tabs">
                    <li class="nav-item tabs-alpha__item">
                        <a class="nav-link tabs-alpha__link active show" data-toggle="tab" href="/Sale/Customers/Index/add/#tabs-1">
                            Thông tin chung
                        </a>
                    </li>
                   
                    <li class="nav-item tabs-alpha__item">
                        <a class="nav-link tabs-alpha__link" data-toggle="tab" href="/Sale/Customers/Index/add/#tabs-4">
                            Đính kèm
                        </a>
                    </li>
                   
                </ul>
                <div class="tab-content tabs-alpha__tab-content" style="height:auto !important">
                    <div class="tab-pane active show" id="tabs-1" role="tabpanel" style="padding-top: 10px;">
                        <div class="tab-content task-scroll-custom" id="">
                            <div class="row" style="margin-right: 30px;">
                                <div class="col-lg-11" style="border:1px solid #dedcdc;margin:10px 10px 10px 10px">
                                    <h4 class="es-group-lable-order">Thông tin chung</h4>
                                    <div class="row" style="margin-top:10px;">
                                        <div class="col-lg-2">
                                            <div class="form-group ">
                                                <div class="custom-control custom-radio">
                                                    <input type="checkbox" class="custom-control-input" id="ch2" ng-model="model.IsProvider" ng-change="ChangeIsProvider(model.IsProvider)" ng-disabled="true">
                                                    <label class="custom-control-label" for="ch2">Là nhà cung cấp</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="form-group ">
                                                <div class="custom-control custom-radio">
                                                    <input type="radio" class="custom-control-input" name="IsBussiness1" id="IsBussiness1" ng-model="model.IsBussiness" value="1" disabled>
                                                    <label class="custom-control-label" for="IsBussiness1">Khách hàng doanh nghiệp</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="form-group ">
                                                <div class="custom-control custom-radio ">
                                                    <input type="radio" class="custom-control-input" name="IsBussiness0" id="IsBussiness0" ng-model="model.IsBussiness" value="0" disabled>
                                                    <label class="custom-control-label" for="IsBussiness0">Khách hàng cá nhân</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="form-group ">
                                                <div class="custom-control custom-radio">
                                                    <input type="radio" class="custom-control-input" name="IsProvince0" id="IsProvince0" ng-model="model.IsProvince" value="0" disabled>
                                                    <label class="custom-control-label" for="IsProvince0">Trong nước</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="form-group ">
                                                <div class="custom-control custom-radio ">
                                                    <input type="radio" class="custom-control-input" name="IsProvince1" id="IsProvince1" ng-model="model.IsProvince" value="1" disabled>
                                                    <label class="custom-control-label" for="IsProvince1">Ngoài nước</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <div class="form-group ">
                                                <label for="settings-form-fullname">Mã khách hàng</label>
                                                <div class="textview">{{model.CustomerId}}</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Tên khách hàng</label>
                                                <div class="textview">{{model.CustomerName}}</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Tên khách hàng(đơn vị xuất hóa đơn)</label>
                                                <div class="textview">{{model.SortTitle}}</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="form-group">
                                                <label for="inputState">Nhóm khách hàng</label>
                                                <select ng-smselect se-data="ListCustomerGroup" se-change="CustomerGroupChange(data)" placeholder="Chọn nhóm khách hàng..." ng-model="model.PolicyGroupGuid" disabled></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-2" ng-show="model.IsBussiness == 0">
                                            <label for="input-type">Số CMND</label>
                                            <div class="textview">{{model.Idnumber}}</div>
                                        </div>
                                        <div class="form-group col-md-1">
                                            <label for="input-type">Ngày cấp</label>
                                            <div class="textview">{{model.IssueIddate | fdate: 'DD/MM/YYYY'}}</div>
                                        </div>
                                        <div class="form-group col-md-1">
                                            <label for="input-type" ng-show="model.IsBussiness == 1">Ngày lập</label><label for="input-type" ng-show="model.IsBussiness == 0">Ngày sinh</label>
                                            <div class="textview">{{model.BirthDate | fdate: 'DD/MM/YYYY'}}</div>
                                        </div>
                                        <div class="form-group col-md-{{model.IsBussiness == 1?'6':'4'}}">
                                            <label for="input-type">Nơi cấp</label>
                                            <div class="textview">{{model.IssueIdby}}</div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="form-group">
                                                <label for="settings-form-email">Ngày được nợ</label>
                                                <div class="textview">{{model.DebtDay}}</div>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-2" ng-show="model.IsBussiness == 1">
                                            <label for="input-type">Số ĐKKD</label>
                                            <div class="textview">{{model.TaxCode}}</div>
                                        </div>
                                        <div class="col-lg-2" ng-show="model.IsBussiness == 0">
                                            <div class="form-group">
                                                <label for="settings-form-fullname">Mã số thuế</label>
                                                <div class="textview">{{model.TaxCode}}</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6" ng-show="model.IsBussiness == 1">
                                            <div class="form-group">
                                                <label for="settings-form-email">Địa chỉ xuất hóa đơn</label>
                                                <div class="textview">{{model.Address}}</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6" ng-show="model.IsBussiness == 1">
                                            <div class="form-group">
                                                <label for="settings-form-email">Địa chỉ khách hàng</label>
                                                <div class="textview">{{model.PermanentAddress}}</div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row" ng-show="model.IsBussiness == 0">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="settings-form-email">Địa chỉ xuất hóa đơn</label>
                                                <div class="textview">{{model.Address}}</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="settings-form-email">Địa chỉ thường trú</label>
                                                <div class="textview">{{model.PermanentAddress}}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <div class="form-group">
                                                <label for="settings-form-email">Email</label>
                                                <div class="textview">{{model.WorkEmail}}</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="form-group">
                                                <label for="settings-form-email">Địa chỉ Website</label>
                                                <div class="textview">{{model.Website}}</div>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="inputState">Mảng kinh doanh</label>
                                            <select ng-smselect se-data="dType" se-change="ChangeType(data)" ng-model="model.Type" name="Type" se-init="TypeConfig" ng-disabled="true"></select>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="form-group">
                                                <label for="settings-form-email">Điện thoại cố định</label>
                                                <div class="textview">{{model.WorkPhone}}</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="form-group">
                                                <label for="settings-form-email">Di động</label>
                                                <div class="textview">{{model.WorkMobile}}</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="form-group">
                                                <label for="settings-form-email">Fax</label>
                                                <div class="textview">{{model.WorkFax}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-1" style="border:1px solid #dedcdc;margin:10px -30px 10px 0px">
                                    <h4 class="es-group-lable-order" ng-show="model.IsBussiness == 1">Logo</h4>
                                    <h4 class="es-group-lable-order" ng-show="model.IsBussiness == 0">Ảnh</h4>
                                    <div class="row" style="margin-top:10px;">
                                        <div class="col-md-12" style="overflow-x:hidden;margin-top:10px;">
                                            <img ng-src="{{model.imageLink}}" style="width:100%;" id="image" />

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="row" style="margin-right: 20px;">
                                <div class="col-lg-12" style="border:1px solid #dedcdc;margin:10px 10px 10px 10px">
                                    <h4 class="es-group-lable-order">Thông tin khác</h4>
                                    <div class="row" style="margin-top:10px;">
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label for="input-device">Quốc gia</label>
                                                <div class="textview">{{model.CountryName}}</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label for="input-device">Vùng miền</label>
                                                <div class="textview">{{model.TerritoryName}}</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="form-group">
                                                <label for="input-device">Tỉnh/Thành phố</label>
                                                <div class="textview">{{model.ProvinceName}}</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="form-group">
                                                <label for="input-device">Quận/Huyện</label>
                                                <div class="textview">{{model.DistrictIname}}</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="form-group">
                                                <label for="input-device">Phường/Xã</label>
                                                <div class="textview">{{model.WardsName}}</div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label for="settings-my-target">Ngành nghề kinh doanh</label>
                                                <div class="textview">{{model.ActivityFieldName}}</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label for="settings-form-email">Đại lý, chi nhánh của</label>
                                                <div class="textview">{{model.ParentName}}</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="form-group">
                                                <label for="settings-my-target">Loại hình công ty</label>
                                                <div class="textview">{{model.BusinessTypeName}}</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="form-group">
                                                <label for="settings-form-email">Mức xếp hạng</label>
                                                <div class="textview">{{model.RateByLevel}}</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="form-group">
                                                <label for="settings-form-email">Nguồn khách hàng</label>
                                                <div class="textview">{{model.ResourceName}}</div>
                                            </div>
                                        </div>

                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label for="settings-form-email">Trạng thái</label>
                                                <div class="textview">{{model.Status}}</div>
                                            </div>
                                        </div>

                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label for="settings-form-email">Điểm xếp hạng</label>
                                                <div class="textview">{{model.RateByScore}}</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="form-group">
                                                <label for="settings-form-email">% đánh giá tiềm năng</label>
                                                <div class="textview">{{model.SuccessRate}}</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="form-group">
                                                <label for="settings-form-email">Đại diện pháp luật</label>
                                                <div class="textview">{{model.Representative}}</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="form-group">
                                                <label for="settings-my-target">Chức danh</label>
                                                <div class="textview">{{model.JobTitle}}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" ng-show="model.IsBussiness == 0">
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label for="settings-form-email">Nơi sinh</label>
                                                <div class="textview">{{model.BirthPlace}}</div>

                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label for="settings-form-email">Nơi làm việc</label>
                                                <div class="textview">{{model.WorkPlace}}</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="form-group">
                                                <label for="settings-my-target">Giới tính</label>
                                                <div class="textview">{{model.Gender}}</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="form-group">
                                                <label for="settings-my-target">Tình trạng hôn nhân</label>
                                                <div class="textview">{{model.MaritalStatus}}</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="form-group">
                                                <label for="settings-my-target">Đã có con?</label>
                                                <div class="textview">{{model.HaveChildren}}</div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row" ng-show="model.IsBussiness == 1">
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label for="settings-form-email">Nguồn thông tin</label>
                                                <div class="textview">{{model.SourceType}}</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3" hidden>
                                            <div class="form-group">
                                                <label for="settings-form-email">Chiến dịch marketing</label>
                                                <div class="textview">{{model.CompaignName}}</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label for="settings-my-target">Tổng vốn đầu tư</label>
                                                <div class="textview">{{addPeriod(model.Capital)}}</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="form-group">
                                                <label for="settings-my-target">Tổng nhân viên</label>
                                                <div class="textview">{{addPeriod(model.StaffNumber)}}</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2" hidden>
                                            <div class="form-group">
                                                <label for="settings-my-target">Tên đơn vị xuất hóa đơn</label>
                                                <div class="textview">{{model.OrganizationNameInvoices}}</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3" hidden>
                                            <div class="form-group">
                                                <label for="settings-my-target">Địa chỉ xuất hóa đơn</label>
                                                <div class="textview">{{model.AddressInvoices}}</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="form-group">
                                                <label for="settings-my-target">Ngày bắt đầu mua hàng</label>
                                                <div class="textview">{{model.StartDatePP | fdate:'DD/MM/YYYY'}}</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="form-group">
                                                <label for="settings-form-email">Trạng thái theo dõi</label>
                                                <div class="input-group input-group-icon icon-right input-group-sm">
                                                    <select ng-model="model.Monitor" ng-smselect se-data="MonitorData" se-change="ChangeMonitor(data)" se-init="MonitorConfig" ng-disabled="true"></select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2" style="margin-top:10px;">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" name="Method1" id="Method1" ng-model="model.Method" value="0" disabled>
                                                <label class="custom-control-label" for="r1">Xuất hóa đơn theo từng đơn hàng</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-2" style="margin-top: 10px">
                                            <div class="custom-control custom-radio ">
                                                <input type="radio" class="custom-control-input" name="Method2" id="Method2" ng-model="model.Method" value="1" disabled>
                                                <label class="custom-control-label" for="r2">Xuất hóa đơn cho tất cả đơn hàng</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="form-group">
                                                <label for="settings-form-email">Ghi chú</label>
                                                <div class="textview">{{model.Description}}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" ng-show="model.IsBussiness == 0">-->
                                        <!--<div class="col-lg-3">
                                            <div class="form-group">
                                                <label for="settings-my-target">Tên đơn vị xuất hóa đơn</label>
                                                <div class="textview">{{model.OrganizationNameInvoices}}</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-5">
                                            <div class="form-group">
                                                <label for="settings-my-target">Địa chỉ xuất hóa đơn</label>
                                                <div class="textview">{{model.AddressInvoices}}</div>
                                            </div>
                                        </div>-->
                                        <!--<div class="col-lg-2">
                                            <div class="form-group">
                                                <label for="settings-my-target">Ngày bắt đầu mua hàng</label>
                                                <div class="textview">{{model.StartDatePP | fdate:'DD/MM/YYYY'}}</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="form-group">
                                                <label for="settings-form-email">Trạng thái theo dõi</label>
                                                <div class="input-group input-group-icon icon-right input-group-sm">
                                                    <select ng-model="model.Monitor" ng-smselect se-data="MonitorData" se-change="ChangeMonitor(data)" ng-init="model.Monitor=='T'" se-init="MonitorConfig" ng-disabled="true"></select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2" style="margin-top:10px;">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" name="Method3" id="Method3" ng-model="model.Method" value="0" disabled>
                                                <label class="custom-control-label" for="r3">Xuất hóa đơn theo từng đơn hàng</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-2" style="margin-top: 10px">
                                            <div class="custom-control custom-radio ">
                                                <input type="radio" class="custom-control-input" name="Method4" id="Method4" ng-model="model.Method" value="1" disabled>
                                                <label class="custom-control-label" for="r4">Xuất hóa đơn cho tất cả đơn hàng</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="form-group">
                                                <label for="settings-form-email">Ghi chú</label>
                                                <div class="textview">{{model.Description}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>-->
                        </div>
                    </div>
                    
                    <div class="tab-pane" id="tabs-4" role="tabpanel" style="padding-top: 10px;">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group" ng-show="jdataattach.length>0">
                                    <div class="">
                                        <div class="table-scrollable ">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>

                                                        <th style="width:5%">STT</th>
                                                        <th style="width:5%">Icon</th>
                                                        <th style="width:20%">Tiêu đề</th>
                                                        <th style="">Tên tệp</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="item in jdataattach">
                                                        <td style="width:5%;text-align:center"> {{$index+1}} </td>
                                                        <td style="width:5%;text-align:center;font-size:15px" ng-if="item.FileName.includes('.txt')"><div class="mdi mdi-note-text" /></td>
                                                        <td style="width:5%;text-align:center;font-size:15px" ng-if="item.FileName.includes('.png')||item.FileName.includes('.jpg')"><div class="mdi mdi-file-image" /></td>
                                                        <td style="width:5%;text-align:center;font-size:15px" ng-if="item.FileName.includes('.pptx')"><div class="mdi mdi-file-powerpoint" /></td>
                                                        <td style="width:5%;text-align:center;font-size:15px" ng-if="item.FileName.includes('.xlsx')||item.FileName.includes('.xls')"><div class="mdi mdi-file-excel" /></td>
                                                        <td style="width:5%;text-align:center;font-size:15px" ng-if="item.FileName.includes('.doc')||item.FileName.includes('.docx')"><div class="mdi mdi-file-word" /></td>
                                                        <td style="width:5%;text-align:center;font-size:15px" ng-if="item.FileName.includes('.pdf')"><div class="mdi mdi-file-pdf" /></td>
                                                        <td style="width:5%;text-align:center;font-size:15px" ng-if="!item.FileName.includes('.txt') && !item.FileName.includes('.png') && !item.FileName.includes('.jpg')&& !item.FileName.includes('.pptx')&& !item.FileName.includes('.xlsx')&& !item.FileName.includes('.doc')&& !item.FileName.includes('.pdf')"><div class="mdi mdi-file-image"></div></td>
                                                        <td> {{item.Title}}</td>
                                                        <td>
                                                            <a target="_blank" href="/Customers/Download?Id={{item.AttachmentGuid}}"> {{item.FileName}} </a>
                                                            <!--<a href="javascript:void(0)" ng-click="remoteAttach(item,$index)" class="btn btn-sm"><i style="color:red;" class="mdi mdi-close"></i> </a>-->
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" ng-show="uploader.queue.length>0">
                                    <div class="">
                                        <input type="file" style="font-size: 0px;Display: none" nv-file-select="" name="file[]" uploader="uploader" multiple id="attachment" />
                                        <div class="table-scrollable">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th style="width:5%">STT</th>
                                                        <th style="width:5%">Icon</th>
                                                        <th style="width:20%">Tiêu đề</th>
                                                        <th style="">Tên tệp</th>
                                                        <th style="width:15%">Kích thước</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    <tr ng-repeat="item in uploader.queue">
                                                        <td style="width:5%;text-align:center">{{$index+1}}</td>
                                                        <td style="width:5%;text-align:center" ng-if="item.file.name.includes('.xlsx')"><div class="es-attachment-icon-excel" /></td>
                                                        <td style="width:5%;text-align:center" ng-if="item.file.name.includes('.doc')"><div class="es-attachment-icon-word" /></td>
                                                        <td style="width:5%;text-align:center" ng-if="item.file.name.includes('.pdf')"><div class="es-attachment-icon-pdf" /></td>
                                                        <td style="width:5%;text-align:center" ng-if="!item.file.name.includes('.xlsx') && !item.file.name.includes('.doc') && !item.file.name.includes('.pdf')"></td>
                                                        <td> <input type="text" class="form-control" ng-model="item.file.FileName"></td>
                                                        <td><strong>{{ item.file.name }}<a href="javascript:void(0)" ng-click="item.remove()" class="btn btn-sm"><i style="color:red;" class="mdi mdi-close"></i> </a></strong></td>
                                                        <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>

                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                  
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer modal-footer--center">
    <div class="row" style="width:100%; height: 30px;">
        <div class="col-lg-6">
            <ul class="page-footer__nav">
                <li class="page-footer__nav-item">
                    <a href="#" class="page-footer__nav-link">
                        <span class="mdi mdi-account page-footer__nav-icon" title="Người tạo"></span>
                        {{model.CreatedBy.split("#")[1]}}
                    </a>
                </li>
                <li class="page-footer__nav-item">
                    <a href="#" class="page-footer__nav-link">
                        <span class="mdi mdi-calendar-plus page-footer__nav-icon" title="Ngày tạo"></span>
                        {{model.CreatedDate | fdate:'DD/MM/YYYY HH:mm'}}
                    </a>
                </li>
                <li class="page-footer__nav-item">
                    <a href="#" class="page-footer__nav-link">
                        <span class="mdi mdi-account-check page-footer__nav-icon" title="Người sửa"></span>
                        {{model.ModifiedBy.split("#")[1]}}
                    </a>
                </li>
                <li class="page-footer__nav-item">
                    <a href="#" class="page-footer__nav-link">
                        <span class="mdi mdi-calendar-check page-footer__nav-icon" title="Ngày sửa"></span>
                        {{model.ModifiedDate | fdate:'DD/MM/YYYY HH:mm'}}
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-lg-6">
            <div class="form-group" style="float:right">

                <button class="btn btn-outline-primary icon-left btn-sm mr-3" type="button" ng-click="cancel()">
                    Đóng <span class="btn-icon mdi mdi-close"></span>
                </button>
            </div>
        </div>
    </div>
</div>
<!--<script>
    function loadScrollSetting() {
        var _el = document.getElementById('setting-content-scroll');
        var _top = _el.getBoundingClientRect().top;
        $(_el).css('height', screen.height - _top - 500);
    };
    $(window).ready(function () {
        loadScrollSetting();
    })
    $(window).resize(function () {
        loadScrollSetting();
    })
</script>-->