﻿<style>
    .jexcel tbody {
        display: block !important;
        width: max-content;
    }

    td.jexcel_label {
        width: 30px !important;
    }
</style>
<div class="modal-header has-border modal-drag">
    <h5 class="modal-title es-modal-title">{{txtTitle}}</h5>
    <button type="button" class="close custom-modal__close" ng-click="cancel()">
        <span aria-hidden="true" class="ua-icon-modal-close"></span>
    </button>
</div>
<div class="modal-body">
    <form name="addform" ng-validate="validationOptions">
        <div class="row" style="margin-top:5px;">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="">Ý kiến </label>
                    <textarea type="text" class="form-control" name="ObjectName" ng-model="model.Comment"></textarea>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer modal-footer--center">
    <div class="row" style="width:100%;">
        <div class="col-lg-12">
            <div class="form-group" style="float:right">
                <button class="btn btn-info icon-left btn-sm mr-3" type="button" ng-click="submitapprove()">
                    Duyệt <span class="btn-icon mdi mdi-content-save"></span>
                </button>
                <button class="btn btn-info icon-left btn-sm mr-3" type="button" ng-click="submitnotapprove() " ng-hide="checkLogin">
                    Trả lại <span class="btn-icon mdi mdi-reply"></span>
                </button>
                <button class="btn btn-outline-primary icon-left btn-sm mr-3" type="button" ng-click="cancel()">
                    Đóng <span class="btn-icon mdi mdi-close"></span>
                </button>
            </div>
        </div>
    </div>
</div>