﻿<div class="modal-header has-border">
    <h5 class="modal-title es-modal-title">{{Title}}</h5>
    <button type="button" class="close custom-modal__close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
        <span aria-hidden="true" class="ua-icon-modal-close"></span>
    </button>
</div>
<div class="modal-body">
    <form name="addform" class="form-horizontal  form-bordered" method="post" ng-validate="validationOptions">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label for="output-device">Mã </label>
                        <input type="text" class="form-control" ng-model="model.CodeID" name="CodeID" />
                    </div>
                    <div class="form-group col-md-4">
                        <label for="output-device">Tiêu đề </label>
                        <input type="text" class="form-control" ng-model="model.Title" name="Title" />
                    </div>
                    <div class="form-group col-md-2">
                        <label for="input-type">Khách hàng</label>
                        <div class="input-group input-group-icon icon-right input-group-sm">
                            <select ng-smselect se-data="ListCustomer" se-change="ChangeCustomerID(data)" se-init="ColumnConfig" ng-model="model.CustomerID" placeholder="Chọn khách hàng"></select>
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="output-device">Ngày sản xuất</label>
                        <input ng-model="model.DateSX" name="DateSX" placeholder="" datetime-picker date-format="DD/MM/YYYY" class="form-control" date-only />
                    </div>
                    <div class="form-group col-md-2">
                        <label for="output-device">Tổng tiền</label>
                        <input formatsub="number" class="form-control" ng-model="model.TotalMoney" name="TotalMoney">
                    </div>
                   
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer modal-footer--center">
    <div class="row" style="width:100%; height: 30px;">
        <div class="col-lg-6">
        </div>
        <div class="col-lg-6">
            <div class="form-group" style="float:right">
                <button class="btn btn-info icon-left btn-sm mr-3" type="button" ng-click="submit()">
                    Lưu <span class="btn-icon mdi mdi-content-save-all"></span>
                </button>
                <button class="btn btn-outline-primary icon-left btn-sm mr-3" type="button" data-dismiss="modal" ng-click="cancel()">
                    Đóng <span class="btn-icon mdi mdi-close"></span>
                </button>
            </div>
        </div>
    </div>
</div>

