﻿<style>

    .lableRight {
        text-align: right;
        margin-right: 0px !important;
    }

    .jexcel tbody {
        display: block !important;
        width: max-content;
    }
</style>
<div class="modal-header has-border">
    <h5 class="modal-title es-modal-title">{{Title}}</h5>
    <button type="button" class="close custom-modal__close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
        <span aria-hidden="true" class="ua-icon-modal-close"></span>
    </button>
</div>
<div class="modal-body">
    <form name="addform" class="form-horizontal  form-bordered" method="post" ng-validate="validationOptions" ng-show="Check">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label for="output-device">Mã báo giá</label>
                        <input type="text" class="form-control" ng-model="model.CodeID" name="CodeID" ng-disabled="true" />
                    </div>

                    <div class="form-group col-md-2">
                        <label for="input-type">Khách hàng</label>
                        <div class="input-group input-group-icon icon-right input-group-sm">
                            <select ng-smselect se-data="ListCustomer" se-change="ChangeCustomerID(data)" se-init="ColumnConfig" ng-model="model.CustomerID" placeholder="Chọn khách hàng" ng-disabled="true"></select>
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="output-device">Ngày hiệu lực</label>
                        <input ng-model="model.EffectiveDate" name="EffectiveDate" placeholder="" datetime-picker date-format="DD/MM/YYYY" class="form-control" date-only ng-disabled="true" />
                    </div>
                    <div class="form-group col-md-2">
                        <label for="output-device">Ngày báo giá</label>
                        <input ng-model="model.DateSX" name="DateSX" placeholder="" datetime-picker date-format="DD/MM/YYYY" class="form-control" date-only ng-disabled="true" />
                    </div>
                    <div class="form-group col-md-2">
                        <label for="output-device">Người thực hiện</label>
                        <input type="text" class="form-control" ng-model="model.EmployeeID" name="EmployeeID" ng-disabled="true" />
                    </div>
                    <div class="form-group col-md-2">
                        <label for="output-device">Người theo dõi</label>
                        <input type="text" class="form-control" ng-model="model.EmployeeName" name="EmployeeName" ng-disabled="true" />
                    </div>
                    <div class="form-group col-md-12">
                        <label for="output-device">Lưu ý khác</label>
                        <input type="text" class="form-control" ng-model="model.Note" name="Note" ng-disabled="true" />
                    </div>

                </div>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-lg-12">
            <ul class="nav nav-tabs tabs-alpha__nav-tabs">
                <li class="nav-item tabs-alpha__item">
                    <a class="nav-link tabs-alpha__link active" data-toggle="tab" href="/Sale/Orders/Index/add/#tabs-1">
                        Chi tiết
                    </a>
                </li>

                <li>
                    <a href="javascript:;" title="{{Check==true?'Phóng to':'Thu nhỏ'}}">
                        <i class="mdi  {{Check==true?'mdi-fullscreen':'mdi-fullscreen-exit'}}" style="font-size: 18px;" ng-init="Check=true" ng-click="Check==true?Check=false:Check=true;fullscreen(Check)"></i>
                    </a>
                </li>
            </ul>
            <div class="tab-content tabs-alpha__tab-content">
                <div class="tab-pane active show" id="tabs-1" role="tabpanel">
                    <div class="row">
                        <div class="col-lg-12">
                            <div style="overflow:auto;" ng-model="jxcelAddDetail" id="myht" ng-jexcel jx-init="jxcelAddDetailInit" class="table es-am-root-jexcel" filter="dropdown" deletees="deletees" deleterowhotkey="deleterowhotkey">
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
<div class="modal-footer modal-footer--center">
    <div class="row" style="width:100%; height: 30px;">
        <div class="col-lg-6">
            <ul class="page-footer__nav">
                <li class="page-footer__nav-item">
                    <a href="#" class="page-footer__nav-link">
                        <span class="mdi mdi-account page-footer__nav-icon" title="Người tạo"></span>
                        {{model.CreatedBy.split('#')[1]}}
                    </a>
                </li>
                <li class="page-footer__nav-item">
                    <a href="#" class="page-footer__nav-link">
                        <span class="mdi mdi-calendar-plus page-footer__nav-icon" title="Ngày tạo"></span>
                        {{model.CreatedDate | fdate:'DD/MM/YYYY HH:mm'}}
                    </a>
                </li>
                <li class="page-footer__nav-item">
                    <a href="#" class="page-footer__nav-link">
                        <span class="mdi mdi-account-check page-footer__nav-icon" title="Người sửa"></span>
                        {{model.ModifiedBy.split('#')[1]}}
                    </a>
                </li>
                <li class="page-footer__nav-item">
                    <a href="#" class="page-footer__nav-link">
                        <span class="mdi mdi-calendar-check page-footer__nav-icon" title="Ngày sửa"></span>
                        {{model.ModifiedDate | fdate:'DD/MM/YYYY HH:mm'}}
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-lg-6">
            <div class="form-group" style="float:right">
               
                <button class="btn btn-outline-primary icon-left btn-sm mr-3" type="button" data-dismiss="modal" ng-click="cancel()">
                    Đóng <span class="btn-icon mdi mdi-close"></span>
                </button>
            </div>
        </div>
    </div>
</div>

