﻿@{
    ViewData["Title"] = "Danh mục trạng thái quy trình";
    Layout = "~/Areas/HR/Views/SharedAdmin/_Layout.cshtml";
}

<div class="page-content" id="contentMain" ng-controller="Ctrl_WorkFlowSetting">
    <div class="container-fluid">
        <div style="min-height:100px" ng-view></div>
    </div>
    <script src="~/views/EIM/WorkFlowSetting/controller.js"></script>
</div>


