﻿
@{
    ViewData["Title"] = "Quản lý hãng sản xuất";
    Layout = "~/Areas/HR/Views/SharedAdmin/_Layout.cshtml";
}
<div class="page-content" id="contentMain" ng-controller="Ctrl_ES_CSDL_HangSanXuat">
    <div class="container-fluid">
        <div style="min-height:100px" ng-view></div>
    </div>
</div>
<script src="~/views/HR/HangSanXuat/controller.js" type="text/javascript"></script>
