﻿<div class="modal-header has-border">
    <h5 class="modal-title es-modal-title"> {{Title}}</h5>
    <button type="button" class="close custom-modal__close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
        <span aria-hidden="true" class="ua-icon-modal-close"></span>
    </button>
</div>
<div class="modal-body">
    <form name="addform" class="form-horizontal  form-bordered" method="post" ng-validate="validationOptions">
        <div class="row">
            <div class="form-group col-md-2">
                <label for="input-type">Ngày<span class="color-danger"> *</span></label>
                <input ng-model="model.DateHD" name="DateHD" placeholder="" datetime-picker date-format="DD/MM/YYYY" class="form-control" date-only />
            </div>
            <div class="form-group col-md-2">
                <label for="input-type">Loại dòng tiền</label>
                <div class="input-group input-group-icon icon-right input-group-sm">
                    <select ng-smselect se-data="dOrderStatus" se-change="ChangeTypesDT(data)" ng-model="model.TypesDT" se-init="ColumnConfig"></select>
                </div>
            </div>
            <div class="form-group col-md-2">
                <label for="input-type">Loại huy động</label>
                <div class="input-group input-group-icon icon-right input-group-sm" ng-if="model.TypesDT=='0'">
                    <select ng-smselect se-data="dTypesVao" se-change="ChangeTypes(data)" ng-model="model.Types" se-init="ColumnConfig"></select>
                </div>
                <div class="input-group input-group-icon icon-right input-group-sm" ng-if="model.TypesDT=='1'">
                    <select ng-smselect se-data="dTypesRa" se-change="ChangeTypes(data)" ng-model="model.Types" se-init="ColumnConfig"></select>
                </div>
            </div>
            <div class="form-group col-md-2">
                <label for="input-type">Diễn giải</label>
                <input type="text" ng-model="model.Description" name="Description" class="form-control">
            </div>
            <div class="form-group col-md-2">
                <label for="output-device">Số tiền</label>
                <input formatsub="number" class="form-control" ng-model="model.AmountOc" name="AmountOc">
            </div>
            
            <div class="form-group col-md-2">
                <label for="input-type">Lưu ý khác</label>
                <input type="text" ng-model="model.Note" name="Note" class="form-control">
            </div>
        </div>
    </form>
</div>
<div class="modal-footer modal-footer--center">
    <div class="row" style="width:100%; height: 30px;">
        <div class="col-lg-6">
        </div>
        <div class="col-lg-6">
            <div class="form-group" style="float:right">               
                <button class="btn btn-info icon-left btn-sm mr-3" type="button" ng-click="insert()">
                    Lưu <span class="btn-icon mdi mdi-content-save-all"></span>
                </button>
                <button class="btn btn-outline-primary icon-left btn-sm mr-3" type="button" data-dismiss="modal" ng-click="cancel()">
                    Đóng <span class="btn-icon mdi mdi-close"></span>
                </button>
            </div>
        </div>
    </div>
</div>