﻿<style>

    .lableRight {
        text-align: right;
        margin-right: 0px !important;
    }

    .jexcel tbody {
        display: block !important;
        width: max-content;
    }
</style>
<div class="modal-header has-border">
    <h5 class="modal-title es-modal-title"> {{Title}}</h5>
    <button type="button" class="close custom-modal__close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
        <span aria-hidden="true" class="ua-icon-modal-close"></span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="form-group col-md-2">
            <label for="input-type">Ngày<span class="color-danger"> *</span></label>
            <input ng-model="model.DateHD" name="DateHD" placeholder="" datetime-picker date-format="DD/MM/YYYY" class="form-control" date-only ng-disabled="true"/>
        </div>
        <div class="form-group col-md-2">
            <label for="input-type">Loại dòng tiền</label>
            <div class="input-group input-group-icon icon-right input-group-sm">
                <select ng-smselect se-data="dOrderStatus" se-change="ChangeTypesDT(data)" ng-model="model.TypesDT" se-init="ColumnConfig" ng-disabled="true"></select>
            </div>
        </div>
        <div class="form-group col-md-2">
            <label for="input-type">Loại huy động</label>
            <div class="input-group input-group-icon icon-right input-group-sm" ng-if="model.TypesDT=='0'">
                <select ng-smselect se-data="dTypesVao" se-change="ChangeTypes(data)" ng-model="model.Types" se-init="ColumnConfig" ng-disabled="true"></select>
            </div>
            <div class="input-group input-group-icon icon-right input-group-sm" ng-if="model.TypesDT=='1'">
                <select ng-smselect se-data="dTypesRa" se-change="ChangeTypes(data)" ng-model="model.Types" se-init="ColumnConfig" ng-disabled="true"></select>
            </div>
        </div>
        <div class="form-group col-md-2">
            <label for="input-type">Diễn giải</label>
            <input type="text" ng-model="model.Description" name="Description" class="form-control" ng-disabled="true">
        </div>
        <div class="form-group col-md-2">
            <label for="output-device">Số tiền</label>
            <input formatsub="number" class="form-control" ng-model="model.AmountOc" name="AmountOc" ng-disabled="true">
        </div>

        <div class="form-group col-md-2">
            <label for="input-type">Lưu ý khác</label>
            <input type="text" ng-model="model.Note" name="Note" class="form-control" ng-disabled="true">
        </div>
    </div>
</div>
<div class="modal-footer modal-footer--center" style="padding-left:0px !important">
    <div class="row" style="width:100%; height: 30px;">
        <div class="col-lg-8">
            <ul class="page-footer__nav">
                <li class="page-footer__nav-item">
                    <a href="#" class="page-footer__nav-link">
                        <span class="mdi mdi-account page-footer__nav-icon" title="Người tạo"></span>
                        {{model.CreatedBy.split('#')[1]}}
                    </a>
                </li>
                <li class="page-footer__nav-item">
                    <a href="#" class="page-footer__nav-link">
                        <span class="mdi mdi-calendar-plus page-footer__nav-icon" title="Ngày tạo"></span>
                        {{model.CreatedDate | fdate:'DD/MM/YYYY HH:mm'}}
                    </a>
                </li>
                <li class="page-footer__nav-item">
                    <a href="#" class="page-footer__nav-link">
                        <span class="mdi mdi-account-check page-footer__nav-icon" title="Người sửa"></span>
                        {{model.ModifiedBy.split('#')[1]}}
                    </a>
                </li>
                <li class="page-footer__nav-item">
                    <a href="#" class="page-footer__nav-link">
                        <span class="mdi mdi-calendar-check page-footer__nav-icon" title="Ngày sửa"></span>
                        {{model.ModifiedDate | fdate:'DD/MM/YYYY HH:mm'}}
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-lg-4">
            <div class="form-group" style="float:right">
                <button class="btn btn-outline-primary icon-left btn-sm mr-3" type="button" data-dismiss="modal" ng-click="cancel()">
                    Đóng <span class="btn-icon mdi mdi-close"></span>
                </button>
            </div>
        </div>
    </div>
</div>
