﻿<style>
    .jexcel tbody {
        display: block !important;
        width: max-content;
    }
</style>
<div class="modal-header has-border">
    <h5 class="modal-title es-modal-title"> {{Title}}</h5>
    <button type="button" class="close custom-modal__close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
        <span aria-hidden="true" class="ua-icon-modal-close"></span>
    </button>
</div>
<div class="modal-body">
    <form name="addform" class="form-horizontal  form-bordered" method="post" ng-validate="validationOptions">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="output-device">Tiêu đề<span class="required"> *</span></label>
                        <input type="text" ng-model="model.Title" class="form-control" name="Title">
                    </div>

                    <div class="form-group col-md-4">
                        <label for="input-type">Tiền</label>
                        <input formatsub="number" class="form-control" ng-model="model.Salary" name="Salary">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="input-type">Ngày</label>
                        <input ng-model="model.ContractDate" name="ContractDate" datetime-picker="" date-format="DD/MM/YYYY" placeholder="dd/mm/yyyy" class="form-control ng-pristine ng-valid ng-empty ng-touched" date-only="">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputState">Trạng thái</label>
                        <select ng-smselect se-data="ListIsActive" se-change="ChangeIsActive(data)" ng-model="model.IsActive" se-init="IsActiveConfig"></select>
                    </div>
                    <div class="form-group col-md-12">
                        <div class="col-lg-12">
                            <div id="myht" class="table es-am-root-jexcel" style=" overflow: auto;" ng-model="modeljexcel.Jexcel" ng-jexcel jx-init="jxcel" filter="dropdown" deletees="deletees" deleterowhotkey="deleterowhotkey"></div>
                        </div>
                    </div>
                    <div class="form-group col-md-12" ng-show="uploader.queue.length>0">
                        <div class="">
                            <input type="file" style="font-size: 0px;Display: none" nv-file-select="" name="file[]" uploader="uploader" multiple id="attachment" />
                            <div class="table-scrollable">
                                <table class="table table-hover">
                                    <thead>
                                        
                                        <tr>
                                            <th style="width:5%">STT</th>
                                            <th style="width:5%">Icon</th>
                                            <th style="width:20%">Tiêu đề</th>
                                            <th style="">Tên tệp</th>
                                            <th style="width:15%">Kích thước</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in uploader.queue">
                                            <td style="width:5%;text-align:center">{{$index+1}}</td>
                                            <td style="width:5%;text-align:center" ng-if="item.file.name.includes('.txt')"><div class="es-attachment-icon-textfile" /></td>
                                            <td style="width:5%;text-align:center" ng-if="item.file.name.includes('.png')||item.file.name.includes('.jpg')"><div class="es-attachment-icon-imagefile" /></td>
                                            <td style="width:5%;text-align:center" ng-if="item.file.name.includes('.pptx')"><div class="es-attachment-icon-powerpoint" /></td>
                                            <td style="width:5%;text-align:center" ng-if="item.file.name.includes('.xlsx')||item.file.name.includes('.xls')"><div class="es-attachment-icon-excel" /></td>
                                            <td style="width:5%;text-align:center" ng-if="item.file.name.includes('.doc')||item.file.name.includes('.docx')"><div class="es-attachment-icon-word" /></td>
                                            <td style="width:5%;text-align:center" ng-if="item.file.name.includes('.pdf')"><div class="es-attachment-icon-pdf" /></td>
                                            <td style="width:5%;text-align:center" ng-if="!item.file.name.includes('.txt') && !item.file.name.includes('.png') && !item.file.name.includes('.jpg')&& !item.file.name.includes('.pptx')&& !item.file.name.includes('.xlsx')&& !item.file.name.includes('.doc')&& !item.file.name.includes('.pdf')"><div class="es-attachment-icon-default" /></td>
                                            <td> <input type="text" class="form-control" ng-model="item.file.FileName" ng-init="item.file.FileName=item.file.name"></td>
                                            <td><strong>{{ item.file.name }}<a href="javascript:void(0)" ng-click="item.remove()" class="btn btn-sm"><i style="color:red;" class="mdi mdi-close"></i> </a></strong></td>
                                            <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer modal-footer--center">
    <div class="row" style="width:100%; height: 30px;">
        <div class="col-lg-6">
        </div>
        <div class="col-lg-6">
            <div class="form-group" style="float:right">
                <button class="btn btn-info icon-left btn-sm mr-3" type="button" onclick="document.getElementById('attachment').click()">
                    Đính kèm <span class="btn-icon mdi mdi-attachment"></span>
                </button>
                <button class="btn btn-info icon-left btn-sm mr-3" type="button" ng-click="submit()">
                    Lưu <span class="btn-icon mdi mdi-content-save-all"></span>
                </button>
                <button class="btn btn-outline-primary icon-left btn-sm mr-3" type="button" data-dismiss="modal" ng-click="cancel()">
                    Đóng <span class="btn-icon mdi mdi-close"></span>
                </button>
            </div>
        </div>
    </div>
</div>

