﻿<div class="modal-header has-border">
    <h5 class="modal-title es-modal-title"> {{Title}}</h5>
    <button type="button" class="close custom-modal__close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
        <span aria-hidden="true" class="ua-icon-modal-close"></span>
    </button>
</div>
<div class="modal-body">
    <form name="addform" class="form-horizontal  form-bordered" method="post" ng-validate="validationOptions">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="output-device">Tiêu đề<span class="required"> *</span></label>
                        <input type="text" ng-model="model.Title" class="form-control" name="Title">
                    </div>

                    <div class="form-group col-md-4">
                        <label for="input-type">Tiền</label>
                        <input formatsub="number" class="form-control" ng-model="model.Salary" name="Salary">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="input-type">Ngày</label>
                        <input ng-model="model.ContractDate" name="ContractDate" datetime-picker="" date-format="DD/MM/YYYY" placeholder="dd/mm/yyyy" class="form-control ng-pristine ng-valid ng-empty ng-touched" date-only="">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputState">Trạng thái</label>
                        <select ng-smselect se-data="ListIsActive" se-change="ChangeIsActive(data)" ng-model="model.IsActive" se-init="IsActiveConfig"></select>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer modal-footer--center">
    <div class="row" style="width:100%; height: 30px;">
        <div class="col-lg-6">
        </div>
        <div class="col-lg-6">
            <div class="form-group" style="float:right">
                <button class="btn btn-info icon-left btn-sm mr-3" type="button" ng-click="submit()">
                    Lưu <span class="btn-icon mdi mdi-content-save-all"></span>
                </button>
                <button class="btn btn-outline-primary icon-left btn-sm mr-3" type="button" data-dismiss="modal" ng-click="cancel()">
                    Đóng <span class="btn-icon mdi mdi-close"></span>
                </button>
            </div>
        </div>
    </div>
</div>

