﻿<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button>
    <h3 class="modal-title" id="modal-title">Sắp xếp thứ tự</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="portlet-body form">
        <table class="table table-striped table-hover">
            <tbody>
                <tr ng-repeat="item in model">
                    <td>{{item.Title}}</td>
                    <td style="text-align: right;">
                        <select style="width: 70px" ng-model="item.Ord" ng-init="item.Ord=$index+1" ng-options="c.Ord as c.Ord for c in model" ng-change="resort(item,$index)"></select>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="modal-footer">
    <a ng-click="submit()" class="btn btn-primary" href="javascript:;">
        <i class="fa fa-floppy-o"></i> Lưu
    </a>
    <a data-dismiss="modal" class="btn btn-default" href="javascript:;" ng-click="cancel()">
        <i class="fa fa-times"></i> Đóng
    </a>
</div>

