﻿<style>
    .jexcel tbody {
        display: block !important;
        width: max-content;
    }
</style>
<div class="modal-header has-border">
    <h5 class="modal-title es-modal-title"> {{Title}}</h5>
    <button type="button" class="close custom-modal__close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
        <span aria-hidden="true" class="ua-icon-modal-close"></span>
    </button>
</div>
<div class="modal-body">
    <form name="addform" class="form-horizontal  form-bordered" method="post" ng-validate="validationOptions">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="output-device">Tên quy trình<span class="required"> *</span></label>
                        <input type="text" ng-model="model.WorkflowName" class="form-control" name="WorkflowName">
                    </div>

                    <div class="form-group col-md-3">
                        <label for="inputState">Trạng thái</label>
                        <select ng-smselect se-data="ListIsActive" se-change="ChangeIsActive(data)" ng-model="model.IsActive" se-init="IsActiveConfig"></select>
                    </div>

                    <div class="form-group col-md-12">
                        <div style="max-height: 350px;">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th style="text-align:center;width:2%">Bước</th>
                                        <th style="width:15%;text-align:center" align="center">Tên bước</th>
                                        <th style="width:10%;text-align:center" align="center">Người chủ trì</th>
                                        <th style="width:10%;text-align:center" align="center">Người hỗ trợ</th>
                                        <th style="width:10%;text-align:center" align="center">Người theo dõi</th>

                                        <th style="width:2%;text-align:center;padding:5px" align="center">
                                            <button type="button" ng-click="PartDepartment()" style="background: #fff   ; border: 1px solid #ccc   ;  margin-right: 0px" class="btn  btn-default  btn-xs" href="#">
                                                <i class="btn-icon mdi mdi-plus-box"></i> Thêm
                                            </button>
                                        </th>
                                    </tr>

                                    <tr ng-repeat="item in listDetail">
                                        <td align="center" class="rightClickDT">{{$index + 1}}</td>
                                        <td class="rightClickDT">
                                            <input type="text" class="form-control" ng-model="item.ActivityName" />

                                        </td>
                                        <td class="rightClickDT" align="center">
                                            <select name="PersonMainData" class="PersonMainData" ng-model="item.PersonMain" ng-smselect multiple="multiple" se-data="PersonData" se-init="PersonMainConfig" se-change="PersonMainChange(data,$index)"></select>
                                        </td>
                                        <td class="rightClickDT" align="center">
                                            <select name="PersonSupportData" class="PersonSupportData" ng-model="item.PersonSupport" ng-smselect multiple="multiple" se-data="PersonData" se-init="PersonSupportConfig" se-change="PersonSupportChange(data,$index)"></select>
                                        </td>
                                        <td class="rightClickDT" align="center">
                                            <select name="PersonFollowData" class="PersonFollowkData" ng-model="item.PersonFollow" ng-smselect multiple="multiple" se-data="PersonData" se-init="PersonFollowConfig" se-change="PersonFollowChange(data,$index)"></select>
                                        </td>

                                        <td style="text-align: center !important;" class="rightClickDT">
                                            <a data-toggle="modal" class="btn btn-icon-only btn-default btn-custom" title="Xóa" ng-click="ListPartDepartments.splice($index,1);"><i class="mdi mdi-delete"></i></a>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer modal-footer--center">
    <div class="row" style="width:100%; height: 30px;">
        <div class="col-lg-6">
        </div>
        <div class="col-lg-6">
            <div class="form-group" style="float:right">

                <button class="btn btn-info icon-left btn-sm mr-3" type="button" ng-click="submit()">
                    Lưu <span class="btn-icon mdi mdi-content-save-all"></span>
                </button>
                <button class="btn btn-outline-primary icon-left btn-sm mr-3" type="button" data-dismiss="modal" ng-click="cancel()">
                    Đóng <span class="btn-icon mdi mdi-close"></span>
                </button>
            </div>
        </div>
    </div>
</div>

