﻿<style>
    .es-datatable-right {
        text-align: right;
    }

    th.tcenter-header {
        padding-right: 20px !important;
    }
</style>
<div class="subnav">
    <div class="subnav__header">
        <div class="subnav__heading">
            <span class="mdi mdi-view-list subnav__heading-icon"></span>Quản lý quy trình
        </div>
        <div class="subnav__header-side">
            <!--<div class="dropdown">
                <a href="javascript:;" class="btn btn-info btn-sm icon-left dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Nhân bản quy trình">
                    Nhân bản <span class="btn-icon mdi mdi-content-copy"></span>
                </a>
                <div class="dropdown-menu">
                    <a ng-repeat="item in ListOrganizations" href="javascript:;" class="dropdown-item" ng-click="copy(item.OrganizationGuid)">{{item.OrganizationName}}</a>
                </div>
            </div>-->
            <a href="#" class="btn btn-info btn-sm icon-left" ng-click="add()" onclick="return false">
                Thêm <span class="btn-icon mdi mdi-plus-box"></span>
            </a>

            <a href="#" class="btn btn-info btn-sm icon-left" data-toggle="modal" ng-click="reloadAll()" onclick="return false">
                Làm mới <span class="mdi mdi-refresh"></span>
            </a>
            
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="widget widget-tabs bd-widget-overview">
            <div class="widget-tabs__header widget-tabs__header--bordered">
                <div class="widget-tabs__header-meta">
                    <div class="input-group input-group-icon icon-right input-group-sm" style="margin-right:5px">
                        <input class="form-control" type="text" placeholder="Nhập từ khóa" ng-change="reload()" ng-model="staticParam.Keyword">
                        <span class="input-icon ua-icon-search"></span>
                    </div>
                   
                </div>
            </div>
            <div class="m-datatable es-table-scroll">
                <table class="table table-striped" style="margin-top: 0px !important; width: 100%;"
                       datatable
                       dt-options="dtOptions"
                       dt-columns="dtColumns"
                       dt-instance="dtInstance"
                       id="tblData"></table>
            </div>
        </div>
    </div>
</div>