﻿<style>

    div:not(.dataTables_scrollBody):not(.dataTables_scrollFoot):not(#myhtexpiredndc2):not(#myhtexpiredndc2read):not(#myhtindexkq1):not(#myhtindexkq2):not(#myhtindexkq3):not(#myhtindex1):not(#myhtindex2):not(#myhtindex3):not(#myhtindex4):not(#myhtindex5):not(#myhtindex6):not(#myhtindex7):not(#myht):not(#myhtndc1):not(#myhtndc2):not(#myhtndc2read)::-webkit-scrollbar {
        display: none;
        margin: 0px !important;
    }

    .jexcel tbody {
        display: block !important;
        width: max-content;
    }
</style>

<div class="subnav">
    <div class="subnav__header">
        <div class="subnav__heading">
            <span class="mdi mdi-view-list subnav__heading-icon"></span>Danh sách sản phẩm
        </div>
        <div class="subnav__header-side">

            <a href="javascript:;" class="btn btn-info btn-sm icon-left" data-action="ADD" ng-click="add()" title="Thêm mới">
                <span class="btn-icon mdi mdi-plus-box"></span> Thêm mới
            </a>

            <a href="javascript:;" class="btn btn-info btn-sm icon-left" data-toggle="modal" ng-click="reloadALL()" title="Làm mới dữ liệu">
                Làm mới <span class="btn-icon mdi mdi-refresh"></span>
            </a>
            <!--<a href="javascript:;" class="btn btn-danger btn-sm icon-left" data-action="DELETE" ng-click="deleteChecked()" onclick="return false" title="Xóa dữ liệu">
                <span class="btn-icon mdi mdi-delete-forever"></span> Xóa
            </a>-->
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="widget widget-tabs bd-widget-overview">
            <div class="widget-tabs__header widget-tabs__header--bordered">
                <div class="widget-tabs__header-meta">
                    <div class="input-group input-group-icon icon-right input-group-sm" style="margin-right:5px">
                        <input class="form-control" ng-model="staticParam.Search" ng-change="reload()" type="search" placeholder="Nhập từ khóa">
                        <span class="input-icon ua-icon-search"></span>
                    </div>
                   
                    <div class="input-group input-group-icon icon-right input-group-sm" style="margin-right:5px;width:180px;">
                        <select ng-model="staticParam.lstHangSanXuatGuid" ng-smselect multiple="multiple" placeholder="Hãng sản xuất" se-data="ListHangSanXuat" se-init="ColumnMultiConfig" se-change="lstHangSanXuatGuidChange(data)" ></select>
                    </div>
                    <div class="input-group input-group-icon icon-right input-group-sm" style="margin-right:5px;width:180px;">
                        <select ng-model="staticParam.lstGroupSanPhamGuid" ng-smselect multiple="multiple" placeholder="Nhóm sản phẩm" se-data="ListGroupSanPham" se-init="ColumnMultiConfig" se-change="lstGroupSanPhamGuidChange(data)"></select>
                    </div>


                </div>
            </div>
            <div class="m-datatable">
                <table class="table table-striped" style="margin-top: 0px !important; width: 100%;"
                       datatable
                       dt-options="dtOptions"
                       dt-columns="dtColumns"
                       dt-instance="dtInstance"
                       id="tblData">
                    <tfoot>
                        <tr>
                            <th class="borderTop-text" title="Tổng bản ghi"><b>{{staticParam.TotalRow}}</b></th>
                            <th class="borderTop-text"><b></b></th>
                            <th class="borderTop-text"><b></b></th>
                            <th class="borderTop-text"></th>
                            <th class="borderTop-text"></th>
                            <th class="borderTop-text"><b></b></th>
                            <th class="borderTop-text" style="text-align:right"></th>
                            <th class="borderTop-text"><b></b></th>
                            <th class="borderTop-text"><b></b></th>
                            <th class="borderTop-text"><b></b></th>

                        </tr>
                    </tfoot>
                </table>
            </div>

        </div>
    </div>
</div>
