﻿<style>
    .jexcel tbody {
        display: block !important;
        width: max-content;
    }
</style>
<div class="modal-header has-border">
    <h5 class="modal-title es-modal-title"> {{Title}}</h5>
    <button type="button" class="close custom-modal__close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
        <span aria-hidden="true" class="ua-icon-modal-close"></span>
    </button>
</div>
<div class="modal-body">
    <form name="openform" class="form-horizontal  form-bordered" method="post" ng-validate="validationOptions">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label for="output-device">Mã sản phẩm<span class="required"> *</span></label>
                        <input type="text" ng-model="model.MaSanPham" class="form-control" name="MaSanPham" ng-disabled="true">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="output-device">Tên sản phẩm<span class="required"> *</span></label>
                        <input type="text" ng-model="model.TenSanPham" class="form-control" name="TenSanPham" ng-disabled="true">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="output-device">Đơn giá</label>
                        <input formatsub="number" class="form-control" ng-model="model.DonGia" name="DonGia" ng-disabled="true">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="output-device">Giảm giá</label>
                        <input formatsub="number" class="form-control" ng-model="model.Giamgia" name="Giamgia" ng-disabled="true">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="output-device">Nhóm sản phẩm</label>
                        <select ng-smselect se-data="ListGroupSanPham" se-change="GroupSanPhamGuidChange(data)" ng-model="model.GroupSanPhamGuid" se-init="ColumnConfig" ng-disabled="true"></select>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="output-device">Hãng sản xuất</label>
                        <select ng-smselect se-data="ListHangSanXuat" se-change="HangSanXuatGuidChange(data)" ng-model="model.HangSanXuatGuid" se-init="ColumnConfig" ng-disabled="true"></select>
                    </div>

                    <div class="form-group col-md-2">
                        <label for="output-device">Tiêu đề thẻ</label>
                        <input type="text" ng-model="model.MetaTitle" class="form-control" name="MetaTitle" ng-disabled="true">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="output-device">Mô tả thẻ</label>
                        <input type="text" ng-model="model.MetaDescription" class="form-control" name="MetaDescription" ng-disabled="true">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="output-device">Từ khóa thẻ</label>
                        <input type="text" ng-model="model.MetaKeyWord" class="form-control" name="MetaKeyWord" ng-disabled="true">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="output-device">Hiển thị trang chủ</label>
                        <div class="form-group col-md-12">
                            <label class="mt-checkbox"><input type="checkbox" ng-model="model.Location" title="Hiển thị lên trang chủ" ng-disabled="true"/><span></span></label>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <div class="col-md-12" style="overflow-x:hidden;text-align:center">
                            <img ng-src="{{model.Title1}}" style="height:80%;max-height: 200px;border:solid 1px silver" id="image" />
                            <div class="clearfix margin-top-10">
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <div class="col-md-12" style="overflow-x:hidden;text-align:center">
                            <img ng-src="{{model.Title2}}" style="height:80%;max-height: 200px;border:solid 1px silver" id="image2" />
                            <div class="clearfix margin-top-10">
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <div class="col-md-12" style="overflow-x:hidden;text-align:center">
                            <img ng-src="{{model.Title3}}" style="height:80%;max-height: 200px;border:solid 1px silver" id="image3" />
                            <div class="clearfix margin-top-10">
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <div class="col-md-12" style="overflow-x:hidden;text-align:center">
                            <img ng-src="{{model.Title4}}" style="height:80%;max-height: 200px;border:solid 1px silver" id="image4" />
                            <div class="clearfix margin-top-10">
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="textarea">Mô tả</label>
                        <textarea ui-tinymce="tinymceOptions" type="text" ng-model="model.Description" name="Description" class="form-control" ng-disabled="true"></textarea>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="textarea">Chi tiết</label>
                        <textarea ui-tinymce="tinymceOptions" type="text" ng-model="model.Chitiet" name="Chitiet" class="form-control" ng-disabled="true"></textarea>
                    </div>

                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer modal-footer--center">
    <div class="row" style="width:100%; height: 30px;">
        <div class="col-lg-6">
            <ul class="page-footer__nav">
                <li class="page-footer__nav-item">
                    <a href="#" class="page-footer__nav-link">
                        <span class="mdi mdi-account page-footer__nav-icon" title="Người tạo"></span>
                        {{model.CreatedBy.split('#')[1]}}
                    </a>
                </li>
                <li class="page-footer__nav-item">
                    <a href="#" class="page-footer__nav-link">
                        <span class="mdi mdi-calendar-plus page-footer__nav-icon" title="Ngày tạo"></span>
                        {{model.CreatedDate | fdate:'DD/MM/YYYY HH:mm'}}
                    </a>
                </li>
                <li class="page-footer__nav-item">
                    <a href="#" class="page-footer__nav-link">
                        <span class="mdi mdi-account-check page-footer__nav-icon" title="Người sửa"></span>
                        {{model.ModifiedBy.split('#')[1]}}
                    </a>
                </li>
                <li class="page-footer__nav-item">
                    <a href="#" class="page-footer__nav-link">
                        <span class="mdi mdi-calendar-check page-footer__nav-icon" title="Ngày sửa"></span>
                        {{model.ModifiedDate | fdate:'DD/MM/YYYY HH:mm'}}
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-lg-6">
            <div class="form-group" style="float:right">
                <!--<button class="btn btn-info icon-left btn-sm mr-3" type="button" ng-click="submit()" data-action="APPROVE">
                    <span class="btn-icon mdi mdi-content-save-all"></span> Lưu
                </button>-->
                <button class="btn btn-outline-primary icon-left btn-sm mr-3" type="button" data-dismiss="modal" ng-click="cancel()">
                    Đóng <span class="btn-icon mdi mdi-close"></span>
                </button>
            </div>
        </div>
    </div>
</div>

