﻿<style>
    .ui-select-match span[ng-repeat] {
        border: 1px solid #939daa;
        padding: 3px 1px 2px 1px;
        border-radius: 5px;
    }

    .moreContent {
        padding: 2px 5px 0px 3px;
        border-radius: 5px;
        margin-left: 4px;
        color: #2196f3;
    }

        .moreContent:hover {
            border: 1px solid #0b79da;
            color: #0b79da;
        }

    .modal-body .row {
        margin-bottom: 11px !important;
    }

    .label-sendmail {
        text-align: center;
    }

    .btn-xs {
        padding: 2px 5px 1px 5px;
    }

    .icon-showmore {
        padding: 5px 7px 4px 7px;
        border: 1px solid #04b5ac;
        color: #055a70;
    }

        .icon-showmore:hover {
            background-color: #055a70;
            color: white;
        }

    .add-tab {
        width: 100%;
        margin-top: 10px;
        border-bottom: 1px solid #d3d9dd;
        margin-bottom: 6px;
    }

        .add-tab .item {
            padding: 5px 7px 3px 9px;
            border: 1px solid #428bca;
            min-width: 96px;
            display: inline-block;
            border-bottom: unset;
        }

        .add-tab .item {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px
        }

            .add-tab .item.is-active {
                background-color: #428bca;
                color: white;
            }

    .task-add-scroll {
        max-height: 70vh;
        overflow-x: hidden;
    }

    .send-mail-css {
        display: inline-block;
        float: right;
        margin-right: 3px;
    }

        .send-mail-css input {
            float: left;
            margin-top: 4px;
        }

        .send-mail-css label {
            padding-left: 8px;
            margin-bottom: 0px;
        }

    .input-group.icon-right .form-control {
        padding-right: 52px;
    }

    .assignedTo-add-more {
        font-size: 20px !important;
        color: black;
    }

    .assignedTo-add-more-first {
        right: 30px !important;
        color: red;
    }

    .ES-TM .margin-form-add {
        margin: 5px;
    }

    .task_btn_template {
        float: right;
        padding-top: 5px;
        font-weight: bold;
        text-transform: uppercase;
        color: #d24545 !important;
        border: 1px solid #80808066;
        padding: 11px 5px 8px 5px;
        border-radius: 3px;
    }
</style>
<div class="modal-header has-border" modal-drag>
    <h5 class="modal-title es-modal-title">
        {{Title}}
    </h5>
    <button type="button" class="close custom-modal__close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
        <span aria-hidden="true" class="ua-icon-modal-close"></span>
    </button>
</div>
<div class="modal-body">
    <form name="addform" class="form-horizontal  form-bordered" method="post" ng-validate="validationOptions" ng-init="useTemplate = 'ADD'; _useTemplate_ === false">
        <!--<div class="add-tab">
            <div class="item {{useTemplate === 'ADD'? 'is-active': ''}} es-cursor" ng-click="useTemplate = 'ADD';" style="text-align: center;">
                <span>Tạo mới</span>
            </div>
            <div class="item {{useTemplate === 'TEMP'? 'is-active': ''}} es-cursor" ng-click="useTemplate = 'TEMP';">
                <span>Sử dụng mẫu</span>
            </div>
        </div>-->
        <div class="task-scroll-custom task-add-scroll" ng-show="useTemplate === 'ADD'">
            <div class="margin-form-add">
                <div class="row" ng-show="_useTemplate_">
                    <div class="col-lg-12">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="output-device">Chọn mẫu sử dụng</label>
                                <select ng-model="model.TemplateId" se-init="initTemplate" ng-smselect se-data="liTemplate" se-change="TemplateChange(data)"></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="output-device">Mã công việc</label>
                                <input type="text" ng-model="model.TaskNumber" class="form-control" id="output-device" placeholder="Nhập mã công việc">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-10">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="output-device">Tên công việc<span class="has-error"> *</span></label>
                                <input type="text" ng-model="model.Subject" class="form-control" id="output-device" placeholder="Nhập tên công việc">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!--ng-show="isshowMore"-->
                    <div class="col-lg-12">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="output-device"> Nội dung:</label>
                                <div>
                                    <!--ng-show="moreContent">-->
                                    <textarea ui-tinymce="tinymceOptions" ng-model="model.TaskContent" style="width:100%;"></textarea>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="output-device">Chọn nhóm công việc</label>
                                <div class="input-group input-group-icon icon-right input-group-sm" style="margin-right:5px;">
                                    <ui-select ng-model="model.CategoryOfTaskGuid" class="" style="width: 100%;" ng-change="CategoryOfTaskChange(model.CategoryOfTaskGuid)">
                                        <ui-select-match placeholder="Chọn nhóm công việc...">{{$select.selected.Title}}</ui-select-match>
                                        <ui-select-choices repeat="x.Id as x in liCateOfTaskList | filter:$select.search">
                                            {{x.Title}}
                                        </ui-select-choices>
                                    </ui-select>
                                    <!--<span class="input-icon mdi mdi-plus es-cursor" style="font-size: 20px;color: black;" ng-click="addCategoryOfTask()"></span>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               
                <div class="row" ng-show="isshowMore">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="textarea">Ngày bắt đầu:</label>
                            <input ng-model="model.StartDate" datetime-picker date-format="DD/MM/YYYY" class="form-control" date-only />
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <div class="form-group col-md-12">
                                <label for="output-device">Ngày đến hạn:</label>
                                <input ng-model="model.EndDate" datetime-picker date-format="DD/MM/YYYY" class="form-control" date-only />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3" ng-show="isshowMore">
                        <div class="form-group">
                            <label for="output-device">Ưu tiên:</label>
                            <select ng-model="model.Priority" ng-smselect se-data="DataPriority" se-change="objectTypeChange(data)" se-init="ColumnConfig"></select>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="output-device">Trạng thái:</label>
                            <select ng-model="model.StatusCompleted" ng-smselect se-data="dStatusProcess" se-change="StatusCompletedChange(data)" se-init="ColumnConfig"></select>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="isshowMore">
                    <div class="col-lg-12">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="output-device">
                                    Người chủ trì:<span class="moreContent" ng-click="moreAsign = !moreAsign">{{moreAsign?'Thu gọn':'Chi tiết'}}</span>
                                </label>                               
                                <div class="input-group input-group-icon icon-right input-group-sm" style="margin-right:5px;">
                                    <ui-select multiple ng-model="model.AssignedTo" name="Headship" class="form-control" style="width: 100%;" ng-disabled="AssignedTo" ng-change="changeEmp();">
                                        <ui-select-match class="ui-select-css" placeholder="Chọn nhân viên...">{{$item.FullName}}</ui-select-match>
                                        <ui-select-choices repeat="u in liEmployee1 | filter:$select.search">
                                            {{u.FullName}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-show="moreAsign">
                    <div class="row" ng-show="isshowMore">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="output-device">Người phối hợp xử lý:</label>
                               
                                <div class="input-group input-group-icon icon-right input-group-sm" style="margin-right:5px;">
                                    <ui-select multiple ng-model="model.Supporter" name="Supporter" class="form-control" style="width: 100%;" ng-required="true" ng-change="changeEmp()">
                                        <ui-select-match placeholder="Chọn nhân viên...">{{$item.FullName}}</ui-select-match>
                                        <ui-select-choices repeat="u in liEmployee2 | filter:$select.search">
                                            {{u.FullName}}
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-show="isshowMore">
                        <div class="col-lg-12">
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label for="output-device">Người theo dõi:</label>
                                    
                                    <div class="input-group input-group-icon icon-right input-group-sm" style="margin-right:5px;">
                                        <ui-select multiple ng-model="model.Headship" name="Headship" class="form-control" style="width: 100%;" ng-required="true" ng-change="changeEmp()">
                                            <ui-select-match placeholder="Chọn nhân viên...">{{$item.FullName}}</ui-select-match>
                                            <ui-select-choices repeat="u in liEmployee3 | filter:$select.search">
                                                {{u.FullName}}
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="isshowMore">
                    <div class="col-lg-12">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="output-device">Nhãn công việc:</label>
                                <div class="input-group input-group-icon icon-right input-group-sm" style="margin-right:5px;">
                                    <ui-select multiple ng-model="model.Labels" name="Headship" class="form-control" style="width: 100%;" ng-required="true" ">
                                        <ui-select-match placeholder="Chọn nhãn...">
                                            <span style=" padding: 4px 5px; width: 100%; background-color: {{$item.Class}};">
                                                {{$item.LabelName}}
                                            </span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="u in liLabels | filter:$select.search">
                                            <span style=" padding: 4px 5px; width: 100%; background-color: {{u.Class}};">
                                                {{u.LabelName}}
                                            </span>
                                        </ui-select-choices>
                                    </ui-select>
                                    <!--<span class="input-icon mdi mdi-plus es-cursor" style="font-size: 20px;color: black;" ng-click="addLabel()"></span>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="isshowMore">
                    <div class="col-lg-12">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <div class="m-task__checklist" style="margin-top: 0;">
                                    <h3 class="m-task__checklist-heading">Hạng mục công việc (nếu có): </h3>
                                    <ul class="m-task__checklist-items" id="FormAddTaskCheckList">
                                        <li ng-repeat="item in model.checkboxList" style="margin-bottom: 10px">
                                            <div class="input-group input-group-icon icon-left input-group-sm" style="margin-right:5px;">
                                                <input on-enter="addNewCheckList(model.checkboxList)" class="form-control" type="text" ng-model="item.CheckListTitle" placeholder="Nhập nội dung..." />
                                                <span class="input-icon" style="font-size: 20px;color: black;">
                                                    <input type="checkbox" class="task-style-checkbox" ng-model="item.Status" />
                                                </span>
                                                <span ng-click="model.checkboxList.splice($index,1);" class="mdi mdi-close-box-outline es-cursor" style="font-size: 20px;color: black;"></span>
                                            </div>
                                        </li>
                                    </ul>
                                    <a class="m-task__control es-cursor" ng-click="model.checkboxList.push({});">+ Thêm mới </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-show="liAtt.length>0">
                    <div class="">
                        <div class="">
                            <div class="table-scrollable">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>

                                            <th style="width:5%">STT</th>
                                            <th style="width:5%">Icon</th>
                                            <th style="width:20%">Tiêu đề</th>
                                            <th style="">Tên tệp</th>
                                            <th style="width:15%">Kích thước</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="x in liAtt">
                                            <td style="width:5%;text-align:center">
                                                {{$index+1}}
                                            </td>
                                            <td style="width:5%;text-align:center;font-size:15px" title="Excel" ng-if="x.FileName.includes('.xlsx') || x.FileName.includes('.xls')"><div class="mdi mdi-file-excel" /></td>
                                            <td style="width:5%;text-align:center;font-size:15px" title="Word" ng-if="x.FileName.includes('.doc') || x.FileName.includes('.docx')"><div class="mdi mdi-file-word" /></td>
                                            <td style="width:5%;text-align:center;font-size:15px" title="PDF" ng-if="x.FileName.includes('.pdf')"><div class="mdi mdi-file-pdf" /></td>
                                            <td style="width:5%;text-align:center;font-size:15px" ng-if="!x.FileName.includes('.xlsx') && !x.FileName.includes('.xls') && !x.FileName.includes('.doc') && !x.FileName.includes('.docx') && !x.FileName.includes('.pdf')"></td>
                                            <td> {{x.Title}}</td>
                                            <td>
                                                <a target="_blank" ng-href="/Cooperation/Tasks/Download?id={{x.AttachmentGuid}}" href="/">{{x.FileName}} </a>
                                                <strong>{{ x.file.name }}<a href="javascript:void(0)" ng-click="remoteAttach(x, $index)" class="btn btn-sm"><i style="color:red;" class="mdi mdi-close"></i> </a></strong>
                                            </td>
                                            <td style="text-align : left">{{x.FileSize/ 1024/1024|number:2}} MB</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-show="uploader.queue.length>0">
                    <!--<label class="control-label col-md-1">Đính kèm:</label>-->
                    <div class="">
                        <input type="file" style="font-size: 0px;Display: none" nv-file-select="" name="file[]" uploader="uploader" multiple id="attachment" />
                        <div class="table-scrollable">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th style="width:5%">STT</th>
                                        <th style="width:5%">Icon</th>
                                        <th style="width:20%">Tiêu đề</th>
                                        <th style="">Tên tệp</th>
                                        <th style="width:15%">Kích thước</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr ng-repeat="item in uploader.queue">
                                        <td style="width:5%;text-align:center">{{$index+1}}</td>
                                        <td style="width:5%;text-align:center">
                                            <img class="img-icon-attach" ng-src="{{utility.COMMON_ICON_PUBLIC_ATTACH(item.file.name)}}" />
                                        </td>
                                        <td> <input type="text" class="form-control" ng-model="item.file.FileName" ng-init="item.file.FileName=item.file.name"></td>
                                        <td><strong>{{ item.file.name }}<a href="javascript:void(0)" ng-click="item.remove()" class="btn btn-sm"><i style="color:red;" class="mdi mdi-close"></i> </a></strong></td>
                                        <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="" ng-show="useTemplate === 'TEMP'">
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="output-device">Chọn mẫu sử dụng</label>
                            <select ng-model="model.TemplateId" se-init="initTemplate" ng-smselect se-data="liTemplate" se-change="TemplateChange(data)"></select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer modal-footer--center">
    <div class="row" style="width:100%; height: 30px;">
        <div class="col-lg-12">
            <span class="icon-showmore icon-left btn-sm mr-3 es-cursor" type="button" ng-click="isshowMore = !isshowMore" ng-init="isshowMore = true">
                {{isshowMore?'Thu gọn':'Thêm thông tin'}}
            </span>            
            <div class="form-group" style="float:right">
                <button ng-show="isshowMore" onclick="document.getElementById('attachment').click()" class="btn btn-outline-primary icon-left btn-sm mr-3" type="button" data-dismiss="modal">
                    Đính kèm <span class="btn-icon mdi mdi-attachment"></span>
                </button>
                <button class="btn btn-info icon-left btn-sm mr-3" type="button" ng-click="submit()">
                    Lưu <span class="btn-icon mdi mdi-content-save-all"></span>
                </button>
                <button class="btn btn-outline-primary icon-left btn-sm mr-3" type="button" ng-click="cancel()">
                    Đóng <span class="btn-icon mdi mdi-close"></span>
                </button>
            </div>
        </div>
    </div>
</div>