﻿<div class="modal-header has-border" modal-drag>
    <h5 class="modal-title es-modal-title">
        {{Title}}
    </h5>
    <button type="button" class="close custom-modal__close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
        <span aria-hidden="true" class="ua-icon-modal-close"></span>
    </button>
</div>
<div class="modal-body">
    <form class="form-horizontal  form-bordered" method="post">
        <div class="row">
            <div class="col-xl-12">
                <div class="form-group" ng-show="jdataattach.length<=0">
                    <div style="padding: 3px 10px;">
                        <span>Không có dữ liệu</span>
                    </div>
                </div>
                <div class="form-group" ng-show="jdataattach.length>0">
                    <div class="">
                        <div class="">
                            <div class="table-scrollable" style=" overflow-y: scroll; max-height: 70vh;">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th style="width:5%">STT</th>
                                            <th style="width:5%">Icon</th>
                                            <th style="width:20%">Tiêu đề</th>
                                            <th style="">Tên tệp</th>
                                            <th style="">Người tạo</th>
                                            <th style="width:15%">Kích thước</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="x in jdataattach">
                                            <td style="width:5%;text-align:center">
                                                {{$index+1}}
                                            </td>
                                            <td style="width:5%;text-align:center">
                                                <img style="width: 35px;" ng-src="{{utility.COMMON_ICON_PUBLIC_URL(x.FileExtension)}}" />
                                            </td>
                                            <td> {{x.Title}}</td>
                                            <td>
                                                <a target="_blank" ng-href="/Cooperation/Tasks/Download?id={{x.AttachmentGuid}}" href="/">{{x.FileName}} </a>
                                                <strong>{{ x.file.name }}<a ng-show="iSelected.EmpPermissionCustom.IsUpdate" href="javascript:void(0)" ng-click="remoteAttach(x)" class="btn btn-sm"><i style="color:red;" class="mdi mdi-close"></i> </a></strong>
                                            </td>
                                            <td> {{x.CreatedBy}}</td>
                                            <td style="text-align : right">{{x.FileSize/ 1024/1024|number:2}} MB</td>
                                        </tr>
                                        <tr style=" background-color: rgba(0,0,0,.075);">
                                            <td colspan="6">
                                                <span>Danh sách đính kèm mới</span>
                                            </td>
                                        </tr>
                                        <tr ng-repeat="item in uploader.queue">
                                            <td style="width:5%;text-align:center">{{$index+1}}</td>
                                            <td style="width:5%;text-align:center">
                                                <img style="width: 35px;" ng-src="{{utility.COMMON_ICON_PUBLIC_URL(item.file.type)}}" />
                                            </td>
                                            <td> <input type="text" class="form-control" ng-model="item.file.FileName" ng-init="item.file.FileName = item.file.name"></td>
                                            <td><strong>{{ item.file.name }}<a href="javascript:void(0)" ng-click="item.remove()" class="btn btn-sm"><i style="color:red;" class="mdi mdi-close"></i> </a></strong></td>
                                            <td></td>
                                            <td ng-show="uploader.isHTML5" style="text-align : right">{{ item.file.size/1024/1024|number:2 }} MB</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-hide="true">
                    <div class="">
                        <input type="file" style="font-size: 0px;Display: none" nv-file-select="" name="file[]" uploader="uploader" multiple id="attachment" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer modal-footer--center">
    <div class="row" style="width:100%; height: 30px;">
        <div class="col-lg-6">

        </div>
        <div class="col-lg-6">
            <div class="form-group" style="float:right">
                <button ng-show="iSelected.EmpPermissionCustom.IsUpdate" onclick="document.getElementById('attachment').click()" class="btn btn-outline-primary icon-left btn-sm mr-3" type="button" data-dismiss="modal">
                    Đính kèm <span class="btn-icon mdi mdi-attachment"></span>
                </button>
                <button ng-show="iSelected.EmpPermissionCustom.IsUpdate" class="btn btn-info icon-left btn-sm mr-3" type="button" ng-click="submit()">
                    Lưu <span class="btn-icon mdi mdi-content-save-all"></span>
                </button>
                <button class="btn btn-outline-primary icon-left btn-sm mr-3" type="button" data-dismiss="modal" ng-click="cancel()">
                    Đóng <span class="btn-icon mdi mdi-close"></span>
                </button>
            </div>
        </div>
    </div>
</div>

