﻿<div class="modal-header has-border" modal-drag>
    <h5 class="modal-title es-modal-title">
        {{Title}}
    </h5>
    <button type="button" class="close custom-modal__close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
        <span aria-hidden="true" class="ua-icon-modal-close"></span>
    </button>
</div>
<style>
    .tm-ProcessAccept-item .item {
        padding: 8px 3px;
        border-bottom: 1px solid #8080802b;
    }

    .tm-ProcessAccept-item .checked-icon {
        display: inline-block;
        width: 50px;
    }

    .tm-ProcessAccept-item .tm-accept .comment, .tm-ProcessAccept-item .tm-accept .mdi {
        color: #009688;
    }

    .tm-ProcessAccept-item .tm-denied .comment, .tm-ProcessAccept-item .tm-denied .mdi {
        color: #ff5722;
    }

    .tm-ProcessAccept-item .fullname {
        font-weight: bold;
        color: #545454;
    }

    .tm-ProcessAccept-item .date {
        font-style: italic;
        font-size: 12px;
    }
</style>
<div class="modal-body">
    <form name="addform" class="form-horizontal  form-bordered" method="post" ng-validate="validationOptions">
        <div class="row" ng-show="PermissionTask.IsFullControl">
            <div class="col-lg-12">
                <div class="form-row">
                    <div class="form-group col-md-8">
                        <label for="output-device">
                            Nội dung xác nhận <span class="has-error"> *</span>
                        </label>
                        <textarea class="form-control" rows="10" ng-model="model.ProcessAcceptCommentAdd"></textarea>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="output-device">
                            % xác nhận
                        </label>
                        <input class="form-control" type="number" ng-model="model.ProcessAcceptPercent" />
                    </div>
                    <div class="form-group col-md-2">
                        <label for="output-device" title="Trạng thái xác nhận hoặc không xác nhận cho tiến độ hoàn thành">
                            Trạng thái XN
                        </label>
                        <input class="form-control" type="checkbox" ng-model="model.Checked" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="tm-ProcessAccept-item" ng-repeat="item in ProcessAcceptCommentView">
                    <div class="item {{item.ProcessAccept==='Y'?'tm-accept':'tm-denied'}}">
                        <div class="checked-icon">
                            <span class="mdi mdi-check" ng-show="item.ProcessAccept==='Y'">{{item.Current}}%</span>
                            <span class="mdi mdi-close" ng-show="item.ProcessAccept!=='Y'">{{item.Current}}%</span>
                        </div>
                        <span class="fullname">
                            {{item.FullName}}
                        </span>
                        <span class="date">
                            ({{item.Date}})
                        </span>
                        :
                        <span class="comment">
                            {{item.Comment}}
                        </span>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>
<div class="modal-footer modal-footer--center">
    <div class="row" style="width:100%; height: 30px;">
        <div class="col-lg-6">

        </div>
        <div class="col-lg-6">
            <div class="form-group" style="float:right">
                <button class="btn btn-info icon-left btn-sm mr-3" type="button" ng-click="submit()" ng-show="PermissionTask.IsFullControl">
                    Lưu <span class="btn-icon mdi mdi-content-save-all"></span>
                </button>
                <button class="btn btn-outline-primary icon-left btn-sm mr-3" type="button" data-dismiss="modal" ng-click="cancel()">
                    Đóng <span class="btn-icon mdi mdi-close"></span>
                </button>
            </div>
        </div>
    </div>
</div>
<script>

</script>