﻿<div class="modal-header has-border" modal-drag>
    <h5 class="modal-title es-modal-title">Thêm mới danh mục công việc</h5>
    <button type="button" class="close custom-modal__close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
        <span aria-hidden="true" class="ua-icon-modal-close"></span>
    </button>
</div>
<div class="modal-body">
    <form name="addform" class="form-horizontal  form-bordered" method="post" ng-validate="validationOptions">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-row">
                    <div class="form-group col-md-8">
                        <label for="output-device">Tên danh mục<span class="has-error"> *</span></label>
                        <input type="text" class="form-control" ng-model="model.Title" name="Title" />
                    </div>
                    <div class="form-group col-md-4">
                        <label for="output-device">Danh mục cấp trên</label>
                        <div class="input-group input-group-icon icon-right input-group-sm" style="margin-right:5px;">
                            <ui-select ng-model="model.ParentId" class="" style="width: 100%;">
                                <ui-select-match placeholder="Chọn cấp trên...">{{$select.selected.Title}}</ui-select-match>
                                <ui-select-choices repeat="x.CategoryOfTaskGuid as x in liCateOfTaskList | filter:$select.search">
                                    {{x.Title}}
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-icon mdi mdi-close-box-outline" style="font-size: 20px;color: black;" ng-click="model.ParentId=null;"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>           
    </form>
</div>
<div class="modal-footer modal-footer--center">
    <div class="row" style="width:100%; height: 30px;">
        <div class="col-lg-6">

        </div>
        <div class="col-lg-6">
            <div class="form-group" style="float:right">
                <button class="btn btn-info icon-left btn-sm mr-3" type="button" ng-click="submit()">
                    Lưu <span class="btn-icon mdi mdi-content-save-all"></span>
                </button>
                <button class="btn btn-outline-primary icon-left btn-sm mr-3" type="button" data-dismiss="modal" ng-click="cancel()">
                    Đóng <span class="btn-icon mdi mdi-close"></span>
                </button>
            </div>
        </div>
    </div>
</div>
