﻿<div class="modal-header has-border" modal-drag>
    <h5 class="modal-title es-modal-title">
        {{Title}}
    </h5>
    <button type="button" class="close custom-modal__close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
        <span aria-hidden="true" class="ua-icon-modal-close"></span>
    </button>
</div>
<div class="modal-body">
    <form name="addform" class="form-horizontal  form-bordered" method="post" ng-validate="validationOptions">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="output-device">Danh mục sổ địa chỉ</label>
                        <div class="input-group input-group-icon icon-right input-group-sm" style="margin-right:5px;">
                            <ui-select ng-model="model.Address" multiple class="" style="width: 100%;" ng-change="loadAddressEmployee()">
                                <ui-select-match placeholder="Chọn sổ địa chỉ...">{{$item.Title}}</ui-select-match>
                                <ui-select-choices repeat="x in liAddress | filter:$select.search">
                                    {{x.Title}}
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-icon mdi mdi-plus es-cursor" style="font-size: 20px;color: black;margin-right: 19px;" ng-click="AddAddress()"></span>
                            <span class="input-icon mdi mdi-close-box-outline" style="font-size: 20px;color: black;" ng-click="model.Address=null;"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-row">
                    <div class="form-group col-md-12 task-scroll-custom" style="height: 60vh">
                        <label for="output-device">Danh sách nhân viên</label>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th style="text-align:center; width: 50px">STT</th>
                                    <th style="text-align: center; width: 80px">
                                        <input type="checkbox" class="es-cursor" ng-model="CheckAll" ng-change="CheckedAll()" />
                                    </th>
                                    <th>Tên nhân viên</th>
                                    <th>Bộ phận</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in liEmployee">
                                    <td style="text-align: center;">
                                        {{$index + 1}}
                                    </td>
                                    <td style="text-align: center;">
                                        <input type="checkbox" class="es-cursor" ng-model="item.Checked" />
                                    </td>
                                    <td style="text-align: left;">
                                        {{item.FullName}}
                                    </td>
                                    <td style="text-align: left;">
                                        {{item.DepartmentName}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer modal-footer--center">
    <div class="row" style="width:100%; height: 30px;">
        <div class="col-lg-6">

        </div>
        <div class="col-lg-6">
            <div class="form-group" style="float:right">
                <button class="btn btn-info icon-left btn-sm mr-3" type="button" ng-click="submit()">
                    Chọn <span class="btn-icon mdi mdi-content-save-all"></span>
                </button>
                <button class="btn btn-outline-primary icon-left btn-sm mr-3" type="button" data-dismiss="modal" ng-click="cancel()">
                    Hủy <span class="btn-icon mdi mdi-close"></span>
                </button>
            </div>
        </div>
    </div>
</div>
