﻿<style>
    .task-inline input, .task-inline label:only-child, .task-inline span {
        width: unset !important;
    }

        .task-inline input[type="number"] {
            width: 77px !important;
            text-align: right;
        }

    .task-inline .SumoSelect {
        width: 100px !important;
    }

    .task-option-repeat .option-group:first-child {
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .option-group {
        padding: 15px 10px 5px 10px;
        border: 1px solid #d3d9dd;
        border-radius: 6px;
    }

    .option-group-title {
        position: absolute;
    }

        .option-group-title span {
            position: relative;
            top: -26px;
            background: white;
            padding: 0px 11px 0px 8px;
            font-weight: bold;
        }
</style>
<div class="modal-header has-border" modal-drag>
    <h5 class="modal-title es-modal-title">
        {{Title}}
    </h5>
    <button type="button" class="close custom-modal__close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
        <span aria-hidden="true" class="ua-icon-modal-close"></span>
    </button>
</div>
<div class="modal-body task-option-repeat">
    <form name="addform" class="form-horizontal form-bordered" method="post" ng-validate="validationOptions" ng-init="useTemplate = 'ADD'">
        <div class="option-group">
            <div class="option-group-title">
                <span>
                    Thiết lập mẫu quy tắc
                </span>
            </div>
            <div class="row">
                <div class="col-lg-2" style="border-right: 1px solid #d3d9dd;">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <input type="radio" ng-model="showTab" id="isDaily" class="radio-inline" name="radio-date" ng-value="'isDaily'" />
                            <label for="isDaily">Hàng ngày</label>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <input type="radio" ng-model="showTab" id="isWeekly" class="radio-inline" name="radio-date" ng-value="'isWeekly'" />
                            <label for="isWeekly">Hàng tuần</label>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <input type="radio" ng-model="showTab" id="isMonthly" class="radio-inline" name="radio-date" ng-value="'isMonthly'" />
                            <label for="isMonthly">Hàng tháng</label>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <input type="radio" ng-model="showTab" id="isYearly" class="radio-inline" name="radio-date" ng-value="'isYearly'" />
                            <label for="isYearly">Hàng năm</label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div ng-show="showTab === 'isDaily'">
                        <div class="form-row">
                            <div class="form-group col-md-12 task-inline">
                                <input type="radio" class="form-control" ng-model="model.isDaily_Choice" ng-value="'A'" name="isDaily-more">
                                <label for="output-device">Ngày lặp</label>
                                <input type="number" class="form-control" ng-model="model.isDaily_Day">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12 task-inline">
                                <input type="radio" class="form-control" ng-model="model.isDaily_Choice" ng-value="'B'" name="isDaily-more">
                                <label>Lặp lại ngày trong tuần</label>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12 task-inline">
                                <input type="radio" ng-model="model.isDaily_Choice" name="isDaily-more" ng-value="'C'">
                                <label for="output-device">Tạo công việc mới sau khi hoàn thành vối số ngày</label>
                                <input type="number" class="form-control" ng-model="model.isDaily_DayComplete">
                            </div>
                        </div>
                    </div>
                    <div ng-show="showTab === 'isWeekly'">
                        <div class="form-row">
                            <div class="form-group col-md-12 task-inline">
                                <input type="radio" class="radio-inline" name="weekly-more" ng-model="model.isWeekly_Choice" ng-value="'A'" />
                                <label for="output-device">Lặp theo số tuần</label>
                                <input type="number" class="form-control" ng-model="model.isWeekly_Week" />
                            </div>
                            <div class="form-group col-md-3 task-inline">
                                <input type="checkbox" ng-model="model.isWeekly_2" />
                                <span>Thứ 2</span>
                            </div>
                            <div class="form-group col-md-3 task-inline">
                                <input type="checkbox" ng-model="model.isWeekly_3" />
                                <span>Thứ 3</span>
                            </div>
                            <div class="form-group col-md-3 task-inline">
                                <input type="checkbox" ng-model="model.isWeekly_4" />
                                <span>Thứ 4</span>
                            </div>
                            <div class="form-group col-md-3 task-inline">
                                <input type="checkbox" ng-model="model.isWeekly_5" />
                                <span>Thứ 5</span>
                            </div>
                            <div class="form-group col-md-3 task-inline">
                                <input type="checkbox" ng-model="model.isWeekly_6" />
                                <span>Thứ 6</span>
                            </div>
                            <div class="form-group col-md-3 task-inline">
                                <input type="checkbox" ng-model="model.isWeekly_7" />
                                <span>Thứ bảy</span>
                            </div>
                            <div class="form-group col-md-3 task-inline">
                                <input type="checkbox" ng-model="model.isWeekly_1" />
                                <span>Chủ nhật</span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12 task-inline">
                                <input type="radio" class="radio-inline" name="weekly-more" ng-model="model.isWeekly_Choice" ng-value="'B'" />
                                <label for="output-device">Tạo công việc sau khi hoàn thành với số tuần</label>
                                <input type="number" class="form-control" ng-model="model.isWeekly_DayComplete" />
                            </div>
                        </div>
                    </div>
                    <div ng-show="showTab === 'isMonthly'">
                        <div class="form-row">
                            <div class="form-group col-md-12 task-inline">
                                <input type="radio" class="radio-inline" id="monthly-more-1" name="monthly-more" ng-model="model.isMonthly_Choice" ng-value="'A'" />
                                <label for="monthly-more-1">Ngày lặp </label>
                                <input class="form-control" ng-model="model.isMonthly_Day" type="number"/>
                                <label for="output-device">số lặp tháng </label>
                                <input class="form-control" ng-model="model.isMonthly_Month" type="number" />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12 task-inline">
                                <input type="radio" class="radio-inline" id="monthly-more-2" name="monthly-more" ng-model="model.isMonthly_Choice" ng-value="'B'" />
                                <label for="monthly-more-2">Tuần lặp</label>
                                <select ng-smselect se-data="liWeek" ng-model="model.isMonthly_Week" se-change="objectTypeChange(data)"></select>
                                <label for="output-device">vào ngày</label>
                                <select ng-smselect se-data="liDay" ng-model="model.isMonthly_Option" se-change="objectTypeChange(data)"></select>
                                <label for="output-device">số tháng mỗi lần</label>
                                <input class="form-control" type="number" ng-model="model.isMonthly_Month_Option" />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12 task-inline">
                                <input type="radio" class="radio-inline" id="monthly-more-3" name="monthly-more" ng-model="model.isMonthly_Choice" ng-value="'C'" />
                                <label for="monthly-more-3">Tạo công việc mới sau tháng(sau khi hoàn thành công việc)</label>
                                <input class="form-control" type="number" ng-model="model.isMonthly_DayComplete">
                            </div>
                        </div>
                    </div>
                    <div ng-show="showTab === 'isYearly'">
                        <div class="form-row">
                            <div class="form-group col-md-12 task-inline">
                                <input type="radio" class="radio-inline" name="yearly-more" ng-model="model.isYearly_Choice" ng-value="'A'" />
                                <label for="output-device">Tháng lặp</label>
                                <select ng-smselect se-data="liMonth" ng-model="model.isYearly_Month_Option" se-change="objectTypeChange(data)"></select>
                                <label for="output-device">ngày trong tháng</label>
                                <input class="form-control" type="number" ng-model="model.isYearly_Day" />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12 task-inline">
                                <input type="radio" class="radio-inline" name="yearly-more" ng-model="model.isYearly_Choice" ng-value="'B'" />
                                <label for="output-device">Tuần thứ </label>
                                <select ng-smselect se-data="liWeek" ng-model="model.isYearly_Week" se-change="objectTypeChange(data)"></select>
                                <label for="output-device">ngày trong tuần</label>
                                <select ng-smselect se-data="liDay" ng-model="model.isYearly_Option" se-change="objectTypeChange(data)"></select>
                                <label for="output-device">tại tháng</label>
                                <select ng-smselect se-data="liMonth" ng-model="model.isYearly_Month" se-change="objectTypeChange(data)"></select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12 task-inline">
                                <input type="radio" class="radio-inline" name="yearly-more" ng-model="model.isYearly_Choice" ng-value="'C'" />
                                <label for="output-device">Tạo công việc mới sau số năm(sau khi hoàn thành công việc)</label>
                                <input class="form-control" type="number" ng-model="model.isYearly_DayComplete">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="option-group">
            <div class="option-group-title">
                <span>
                    Thời gian lặp lại
                </span>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="output-device">Ngày bắt đầu lặp</label>
                            <input ng-model="model.StartDate" datetime-picker date-format="DD/MM/YYYY" date-only class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-row">
                        <div class="form-group col-md-12 task-inline">
                            <input type="radio" id="OptionMoreNo" ng-model="model.OptionMore" ng-value="'A'" class="radio-inline" name="option-more">
                            <label for="OptionMoreNo">Không chọn ngày kết thúc</label>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12 task-inline">
                            <input type="radio" id="OptionMoreCount" ng-model="model.OptionMore" ng-value="'B'" class="radio-inline" name="option-more">
                            <label for="OptionMoreCount">Kết thúc sau số lần</label>
                            <input class="form-control" type="number" ng-model="model.DayRegenerate" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12 task-inline">
                            <input type="radio" id="OptionMoreDay" ng-model="model.OptionMore" class="radio-inline" ng-value="'C'" name="option-more">
                            <label for="OptionMoreDay">Kết thúc sau ngày</label>
                            <input ng-model="model.EndDate" datetime-picker date-format="DD/MM/YYYY" date-only class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer modal-footer--center">
    <div class="row" style="width:100%; height: 30px;">
        <div class="col-lg-6">
        </div>
        <div class="col-lg-6">
            <div class="form-group" style="float:right">
                <button class="btn btn-info icon-left btn-sm mr-3" type="button" ng-click="submit()">
                    Lưu <span class="btn-icon mdi mdi-content-save-all"></span>
                </button>
                <button class="btn btn-outline-primary icon-left btn-sm mr-3" type="button" data-dismiss="modal" ng-click="cancel()">
                    Đóng <span class="btn-icon mdi mdi-close"></span>
                </button>
            </div>
        </div>
    </div>
</div>