﻿<style>
    .ui-select-match span[ng-repeat] {
        border: 1px solid #939daa;
        padding: 3px 1px 2px 1px;
        border-radius: 5px;
    }

    .moreContent {
        padding: 2px 5px 0px 3px;
        border-radius: 5px;
        margin-left: 4px;
        color: #2196f3;
    }

        .moreContent:hover {
            border: 1px solid #0b79da;
            color: #0b79da;
        }

    .modal-body .row {
        margin-bottom: 11px !important;
    }

    .label-sendmail {
        text-align: center;
    }

    .btn-xs {
        padding: 2px 5px 1px 5px;
    }

    .icon-showmore {
        padding: 5px 7px 4px 7px;
        border: 1px solid #04b5ac;
        color: #055a70;
    }

        .icon-showmore:hover {
            background-color: #055a70;
            color: white;
        }

    .add-tab {
        width: 100%;
        margin-top: 10px;
        border-bottom: 1px solid #d3d9dd;
        margin-bottom: 6px;
    }

        .add-tab .item {
            padding: 5px 7px 3px 9px;
            border: 1px solid #428bca;
            min-width: 96px;
            display: inline-block;
            border-bottom: unset;
        }

        .add-tab .item {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px
        }

            .add-tab .item.is-active {
                background-color: #428bca;
                color: white;
            }

    .task-add-scroll {
        max-height: 70vh;
        overflow-x: hidden;
    }

    .send-mail-css {
        display: inline-block;
        float: right;
        margin-right: 3px;
    }

        .send-mail-css input {
            float: left;
            margin-top: 4px;
        }

        .send-mail-css label {
            padding-left: 8px;
            margin-bottom: 0px;
        }

    .input-group.icon-right .form-control {
        padding-right: 52px;
    }

    .assignedTo-add-more {
        font-size: 20px !important;
        color: black;
    }

    .assignedTo-add-more-first {
        right: 30px !important;
        color: red;
    }
</style>
<div class="modal-header has-border" modal-drag>
    <h5 class="modal-title es-modal-title">
        {{Title}}
    </h5>
    <button type="button" class="close custom-modal__close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
        <span aria-hidden="true" class="ua-icon-modal-close"></span>
    </button>
</div>
<div class="modal-body">
    <form name="addform" class="form-horizontal  form-bordered" method="post">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="output-device">
                            Người chủ trì:
                        </label>
                        <div class="send-mail-css">
                            <label class="label-sendmail moreContent" title="Chọn người nhận từ phòng ban" ng-click="OpenChoiseAssignedTo('A')">
                                <span class="mdi mdi-account-outline"></span>
                                Phòng ban
                            </label>
                        </div>
                        <div class="send-mail-css">
                            <label class="label-sendmail moreContent" title="Chọn người nhận từ sổ địa chỉ" ng-click="OpenChoiseAssignedTo_Address('A')">
                                <span class="mdi mdi-book-open"></span>
                                Sổ địa chỉ
                            </label>
                        </div>
                        <div ng-hide="isEdit" class="send-mail-css" title="Gủi mail cho người nhận">
                            <input class="mail-check" type="checkbox" ng-model="model.Sendmail_AssignedTo" />
                            <label class="label-sendmail" for="output-device">
                                <span class="mdi mdi-email-outline"></span>
                                Gửi mail
                            </label>
                        </div>
                        <div class="input-group input-group-icon icon-right input-group-sm" style="margin-right:5px;">
                            <ui-select multiple ng-model="model.AssignedTo" name="Headship" class="form-control" style="width: 100%;" ng-required="true" ng-change="changeEmp(1)">
                                <ui-select-match class="ui-select-css" placeholder="Chọn nhân viên...">{{$item.FullName}}</ui-select-match>
                                <ui-select-choices repeat="u in liEmployee1 | filter:$select.search">
                                    {{u.FullName}}
                                </ui-select-choices>
                            </ui-select>
                            <span class="es-cursor input-icon mdi mdi-close-box-outline btn-select-clear assignedTo-add-more-first" ng-click="model.AssignedTo=null;"></span>
                            <span class="es-cursor input-icon mdi mdi-dots-horizontal btn-select-clear assignedTo-add-more" title="Chọn người nhận từ phòng ban" ng-click="OpenChoiseAssignedTo('A')"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group">
                    <label for="output-device">Người phối hợp xử lý:</label>
                    <div class="send-mail-css">
                        <label class="label-sendmail moreContent" title="Chọn người nhận từ phòng ban" ng-click="OpenChoiseAssignedTo('B')">
                            <span class="mdi mdi-account-outline"></span>
                            Phòng ban
                        </label>
                    </div>
                    <div class="send-mail-css">
                        <label class="label-sendmail moreContent" title="Chọn người nhận từ sổ địa chỉ" ng-click="OpenChoiseAssignedTo_Address('B')">
                            <span class="mdi mdi-book-open"></span>
                            Sổ địa chỉ
                        </label>
                    </div>
                    <div ng-hide="isEdit" class="send-mail-css" title="Gủi mail cho người nhận">
                        <input class="mail-check" type="checkbox" ng-model="model.Sendmail_Supporter" />
                        <label class="label-sendmail" for="output-device">
                            <span class="mdi mdi-email-outline"></span>
                            Gửi mail
                        </label>
                    </div>
                    <div class="input-group input-group-icon icon-right input-group-sm" style="margin-right:5px;">
                        <ui-select multiple ng-model="model.Supporter" name="Headship" class="form-control" style="width: 100%;" ng-required="true" ng-change="changeEmp(2)">
                            <ui-select-match placeholder="Chọn nhân viên...">{{$item.FullName}}</ui-select-match>
                            <ui-select-choices repeat="u in liEmployee2 | filter:$select.search">
                                {{u.FullName}}
                            </ui-select-choices>
                        </ui-select>
                        <span class="es-cursor input-icon mdi mdi-close-box-outline btn-select-clear assignedTo-add-more-first" ng-click="model.Supporter=null;"></span>
                        <span class="es-cursor input-icon mdi mdi-dots-horizontal btn-select-clear assignedTo-add-more" title="Chọn người nhận từ phòng ban" ng-click="OpenChoiseAssignedTo('B')"></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="output-device">Người theo dõi:</label>
                        <div class="send-mail-css">
                            <label class="label-sendmail moreContent" title="Chọn người nhận từ phòng ban" ng-click="OpenChoiseAssignedTo('C')">
                                <span class="mdi mdi-account-outline"></span>
                                Phòng ban
                            </label>
                        </div>
                        <div class="send-mail-css">
                            <label class="label-sendmail moreContent" title="Chọn người nhận từ sổ địa chỉ" ng-click="OpenChoiseAssignedTo_Address('C')">
                                <span class="mdi mdi-book"></span>
                                Sổ địa chỉ
                            </label>
                        </div>
                        <div ng-hide="isEdit" class="send-mail-css" title="Gủi mail cho người nhận">
                            <input class="mail-check" type="checkbox" ng-model="model.Sendmail_Headship" />
                            <label class="label-sendmail" for="output-device">
                                <span class="mdi mdi-email-outline"></span>
                                Gửi mail
                            </label>
                        </div>
                        <div class="input-group input-group-icon icon-right input-group-sm" style="margin-right:5px;">
                            <ui-select multiple ng-model="model.Headship" name="Headship" class="form-control" style="width: 100%;" ng-required="true" ng-change="changeEmp(3)">
                                <ui-select-match placeholder="Chọn nhân viên...">{{$item.FullName}}</ui-select-match>
                                <ui-select-choices repeat="u in liEmployee3 | filter:$select.search">
                                    {{u.FullName}}
                                </ui-select-choices>
                            </ui-select>
                            <span class="es-cursor input-icon mdi mdi-close-box-outline btn-select-clear assignedTo-add-more-first" ng-click="model.Headship=null;"></span>
                            <span class="es-cursor input-icon mdi mdi-dots-horizontal btn-select-clear assignedTo-add-more" title="Chọn người nhận từ phòng ban" ng-click="OpenChoiseAssignedTo('C')"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer modal-footer--center">
    <div class="row" style="width:100%; height: 30px;">
        <div class="col-lg-5">
         
        </div>
        <div class="col-lg-7">
            <div class="form-group" style="float:right">
                <button class="btn btn-info icon-left btn-sm mr-3" type="button" ng-click="submit()">
                    Lưu <span class="btn-icon mdi mdi-content-save-all"></span>
                </button>
                <button class="btn btn-outline-primary icon-left btn-sm mr-3" type="button" ng-click="cancel()">
                    Đóng <span class="btn-icon mdi mdi-close"></span>
                </button>
            </div>
        </div>
    </div>
</div>