﻿<style>
    .CustomUpload {
        min-width: 20%;
        min-height: 30%;
        right: auto !important;
        font-size: 14px !important;
    }
</style>
<div class="modal-header" modal-drag>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button>
    <h3 class="modal-title" id="modal-title">Phê duyệt công việc</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="portlet-body form">
        <form name="addform" class="form-horizontal  form-bordered" method="post" ng-validate="validationOptions">
            <div class="form-body">
                <div class="form-group">
                    <label class="control-label  col-md-2">Tên công việc</label>
                    <div class="col-md-10">
                        <div class="textview">
                            {{model.Subject}}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Trạng thái thực hiện</label>
                    <div class="col-md-4">
                        <select class="form-control" ng-model="model.StatusCompleted" ng-init="model.StatusCompleted=true"
                                ng-options="ct.Value as ct.Name for ct in StatusCompletedData "></select>
                    </div>
                    <label class="control-label col-md-2">Trạng thái phê duyệt</label>
                    <div class="col-md-4">
                        <select class="form-control" ng-model="model.ApprovalStatus" ng-init="model.ApprovalStatus=null"
                                ng-options="ct.Value as ct.Name for ct in ApprovalStatusdData "></select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Ghi chú</label>
                    <div class="col-md-10">
                        <textarea rows="3" class="form-control" ng-model="model.Note" name="Notes"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Thêm file</label>
                    <div class="col-md-10">
                        <span class="btn blue-hoki  btn-file">
                            <span class="fileinput-new"> Chọn tệp </span>
                            <input type="file" nv-file-select="" uploader="uploader" multiple class="CustomUpload" />
                        </span>
                        <div class="table-scrollable">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th width="50%">Tên</th>
                                        <th ng-show="uploader.isHTML5">Dung lượng</th>
                                        <th ng-show="uploader.isHTML5">Tiến trình</th>
                                        <th>Trạng thái</th>
                                        <th width="120px"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in uploader.queue">
                                        <td><strong>{{ item.file.name }}</strong></td>
                                        <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                        <td ng-show="uploader.isHTML5">
                                            <div class="progress" style="margin-bottom: 0;">
                                                <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                            <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                            <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                        </td>
                                        <td nowrap>
                                            <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                                <span class="glyphicon glyphicon-ban-circle"></span> Hủy
                                            </button>
                                            <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                                <span class="glyphicon glyphicon-trash"></span> Xóa
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="update()"><i class="fa fa-floppy-o"></i> Cập nhật </button>
    <button class="btn btn-default" type="button" ng-click="cancel()"><i class="fa fa-times"></i> Đóng </button>
</div>