﻿<style type="text/css">
    .col-md-2 {
        text-align: left;
    }
</style>
<div class="modal-header" modal-drag>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button>
    <h3 class="modal-title" id="modal-title">Giao công việc</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="form-horizontal  form-bordered">
        <div class="form-body">
            <div class="form-group" ng-show="(iSelected != null)">
                <label class="col-md-2">Công việc cấp trên</label>
                <div class="col-md-10">
                    <div class="textview" title="Công việc cấp trên được chọn">
                        {{iSelected.Subject}}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">Tên công việc <span class="required font-red" aria-required="true">*</span></label>
                <div class="col-md-4">
                    <input class="form-control" ng-model="model.Subject" name="Title" />
                </div>
                <label class="col-md-2">Loại (Nhóm) công việc </label>
                <div class="col-md-4">
                    <div class="input-group">
                        <ui-select ng-model="model.GroupOfTaskIdTemp" class="" style="width: 100%;" ng-change="" required>
                            <ui-select-match placeholder="Chọn nhóm công việc...">{{$select.selected.Title}} </ui-select-match>
                            <ui-select-choices repeat="x in liCateOfTaskList | filter:$select.search">
                                {{x.Title}}
                            </ui-select-choices>
                        </ui-select>
                        <span class="input-group-btn">
                            <button type="button" ng-click="model.GroupOfTaskIdTemp = undefined;" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2" title="Ngày bắt đầu công việc">Ngày bắt đầu <span class="required font-red" aria-required="true">*</span></label>
                <div class="col-md-4">
                    <input ng-model="model.StartDate" name="StartDate" datetime-picker date-format="DD/MM/YYYY" class="form-control" date-only required />
                </div>
                <label class="col-md-2" title="Ngày đến hạn phải hoàn thành">Ngày đến hạn <span class="required font-red" aria-required="true">*</span></label>
                <div class="col-md-4">
                    <input ng-model="model.EndDate" name="DueDate" datetime-picker date-format="DD/MM/YYYY" class="form-control" date-only required />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">Nội dung công việc</label>
                <div class="col-md-10">
                    <textarea ui-tinymce="tinymceOptions" ng-model="model.Content"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">Mức độ ưu tiên</label>
                <div class="col-md-4">
                    <select ng-model="model.Priority" ng-smselect se-data="DataPriority" se-change="objectTypeChange(data)"></select>
                </div>
                <label class="col-md-2">Người chủ trì </label>
                <div class="col-md-4">
                    <ui-select multiple ng-model="model.AssignedTo" name="Headship" class="form-control" style="width: 100%;" ng-required="true" ng-change="changeEmp(1)">
                        <ui-select-match placeholder="Chọn nhân viên...">{{$item.FullName}}</ui-select-match>
                        <ui-select-choices repeat="u in liEmployee1 | filter:$select.search">
                            {{u.FullName}}
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2">Người phối hợp xử lý</label>
                <div class="col-md-4">
                    <ui-select multiple ng-model="model.Supporter" name="Headship" class="form-control" style="width: 100%;" ng-required="true" ng-change="changeEmp(2)">
                        <ui-select-match placeholder="Chọn nhân viên...">{{$item.FullName}}</ui-select-match>
                        <ui-select-choices repeat="u in liEmployee2 | filter:$select.search">
                            {{u.FullName}}
                        </ui-select-choices>
                    </ui-select>
                </div>
                <label class="col-md-2">Người theo dõi </label>
                <div class="col-md-4">
                    <ui-select multiple ng-model="model.Headship" name="Headship" class="form-control" style="width: 100%;" ng-required="true" ng-change="changeEmp(3)">
                        <ui-select-match placeholder="Chọn nhân viên...">{{$item.FullName}}</ui-select-match>
                        <ui-select-choices repeat="u in liEmployee3 | filter:$select.search">
                            {{u.FullName}}
                        </ui-select-choices>
                    </ui-select>
                    <span style="color:red;margin-top:7px;display:block" ng-show="status.Headship != undefined">{{status.AssignedTo.Title}}</span>
                </div>
            </div>
            <div class="form-group" ng-show="liAtt.length>0">
                <label class="control-label col-md-2">DS file đính kèm</label>
                <div class="col-md-10">
                    <div class="textview">
                        <ul class="list-attach">
                            <li ng-repeat="x in liAtt">
                                <i class="fa fa-file-o"></i>  <a target="_blank" href="{{x.Url}}"> {{x.FileName}} </a>
                                <a href="javascript:void(0)" ng-click="delAtt(x)" class="btn btn-sm"><i style="color:red;" class="glyphicon glyphicon-trash"></i> </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="form-group" ng-show="uploader.queue.length>0">
                <label class="control-label col-md-2">Đính kèm</label>
                <div class="col-md-10">
                    <input type="file" style="font-size:0px; display:none;" nv-file-select="" name="file[]" uploader="uploader" multiple id="attachment" />
                    <div class="table-scrollable">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th width="50%">Tên</th>
                                    <th ng-show="uploader.isHTML5">Dung lượng</th>
                                    <th ng-show="uploader.isHTML5">Tiến trình</th>
                                    <th>Trạng thái</th>
                                    <th width="120px"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in uploader.queue">
                                    <td><strong>{{ item.file.name }}</strong></td>
                                    <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                    <td ng-show="uploader.isHTML5">
                                        <div class="progress" style="margin-bottom: 0;">
                                            <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                        <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                        <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                    </td>
                                    <td nowrap>
                                        <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                            <span class="glyphicon glyphicon-ban-circle"></span> Hủy
                                        </button>
                                        <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                            <span class="glyphicon glyphicon-trash"></span> Xóa
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <a data-dismiss="modal" class="btn btn-default" href="javascript:;" onclick="document.getElementById('attachment').click()">
        <i class="fa fa-paperclip"></i> Đính kèm
    </a>
    <a ng-click="add()" class="btn btn-primary" href="javascript:;">
        <i class="fa fa-floppy-o"></i> Lưu
    </a>
    <a data-dismiss="modal" class="btn btn-default" href="javascript:;" ng-click="cancel()">
        <i class="fa fa-times"></i> Đóng
    </a>
</div>