﻿<style>
    .chat-form {
        margin-top: 0px !important;
    }
    .chat-form-file {
        padding: 14px 32px 13px 21px;
        background-color: #e9eff3;
        overflow: hidden;
        clear: both;
    }
</style>
<div class="modal-header" modal-drag>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button>
    <h3 class="modal-title" id="modal-title">Nội dung trao đổi</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="portlet-body form">
        <form name="addform" class="form-horizontal  form-bordered" method="post" ng-validate="validationOptions">
            <div class="form-body">
                <div class="row">
                    <div class="col-md-1">
                        <div class="chat-form-file">
                            <input type="file" name="name" id="filenamefile" style="display: none;"> <!--onchange="angular.element(this).scope().saveFile()"-->
                            <a id="openfile" onclick="document.getElementById('filenamefile').click();"><i class="fa fa-paperclip"></i></a>
                        </div>
                    </div>
                    <div class="col-md-11">
                        <div class="chat-form">
                            <div class="input-cont">
                                <input class="form-control" type="text" placeholder="Nhập nội dung trao đổi..." ng-model="pluginComment.Body" />
                            </div>
                            <div class="btn-cont">
                                <span class="arrow"> </span>
                                <a class="btn blue icn-only" ng-click="insert()">
                                    <i class="fa fa-check icon-white"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <!-- TASK COMMENTS -->
                <div class="portlet-body" id="chats">
                    <div class="scroller" style="overflow: overlay;max-height: 550px;padding-right:17px !important" data-always-visible="1" data-rail-visible1="1" data-initialized="1">
                        <ul class="chats">
                            <li ng-repeat="item in liComment" class="{{item.Class}}">
                                <img class="avatar" alt="" ng-src="{{item.imageLink}}" />
                                <div class="message">
                                    <span class="arrow"> </span>
                                    <a href="javascript:;" class="name"> {{item.EmployeeName}} </a>
                                    <span class="datetime"> {{ConDate(item.CreatedDate)}} </span>
                                    <span class="body">{{item.Body}}</span>
                                    <div class="textview" ng-show="(item.ProjectCommentAttachments.length > 0)">
                                        <p style="padding:0" ng-repeat="fileItem in item.ProjectCommentAttachments">
                                            <a href="javascript:void(0)" ng-show="item.CheckCreated" ng-click="delAttComment(fileItem.Id)" class="btn btn-sm"><i class="glyphicon glyphicon-trash"></i> </a>
                                            <i class="icon-paper-clip"></i> <a target="_blank" href="/projects/DownloadProComAtt/{{fileItem.Id}}">{{fileItem.FileName}}</a>
                                        </p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <a data-dismiss="modal" class="btn btn-default" href="javascript:;" ng-click="cancel()">
        <i class="fa fa-times"></i> Đóng
    </a>
</div>
<script>
    //$('#openfile').on('click', function () {
    //    $('filename').trigger('click');
    //})
    document.getElementsByClassName("modal-dialog")[0].style.margin = "0 0 0 auto";
</script>