﻿<style>
    .ui-select-match span[ng-repeat] {
        border: 1px solid #939daa;
        padding: 3px 1px 2px 1px;
        border-radius: 5px;
    }
</style>
<div class="modal-header has-border" modal-drag>
    <h5 class="modal-title es-modal-title">Cập nhật thành viên</h5>
    <button type="button" class="close custom-modal__close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
        <span aria-hidden="true" class="ua-icon-modal-close"></span>
    </button>
</div>
<div class="modal-body">
    <form name="addform" class="form-horizontal  form-bordered" method="post" ng-validate="validationOptions">
        <div class="row">
            <div class="col-lg-4">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="output-device">Người chủ trì:<span class="has-error"> *</span></label>
                        <div class="input-group input-group-icon icon-right input-group-sm" style="margin-right:5px;">
                            <ui-select multiple ng-model="model.AssignedTo" name="Headship" class="form-control" style="width: 100%;" ng-required="true" ng-change="changeEmp(1)">
                                <ui-select-match placeholder="Chọn nhân viên...">{{$item.FullName}}</ui-select-match>
                                <ui-select-choices repeat="u in liEmployee1 | filter:$select.search">
                                    {{u.FullName}}
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-icon mdi mdi-close-box-outline" style="font-size: 20px;color: black;" ng-click="model.AssignedTo=null;"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label for="output-device">Người phối hợp xử lý:</label>
                    <div class="input-group input-group-icon icon-right input-group-sm" style="margin-right:5px;">
                        <ui-select multiple ng-model="model.Supporter" name="Headship" class="form-control" style="width: 100%;" ng-required="true" ng-change="changeEmp(2)">
                            <ui-select-match placeholder="Chọn nhân viên...">{{$item.FullName}}</ui-select-match>
                            <ui-select-choices repeat="u in liEmployee2 | filter:$select.search">
                                {{u.FullName}}
                            </ui-select-choices>
                        </ui-select>
                        <span class="input-icon mdi mdi-close-box-outline" style="font-size: 20px;color: black;" ng-click="model.Supporter=null;"></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="output-device">Người theo dõi:<span class="has-error"> *</span></label>
                        <div class="input-group input-group-icon icon-right input-group-sm" style="margin-right:5px;">
                            <ui-select multiple ng-model="model.Headship" name="Headship" class="form-control" style="width: 100%;" ng-required="true" ng-change="changeEmp(3)">
                                <ui-select-match placeholder="Chọn nhân viên...">{{$item.FullName}}</ui-select-match>
                                <ui-select-choices repeat="u in liEmployee3 | filter:$select.search">
                                    {{u.FullName}}
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-icon mdi mdi-close-box-outline" style="font-size: 20px;color: black;" ng-click="model.Headship=null;"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer modal-footer--center">
    <div class="row" style="width:100%; height: 30px;">
        <div class="col-lg-6">
        </div>
        <div class="col-lg-6">
            <div class="form-group" style="float:right">
                <button class="btn btn-info icon-left btn-sm mr-3" type="button" ng-click="submit()">
                    Lưu <span class="btn-icon mdi mdi-content-save-all"></span>
                </button>
                <button class="btn btn-outline-primary icon-left btn-sm mr-3" type="button" data-dismiss="modal" ng-click="cancel()">
                    Đóng <span class="btn-icon mdi mdi-close"></span>
                </button>
            </div>
        </div>
    </div>
</div>

