﻿<div class="modal-header has-border" modal-drag>
    <h5 class="modal-title es-modal-title">Chuyển tiêp công việc</h5>
    <button type="button" class="close custom-modal__close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
        <span aria-hidden="true" class="ua-icon-modal-close"></span>
    </button>
</div>
<div class="modal-body">
    <form name="addform" class="form-horizontal  form-bordered" method="post" ng-validate="validationOptions">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="output-device">Tên công việc<span class="has-error"> *</span></label>
                        <input type="text" ng-model="model.Subject" class="form-control" id="output-device" placeholder="Nhập tên công việc">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="output-device">Chọn nhóm công việc<span class="has-error"> *</span></label>
                        <div class="input-group input-group-icon icon-right input-group-sm" style="margin-right:5px;">
                            <ui-select ng-model="model.CategoryOfTaskGuid" class="" style="width: 100%;">
                                <ui-select-match placeholder="Chọn cấp trên...">{{$select.selected.Title}}</ui-select-match>
                                <ui-select-choices repeat="x.CategoryOfTaskGuid as x in liCateOfTaskList | filter:$select.search">
                                    {{x.Title}}
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-icon mdi mdi-close-box-outline" style="font-size: 20px;color: black;" ng-click="model.CategoryOfTaskGuid=null;"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="form-group">
                    <label for="textarea">Ngày bắt đầu:</label>
                    <input ng-disabled="true" ng-model="model.StartDate" name="StartDate" datetime-picker date-format="DD/MM/YYYY" class="form-control" date-only required />
                </div>
            </div>
            <div class="col-lg-2">
                <div class="form-group">
                    <div class="form-group col-md-12">
                        <label for="output-device">Ngày đến hạn: <span class="has-error"> *</span></label>
                        <input ng-disabled="true" ng-model="model.EndDate" name="DueDate" datetime-picker date-format="DD/MM/YYYY" class="form-control" date-only required />
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="form-group">
                    <label for="output-device">Mức độ ưu tiên:</label>
                    <select ng-model="model.Priority" ng-smselect se-data="DataPriority" se-change="objectTypeChange(data)"></select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="output-device">Người chủ trì:<span class="has-error"> *</span></label>
                        <div class="input-group input-group-icon icon-right input-group-sm" style="margin-right:5px;">
                            <ui-select multiple ng-model="model.AssignedTo" name="Headship" class="form-control" style="width: 100%;" ng-required="true" ng-change="changeEmp(1)">
                                <ui-select-match placeholder="Chọn nhân viên...">{{$item.FullName}}</ui-select-match>
                                <ui-select-choices repeat="u in liEmployee1 | filter:$select.search">
                                    {{u.FullName}}
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-icon mdi mdi-close-box-outline" style="font-size: 20px;color: black;" ng-click="model.AssignedTo=null;"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label for="output-device">Người phối hợp xử lý:</label>
                    <div class="input-group input-group-icon icon-right input-group-sm" style="margin-right:5px;">
                        <ui-select multiple ng-model="model.Supporter" name="Headship" class="form-control" style="width: 100%;" ng-required="true" ng-change="changeEmp(2)">
                            <ui-select-match placeholder="Chọn nhân viên...">{{$item.FullName}}</ui-select-match>
                            <ui-select-choices repeat="u in liEmployee2 | filter:$select.search">
                                {{u.FullName}}
                            </ui-select-choices>
                        </ui-select>
                        <span class="input-icon mdi mdi-close-box-outline" style="font-size: 20px;color: black;" ng-click="model.Supporter=null;"></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="output-device">Người theo dõi:<span class="has-error"> *</span></label>
                        <div class="input-group input-group-icon icon-right input-group-sm" style="margin-right:5px;">
                            <ui-select multiple ng-model="model.Headship" name="Headship" class="form-control" style="width: 100%;" ng-required="true" ng-change="changeEmp(3)">
                                <ui-select-match placeholder="Chọn nhân viên...">{{$item.FullName}}</ui-select-match>
                                <ui-select-choices repeat="u in liEmployee3 | filter:$select.search">
                                    {{u.FullName}}
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-icon mdi mdi-close-box-outline" style="font-size: 20px;color: black;" ng-click="model.Headship=null;"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="output-device"> Nội dung công việc:<span class="has-error"> *</span></label>
                        <textarea ui-tinymce="tinymceOptions" ng-model="model.TaskContent" style="width:100%;"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group" ng-show="uploader.queue.length>0">
            <label class="control-label col-md-2">Đính kèm</label>
            <div class="col-md-12">
                <input type="file" style="font-size:0px; display:none;" nv-file-select="" name="file[]" uploader="uploader" multiple id="attachment" />
                <div class="table-scrollable">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th width="50%">Tên</th>
                                <th ng-show="uploader.isHTML5">Dung lượng</th>
                                <th ng-show="uploader.isHTML5">Tiến trình</th>
                                <th>Trạng thái</th>
                                <th width="120px"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in uploader.queue">
                                <td><strong>{{ item.file.name }}</strong></td>
                                <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                <td ng-show="uploader.isHTML5">
                                    <div class="progress" style="margin-bottom: 0;">
                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                    <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                    <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                </td>
                                <td nowrap>
                                    <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                        <span class="glyphicon glyphicon-ban-circle"></span> Hủy
                                    </button>
                                    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                        <span class="glyphicon glyphicon-trash"></span> Xóa
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <div class="m-task__checklist" style="margin-top: 0;">
                            <h3 class="m-task__checklist-heading">Hạng mục công việc(nếu có): </h3>
                            <ul class="m-task__checklist-items">
                                <li ng-repeat="item in model.checkboxList" style="margin-bottom: 10px">
                                    <div class="input-group input-group-icon icon-left input-group-sm" style="margin-right:5px;">
                                        <input class="form-control" type="text" ng-model="item.ChecklistTitle" placeholder="Nhập nội dung check list..." />
                                        <span class="input-icon" style="font-size: 20px;color: black;">
                                            <input type="Hạng mục" class="task-style-checkbox" ng-model="item.Stattus" />
                                        </span>
                                        <span ng-click="model.checkboxList.splice($index,1);" class="mdi mdi-close-box-outline" style="font-size: 20px;color: black;"></span>
                                    </div>
                                </li>
                            </ul>
                            <a class="m-task__control" ng-click="model.checkboxList.push({});">+ Thêm mới check list</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer modal-footer--center">
    <div class="row" style="width:100%; height: 30px;">
        <div class="col-lg-6">
         
        </div>
        <div class="col-lg-6">
            <div class="form-group" style="float:right">
                <button onclick="document.getElementById('attachment').click()" class="btn btn-outline-primary icon-left btn-sm mr-3" type="button" data-dismiss="modal" ng-click="cancel()">
                    Đính kèm <span class="btn-icon mdi mdi-attachment"></span>
                </button>
                <button class="btn btn-info icon-left btn-sm mr-3" type="button" ng-click="submit()">
                    Lưu <span class="btn-icon mdi mdi-content-save-all"></span>
                </button>
                <button class="btn btn-outline-primary icon-left btn-sm mr-3" type="button" data-dismiss="modal" ng-click="cancel()">
                    Đóng <span class="btn-icon mdi mdi-close"></span>
                </button>
            </div>
        </div>
    </div>
</div>