﻿<style>
    .m-mail__email:before {
        background-color: white !important;
    }

    .task-before-process-custom::before {
        margin-right: unset;
    }
    /*Chờ giao*/
    .ES-TM .waiting, .ES-TM [data-color=waiting] {
        background-color: var(--ES-expiry) !important;
        color: white;
    }

    /*Chờ xử lý/chưa bắt đầu*/
    .ES-TM .notstart, .ES-TM [data-color=notstart] {
        background-color: var(--ES-notstart) !important;
        color: white;
    }

    /* Đến hạn*/
    .ES-TM .duedate, .ES-TM [data-color=duedate] {
        background-color: var(--ES-duedate) !important;
        color: white;
    }

    /*Đang thực hiện*/
    .ES-TM .process, .ES-TM [data-color=process] {
        background-color: var(--ES-process) !important;
        color: white;
    }

    /*Hoành thành*/
    .ES-TM .complete, .ES-TM [data-color=complete] {
        background-color: var(--ES-complete) !important;
        color: white;
    }
    /*Theo dõi*/
    .ES-TM .follow, .ES-TM [data-color=follow] {
        background-color: var(--ES-follow) !important;
        color: white;
    }

    /* Lưu công việc đã lưu */
    .ES-TM .saved, .ES-TM [data-color=saved] {
        background-color: var(--ES-saved) !important;
        color: white;
    }
    /*Chờ người khác*/
    .ES-TM .waitsomeone, .ES-TM [data-color=waitsomeone] {
        background-color: var(--ES-waitsomeone) !important;
        color: white;
    }

    /*Quá hạn*/
    .ES-TM .expiry, .ES-TM [data-color=expiry] {
        background-color: var(--ES-expiry) !important;
        color: white;
    }


    /*Hoãn lại*/
    .ES-TM .deferred, .ES-TM [data-color=deferred] {
        background-color: var(--ES-deferred) !important;
        color: white;
    }

    .flag-follow {
        font-weight: bold;
    }
</style>
<div class="email-menu-Folder" id="email-menu-Folder">
    <div class="Folder-close" ng-click="closeEmailFolder()">
        <span class="mdi mdi-close"></span>
    </div>
    <div class="Folder-actions">
        <div class="Folder-action es-cursor" ng-click="viewAddForm()">
            <span class="mdi mdi-plus"></span>
        </div>
        <div ng-show="ProfileActive.ProfileGuid !== undefined" class="Folder-action  es-cursor"
             ng-click="deleteProfile()">
            <span class="mdi mdi-delete"></span>
        </div>
        <div ng-show="ProfileActive.ProfileGuid !== undefined && ProfileActive.Edit !== false"
             ng-click="_editEmailFolder()" class="Folder-action  es-cursor">
            <span class="mdi mdi-pencil-box-outline"></span>
        </div>
    </div>
    <div class="Folder-add-from" ng-show="showAddFolder">
        <div class="Folder-new">
            <input ng-model="modelProfiles.Title"
                   on-enter="saveProfiles()"
                   placeholder="Nhập tên thư mục mới"
                   class="form-control" type="text" />
        </div>
    </div>
    <div class="Folder-items task-scroll-custom" id="email-menu-Folder-items">
        <div class="" ng-show="!dProfiles || dProfiles.length <= 0" style="text-align: center;">
            <i>Chưa có hồ sơ công việc</i>
        </div>
        <div menu-right ng-init="liMenuChildFolder" ng-data="item"
             title="{{item.text}}" class="es-cursor Folder-item {{item.css}} {{item.id === ProfileActive.id?'active':''}}"
             ng-repeat="item in dProfiles">
            <span class="Folder-name" ng-hide="item.BeginEdit" ng-click="loadEmailByFolder(item)">
                <span class="mdi mdi-folder-outline"></span>
                {{SubTitle(item.text, 23, '...')}}
            </span>
            <span class="Folder-count" ng-hide="item.BeginEdit" ng-click="loadEmailByFolder(item)">
                {{item.TaskCount >= 1000 ? '999+':item.TaskCount}}
            </span>
            <span class="Folder-count check-save es-cursor" ng-show="item.BeginEdit" ng-click="editProfileFolder(item)" title="Cập nhật">
                <span class="mdi mdi-checkbox-marked-circle-outline"></span>
            </span>
            <span class="Folder-edit">
                <input class="form-control" ng-show="item.BeginEdit" ng-model="item.TitleEdit" on-enter="editProfileFolder(item)" />
            </span>
        </div>
    </div>
</div>
<div class="main-container m-mail__container ES-TM" style="height:900px">
    <div class="m-mail__emails" id="splitTab1">
        <div class="m-mail__search">
            <div class="m-mail__search-heading">
                <div class="" style="width: 200px;" title="">
                    <select ng-model="initPara.CategoryOfTaskGuid" placeholder="Chọn nhóm công việc" title="Chọn nhóm công việc" ng-smselect se-data="liCateOfTaskList" se-change="changeSearch(data)" se-init="ColumnConfig"></select>
                </div>
                <div class="m-mail__content-header-controls">
                    <a href="javascript:;" ng-click="addTask()" class="m-mail__create custom-remove-after task-custom-color" style="border-bottom:none;padding-right:5px" title="Thêm mới công việc">
                        <i class="mdi mdi-plus-circle-outline"></i> &nbsp;Thêm
                    </a>
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown navbar__menu-item">
                            <a href="javascript:;" ng-click="changeStatusSearch()" class="m-mail__create custom-remove-after task-custom-color" style="border-bottom:none;padding-right:5px" title="Thêm mới công việc">
                                <i class="mdi mdi-filter"></i> &nbsp;Lọc
                            </a>
                            <div class="dropdown-menu navbar__menu-dropdown-menu" aria-labelledby="navbarDropdown">
                                <a href="javascript:;" ng-click="changesearchPriority(item);" class="dropdown-item es-cursor {{item.classActive}}"
                                   ng-repeat="item in LoadDataProcess">
                                    <span class="{{item.classSearch}}"></span> &nbsp;
                                    {{item.name}}
                                </a>
                                <a onclick="loadFormSearchTask();" class="dropdown-item">
                                    <span class="mdi mdi-magnify-plus dropdown-item__icon" style="font-size: 20px;"></span> &nbsp; Tìm nâng cao
                                </a>
                            </div>
                        </li>
                    </ul>
                    <ul class="navbar-nav" ng-show="false">
                        <li class="nav-item dropdown navbar__menu-item">
                            <a href="javascript:;" ng-click="clickProfile()" class="nav-link dropdown-toggle custom-remove-after task-custom-color" data-toggle="dropdown" title="Hồ sơ công việc">
                                <i class="mdi mdi-folder-multiple-outline"></i> &nbsp; Hồ sơ
                            </a>
                            <div class="dropdown-menu dropdown-menu-stopclick navbar__menu-dropdown-menu" aria-labelledby="navbarDropdown">
                                <div id="tree_1" class="" style="overflow-y:scroll;overflow-x:hidden;min-width: 330px;height:400px">
                                    <div id="treeDiv" class="scroll" js-tree="treeConfig" ng-model="jstreeData" should-apply="applyModelChanges()" tree="treeInstance" tree-events="ready:readyCB;changed:changeNode">
                                    </div>
                                </div>
                                <div style="float: right; padding: 0 20px 0 0;">
                                    <button class="btn btn-info" ng-click="changeSearch()">
                                        Đồng ý
                                    </button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="task-search-more-form" ng-show="StatusSearch">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="output-device">Ưu tiên</label>
                            <select ng-model="initPara.Priority" placeholder="Chọn mức độ" title="Chọn mức độ" se-init="ColumnConfig"
                                    ng-smselect se-data="DataPriority" se-change="changesearchPriority(data)"></select>


                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="output-device">Chọn trạng thái</label>
                            <select ng-model="initPara.Process" placeholder="Chọn trạng thái" title="Chọn trạng thái" se-init="ColumnConfig"
                                    ng-smselect se-data="dStatusProcess" se-change="changesearchProcess(data)"></select>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="output-device">Ngày bắt đầu:</label>
                            <input ng-model="initPara.StartDate" datetime-picker="" date-format="DD/MM/YYYY" id="StartDate" date-only="" name="StartDate" placeholder="Từ ngày" class="form-control ng-pristine ng-valid ng-empty ng-touched" style="font-weight: normal;">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="output-device">Ngày kết thúc:</label>
                            <input ng-model="initPara.EndDate" datetime-picker="" date-format="DD/MM/YYYY" id="EndDate" date-only="" name="EndDate" placeholder="Đến ngày" class="form-control ng-pristine ng-valid ng-empty ng-touched" style="font-weight: normal;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="input-group input-group-icon iconfont icon-right mb-0 m-mail__search-input">
                <input ng-change="reloadSearch()" ng-model="initPara.Search" on-enter="changeSearch()" class="form-control" type="text" placeholder="Nhập từ khóa tìm kiếm..." title="Nhập tên tài khoản, địa chỉ email, nội dung công việc">
                <span ng-click="changeSearch()" class="input-icon ua-icon-search"></span>
            </div>
        </div>
        <div class="m-mail__emails-list task-scroll-custom" id="task-scroll-custom" onscroll="angular.element(this).scope().LoadScroll(this)">
            <div class="m-mail__emails-scrollpane" style="display:contents">
                <div menu-right="" ng-data="item" ng-init="liMenuChildKaban" class="m-mail__email has-new-messages" ng-repeat="item in liTasks" ng-right-click="getItem(item.TaskGuid)" ng-click="getItem(item.TaskGuid)">
                    <div class="m-mail__email-body " style="max-width:420px">
                        <h5 class="m-mail__email-heading task-hasChild ng-binding" title="{{item.Subject}}">
                            <i class="" ng-click="loadChild(item)"></i>{{item.Subject}}
                        </h5>
                        <div class="m-mail__email-text" title="{{GetTextinHtml(item._TaskContent)}}">
                            <div ng-bind-html="item.TaskContent" class="wrap-text"></div>
                        </div>
                        <div class="m-mail__tags">
                            <span class="btn-status badge {{StatusProcess(item.StatusCompletedTaskOfUser).class}} m-mail__tag">{{StatusProcess(item.StatusCompletedTaskOfUser).name}}</span>
                            <div class="{{StatusProcess(item.StatusCompletedTaskOfUser).class}} progress-md" style="display: inline-block;  width: 68% ">
                                <div class="progress-bar complete ng-binding" role="progressbar">
                                    {{(item.PercentCompleteTaskOfUser == null || item.PercentCompleteTaskOfUser == '0')?'0%': (item.PercentCompleteTaskOfUser + '%')}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="m-mail__email-extra width-100px">
                        <span class="m-mail__email-time ng-binding" title="Hạn xử lý">{{ConDate(item.EndDate,0)}}</span>
                        <div class="m-messenger__conversation-group" onclick="loadTMStart()" title="Bấm vào để xem chi tiết">
                            <img title="{{item.EmpJoin[0].EmployeeName}}{{item.EmpJoin[0].PercentCompleteText}}" ng-show="item.EmpJoin.length >= 1" ng-src="/Employees/GetPicThumb/{{item.EmpJoin[0].EmployeeGuid}}" alt="" width="16" height="16" class="rounded-circle m-messenger__conversation-group-item ng-scope" src="/Employees/GetPicThumb/{{item.EmpJoin[0].EmployeeGuid}}">
                            <img title="{{item.EmpJoin[1].EmployeeName}}{{item.EmpJoin[1].PercentCompleteText}}" ng-show="item.EmpJoin.length >= 2" ng-src="/Employees/GetPicThumb/{{item.EmpJoin[1].EmployeeGuid}}" alt="" width="16" height="16" class="rounded-circle m-messenger__conversation-group-item ng-scope" src="/Employees/GetPicThumb/{{item.EmpJoin[1].EmployeeGuid}}">
                            <img title="{{item.EmpJoin[2].EmployeeName}}{{item.EmpJoin[2].PercentCompleteText}}" ng-show="item.EmpJoin.length >= 3" ng-src="/Employees/GetPicThumb/{{item.EmpJoin[2].EmployeeGuid}}" alt="" width="16" height="16" class="rounded-circle m-messenger__conversation-group-item ng-scope" src="/Employees/GetPicThumb/{{item.EmpJoin[2].EmployeeGuid}}">

                            <span class="m-messenger__conversation-group-item">{{((item.EmpJoin.length - 3) > 0)?('+' + (item.EmpJoin.length - 3)): ''}}</span>
                        </div>
                        <span style="font-size: 14px;color: #a5a2a0;">
                            <!--<i class="mdi mdi-flag-outline" title="Cờ theo dõi" ng-show="item.IsFollow"></i>-->
                            <i class="mdi mdi-paperclip" title="Đính kèm" ng-show="item.CountAtt > 0" ng-click="addAttachment(item)"></i>
                            <span title="Nội dung ý kiến" onclick="loadTMStart()" ng-show="item.CountComment > 0" class="count-comment m-messenger__conversation-new-messages-amount">{{item.CountComment}}</span>

                            <span class="row-only">
                                <i class="mdi mdi-timetable" title="{{item.ActualdayWorking}} ngày thực hiện" ng-show="{{item.ActualdayWorking}} > 0">
                                    <span class="font-11">{{item.ActualdayWorking}}</span>
                                </i>
                                <span class="mdi mdi-battery{{ConProcessToParent(item.PercentComplete, item.StatusCompleted, item.StartDate)}} router-90" title="Tiến độ tổng công việc">
                                    <span class="font-11">{{item.PercentComplete?item.PercentComplete +'%': '0%'}}</span>
                                </span>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="m-mail__content line-border" id="splitTab2">
        <div class="m-mail__content-header">
            <div>
                <div class="m-mail__content-header-controls">
                    <p style="margin-top:10px;margin-bottom:0px !important">
                        <!--<a ng-click="updateFollow()">
                            <span class="mdi mdi-flag-outline m-mail__content-header-control {{iSelected.IsFollow?'flag-follow':''}}" title="Đánh dấu theo dõi công việc">
                            </span>

                        </a>-->
                        <button ng-click="edit()" ng-show="iSelected.StatusCompletedTaskOfUser !='C' && iSelected.StatusIsOwnerTaskOfUser =='A'" class="btn btn-outline-info icon-left btn-sm mr-3 es-cursor " type="button" title="Sửa nội dung công việc">
                            Sửa <span class="btn-icon mdi mdi-pencil-box-outline"></span>
                        </button>
                        <button ng-click="upProcess()" ng-show="iSelected.StatusCompletedTaskOfUser !='C' && iSelected.StatusIsOwnerTaskOfUser !='C'" class="btn btn-outline-info icon-left btn-sm mr-3 es-cursor " type="button" title="Xử lý và cập nhật trạng thái công việc">
                            Xử lý <span class="btn-icon mdi mdi-comment-account-outline"></span>
                        </button>
                        <button ng-click="updateProcessSuccess();" ng-show="iSelected.StatusCompletedTaskOfUser !='C' && iSelected.StatusIsOwnerTaskOfUser =='A'" class="btn btn-outline-info icon-left btn-sm mr-3 es-cursor" type="button" title="Xác nhận hoàn thành công việc">
                            Hoàn thành <span class="btn-icon mdi mdi-comment-check-outline"></span>
                        </button>
                        <button ng-click="del()" ng-show="iSelected.StatusCompletedTaskOfUser !='C' 
                                && iSelected.StatusIsOwnerTaskOfUser =='A'" 
                                class="btn btn-outline-info icon-left btn-sm mr-3 es-cursor waiting-accept" type="button" title="Xác nhận xóa">
                            Xóa <span class="btn-icon iconfont-warning"></span>
                        </button>

                </div>
                <h5 onclick="loadTMStart()" class="m-mail__content-heading tag-a-hover ng-binding">
                    <i class="mdi mdi-information-outline"></i>  {{iSelected.Subject}}
                </h5>

                <div class="m-mail__content-header-controls">
                    <div class="m-mail__content-heading-desc">
                        <span class="mdi mdi-account-star dropdown-item__icon es-dropdown-item-icon" title="Người tạo, giao công việc">
                        </span> <span title="{{iSelected.CreatedBy.split('#')[1] + '. Tạo lúc: ' + ConDate(iSelected.CreatedDate,1)}}">{{iSelected.CreatedBy.split('#')[1]}}</span>
                    </div>
                    <div class="m-mail__content-heading-desc">
                        <span class="mdi mdi-account dropdown-item__icon es-dropdown-item-icon" title="Người nhận công việc"></span>
                        <span title="{{iSelected.EmployeeAssignedTo.FullName}}"> {{iSelected.EmployeeAssignedTo.FullName}}</span>
                    </div>

                    <span class="btn btn-link m-mail__content-header-control" style="margin-right: 5px !important;">
                        <span class="mdi mdi-calendar-plus es-font-date ng-binding" title="Ngày bắt đầu">
                            {{ConDate(iSelected.StartDate,0)}}
                        </span>
                    </span>
                    <span class="btn btn-link m-mail__content-header-control" style="margin-right: 5px !important;">
                        <span class="mdi mdi-calendar-check es-font-date ng-binding" title="Ngày đến hạn">
                            {{ConDate(iSelected.EndDate,0)}}
                        </span>
                    </span>
                    <span class="badge-circle badge-circle-success es-font-date mr-3 task-before-process-custom before-complete" title="Trạng thái của công việc" style="margin-right: 0px !important;">
                        {{StatusProcess(iSelected.StatusCompletedTaskOfUser).name}}
                        <span>
                            {{(iSelected.PercentCompleteTaskOfUser == null || iSelected.PercentCompleteTaskOfUser == '0')?'0%': (iSelected.PercentCompleteTaskOfUser + '%')}}
                        </span>
                    </span>
                    <!--<span style=" float: right; position: absolute; right: 15px; font-size: 13px;">
                        <span class="mdi router-90 mdi-battery complete-color" title="Tiến độ tổng công việc">
                            <span class="ng-binding">100%</span>
                        </span>
                    </span>-->
                </div>
            </div>
        </div>
        <div class="m-mail__content-scroll task-scroll-custom" id="task-scroll-main-right">
            <div class="m-mail__content-wrap">
                <div class="m-mail__content-body">
                    <div class="m-task__desc" style="margin-top">
                        <div class="m-task__desc-header">
                            <h3 class="m-task__desc-heading">Nội dung công việc</h3>
                        </div>
                        <div class="m-task__desc-text">
                            <div ng-bind-html="iSelected.TaskContent" class="wrap-text"></div>
                        </div>
                    </div>
                    <div class="m-task__checklist">
                        <h3 class="m-task__checklist-heading">Hạng mục công việc</h3>
                        <ul class="m-task__checklist-items" ng-show="iSelected.CheckList.length > 0">
                            <li ng-repeat="item in iSelected.CheckList" class="m-task__checklist-item {{(item.Status==true)?'is-selected':''}}">
                                <div class="custom-control custom-checkbox">
                                    <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline ">
                                        <input type="checkbox" class="checkboxes ng-pristine ng-untouched ng-valid ng-not-empty" id="{{item.ChecklistGuid}}" ng-model="item.Status" ng-change="updateCheckList(item)" readonly ng-disabled="iSelected.StatusCompleted =='C'">
                                        <span></span>
                                    </label>
                                    <label class="custom-control-label" for="{{item.CheckListGuid}}" title="Tạo bởi : {{item.CreatedBy.split('#')[1]}} Ngày {{ConDate(item.CreatedDate,1)}}">
                                        {{item.CheckListTitle}}
                                    </label>
                                    <span ng-show="item.ChecklistGuid != undefined && item.ChecklistGuid != null" ng-click="deleteCheckList(item)" class="mdi mdi-close-box-outline task-checklist-remove"></span>
                                    <span title="Tạo bởi : {{item.CreatedBy.split('#')[1]}} Ngày {{ConDate(item.CreatedDate,1)}}" style="line-height: 21px;" ng-show="item.CheckListGuid != undefined && item.CheckListGuid != null" ng-click="inforCheckList(item)" class="mdi mdi-information-outline task-checklist-remove"></span>
                                </div>
                            </li>
                        </ul>
                        <ul class="m-task__checklist-items" id="task-checklist-add" ng-show="Themhangmuc">
                            <li class="m-task__checklist-item">
                                <div class="custom-control custom-checkbox">
                                    <input on-enter="insertCheckList()" style="width:98% !important" class="form-control" type="text" ng-model="modelCheckList.CheckListTitle" placeholder="Nhập nội dung check list..." />
                                    <span ng-click="insertCheckList()" class="mdi mdi mdi-content-save"></span>
                                </div>
                            </li>
                        </ul>
                        <a ng-show="true" class="m-task__control es-cursor" ng-click="loadChecklistAddTask123()" title="Thêm hạng mục">+ Thêm hạng mục</a>
                    </div>
                    <div class="m-task__checklist">
                        <p ng-show="iSelected.EmpPermissionCustom.IsUpdate === true" class="m-task__checklist-heading es-cursor" onclick="loadOnlyTaskStart()" ng-click="addAttachment()" title="Quản lý đính kèm">
                            <span class="mdi mdi-attachment"></span> Đính kèm
                        </p>
                        <ul class="m-task__checklist-items">
                            <li class="m-task__checklist-item is-selected" ng-repeat="itemAtt in liAtt">
                                <span class="mdi mdi-cloud-download color-gray-custom"></span>
                                <label class="custom-control-label file-download-cursor" ng-click="dowloadLink(itemAtt.link);">
                                    {{itemAtt.CreatedBy.split('#')[1]}} ({{ConDate(itemAtt.CreatedDate,1)}}) - {{itemAtt.FileName}}
                                </label>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>


<!--<div class="ES-MSS">
    <div class="img-view-slides img-horizontal" ng-show="showViewMoreListAtt">
        <div class="img-slides-header">
            <div class="header-title">
                {{iSelected.FullName}}
            </div>
            <span class="mdi mdi-close" ng-click="hideImage()"></span>
        </div>
        <div class="img-slides-body">
            <div class="img-action-back" ng-click="backViewImage()">
                <span class="mdi mdi-chevron-left"></span>
            </div>
            <div class="img-view">
                <img ng-src="{{iSelected.Image?(linkDownImage + iSelected.Image.AttachmentGuid):''}}" id="img-view-slides">
            </div>
            <div class="img-action-next" ng-click="nextViewImage()">
                <span class="mdi mdi-chevron-right"></span>
            </div>
        </div>
        <div class="img-slides-bottom">
            <div class="img-view-thumbs task-scroll-custom">
                <img ng-click="swichImage(_att)"
                     ng-repeat="_att in liAttackImage"
                     ng-src="{{linkViewImage +_att.AttachmentGuid}}"
                     class="chatbox-share-image {{(_att.AttachmentGuid === iSelected.Image.AttachmentGuid)?'active':''}} {{_att.Name.split('.')[_att.Name.split('.').length-1]}}" />
            </div>
            <div class="img-funtion">
                <div class="item-function">
                    <div class="item-info">
                        <div class="item-info-img">
                            <img ng-src="{{utility.COMMON_LINK_API.link_employee_loginName + iSelected.Image.CreatedBy.split('#')[0]}}" />
                        </div>
                        <div class="item-info-more">
                            <span title="Người tạo">{{iSelected.Image.CreatedBy.split('#')[1]}}</span>
                            <span title="Ngày tạo">{{ConDate(iSelected.Image.CreatedDate,1)}}</span>
                        </div>
                    </div>
                    <span title="Quay ảnh trái" class="mdi mdi-replay" ng-click="flipImage(-1)"></span>
                    <span title="Tải xuống" class="mdi mdi-download" ng-click="downLoadFile(iSelected.Image.AttachmentGuid)"></span>
                    <span title="Quay ảnh phải" class="mdi mdi-refresh" ng-click="flipImage(1)"></span>
                </div>
            </div>
        </div>
    </div>
</div>-->
<style>
    /*Begin using view image slide */
    .ES-MSS .img-view-slides {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100vw;
        height: 100vh;
        z-index: 99999;
        background-color: white;
    }

    .ES-MSS .img-slides-header {
        top: 0px;
        height: 40px;
        border-top: 1px solid #2c2d2e;
    }

    .ES-MSS .img-slides-bottom {
        bottom: 0px;
        height: 180px;
    }

    .ES-MSS .img-slides-header, .ES-MSS .img-slides-bottom {
        width: 100vw;
        background-color: gray;
        position: fixed;
        z-index: 9;
    }

    .ES-MSS .img-action-back {
        left: 0px;
    }

    .ES-MSS .img-action-next {
        right: 205px;
    }

    .ES-MSS .img-action-back, .ES-MSS .img-action-next {
        position: fixed;
        top: 47vh;
        width: 50px;
        background-color: gray;
        font-size: 40px;
    }

    .ES-MSS .img-slides-body span {
        padding: 4px;
        color: white;
    }

    .ES-MSS .img-view-slides .img-view {
        width: 100vw;
        height: 100vh;
        padding: 50px 50px 180px 50px;
    }

        .ES-MSS .img-view-slides .img-view #img-view-slides {
            height: 100%;
            padding: 10px;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }

    .ES-MSS .img-view-slides .img-view-thumbs img {
        width: 150px;
        height: 115px;
        padding: 10px;
        display: inline-block;
        opacity: 0.3;
    }

        .ES-MSS .img-view-slides .img-view-thumbs img.action {
            opacity: 1;
        }

    .ES-MSS .img-view-slides .img-slides-header span, .ES-MSS .img-view-slides .img-slides-header .header-title {
        top: 0px;
        position: fixed;
        color: white;
    }

    .ES-MSS .img-view-slides .img-slides-header span {
        float: right;
        right: 0px;
        font-size: 22px;
        padding: 0px 10px 10px 10px;
    }

    .ES-MSS .img-view-slides .img-slides-header .header-title {
        text-transform: uppercase;
        font-size: 16px;
        padding: 4px 4px 4px 20px;
    }

    .ES-MSS .img-view-slides .chatbox-share-image.active {
        opacity: 1;
    }

    .ES-MSS .img-view-slides .img-funtion {
        position: fixed;
        height: 100%;
        width: 100vw;
        background-color: #545454;
    }

        .ES-MSS .img-view-slides .img-funtion .item-function {
            width: 100%;
            margin: auto;
            text-align: center;
            font-size: 27px;
            padding: 5px;
            color: #fff;
        }

            .ES-MSS .img-view-slides .img-funtion .item-function .item-info {
                display: inline-block;
                float: left;
                font-size: 12px;
            }

                .ES-MSS .img-view-slides .img-funtion .item-function .item-info .item-info-img, .ES-MSS .img-view-slides .img-funtion .item-function .item-info .item-info-more {
                    display: inline-block;
                    text-align: left;
                    vertical-align: top;
                }

                .ES-MSS .img-view-slides .img-funtion .item-function .item-info img {
                    width: 50px;
                    height: 50px;
                    border-radius: 30px;
                    margin-right: 10px;
                    vertical-align: unset;
                    margin: 2px;
                }

                .ES-MSS .img-view-slides .img-funtion .item-function .item-info .item-info-more span {
                    display: block;
                }

    .ES-MSS .img-view-slides .img-view-thumbs.task-scroll-custom {
        overflow-x: scroll;
        overflow-y: hidden;
        width: 100vw;
        height: 120px;
        display: flex;
    }

        .ES-MSS .img-view-slides .img-view-thumbs.task-scroll-custom::-webkit-scrollbar-thumb {
            background: rgb(31, 67, 113);
        }

    #img-view-slides {
        transition: all 0.3s ease;
        border: 0.0625em solid black;
    }
    /*End image for using slide */
    /*Begin 2020/10/12*/
    .ES-MSS .img-view-slides.img-horizontal .img-slides-body {
        margin-right: 200px;
    }

        .ES-MSS .img-view-slides.img-horizontal .img-slides-body .img-view {
            width: calc(100vw - 220px);
        }

    .ES-MSS .img-view-slides.img-horizontal .img-slides-header span {
        float: left;
        font-size: 22px;
        left: 0px;
        padding: 0px 10px 10px 10px;
    }

    .ES-MSS .img-view-slides.img-horizontal .img-slides-bottom {
        top: 0px;
        right: 0px;
        height: 100vh;
        width: 200px !important;
    }

        .ES-MSS .img-view-slides.img-horizontal .img-slides-bottom .img-funtion {
            height: 63px;
            bottom: 0px;
        }

        .ES-MSS .img-view-slides.img-horizontal .img-slides-bottom .img-view-thumbs.task-scroll-custom {
            width: unset;
            overflow-x: hidden;
            overflow-y: scroll;
            display: block;
            height: calc(100vh - 62px);
        }
    /*End 2020/10/12*/
</style>
<script>

    var notepad = document.getElementById("notepad");
    function loadScrollSeeting() {
        var _el = document.getElementById('setting-content-scroll');
        //var _top = _el.getBoundingClientRect().top;
        $(_el).css('height', "100vh");
    }

    ;
    loadScrollSeeting();
    function resizeElement() {
        var _el = $('.comment-fixbottom');
        for (var i = 0; i < _el.length; i++) {
            var _elParent = $(_el[i]).parent();
            $(_el[i]).css('width', $(_elParent).width());
        }

    }

    $('#minize-menuleft').on('click', function () {
        setTimeout(function () {
            resizeElement();
        }, 1);
    })
    function resizeElementTimeOut() {
        setTimeout(function () {
            resizeElement();
        }, 1);
    }

    function cancelCloseDropdown() {
        $('body').on("click", ".dropdown-menu-stopclick", function (e) {
            e.stopPropagation();
        });
    }

    $(document).ready(function () {
        resizeElement();
        cancelCloseDropdown();
    });
    $(window).resize(function () {
        resizeElement();
    })
    $('#reply-comment').click(function (event) {
        event.stopPropagation();
    });
</script>
