﻿    <style>
        .kanban-pick-color {
            padding: 0px 0px 0px 0px;
            color: #FFF;
            width: 100%;
        }

            .kanban-pick-color span, .kanban-pick-color input {
                display: inline-block;
            }

            .kanban-pick-color span {
                float: left;
                padding: 3px 0px 0px 30px;
            }

            .kanban-pick-color input {
                float: right;
            }
        .Category-Manager .OrderId,
        .Category-Manager .OrderId input{
            width: 50px;
        }
        .Category-Manager .CategoryClass {
            width: 170px;
        }
        .task-scroll-custom {
            height:60vh;
        }
    </style>
<div class="modal-header has-border" modal-drag>
    <h5 class="modal-title es-modal-title">
        {{Title}}
    </h5>
    <button type="button" class="close custom-modal__close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
        <span aria-hidden="true" class="ua-icon-modal-close"></span>
    </button>
</div>
<div class="modal-body">
    <form name="addform" class="form-horizontal  form-bordered" method="post" ng-validate="validationOptions">
        <div class="row">
            <div class="form-group col-md-12">
                <div class="task-scroll-custom" >
                    <table class="table table-bordered Category-Manager">
                        <thead>
                            <tr>
                                <th width="60px">Sắp xếp</th>
                                <th>Tên danh mục</th>
                                <th width="150px">Màu hiển thị</th>
                                <th width="65px">Màu chữ</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in liCategoryTasks">
                                <td class="OrderId">
                                    <input type="number" ng-model="item.OrderId" />
                                </td>
                                <td>
                                    {{item.Title}}
                                </td>
                                <td class="CategoryClass">
                                    <div class="form-control">
                                        <div class="kanban-pick-color" style="background-color: {{item.Class}};" >
                                            <span style="color: {{item.ClassText}};">TEXT MẪU</span>
                                            <input type="color" title="Chọn màu" ng-model="item.Class" />
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="kanban-pick-color" style="background-color: {{item.ClassText}};">
                                        <input type="color" title="Chọn màu" ng-model="item.ClassText" />
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table> 
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer modal-footer--center">
    <div class="row" style="width:100%; height: 30px;">
        <div class="col-lg-6">
        </div>
        <div class="col-lg-6">
            <div class="form-group" style="float:right">
                <button class="btn btn-info icon-left btn-sm mr-3" type="button" ng-click="submit()">
                    Lưu <span class="btn-icon mdi mdi-content-save-all"></span>
                </button>
                <button class="btn btn-outline-primary icon-left btn-sm mr-3" type="button" data-dismiss="modal" ng-click="cancel()">
                    Đóng <span class="btn-icon mdi mdi-close"></span>
                </button>
            </div>
        </div>
    </div>
</div>

