﻿<style>
    .ui-select-match span[ng-repeat] {
        border: 1px solid #939daa;
        padding: 3px 1px 2px 1px;
        border-radius: 5px;
    }

    .moreContent {
        padding: 2px 5px 0px 3px;
        border-radius: 5px;
        margin-left: 4px;
        color: #2196f3;
    }

        .moreContent:hover {
            border: 1px solid #0b79da;
            color: #0b79da;
        }

    .modal-body .row {
        margin-bottom: 11px !important;
    }

    .label-sendmail {
        text-align: center;
    }

    .btn-xs {
        padding: 2px 5px 1px 5px;
    }

    .icon-showmore {
        padding: 5px 7px 4px 7px;
        border: 1px solid #04b5ac;
        color: #055a70;
    }

        .icon-showmore:hover {
            background-color: #055a70;
            color: white;
        }

    .add-tab {
        width: 100%;
        margin-top: 10px;
        border-bottom: 1px solid #d3d9dd;
        margin-bottom: 6px;
    }

        .add-tab .item {
            padding: 5px 7px 3px 9px;
            border: 1px solid #428bca;
            min-width: 96px;
            display: inline-block;
            border-bottom: unset;
        }

        .add-tab .item {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px
        }

            .add-tab .item.is-active {
                background-color: #428bca;
                color: white;
            }

    .task-add-scroll {
        max-height: 70vh;
        overflow-x: hidden;
    }

    .send-mail-css {
        padding: 22px 0px 0px 0px;
    }

        .send-mail-css input {
            float: left;
            margin-top: 4px;
        }

        .send-mail-css label {
            padding-left: 8px;
            margin-bottom: 0px;
        }
</style>
<div class="modal-header has-border" modal-drag>
    <h5 class="modal-title es-modal-title">
        {{Title}}
    </h5>
    <button type="button" class="close custom-modal__close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
        <span aria-hidden="true" class="ua-icon-modal-close"></span>
    </button>
</div>
<div class="modal-body">
    <form name="addform" class="form-horizontal  form-bordered" method="post" ng-validate="validationOptions" ng-init="useTemplate = 'ADD'">
        <div class="">
            <div class="task-scroll-custom task-add-scroll" ng-show="useTemplate === 'ADD'">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="output-device">Tên công việc<span class="has-error"> *</span></label>
                                <div class="textview">{{model.Subject}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="isshowMore">
                    <div class="col-lg-12">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="output-device"> Nội dung:</label>
                                <div class="textview" ng-bind-html="model.TaskContent"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="output-device">Nhóm công việc</label>
                                <div class="textview"> {{model.GroupTitle}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="isshowMore">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="textarea">Ngày bắt đầu:</label>
                            <div class="textview">{{ConDate(model.StartDate,1)}}</div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <div class="form-group col-md-12">
                                <label for="output-device">Ngày đến hạn:</label>
                                <div class="textview">{{ConDate(model.EndDate,1)}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4" ng-show="isshowMore">
                        <div class="form-group">
                            <label for="output-device">Mức độ ưu tiên:</label>
                            <div class="textview"> {{model.Priority == 'H' ? 'Cao' : model.Priority == 'N' ? 'Bình thường ': model.Priority == 'L' ? 'Thấp' : null}}</div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="isshowMore">
                    <div class="col-lg-12">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="output-device">Người chủ trì:</label>
                                <div class="textview"> {{model.Asign}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="isshowMore">
                    <div class="col-lg-12">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="output-device">Người phối hợp xử lý:</label>
                                <div class="textview"> {{model.Supporter}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="isshowMore">
                    <div class="col-lg-12">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="output-device">Người theo dõi:</label>
                                <div class="textview"> {{model.Headship}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="isshowMore">
                    <div class="col-lg-12">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="output-device">Nhãn công việc</label>
                                <div class="textview"> {{model.LabelName}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="isshowMore">
                    <div class="col-lg-12">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <div class="m-task__checklist" style="margin-top: 0;">
                                    <h3 class="m-task__checklist-heading">Hạng mục công việc(nếu có): </h3>
                                    <ul class="m-task__checklist-items">
                                        <li ng-repeat="item in model.CheckList.TaskCheckLists" style="margin-bottom: 10px">
                                            <div class="input-group input-group-icon icon-left input-group-sm" style="margin-right:5px;">
                                                <div style="padding-left: 33px;" class="textview"> {{item.CheckListTitle}}</div>
                                                <span class="input-icon" style="font-size: 20px;color: black;">
                                                    <span class="{{item.Stattus == 'true' ? 'mdi mdi-checkbox-marked-outline' :'mdi mdi-checkbox-blank-outline'}}"></span>
                                                </span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-show="jdataattach.length>0">
                    <div class="">
                        <div class="">
                            <div class="table-scrollable">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>

                                            <th style="width:5%">STT</th>
                                            <th style="width:5%">Icon</th>
                                            <th style="width:20%">Tiêu đề</th>
                                            <th style="">Tên tệp</th>
                                            <th style="width:15%">Kích thước</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="x in jdataattach">
                                            <td style="width:5%;text-align:center">
                                                {{$index+1}}
                                            </td>
                                            <td style="width:5%;text-align:center" ng-if="x.FileName.includes('.xlsx')"><div class="es-attachment-icon-excel" /></td>
                                            <td style="width:5%;text-align:center" ng-if="x.FileName.includes('.doc')"><div class="es-attachment-icon-word" /></td>
                                            <td style="width:5%;text-align:center" ng-if="x.FileName.includes('.pdf')"><div class="es-attachment-icon-pdf" /></td>
                                            <td style="width:5%;text-align:center" ng-if="!x.FileName.includes('.xlsx') && !x.FileName.includes('.doc') && !x.FileName.includes('.pdf')"></td>
                                            <td> {{x.Title}}</td>
                                            <td>
                                                <a target="_blank" ng-href="/Cooperation/Tasks/Download?id={{x.AttachmentGuid}}" href="/">{{x.FileName}} </a>
                                            </td>
                                            <td style="text-align : left">{{x.FileSize/ 1024/1024|number:2}} MB</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="" ng-show="useTemplate === 'TEMP'">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="output-device"> mẫu sử dụng</label>
                                <div class="textview">{{model.TemplateId}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer modal-footer--center">
    <div class="row" style="width:100%; height: 30px;">
        <div class="col-lg-6">
            <span class="icon-showmore icon-left btn-sm mr-3 es-cursor" type="button" ng-click="isshowMore = !isshowMore">
                {{isshowMore?'Thu gọn':'Thêm thông tin'}}
            </span>
        </div>
        <div class="col-lg-6">
            <div class="form-group" style="float:right">
                <button class="btn btn-outline-primary icon-left btn-sm mr-3" type="button" data-dismiss="modal" ng-click="cancel()">
                    Đóng <span class="btn-icon mdi mdi-close"></span>
                </button>
            </div>
        </div>
    </div>
</div>