﻿<style type="text/css">
    .col-md-2 {
        text-align: left;
    }
</style>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button>
    <h3 class="modal-title" id="modal-title">Danh sách địa chỉ</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="portlet-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th> Lựa chọn </th>
                        <th> Nhóm địa chỉ</th>
                        <th> Mã nhân viên </th>
                        <th> Tên nhân viên </th>
                        <th> Tên đăng nhập </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in liDataTable">
                        <td>
                            <input type="checkbox" ng-model="item.iSelected" />
                        </td>
                        <td> {{item.Title}} </td>
                        <td> {{item.EmployeeId}} </td>
                        <td> {{item.FullName}} </td>
                        <td> {{item.UserName}} </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal-footer">
    <a data-dismiss="modal" class="btn  btn-default" href="javascript:;" ng-click="cancel()">
        Đóng
    </a>
    <a ng-click="submit()" class="btn  btn-primary  btn-default" href="javascript:;">
        <i class="fa fa-floppy-o"></i> Hoàn thành
    </a>
</div>