﻿<style>
    .CustomUpload {
        min-width: 20%;
        min-height: 30%;
        right: auto !important;
        font-size: 14px !important;
    }
</style>
<div class="modal-header has-border" modal-drag>
    <h5 class="modal-title es-modal-title">{{Title}}</h5>
    <button type="button" class="close custom-modal__close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
        <span aria-hidden="true" class="ua-icon-modal-close"></span>
    </button>
</div>
<div class="modal-body">
    <form name="addform" class="form-horizontal  form-bordered" method="post" ng-validate="validationOptions">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="output-device">
                            Tiêu đề công việc
                            <span class="has-error"> *</span>
                        </label>
                        <div class="textview">
                            {{modelCha.Subject}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="output-device">
                            Hoàn thành (%)
                            <span class="has-error"> *</span>
                        </label>
                        <input ng-change="onchangeComplete()" title="Hoàn thành tiến độ 100%" max="100" min="0" maxlength="3" type="number" class="form-control" ng-model="model.PercentComplete"/>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="output-device">
                            Trạng thái
                            <span class="has-error"> *</span>
                        </label>
                        <select ng-model="model.StatusCompleted" ng-smselect se-data="dStatusProcess" se-change="onchangeStatus(data)"></select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="output-device">
                            Nhắc xử lý
                        </label>
                        <input ng-model="model.TimeReminder" datetime-picker="" date-format="DD/MM/YYYY" date-only="" name="StartDate" placeholder="Đến ngày" class="form-control ng-pristine ng-valid ng-empty ng-touched" style="font-weight: normal;">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="output-device">
                            Nội dung
                        </label>
                        <textarea rows="3" class="form-control" ng-model="model.Note" name="Notes"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer modal-footer--center">
    <div class="row" style="width:100%; height: 30px;">
        <div class="col-lg-6">
         
        </div>
        <div class="col-lg-6">
            <div class="form-group" style="float:right">
                <button class="btn btn-info icon-left btn-sm mr-3" type="button" ng-click="submit()">
                    Lưu <span class="btn-icon mdi mdi-content-save-all"></span>
                </button>
                <button class="btn btn-outline-primary icon-left btn-sm mr-3" type="button" data-dismiss="modal" ng-click="cancel()">
                    Đóng <span class="btn-icon mdi mdi-close"></span>
                </button>
            </div>
        </div>
    </div>
</div>
