﻿<style>
    .CustomUpload {
        min-width: 20%;
        min-height: 30%;
        right: auto !important;
        font-size: 14px !important;
    }

        .vakata-context.jstree-contextmenu.jstree-default-contextmenu {
            z-index: 99999 !important;
        }
</style>
<div class="modal-header has-border" modal-drag>
    <h5 class="modal-title es-modal-title">
        {{Title}}
    </h5>
    <button type="button" class="close custom-modal__close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
        <span aria-hidden="true" class="ua-icon-modal-close"></span>
    </button>
</div>
<div class="modal-body">
    <form name="addform" class="form-horizontal  form-bordered" method="post" ng-validate="validationOptions">
        <div class="row">
            <div class="col-lg-12">
                <div id="tree_1" class="" style="overflow-y:scroll;overflow-x:hidden;min-width: 330px;height:400px">
                    <div id="treeDiv_add" class="scroll" js-tree="treeConfig" ng-model="jstreeData" should-apply="applyModelChanges()" tree="treeInstance" tree-events="ready:readyCB;changed:changeNode">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer modal-footer--center">
    <div class="row" style="width:100%; height: 30px;">
        <div class="col-lg-6">

        </div>
        <div class="col-lg-6">
            <div class="form-group" style="float:right">
                <button class="btn btn-info icon-left btn-sm mr-3" type="button" ng-click="submit()">
                    Lưu <span class="btn-icon mdi mdi-content-save-all"></span>
                </button>
                <button class="btn btn-outline-primary icon-left btn-sm mr-3" type="button" data-dismiss="modal" ng-click="cancel()">
                    Đóng <span class="btn-icon mdi mdi-close"></span>
                </button>
            </div>
        </div>
    </div>
</div>
<script>

</script>