﻿
.es-css .modal.fade.custom-modal.show {
    background-color: #00000054;
    display: block;
    padding-right: 17px;
}

.es-css .modal-dialog {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.es-css .custom-modal__buttons {
    background-color: white;
}

.modal-footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    border-top: none;
    padding: 5px 5px 5px;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.es-css .modal-footer {
    border-top: none !important;
}

.modal-footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 1px solid #e9ecef;
}

.custom-modal__buttons .btn {
    padding: 7px 40px;
    font-size: 17px;
}

.modal-footer .btn {
    padding: 5px 10px;
    font-size: 12px;
}

.ES-TM .widget-tabs__header--bordered {
    padding-left: 5px;
}

.ES-TM .dropdown-menu.navbar-dropdown-menu.navbar-dropdown-menu__user {
    width: 270px;
}

.ES-TM .sidebar-section-nav__link.sidebar-section-nav__link-dropdown .badge.sidebar-section-nav__badge {
    margin-right: 40px;
}

.ES-TM .dropdown-toggle.navbar-dropdown-toggle img {
    height: 34px;
    width: 34px;
}

.ES-TM .slide-nav {
    z-index: 999;
}

.ES-TM .chatbox-messager-quote {
    font-size: 12px;
    font-style: italic;
}

    .ES-TM .chatbox-messager-quote hr {
        color: white;
        background-color: white;
        margin: 5px;
    }

.ES-TM .custom-control-input {
    z-index: 999;
}

.ES-TM .btn-select-clear {
    font-size: 20px;
    color: #b8b2b2;
}

/*Begin 2020/10/15 using for Task */
.m-mail__content {
    border-left: 1px solid #6f71725e;
}

.m-messenger__messages-body {
    height: calc(100vh - 171px) !important;
}

.vakata-context.jstree-contextmenu.jstree-default-contextmenu {
    z-index: 1000;
}

.email-menu-Folder {
    height: 100%;
    width: 250px;
    position: fixed;
    background-color: white;
    z-index: 10;
    display: none;
    box-shadow: 2px 2px 7px -2px #888888;
}

    .email-menu-Folder .Folder-close {
        position: absolute;
        right: -8px;
        top: -8px;
        z-index: 999;
        background-color: #dee2e6;
        width: 19px;
        height: 20px;
        border-radius: 10px;
        padding: 0px 3px;
    }

    .email-menu-Folder .Folder-actions,
    .email-menu-Folder .Folder-add-from,
    .email-menu-Folder .Folder-items {
        display: inline-block;
        width: 100%;
    }

    .email-menu-Folder .Folder-actions {
        height: 35px;
        float: left;
        border-bottom: 1px solid #e1e8f1;
    }

        .email-menu-Folder .Folder-actions .Folder-action {
            display: inline-block;
            width: 30px;
            height: 100%;
            float: left;
            text-align: center;
            vertical-align: middle;
            font-size: 20px;
            line-height: 31px;
        }

    .email-menu-Folder .Folder-add-from .Folder-new {
        width: 100%;
    }

    .email-menu-Folder .Folder-items .Folder-item {
        border-bottom: 1px solid #e1e8f1;
        padding: 10px;
        height: 53px;
    }

        .email-menu-Folder .Folder-items .Folder-item.active, .email-menu-Folder .Folder-items .Folder-item:hover {
            background-color: #e1e8f1;
        }

        .email-menu-Folder .Folder-items .Folder-item .Folder-name {
            display: inline-block;
            font-size: 13px;
            width: 85%;
        }

            .email-menu-Folder .Folder-items .Folder-item .Folder-name span {
                font-size: 16px;
            }

        .email-menu-Folder .Folder-items .Folder-item .Folder-count {
            float: right;
            display: inline-block;
            padding: 2px 5px 2px 3px;
            background-color: var(--ES-notstart) !important;
            color: #fff;
            border-radius: 7px;
            font-size: 12px;
        }

            .email-menu-Folder .Folder-items .Folder-item .Folder-count.check-save {
                background-color: unset !important;
                color: black;
                font-size: 20px;
            }

        .email-menu-Folder .Folder-items .Folder-item .Folder-edit {
            display: inline-block;
            width: 85%;
            float: left;
        }

.hasChild15 {
    margin-left: 15px !important;
    padding-left: 5px;
    /*border-left: 1px solid gray;*/
    border-width: thin;
}

/*border-left: 1px solid #2196F3;*/
.hasChild30 {
    margin-left: 30px !important;
    padding-left: 5px;
    /*border-left: 1px solid gray;*/
    border-width: thin;
}

.hasChild45 {
    margin-left: 45px !important;
    padding-left: 5px;
    /*border-left: 1px solid gray;*/
    border-width: thin;
}

.hasChild60 {
    margin-left: 60px !important;
    padding-left: 5px;
    /*border-left: 1px solid gray;*/
    border-width: thin;
}

.ES-TM .waiting-accept {
    color: red;
}

.ES-TM .router-90:before {
    transform: rotate(90deg);
}

.ES-TM .font-11 {
    font-size: 11px;
}

.ES-TM .row-only {
    display: block;
    float: right;
    width: 120%;
    text-align: right;
}

.Task-selected-TabFile table, .Task-selected-TabLink table {
    width: 100%;
}

    .Task-selected-TabFile table tr {
        height: 65px;
    }

    .Task-selected-TabFile table tbody tr td.typeimg {
        width: 50px;
    }

        .Task-selected-TabFile table tbody tr td.typeimg img {
            width: 35px;
            height: 35px;
        }

    .Task-selected-TabFile table tbody tr td.createdDate {
    }

    .Task-selected-TabFile table tbody tr td.createdby {
        width: 160px;
    }

    .Task-selected-TabFile table tbody tr td:last-child {
        font-size: 23px;
        color: #0000007a;
        width: 25px;
    }

    .Task-selected-TabLink table tr td:last-child {
        width: 70px;
    }

    .Task-selected-TabLink table tr td a {
        font-size: 12px;
    }

.Task-selected-TabImage img {
    min-width: 30%;
    height: 150px;
    width: 150px;
}

.Task-selected-TabImage .col-md-3 {
    margin-bottom: 25px;
}
/*End 2020/10/15 using for Task */

.es-tm-break-row {
    word-break: break-word;
}