﻿
@{
    ViewData["Title"] = "Quản lý xếp hạng.";
    Layout = "~/Areas/HR/Views/SharedAdmin/_Layout.cshtml";
}

<div class="page-content" id="contentMain" ng-controller="Ctrl_RatingTasks">
    <div class="container-fluid m-mail">
        <div style="min-height:100px;height: 100%;" ng-view></div>
    </div>
    <script src="~/views/Sale/RatingTasks/controller.js" type="text/javascript"></script>
</div>


