﻿<style>
    div:not(.dataTables_scrollBody):not(#tblData):not(#treeDiv):not(.dataTables_scrollFoot):not(#myht):not(#myhtread):not(#myopen):not(#mybh)::-webkit-scrollbar {
        display: none;
        margin: 0px !important;
    }

    td.mw20 {
        text-align: center;
    }
</style>

<link href="/urlstatic/plugins/jstree/themes/default/style.css" rel="stylesheet" type="text/css" />
<div class="main-container container-fh__content m-tree__container col-md-12">
    <div class="m-tree__nav " style="width: 263px; min-width: 263px;">
        <div class="m-tree__nav-top-side">
            <div class="m-tree__nav-top-side">
                <div class="m-tree__nav-actions" style="border-bottom: 1px solid #e9ebee;">
                    <div class="row" style="width:100%">
                        <div class="col-lg-12">
                            <h2 class="m-tree__nav-heading">
                                <span class="mdi mdi-settings"></span> Thiết đặt chung
                            </h2>
                        </div>
                        <!--<div class="col-lg-2">
                            <div class="subnav__header-side">
                                <a href="#" class="ua-icon-plus-circle input-control-item" data-toggle="modal" ng-click="addSetting()" onclick="return false"></a>
                            </div>
                           
                        </div>
                        <div class="col-lg-2">
                            <div class="subnav__header-side">
                                <a href="#" class="ua-icon-plus-circle input-control-item" data-toggle="modal" ng-click="editSetting()" onclick="return false"></a>
                            </div>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="" style="height:870px;">
            <div id="tree_1" class="ES-TM">
                <div id="treeDiv" style="height:870px;overflow:scroll" class="task-scroll-custom" js-tree="treeConfig" ng-model="jstreeData" should-apply="applyModelChanges()" tree="treeInstance" tree-events="ready:readyCB;changed:changeNode">
                </div>
            </div>
        </div>
    </div>
    <div class="m-tree__content" style="width: 833px; min-width: 833px;padding:6px;">
        <div class="subnav">
            <div class="subnav__header">
                <div class="subnav__heading">
                    <span class="mdi mdi-view-list subnav__heading-icon"></span> Cấu hình quyền, và đường dẫn
                </div>
                <div class="subnav__header-side">
                    <a href="javascript:;" class="btn btn-info btn-sm icon-left" ng-click="addSetting()" title="Thêm mới">
                        Thêm mới  <span class="btn-icon mdi mdi-plus-box"></span>
                    </a>
                    <a href="javascript:;" class="btn btn-info btn-sm icon-left" ng-click="editSetting()" title="Sửa">
                        Sửa <span class="btn-icon mdi mdi-plus-box"></span>
                    </a>
                    <a href="javascript:;" class="btn btn-danger btn-sm icon-left"  ng-click="delete()" onclick="return false" title="Xóa dữ liệu">
                        Xóa  <span class="btn-icon mdi mdi-delete-forever"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="widget widget-tabs bd-widget-overview">
                    <div class="widget-tabs__header widget-tabs__header--bordered">
                        <div class="widget-tabs__header-meta">
                            <div class="input-group input-group-icon icon-right input-group-sm" style="width:92px;">
                                <label for="output-device">Người truy cập :</label>
                            </div>
                            <div class="input-group input-group-icon icon-right input-group-sm" style="margin-right:5px">
                                <select name="Employees" class="Employees" ng-model="model.EmployeesId" ng-smselect multiple="multiple" se-data="Employees" se-init="EmployeesConfig" se-change="EmployeesChange(data)"></select>
                            </div>
                            <div class="input-group input-group-icon icon-right input-group-sm" style="width:92px;">
                                <label for="output-device">Quyền truy cập :</label>
                            </div>
                            <div class="input-group input-group-icon icon-right input-group-sm" style="margin-right:5px">
                                <select name="StatusOfWorkData" class="StatusOfWorkData" ng-model="model.ESActionsId" ng-smselect multiple="multiple" se-data="ESActions" se-init="ESActionsConfig" se-change="ESActionsChange(data)"></select>
                            </div>
                            <div class="input-group input-group-icon icon-right input-group-sm" style="margin-right:5px">
                                <a href="javascript:;" class="btn btn-info btn-sm icon-left" data-toggle="modal" ng-click="add_Employees()" data-target="#modal-settings" title="Thêm tài khoản và quyền truy cập">
                                    Cập nhật <span class="btn-icon mdi mdi-content-save-all"></span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin-top:20px">
                        <div class="col-lg-12">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <div class="table-scrollable">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th style="width:1%">STT</th>
                                                    <th style="width:5%">Thuộc tính</th>
                                                    <th style="width:20%">Giá trị</th>
                                                    <th style="width:1%" title="Điều khiển">ĐK</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in ListESResAttributes">

                                                    <td align="center" style="width:1%"> {{$index+1}}</td>
                                                    <td style="width:5%"> <input type="text" class="form-control" ng-model="item.Key" ng-disabled="true"></td>
                                                    <td style="width:20%"> <input type="text" class="form-control" ng-model="item.Value"></td>
                                                   <td align="center">
                                                        <a href="" class="btn btn-icon-only btn-default btn-custom" style="font-size:15px;" title="Cập nhật" ng-click="updateESResAttributes(item,$index)"><i class="btn-icon mdi mdi-content-save-all"></i></a>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="form-group col-md-3">
                                    <div class="table-scrollable">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th style="width:1%">STT</th>
                                                    <th style="width:50%">Tài khoản</th>
                                                    <th style="width:1%" title="Điều khiển">ĐK</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in ListEmployeesId" ng-click="getQuyen(item)">
                                                    <td align="center" style="width:1%"> {{$index+1}}</td>
                                                    <td style="width:50%"><a href="" ng-click="getQuyen(item)">{{item}}</a></td>
                                                    <td align="center">
                                                        <a href="" class="btn btn-icon-only btn-default btn-custom" style="font-size:15px;" title="Xóa" ng-click="deleteEmployees(item,$index)"><i class="btn-icon mdi mdi-delete"></i></a>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="form-group col-md-3">
                                    <div class="table-scrollable">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th style="width:1%">STT</th>
                                                    <th style="width:50%">Quyền</th>
                                                    <th style="width:1%" title="Điều khiển">ĐK</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item1 in lstESActionsId">
                                                    <td align="center" style="width:1%"> {{$index+1}}</td>
                                                    <td style="width:50%"> <input type="text" class="form-control" ng-model="item1.ActionId" ng-disabled="true"></td>
                                                    <td align="center">
                                                        <a href="" class="btn btn-icon-only btn-default btn-custom" style="font-size:15px;" title="Xóa" ng-click="deleteActions(item1,$index)"><i class="btn-icon mdi mdi-delete"></i></a>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






<!--<div class="row">
    <div class="col-lg-12">
        <div class="widget widget-tabs bd-widget-overview">
            <div class="widget-tabs__header widget-tabs__header--bordered">
                <div class="widget-tabs__header-meta">
                    <div class="input-group input-group-icon icon-right input-group-sm" style="margin-right:5px">
                        <input class="form-control" ng-model="staticParam.Search" ng-change="reload()" type="search" placeholder="Nhập từ khóa">
                        <span class="input-icon ua-icon-search"></span>
                    </div>
                    <div class="col-lg-2">
                        <select ng-smselect se-data="ListIsActive" ng-model="staticParam.IsActive" se-change="IsActiveChange(data)" se-init="IsActiveConfig"></select>
                    </div>

                </div>
            </div>
            <div class="m-datatable">
                <table class="table table-striped" style="margin-top: 0px !important; width: 100%;"
                       datatable
                       dt-options="dtOptions"
                       dt-columns="dtColumns"
                       dt-instance="dtInstance"
                       id="tblData"></table>
            </div>
        </div>
    </div>
</div>-->
