﻿<div class="modal-header has-border">
    <h5 class="modal-title es-modal-title"> {{Title}}</h5>
    <button type="button" class="close custom-modal__close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
        <span aria-hidden="true" class="ua-icon-modal-close"></span>
    </button>
</div>
<div class="modal-body">
    <form name="openform" class="form-horizontal  form-bordered" method="post" ng-validate="validationOptions">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="output-device">Mã đường dẫn</label>
                        <div class="textview">{{model.Code}}</div>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="output-device">Tên đường dẫn</label>
                        <div class="textview">{{model.Title}}</div>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="input-type">Cấp trên</label>
                        <div class="textview">{{model.ParentId}}</div>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="input-type">Sắp xếp</label>
                        <div class="textview">{{model.Ord}}</div>
                    </div>
                   
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer modal-footer--center">
    <div class="row" style="width:100%; height: 30px;">
        <div class="col-lg-6">
           
        </div>
        <div class="col-lg-6">
            <div class="form-group" style="float:right">
                <button class="btn btn-outline-primary icon-left btn-sm mr-3" type="button" data-dismiss="modal" ng-click="cancel()">
                    Đóng <span class="btn-icon mdi mdi-close"></span>
                </button>
            </div>
        </div>
    </div>
</div>

