﻿
@{
    ViewData["Title"] = "Danh sách phân quyền";
    Layout = "~/Areas/HR/Views/SharedAdmin/_Layout.cshtml";
}
@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
@{
    string NameLogin = "";
    try
    {
        NameLogin = User.Identity.Name;
    }
    catch (Exception)
    {
        NameLogin = "";
    }
}
<div class="page-content" id="contentMain" ng-controller="Ctrl_HR_Resource">
    <div class="container-fluid">
        <div style="min-height:100px" ng-view></div>
    </div>
    <script src="~/views/EIM/Resource/controller.js" type="text/javascript"></script>
</div>


