﻿<style>
    div:not(.dataTables_scrollBody):not(.dataTables_scrollFoot):not(#myht):not(#myhtread):not(#myopen):not(#mybh)::-webkit-scrollbar {
        display: none;
        margin: 0px !important;
    }

    .lableRight {
        text-align: right;
        margin-right: 0px !important;
    }
</style>
<div class="modal-header has-border modal-drag">
    <h5 class="modal-title es-modal-title">{{TitleIndex}}</h5>

    <button type="button" class="close custom-modal__close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true" class="ua-icon-modal-close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"></span>
    </button>
</div>
<div class="modal-body" id="modal-body">
    <div class="portlet-body">
        <div class="subnav ">
            <form name="addform" class="" method="post" ng-validate="validationOptions">
                <div class="row" style="margin:0px 10px">
                    <div class="form-row">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="form-group col-md-2">
                                    <label for="input-device">Ngày </label>
                                    <input ng-model="model.DatePS" name="DatePS" datetime-picker="" date-format="DD/MM/YYYY" placeholder="dd/mm/yyyy" class="form-control ng-pristine ng-valid ng-empty ng-touched" date-only="">
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="input-device">Tên chi phí</label>
                                    <input type="text" class="form-control" ng-model="model.Title" name="Title" ng-disabled="statusDisable">
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="input-device">Mô tả</label>
                                    <input type="text" class="form-control" ng-model="model.Description" name="Description" ng-disabled="statusDisable">
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="input-type">Đơn vị tính</label>
                                    <div class="input-group input-group-icon icon-right input-group-sm">
                                        <select ng-smselect se-data="ListUnitID" se-change="ChangeUnitID(data)" se-init="ColumnConfig" ng-model="model.UnitID" placeholder="Chọn đơn vị tính"></select>
                                    </div>
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="input-device">Số lượng</label>
                                    <input formatsub="number" class="form-control" ng-model="model.Quantity" name="Quantity" ng-change="ChangeNumber()">
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="input-device">Đơn giá</label>
                                    <input formatsub="number" class="form-control" ng-model="model.UnitPrice" name="UnitPrice" ng-change="ChangeNumber()">
                                </div>

                                <div class="form-group col-md-2">
                                    <label for="input-device">Thành tiền</label>
                                    <input formatsub="number" class="form-control" ng-model="model.AmountOc" name="AmountOc">
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="input-device">Người yêu cầu </label>
                                    <input type="text" class="form-control" name="EmployeeID" ng-model="model.EmployeeID" ng-disabled="statusDisable" />
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="input-device">Người duyệt </label>
                                    <input type="text" class="form-control" name="EmployeeApprove" ng-model="model.EmployeeApprove" ng-disabled="statusDisable" />
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="input-device">Người thực hiện</label>
                                    <input type="text" class="form-control" name="EmployeeName" ng-model="model.EmployeeName" ng-disabled="statusDisable" />
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="input-type">Tình trạng</label>
                                    <div class="input-group input-group-icon icon-right input-group-sm">
                                        <select ng-smselect se-data="ListStatusOrder" se-change="ChangeStatusOrder(data)" se-init="ColumnConfig" ng-model="model.StatusOrder" placeholder="Chọn tình trạng"></select>
                                    </div>
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="input-type">Cách thức</label>
                                    <div class="input-group input-group-icon icon-right input-group-sm">
                                        <select ng-smselect se-data="ListMethod" se-change="ChangeMethod(data)" se-init="ColumnConfig" ng-model="model.Method" placeholder="Chọn cách thức"></select>
                                    </div>
                                </div>
                                <div class="form-group col-md-1">
                                    <label for="input-type">Tháng</label>
                                    <div class="input-group input-group-icon icon-right input-group-sm">
                                        <select ng-model="staticParam.Month" ng-smselect multiple="multiple" se-data="listMonth" se-init="ColumnMultiConfig" se-change="ChangeMonth(data)"></select>
                                    </div>
                                </div>
                                <div class="form-group col-md-1">
                                    <label for="input-type">Năm</label>
                                    <div class="input-group input-group-icon icon-right input-group-sm">
                                        <select ng-smselect se-data="listYear" se-change="ChangeYear(data)" ng-model="staticParam.Year" se-init="ColumnConfig"></select>
                                    </div>
                                </div>
                                <div class="form-group col-md-10">
                                    <label for="input-device">Lưu ý khác</label>
                                    <input type="text" class="form-control" ng-model="model.Note" name="Note" ng-disabled="statusDisable">
                                </div>


                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>

        <div class="m-datatable es-table-scroll">
            <table class="table table-striped" style="margin-top: 0px !important; width: 100%;"
                   datatable
                   dt-options="dtOptions"
                   dt-columns="dtColumns"
                   dt-instance="dtInstance"
                   id="tblData">

                <tfoot>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th style="text-align:right"></th>
                        <!--<th></th>-->
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>


</div>
<div class="modal-footer modal-footer--center">
    <div class="row" style="width:100%; height: 30px;">
        <div class="col-lg-6">
           
        </div>
        <div class="col-lg-6">
            <div class="form-group" style="float:right">
               
                <button href="" class="btn btn-info btn-sm icon-left" ng-click="submit_Contracts()">
                    Cập nhật <span class="btn-icon mdi mdi-content-save-all "></span>
                </button>
                <button href="" class="btn btn-info btn-sm icon-left" ng-click="clear_Contracts()">
                    Thêm mới <span class="btn-icon mdi mdi-plus-box"></span>
                </button>
                <!--<button class="btn btn-info icon-left btn-sm mr-3" type="button" ng-click="AddFile()" ng-show="statusDisable">
                    Đính kèm <span class="btn-icon mdi mdi-attachment"></span>
                </button>-->
                <button class="btn btn-outline-primary icon-left btn-sm mr-3" type="button" data-dismiss="modal" ng-click="cancel()">
                    Đóng <span class="btn-icon mdi mdi-close"></span>
                </button>
            </div>
        </div>
    </div>
</div>
