﻿<style>

    .lableRight {
        text-align: right;
        margin-right: 0px !important;
    }

    .jexcel tbody {
        display: block !important;
        width: max-content;
    }
</style>
<div class="modal-header has-border">
    <h5 class="modal-title es-modal-title"> {{Title}}</h5>
    <button type="button" class="close custom-modal__close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
        <span aria-hidden="true" class="ua-icon-modal-close"></span>
    </button>
</div>
<div class="modal-body">
    <form name="addform" class="form-horizontal  form-bordered" method="post" ng-validate="validationOptions">
        <div class="row">
            <!--<div class="form-group col-md-2">
                <label for="input-type">Mã phiếu<span class="color-danger"> *</span></label>
                <input type="text" ng-model="model.CodeID" name="CodeID" class="form-control" ng-disabled="true">
            </div>-->
            <div class="form-group col-md-2">
                <label for="input-type">Trạng thái<span class="color-danger"> *</span></label>
                <div class="input-group input-group-icon icon-right input-group-sm">
                    <select ng-smselect se-data="ListIsAccountant" se-change="ChangeIsAccountant(data)" se-init="ColumnConfig" ng-model="model.IsAccountant" placeholder="Chọn trạng thái"></select>
                </div>
            </div>
            <div class="form-group col-md-10">
                <label for="input-type">Nội dung</label>
                <textarea type="text" rows="4" ng-model="model.WorkFlowsContent" name="WorkFlowsContent" class="form-control"></textarea>
            </div>
        </div>
    </form>   
</div>
<div class="modal-footer modal-footer--center">
    <div class="row" style="width:100%; height: 30px;">
        <div class="col-lg-6">
        </div>
        <div class="col-lg-6">
            <div class="form-group" style="float:right">
               
                <button class="btn btn-info icon-left btn-sm mr-3" type="button" ng-click="insert()">
                    Lưu <span class="btn-icon mdi mdi-content-save-all"></span>
                </button>
                <button class="btn btn-outline-primary icon-left btn-sm mr-3" type="button" data-dismiss="modal" ng-click="cancel()">
                    Đóng <span class="btn-icon mdi mdi-close"></span>
                </button>
            </div>
        </div>
    </div>
</div>