﻿<style>
    div:not(.dataTables_scrollBody):not(.dataTables_scrollFoot):not(#myht):not(#myhtindex):not(#myopen):not(#mybh)::-webkit-scrollbar {
        display: none;
        margin: 0px !important;
    }

    .jexcel tbody {
        display: block !important;
        width: max-content;
    }

    .task-scroll-custom::-webkit-scrollbar {
        display: unset !important;
    }

    .ES-SM .comment-fixbottom {
        position: absolute;
        bottom: 0px;
        z-index: 15;
        background-color: white;
        min-height: unset;
        height: unset;
    }

        .ES-SM .comment-fixbottom .comment-btn-group {
            position: absolute;
            float: right;
            z-index: 20;
            right: 0px;
            height: 73px;
            width: 126px;
            bottom: 0px;
        }

        .ES-SM .comment-fixbottom textarea {
            min-height: unset;
            height: unset;
            display: inline-block;
            width: 100%;
        }

        .ES-SM .comment-fixbottom .comment-btn-send {
            font-size: 29px;
            position: absolute;
            border: unset;
        }

        .ES-SM .comment-fixbottom .comment-btn-att {
            font-size: 29px;
            position: absolute;
            margin-left: 46px;
            border: unset;
        }
</style>

<div class="subnav">
    <div class="subnav__header">
        <div class="subnav__heading">
            <span class="mdi mdi-view-list subnav__heading-icon"> </span> Danh sách duyệt chi khác
        </div>
        <div class="subnav__header-side">
            <a href="" class="btn btn-info btn-sm icon-left" data-toggle="modal" ng-click="addAccountantsOthers()" onclick="return false" title="Nhà cung cấp">
                Khoản thu khác <span class="btn-icon mdi mdi-file-outline"> </span>
            </a>
            <a href="" class="btn btn-info btn-sm icon-left" data-toggle="modal" ng-click="addAccountantsManagement()" onclick="return false" title="Chứng từ xuất khẩu">
                Chi phí quản lý <span class="btn-icon mdi mdi-file-outline"> </span>
            </a>
            <a href="" class="btn btn-info btn-sm icon-left" data-toggle="modal" ng-click="addAccountantsDebt()" onclick="return false" title="Chứng từ xuất khẩu">
                Công nợ giấy tờ <span class="btn-icon mdi mdi-file-outline"> </span>
            </a>
            <a href="" class="btn btn-info btn-sm icon-left" data-toggle="modal" ng-click="add()" onclick="return false" title="Thêm mới">
                Thêm mới <span class="btn-icon mdi mdi-file-outline"> </span>
            </a>
            <a href="" class="btn btn-info btn-sm icon-left" ng-click="reloadAll()" title="Làm mới dữ liệu">
                Làm mới <span class="btn-icon  mdi mdi-refresh"> </span>
            </a>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="widget widget-tabs bd-widget-overview">
            <div class="widget-tabs__header widget-tabs__header--bordered">
                <div class="widget-tabs__header-meta">
                    <div class="input-group input-group-icon icon-right input-group-sm" style="margin-right:5px">
                        <input class="form-control" ng-model="staticParam.Search" ng-change="reload()" type="search" placeholder="Nhập từ khóa">
                        <span class="input-icon ua-icon-search"> </span>
                    </div>
                  
                    <div class="input-group input-group-icon icon-right input-group-sm" style="margin-right:5px;width:100px">
                        <select ng-model="staticParam.Month" ng-smselect multiple="multiple" se-data="listMonth" se-init="ColumnMultiConfig" se-change="ChangeMonth(data)"></select>
                    </div>
                    <div class="input-group input-group-icon icon-right input-group-sm" style="margin-right:5px;width:100px">
                        <select ng-smselect se-data="listYear" se-change="ChangeYear(data)" ng-model="staticParam.Year" se-init="ColumnConfig"></select>
                    </div>
                </div>
            </div>
            <div class="m-datatable es-table-scroll" ng-show="Check">
                <table class="table table-striped" style="margin-top: 0px !important; width: 100%;"
                       datatable
                       dt-options="dtOptions"
                       dt-columns="dtColumns"
                       dt-instance="dtInstance"
                       id="tblData">
                    <tfoot>
                        <tr>
                            <th style="text-align:center"> <b> </b> </th>
                            <th> </th>
                            <th> </th>
                            <th> </th>
                            <th> </th>
                            <th style="text-align:right"> <b> </b> </th>
                            <th> </th>
                            <th> </th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="nav nav-tabs tabs-alpha__nav-tabs">
                        <li class="nav-item tabs-alpha__item">
                            <a class="nav-link tabs-alpha__link active" data-toggle="tab" href="/Sale/Orders/Index/add/#tabs-1">
                                Chi tiết
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;" title="{{Check==true?'Phóng to':'Thu nhỏ'}}">
                                <i class="mdi  {{Check==true?'mdi-fullscreen':'mdi-fullscreen-exit'}}" style="font-size: 18px;" ng-init="Check=true" ng-click="Check==true?Check=false:Check=true;fullscreen(Check)"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content tabs-alpha__tab-content">
                        <div class="tab-pane active show" id="tabs-1" role="tabpanel">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div style="overflow:auto;" ng-model="jxcelAddDetail" id="myhtindex" ng-jexcel jx-init="jxcelAddDetailInit" class="table es-am-root-jexcel" filter="dropdown" deletees="deletees" deleterowhotkey="deleterowhotkey">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!--comment-->
<div class="ES-SM settings-panel">
    <div class="settings-panel__header" ng-init="ShowTapSetting = 3">
        <span class="settings-panel__close ua-icon-modal-close" ng-click="close()"></span>
        <h5 class="settings-panel__heading">Thông tin xử lý - <b>{{txtComment}}</b></h5>
    </div>
    <div class="settings-panel__body">
        <div class="m-social-profile__tabs">
            <ul class="nav nav-tabs" id="myTab" role="tablist" style="margin-left:20px">
                <li ng-click="ShowTapSetting = 3" class="nav-item m-social-profile__tab-item" ng-repeat="item in lstProcess">
                    <a class="nav-link m-social-profile__tab-link active" id="home-tab" style="font-weight:400" data-toggle="tab" ole="tab" aria-controls="home" aria-selected="true" ng-if="item.status=='1'">
                        <b>{{item.text}}</b>
                    </a>
                    <a class="nav-link m-social-profile__tab-link" id="home-tab" ng-if="item.status=='0'">
                        {{item.text}}
                    </a>
                </li>
                <li ng-click="ShowTapSetting = 1" class="nav-item m-social-profile__tab-item" hidden>
                    <a class="nav-link m-social-profile__tab-link " id="profile-tab" data-toggle="tab" role="tab" aria-controls="profile" aria-selected="false">
                        Ý kiến xử lý
                    </a>
                </li>
                <li ng-click="ShowTapSetting = 2" class="nav-item m-social-profile__tab-item" hidden>
                    <a class="nav-link m-social-profile__tab-link " id="home-tab" data-toggle="tab" ole="tab" aria-controls="home" aria-selected="true">
                        Hoạt động
                    </a>
                </li>

            </ul>
            <div class="tab-content task-scroll-custom" id="setting-content-scroll" data-always-visible="1" data-rail-visible1="1" onscroll="angular.element(this).scope().LoadScroll_commnet(this)">
                <div ng-show="ShowTapSetting == 1" class="tab-pane fade show active" id="social-profile-followers">
                    <div class="main-container">
                        <div class="m-social-profile__activities">
                            <div class="m-social-profile__activity-item" ng-repeat="item in comment.liComment">
                                <div class="m-social-profile__activity-item-header">
                                    <!--<img src="{{utility.COMMON_LINK_API.link_employee + item.EmployeeGuid}}" alt="" class="m-social-profile__activity-item-avatar rounded-circle" width="56" height="56">-->
                                    <div class="m-social-profile__activity-item-info">
                                        <div>
                                            <a href="javascript:;" class="link-info" title="Nhân viên kinh doanh-Phòng Kinh Doanh 01">
                                                {{item.EmployeeName}}
                                            </a>
                                        </div>
                                        <div>
                                            <span class="m-social-profile__activity-item-date">
                                                <span class="ua-icon-datepicker m-social-profile__activity-item-icon"></span>
                                                <span>Ngày {{ConDate(item.CreatedDate,1)}}</span>
                                            </span>
                                        </div>
                                        <div>
                                            <span class="m-social-profile__activity-item-date">
                                                <span class="ua-icon-user m-social-profile__activity-item-icon"></span>
                                                <span>
                                                    Mã: {{item.EmployeeId}}
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="m-social-profile__activity-item-controls">
                                        <a href="javascript:;" ng-click="replyCommentClick($event, item);" class="m-social-profile__activity-item-reply m-social-profile__activity-item-control">
                                            <span class="ua-icon-reply icon"></span> Phản hồi
                                        </a>
                                        <div class="dropdown no-arrow m-social-profile__activity-item-dropdown m-social-profile__activity-item-control">
                                            <span class="dropdown-toggle ua-icon-dots-vertical" data-toggle="dropdown"></span>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="javascript:;" ng-click="replyCommentClick($event, item, 'ACCEPT');">Xác nhận</a>
                                                <a class="dropdown-item" href="javascript:;" ng-click="replyCommentClick($event, item, 'QUOTE');">Trích dẫn nội dung</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="m-social-profile__activity-item-content">
                                    <div class="m-social-profile__activity-item-document">
                                        <div class="m-social-profile__activity-item-document-desc">
                                            <p ng-bind-html="item.Comment"></p>
                                        </div>
                                    </div>
                                    <div class="m-task__comment-content" ng-show="item.TaskCommentAttachments.length>0">
                                        <div class="m-task__comment-images">
                                            <a ng-repeat="_att in item.TaskCommentAttachments" target="_blank" href="/Orders/DownloadCommentAttachments?Id={{_att.AttachmentGuid}}">
                                                <img src="http://static.essolution.net/img/fileicon/{{_att.FileExtension}}-icon.png" alt="" class="m-task__comment-image-attachment" title="{{_att.FileName}}">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="m-social-profile__activity-item child-comment" ng-repeat="_item in item.TaskComments">
                                    <div class="m-social-profile__activity-item-header">
                                        <img src="http://apicm.essolution.net/api/Common/Employee/getimage/ {{_item.EmployeeGuid}}" alt="" class="m-social-profile__activity-item-avatar rounded-circle" width="56" height="56">
                                        <div class="m-social-profile__activity-item-info">
                                            <div>
                                                <a href="javascript:;" class="link-info" title="Nhân viên kinh doanh-Phòng Kinh Doanh 01">
                                                    {{_item.EmployeeName}}
                                                </a>
                                            </div>
                                            <div>
                                                <span class="m-social-profile__activity-item-date">
                                                    <span class="ua-icon-datepicker m-social-profile__activity-item-icon"></span>
                                                    <span>Ngày {{ConDate(_item.CreatedDate,1)}}</span>
                                                </span>
                                            </div>
                                            <div>
                                                <span class="m-social-profile__activity-item-date">
                                                    <span class="ua-icon-user m-social-profile__activity-item-icon"></span>
                                                    <span>
                                                        Mã: {{_item.EmployeeId}}
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="m-social-profile__activity-item-controls">
                                            <a href="javascript:;" class="m-social-profile__activity-item-reply m-social-profile__activity-item-control">
                                                <!--<span class="ua-icon-reply icon"></span> Phản hồi-->
                                            </a>
                                            <div class="dropdown no-arrow m-social-profile__activity-item-dropdown m-social-profile__activity-item-control">
                                                <span class="dropdown-toggle ua-icon-dots-vertical" data-toggle="dropdown"></span>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" href="javascript:;">Xác nhận</a>
                                                    <a class="dropdown-item" href="javascript:;" ng-click="replyCommentClick($event, _item, 'QUOTECHILD');">Trích dẫn nội dung</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="m-social-profile__activity-item-content">
                                        <div class="m-social-profile__activity-item-document">
                                            <div class="m-social-profile__activity-item-document-desc">
                                                <p ng-bind-html="_item.Comment"></p>
                                            </div>
                                        </div>
                                        <div class="m-task__comment-content" ng-show="_item.TaskCommentAttachments.length>0">
                                            <div class="m-task__comment-images">
                                                <a ng-repeat="_att in _item.TaskCommentAttachments" target="_blank" href="/Orders/DownloadCommentAttachments?Id={{_att.AttachmentGuid}}">
                                                    <img src="http://static.essolution.net/img/fileicon/{{_att.FileExtension}}-icon.png" alt="" class="m-task__comment-image-attachment" title="{{_att.FileName}}">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="comment.liComment.length > 0" class="m-social-profile__load-more-block">
                                <a href="javascript:;" ng-click="comment.loadMoreCommenttTask()" class="btn btn-outline-secondary icon-left mr-3">
                                    Xem thêm...<span class="btn-icon ua-icon-update"></span>
                                </a>
                            </div>
                        </div>
                        <div class="m-task__comments-input comment-fixbottom" style="margin-left:12px;">
                            <textarea on-enter="comment.insert()" ng-model="comment.model.Comment" class="form-control m-task__comments-textarea js-auto-size ng-pristine ng-valid ng-isolate-scope ng-empty ng-touched" placeholder="Nhập ý kiến..."></textarea>
                            <div class="comment-btn-group">
                                <button ng-click="comment.insert()" class="btn btn-outline-info icon-left comment-btn-send">
                                    <i class="mdi mdi-share"></i>
                                </button>
                                <button class="btn btn-outline-info icon-left comment-btn-att " data-toggle="dropdown">
                                    <i class="mdi mdi-dots-horizontal" onchange="angular.element(this).scope().comment.changeFileComment()"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" title="Đính kèm" onclick="onlickFileComment()">
                                        <i class="mdi mdi-paperclip"></i>&nbsp;Đính kèm
                                    </a>
                                    <a class="dropdown-item" onclick="onlickFileComment(1)">
                                        <i class="mdi mdi-video"></i>&nbsp;Thêm video
                                    </a>
                                    <a class="dropdown-item" onclick="onlickFileComment(2)">
                                        <i class="mdi mdi-image-filter"></i> &nbsp; Thêm image
                                    </a>

                                </div>
                                <div class="d-flex align-items-center justify-content-between ng-hide" ng-hide="true">
                                    <div class="dropdown no-arrow m-task__comments-dropdown">
                                        <a class="dropdown-toggle task-custom-color">
                                            <span class="mdi mdi-attachment"></span> Đính kèm...
                                        </a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-show="ShowTapSetting == 2" class="tab-pane fade show active" id="social-profile-activities" hidden>
                    <div class="main-container">
                        <h3 class="m-task__aside-heading">Các hoạt động</h3>
                        <div class="">
                            <ul class="m-task__activities-items">
                                <li ng-repeat="item in iSelected.liActivities" class="m-task__activity">
                                    <a class="link-info">
                                        {{item.EmployeeName}}
                                    </a>
                                    <span class="m-task__activity-text">
                                        {{item.ActivityContent}}
                                    </span>
                                    <span class="m-task__activity-date">
                                        {{ConDate(item.CreatedDate,1)}}
                                    </span>
                                </li>
                            </ul>
                            <a ng-click="changeAllPageActivities()" class="m-task__control">Hiển thị tất cả</a>
                        </div>
                    </div>
                </div>
                <div ng-show="ShowTapSetting == 3" class="tab-pane fade show active ES-TM" id="social-profile-followers">
                    <div class="m-messenger__messages-body">
                        <div class="m-messenger__messages-body-scrollpane js-scrollable custom-chatbox-setting">
                            <div class="m-messenger__messages-message {{item.Class}}" ng-repeat="item in liComment | reverse">
                                <img ng-src="/Employees/GetPicThumb/{{item.EmployeeGuid}}" alt="" width="34" height="34" class="rounded-circle m-messenger__messages-avatar">
                                <div class="m-messenger__messages-wrap">
                                    <div class="m-messenger__messages-message-text" ng-bind-html="item.Comment"></div>
                                    <span class="m-messenger__messages-date"> {{ConDate(item.CreatedDate, 1)}} {{item.EmployeeName}}</span>
                                    <div class="m-messenger__messages-attachments" style="width:100%" ng-show="item.CommentAttachments !== undefined && item.CommentAttachments !== null && item.CommentAttachments.length > 0">
                                        <a href="{{TableName}}/DownloadfileCommentAttach?Id={{_att.AttachmentGuid}}" class="m-messenger__messages-attachment" ng-repeat="_att in item.CommentAttachments">
                                            <img ng-src="{{TableName}}/GetPicfile?id={{_att.AttachmentGuid}}" alt="" width="182" height="137">
                                            <div class="m-messenger__messages-attachment-placeholder">
                                                <div class="m-messenger__messages-attachment-name">{{_att.FileName}}</div>
                                                <div class="m-messenger__messages-attachment-desc">{{_att.FileName}}</div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="m-task__comments-input comment-fixbottom" style="margin-left:13px;">
                        <textarea on-enter="insertcomment()" ng-model="model.Comment" class="form-control m-task__comments-textarea js-auto-size ng-pristine ng-valid ng-isolate-scope ng-empty ng-touched" title="Xuống dòng ấn Shift + Enter " placeholder="Nhập ý kiến..." id="message"></textarea>
                        <div class="comment-btn-group comment-btn-group-custom show">
                            <button ng-click="insertcomment()" class="btn btn-outline-info icon-left comment-btn-send">
                                <i class="mdi mdi-share"></i>
                            </button>
                            <button class="btn btn-outline-info icon-left comment-btn-att " data-toggle="dropdown">
                                <i class="mdi mdi-dots-horizontal" onchange="angular.element(this).scope().comment.changeFileComment()"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" title="Đính kèm" onclick="onlickFileComment()">
                                    <i class="mdi mdi-paperclip"></i>&nbsp;Đính kèm
                                </a>
                                <!--<a class="dropdown-item" onclick="onlickFileComment(1)">
                                    <i class="mdi mdi-video"></i>&nbsp;Thêm video
                                </a>-->
                                <a class="dropdown-item" onclick="onlickFileComment(2)">
                                    <i class="mdi mdi-image-filter"></i> &nbsp; Thêm image
                                </a>
                                <input id="file-comment-id" class="item-hidden" type="file" custom-on-change="addNameFile" />
                            </div>
                            <div class="d-flex align-items-center justify-content-between ng-hide" ng-hide="true">
                                <div class="dropdown no-arrow m-task__comments-dropdown">
                                    <a class="dropdown-toggle task-custom-color">
                                        <span class="mdi mdi-attachment"></span> Đính kèm...
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    function loadScrollSetting() {
        var _el = document.getElementById('setting-content-scroll');
        var _top = _el.getBoundingClientRect().top;
        $(_el).css('height', screen.height - _top - 140);
    };
    $(window).ready(function () {
        loadScrollSetting();
    })
    $(window).resize(function () {
        loadScrollSetting();
    })
</script>
