﻿<div class="modal-header has-border">
    <h5 class="modal-title es-modal-title">{{Title}}</h5>
    <button type="button" class="close custom-modal__close" ng-click="cancel()">
        <span aria-hidden="true" class="ua-icon-modal-close"></span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-lg-12">
            <form class="main-container" name="addform" ng-validate="validationOptions">
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="inputState">Mã bảng <span class="color-danger">*</span></label>
                        <input type="text" class="form-control" ng-model="model.TableId" name="TableId" placeholder="">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputState">Tên bảng <span class="color-danger">*</span></label>
                        <input type="text" class="form-control" ng-model="model.TableName" name="TableName" placeholder="">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputState">Loại bảng </label>
                        <select ng-model="model.TableType" ng-smselect se-data="ListTableType" se-change="ChangeTableType(data)" se-init="TableTypeConfig"></select>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="input-type">Mã module </label>
                        <input type="text" class="form-control" ng-model="model.ModuleId" name="TableName" placeholder="">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="input-Symbol">Tên module </label>
                        <input type="text" class="form-control" ng-model="model.ModuleName" name="Address" placeholder="" />
                    </div>
                    <div class="form-group col-md-3">
                        <label for="input-Symbol">Trạng thái </label>
                        <select ng-model="model.IsActive" ng-smselect se-data="ListStatus" se-change="ChangeStatus(data)" se-init="StatusConfig"></select>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal-footer modal-footer--center">
    <div class="row" style="width:100%; height: 30px;">
        <div class="col-lg-12">
            <div class="form-group" style="float:right">
                <button class="btn btn-info icon-left btn-sm mr-3" type="button" ng-click="submit()">
                    Lưu <span class="btn-icon mdi mdi-content-save-all"></span>
                </button>
                <button class="btn btn-outline-primary icon-left btn-sm mr-3" type="button" ng-click="cancel()">
                    Đóng <span class="btn-icon mdi mdi-close"></span>
                </button>
            </div>
        </div>
    </div>
</div>