﻿@{
    ViewData["Title"] = "Danh sách vật tư sản xuất";
    Layout = "~/Areas/HR/Views/SharedAdmin/_Layout.cshtml";
}

<div class="page-content" id="contentMain" ng-controller="Ctrl_ES_VCM_ProductionMaterials">
    <div class="container-fluid">
        <div style="min-height:100px" ng-view></div>
    </div>
    <script src="~/views/Sale/ProductionMaterials/controller.js"></script>
</div>

