/* here you can put your own css to customize and override the theme */
.table-toolbar {
    margin-bottom: 5px !important;
}
.table-toolbar-custom {
    padding-right: 0px !important;
}
    .table-toolbar .actions a {
        margin-left: 5px !important;
    }

.text-right, .tright {
    text-align: right !important
}

.text-center, .tcenter {
    text-align: center !important
}

.tupper {
    text-transform: uppercase;
}

.text-left, .tleft {
    text-align: left !important
}

.nowrap {
    white-space: nowrap
}

.htmlview {
    border: 1px solid #ddd;
    padding: 5px;
    box-shadow: 0 0 4px 1px #ddd;
    min-height: 30px;
    max-height: 500px;
    overflow-y: auto;
}

.textview {
    border: 1px solid #ddd;
    padding: 5px;
    min-height: 30px;
}

    .textview p {
        margin: 0;
    }

ul.list-attach {
    padding: 0 10px;
    margin: 0;
}
.style-font-right {
    text-align: right !important;
    white-space: nowrap;
}
    ul.list-attach li {
        list-style: none;
    }

.mt-checkbox {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.form .form-bordered .form-group > div {
    padding: 5px;
    border-left: none !important;
}

.form .form-bordered .form-group .control-label {
    padding-top: 6px
}

.form .form-no-bordered .form-group {
    border: none !important;
}

.form-control {
    height: 26px;
    padding: 2px;
}

.btn-group-sm > .btn, .btn-sm {
    padding: 3px 7px;
    margin: 0px 10px 0px 10px !important;
}

.input-group-sm > .input-group-btn > select.btn, .input-group-sm > select.form-control, .input-group-sm > select.input-group-addon, select.input-sm {
    height: 25px;
    line-height: 25px;
}

.tree-grid .btn-icon-only {
    height: 22px;
    width: 22px;
    text-align: center;
    padding: 0;
    margin: 0 !important;
}

.tree-grid .btn-group {
    border: 1px solid #7dc4f9;
}


.modal-max {
    width: 97%;
}

.modal-70 {
    width: 70%;
}

.modal-80 {
    width: 80%;
}
.modal-90 {
    width: 90%;
}
.modal-100 {
    width: 100%;
}
.modal-60 {
    width: 60%;
}

.modal-50 {
    width: 50%;
}

.modal-footer, .modal-header {
    padding: 5px;
}

.modal-header {
    color: #fff;
    padding: 9px 15px;
    border-bottom: 1px solid #eee;
    background-color: #428bca;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.mw70 {
    min-width: 70px !important;
}

.mw80 {
    min-width: 80px !important;
}

.mw90 {
    min-width: 90px !important;
}

.mw100 {
    min-width: 100px !important;
}

.mw110 {
    min-width: 110px !important;
}

.mw120 {
    min-width: 120px !important;
}

.mw130 {
    min-width: 130px !important;
}

.mw140 {
    min-width: 140px !important;
}

.mw150 {
    min-width: 150px !important;
}

.mw160 {
    min-width: 160px !important;
}

.mw170 {
    min-width: 170px !important;
}

.mw180 {
    min-width: 180px !important;
}

.mw190 {
    min-width: 190px !important;
}

.mw200 {
    min-width: 200px !important;
}

.custom-bordered {
    border: 1px solid #e6e9ec !important
}

.custom-mt-action-buttons {
    vertical-align: top;
    display: table-cell;
    text-align: center;
    width: 50px;
    white-space: nowrap;
    padding-top: 10px
}


/* ============================================ */
.mt-comment-body {
    padding-left: 20px !important;
    border-bottom: 1px solid #f8f8f8
}

.fontcustom {
    text-transform: none !important;
    font-size: small;
}

.mt-comment-custom {
    margin: 0px !important;
}

.mt-comments {
    height: 500px;
    overflow-y: scroll
}

.fontsmall {
    font-size: small !important;
    color: black !important;
}

.tabcustom {
    padding: 0px !important;
}

.titlecustom {
    font-size: 18px;
}

.badgecustom {
    padding: 3px 6px 0px !important
}

.btncustom {
    background: #F1F1F1 !important;
}

.customscrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3) !important;
    background-color: #ffffff !important;
}

.customscrollbar::-webkit-scrollbar {
    width: 6px !important;
    height: 6px !important;
    background-color: #ffffff !important;
}

.customscrollbar::-webkit-scrollbar-thumb {
    background-color: #c1c1c1 !important;
}

.label-brown {
    background: #A52A2A;
}

.label-Tan {
    background: #D2B48C;
}

.label-Khaki {
    background: #F0E68C;
}

.br-top {
    border-top: 1px solid #eeeeee;
    margin-bottom: 0px;
}

.br-bottom-none {
    border-bottom: none !important;
    margin-bottom: 0px !important
}

.groupnews {
    margin: 5px 5px 0px 0px;
    padding-bottom: 5px;
    border-bottom: 1px solid #c2cad8;
}

    .groupnews:hover {
        background: #dff1f1;
    }

    .groupnews:active {
        background: #cde6f7;
    }
/*.content-news{margin-top:5px;}*/
.content-news span {
    font-size: 11px;
}

.bottom-news {
    font-size: 13px;
}

.infodate {
    font-size: 11px;
    color: black;
    float: right;
    margin-right: 10px;
}

.groupnews .title-news {
    font-size: 14px !important;
}

.title-news a {
    text-decoration: none;
}

.panel-title {
    font-size: 15px;
}

.frame::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3) !important;
    background-color: #ffffff !important;
}

.frame::-webkit-scrollbar {
    width: 6px !important;
    height: 6px !important;
    background-color: #ffffff !important;
}

.frame::-webkit-scrollbar-thumb {
    background-color: #c1c1c1 !important;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 50px;
    font-size: 100px;
    pointer-events: all;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: #fff;
    cursor: inherit;
    display: block;
}

.help-error {
    color: red !important;
}

.help-lock {
    color: #27a4b0 !important;
    font-weight: bold;
}

.help-success {
    color: #101fef !important;
    font-weight: bold;
}

.btn-custom {
    padding: 1px 4px;
    height: 25px;
    width: 25px;
    margin-right: 0px
}

.control-label {
    /*  padding-top: 0px !important;*/
}

.bordernone {
    border: none !important;
}

.chat-form .btn-cont .btn {
    margin-top: 7px;
    padding: 2px 12px;
}

.chat-form .btn-cont {
    margin-top: -33px
}

    .chat-form .btn-cont .arrow {
        top: 13px;
    }

#calendar {
    max-width: 100%;
    padding: 15px;
}
.page-content-row {
    margin-top: 0px !important;
}

.custom-padding {
    padding-top: 5px !important;
}

.pannel-left-scroll {
    overflow-x: scroll;
    overflow-y: scroll;
    white-space: nowrap;
    height: 700px
}