﻿<div class="modal-header has-border">
    <h5 class="modal-title es-modal-title"> {{Title}}</h5>
    <button type="button" class="close custom-modal__close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
        <span aria-hidden="true" class="ua-icon-modal-close"></span>
    </button>
</div>
<div class="modal-body">
    <form name="addform" class="form-horizontal  form-bordered" method="post" ng-validate="validationOptions">
        <div class="row">
            <div class="form-group col-md-2">
                <label for="input-type">Mã sản phẩm<span class="color-danger"> *</span></label>
                <input type="text" ng-model="model.ItemID" name="ItemID" class="form-control" ng-disabled="disColumn">
            </div>
            <div class="form-group col-md-2">
                <label for="input-type">Mã nhà cung cấp</label>
                <input type="text" ng-model="model.ItemProviderID" name="ItemProviderID" class="form-control">
            </div>
            <div class="form-group col-md-4">
                <label for="input-type">Tên sản phẩm<span class="color-danger"> *</span></label>
                <input type="text" ng-model="model.ItemName" name="ItemName" class="form-control">
            </div>
            <div class="form-group col-md-2">
                <label for="input-type">Đơn vị tính<span class="color-danger"> *</span></label>
                <div class="input-group input-group-icon icon-right input-group-sm">
                    <select ng-smselect se-data="ListUnit" se-change="ChangeUnitID(data)" ng-model="model.UnitID" se-init="ColumnConfig"></select>
                </div>
            </div>
            <div class="form-group col-md-2">
                <label for="output-device">Số lượng</label>
                <input formatsub="number" class="form-control" ng-model="model.Quantity" name="Quantity">
            </div>
            <div class="form-group col-md-2">
                <label for="input-type">Xuất xứ</label>
                <input type="text" ng-model="model.Origin" name="Origin" class="form-control">
            </div>
            <div class="form-group col-md-2">
                <label for="input-type">Đặc tính sản phẩm</label>
                <input type="text" ng-model="model.Characteristic" name="Characteristic" class="form-control">
            </div>
            <div class="form-group col-md-2">
                <label for="input-type">Mùa thu hoạch</label>
                <input type="text" ng-model="model.HarvestSeason" name="HarvestSeason" class="form-control">
            </div>
            <div class="form-group col-md-2">
                <label for="input-type">Bảo quản</label>
                <input type="text" ng-model="model.Preserve" name="Preserve" class="form-control">
            </div>
            <div class="form-group col-md-2">
                <label for="input-type">Ký tên</label>
                <input type="text" ng-model="model.EmployeeName" name="EmployeeName" class="form-control">
            </div>
            <div class="form-group col-md-2">
                <label for="input-type">Lưu ý khác</label>
                <input type="text" ng-model="model.Note" name="Note" class="form-control">
            </div>
        </div>
    </form>
</div>
<div class="modal-footer modal-footer--center">
    <div class="row" style="width:100%; height: 30px;">
        <div class="col-lg-6">
        </div>
        <div class="col-lg-6">
            <div class="form-group" style="float:right">               
                <button class="btn btn-info icon-left btn-sm mr-3" type="button" ng-click="insert()">
                    Lưu <span class="btn-icon mdi mdi-content-save-all"></span>
                </button>
                <button class="btn btn-outline-primary icon-left btn-sm mr-3" type="button" data-dismiss="modal" ng-click="cancel()">
                    Đóng <span class="btn-icon mdi mdi-close"></span>
                </button>
            </div>
        </div>
    </div>
</div>