﻿<div class="subnav">
    <div class="subnav__header">
        <div class="subnav__heading">
            <span class="mdi mdi-view-list subnav__heading-icon"></span>Danh sách sản phẩm
        </div>
        <div class="subnav__header-side">
            <a href="" class="btn btn-info btn-sm icon-left" data-toggle="modal" ng-click="add()" onclick="return false" title="Thêm mới">
                Thêm mới <span class="btn-icon mdi mdi-file-outline"></span>
            </a>
            <a href="" class="btn btn-info btn-sm icon-left" ng-click="reloadAll()" title="Làm mới dữ liệu">
                Làm mới <span class="btn-icon  mdi mdi-refresh"></span>
            </a>
          
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="widget widget-tabs bd-widget-overview">
            <div class="widget-tabs__header widget-tabs__header--bordered">
                <div class="widget-tabs__header-meta">
                    <div class="input-group input-group-icon icon-right input-group-sm" style="margin-right:5px">
                        <input class="form-control" ng-model="staticParam.Search" ng-change="reload()" type="search" placeholder="Nhập từ khóa">
                        <span class="input-icon ua-icon-search"></span>
                    </div>
                   
                </div>
            </div>
            <div class="m-datatable es-table-scroll">
                <table class="table table-striped" style="margin-top: 0px !important; width: 100%;"
                       datatable
                       dt-options="dtOptions"
                       dt-columns="dtColumns"
                       dt-instance="dtInstance"
                       id="tblData">
                    <tfoot>
                        <tr>
                            <th style="text-align:center"><b></b></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th style="text-align:right"><b></b></th>
                            <th></th>
                            <th></th>
                            
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>