﻿<style>

    .lableRight {
        text-align: right;
        margin-right: 0px !important;
    }

    .jexcel tbody {
        display: block !important;
        width: max-content;
    }
</style>
<div class="modal-header has-border">
    <h5 class="modal-title es-modal-title"> {{Title}}</h5>
    <button type="button" class="close custom-modal__close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
        <span aria-hidden="true" class="ua-icon-modal-close"></span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-lg-12">
            <!--<ul class="nav nav-tabs tabs-alpha__nav-tabs">
                <li class="nav-item tabs-alpha__item">
                    <a class="nav-link tabs-alpha__link active" data-toggle="tab" href="/Sale/Orders/Index/add/#tabs-1">
                        Thông tin
                    </a>
                </li>

                <li class="nav-item tabs-alpha__item">
                    <a class="nav-link tabs-alpha__link" data-toggle="tab" href="/Sale/Orders/Index/add/#tabs-2">
                        Sản xuất vật tư
                    </a>
                </li>
                <li class="nav-item tabs-alpha__item">
                    <a class="nav-link tabs-alpha__link" data-toggle="tab" href="/Sale/Orders/Index/add/#tabs-3">
                        Logistics
                    </a>
                </li>
            </ul>
            <div class="tab-content tabs-alpha__tab-content">
                <div class="tab-pane active show" id="tabs-1" role="tabpanel">-->
            <div class="row">
                <div class="form-group col-md-2">
                    <label for="input-type">Mã sản phẩm<span class="color-danger"> *</span></label>
                    <input type="text" ng-model="model.ItemID" name="ItemID" class="form-control" ng-disabled="true">
                </div>
                <div class="form-group col-md-2">
                    <label for="input-type">Mã nhà cung cấp</label>
                    <input type="text" ng-model="model.ItemProviderID" name="ItemProviderID" class="form-control" ng-disabled="true">
                </div>
                <div class="form-group col-md-4">
                    <label for="input-type">Tên sản phẩm<span class="color-danger"> *</span></label>
                    <input type="text" ng-model="model.ItemName" name="ItemName" class="form-control" ng-disabled="true">
                </div>

                <div class="form-group col-md-2">
                    <label for="input-type">Đơn vị tính<span class="color-danger"> *</span></label>
                    <div class="input-group input-group-icon icon-right input-group-sm">
                        <select ng-smselect se-data="ListUnit" se-change="ChangeUnitID(data)" ng-model="model.UnitID" se-init="ColumnConfig" ng-disabled="true"></select>
                    </div>
                </div>
                <div class="form-group col-md-1">
                    <label for="output-device">Số lượng</label>
                    <input formatsub="number" class="form-control" ng-model="model.Quantity" name="Quantity" ng-disabled="true">
                </div>
                <div class="form-group col-md-1">
                    <label for="output-device">Số lượng tồn</label>
                    <input formatsub="number" class="form-control" ng-model="model.QuantityExist" name="QuantityExist" ng-disabled="true">
                </div>
                <div class="form-group col-md-2">
                    <label for="input-type">Xuất xứ</label>
                    <input type="text" ng-model="model.Origin" name="Origin" class="form-control" ng-disabled="true">
                </div>
                <div class="form-group col-md-2">
                    <label for="input-type">Đặc tính sản phẩm</label>
                    <input type="text" ng-model="model.Characteristic" name="Characteristic" class="form-control" ng-disabled="true">
                </div>
                <div class="form-group col-md-2">
                    <label for="input-type">Mùa thu hoạch</label>
                    <input type="text" ng-model="model.HarvestSeason" name="HarvestSeason" class="form-control" ng-disabled="true">
                </div>
                <div class="form-group col-md-2">
                    <label for="input-type">Bảo quản</label>
                    <input type="text" ng-model="model.Preserve" name="Preserve" class="form-control" ng-disabled="true">
                </div>
                <div class="form-group col-md-2">
                    <label for="input-type">Ký tên</label>
                    <input type="text" ng-model="model.EmployeeName" name="EmployeeName" class="form-control" ng-disabled="true">
                </div>
                <div class="form-group col-md-2">
                    <label for="input-type">Lưu ý khác</label>
                    <input type="text" ng-model="model.Note" name="Note" class="form-control" ng-disabled="true">
                </div>
            </div>
        </div>
        <!--<div class="tab-pane" id="tabs-2" role="tabpanel">
            <div class="row">
                <div class="col-lg-12">
                    <div style="overflow:auto;" ng-model="jxcelAddDetail" id="myht" ng-jexcel jx-init="jxcelAddDetailInit" class="table es-am-root-jexcel" filter="dropdown" deletees="deletees" deleterowhotkey="deleterowhotkey">
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="tabs-3" role="tabpanel">
            <div class="row">
                <div class="col-lg-12">
                    <div style="overflow:auto;" ng-model="jxcelAddDetail1" id="myht1" ng-jexcel jx-init="jxcelAddDetailInit1" class="table es-am-root-jexcel" filter="dropdown" deletees="deletees" deleterowhotkey="deleterowhotkey">
                    </div>
                </div>
            </div>
        </div>-->
        <!--</div>
        </div>-->
    </div>

</div>
<div class="modal-footer modal-footer--center" style="padding-left:0px !important">
    <div class="row" style="width:100%; height: 30px;">
        <div class="col-lg-8">
            <ul class="page-footer__nav">
                <li class="page-footer__nav-item">
                    <a href="#" class="page-footer__nav-link">
                        <span class="mdi mdi-account page-footer__nav-icon" title="Người tạo"></span>
                        {{model.CreatedBy.split('#')[1]}}
                    </a>
                </li>
                <li class="page-footer__nav-item">
                    <a href="#" class="page-footer__nav-link">
                        <span class="mdi mdi-calendar-plus page-footer__nav-icon" title="Ngày tạo"></span>
                        {{model.CreatedDate | fdate:'DD/MM/YYYY HH:mm'}}
                    </a>
                </li>
                <li class="page-footer__nav-item">
                    <a href="#" class="page-footer__nav-link">
                        <span class="mdi mdi-account-check page-footer__nav-icon" title="Người sửa"></span>
                        {{model.ModifiedBy.split('#')[1]}}
                    </a>
                </li>
                <li class="page-footer__nav-item">
                    <a href="#" class="page-footer__nav-link">
                        <span class="mdi mdi-calendar-check page-footer__nav-icon" title="Ngày sửa"></span>
                        {{model.ModifiedDate | fdate:'DD/MM/YYYY HH:mm'}}
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-lg-4">
            <div class="form-group" style="float:right">
                <button class="btn btn-outline-primary icon-left btn-sm mr-3" type="button" data-dismiss="modal" ng-click="cancel()">
                    Đóng <span class="btn-icon mdi mdi-close"></span>
                </button>
            </div>
        </div>
    </div>
</div>
