﻿
@{
    ViewData["Title"] = "Quản lý tài khoản";
    Layout = "~/Areas/HR/Views/SharedAdmin/_Layout.cshtml";
}

<div class="page-content-container">
    <div class="page-content-row">
       
        <div class="page-content-col">
            <div class="portlet home-custom-bordered">
                <style>
                    .CustomUpload {
                        min-width: 20%;
                        min-height: 30%;
                        right: auto !important;
                        font-size: 14px !important;
                    }
                </style>
                <div id="contentMain" ng-controller="Ctrl_ES_CSDL_AspNetUsers">
                    <div style="min-height:100px" ng-view></div>
                </div>
                <script src="/views/HR/AspNetUsers/controller.js" type="text/javascript"></script>
            </div>
        </div>
    </div>
</div>

