﻿@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/HR/Views/SharedAdmin/_Layout.cshtml";
}

<div class="page-content" id="contentMain" ng-controller="Ctrl_CategoryColumns">
    <div class="container-fluid">
        <div style="min-height:100px; background-color: #fff; padding-bottom: 15px;" ng-view></div>
    </div>
</div>
<script src="~/views/EIM/CategoryColumns/controller.js"></script>

