﻿<div class="modal-header has-border">
    <h5 class="modal-title es-modal-title">{{Title}}</h5>
    <button type="button" class="close custom-modal__close" ng-click="cancel()">
        <span aria-hidden="true" class="ua-icon-modal-close"></span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-lg-12">
            <form class="main-container" name="editform" ng-validate="validationOptions">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputState">Bảng <span class="color-danger">*</span></label>
                        <select ng-model="model.TableGuid" ng-smselect se-data="ListTableGuid" se-change="ChangeTableGuid(data)" se-init="TableGuidConfig"></select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputState">Mã bảng </label>
                        <input type="text" class="form-control" ng-model="model.TableId" name="TableId" placeholder="">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputState">Mã cột </label>
                        <input type="text" class="form-control" ng-model="model.ColumnId" name="ColumnId" placeholder="">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="input-type">Tên cột </label>
                        <input type="text" class="form-control" ng-model="model.ColumnName" name="ColumnName" placeholder="">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="input-type"> Điều kiện của cột</label>
                        <select ng-model="model.ConditionOfColumn" ng-smselect se-data="ListConditionOfColumn" multiple se-change="ChangeConditionOfColumn(data)" se-init="ConditionOfColumnConfig"></select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="input-Symbol">Kiểu dữ liệu </label>
                        <select ng-model="model.DataType" ng-smselect se-data="ListDataType" se-change="ChangeDataType(data)" se-init="DataTypeConfig"></select>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal-footer modal-footer--center">
    <div class="row" style="width:100%; height: 30px;">
        <div class="col-lg-12">
            <div class="form-group" style="float:right">
                <button class="btn btn-info icon-left btn-sm mr-3" type="button" ng-click="submit()">
                    Lưu <span class="btn-icon mdi mdi-content-save-all"></span>
                </button>
                <button class="btn btn-outline-primary icon-left btn-sm mr-3" type="button" ng-click="cancel()">
                    Đóng <span class="btn-icon mdi mdi-close"></span>
                </button>
            </div>
        </div>
    </div>
</div>