﻿<div class="modal-header has-border">
    <h5 class="modal-title es-modal-title">{{Title}}</h5>
    <button type="button" class="close custom-modal__close" ng-click="cancel()">
        <span aria-hidden="true" class="ua-icon-modal-close"></span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-lg-12">
            <form class="main-container">
                <div class="form-row">
                   
                    <div class="form-group col-md-6">
                        <label for="inputState">Mã bảng</label>
                        <div class="textview">{{model.TableId}}</div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputState">Tên bảng</label>
                        <div class="textview">{{model.TableName}}</div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputState">Mã cột</label>
                        <div class="textview">{{model.ColumnId}}</div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="input-type">Tên cột</label>
                        <div class="textview">{{model.ColumnName}}</div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputState"> Điều kiện của cột</label>
                        <div class="input-group input-group-icon icon-right input-group-sm">
                            <select ng-model="model.ConditionOfColumn" ng-smselect se-data="ListConditionOfColumn" multiple se-change="ChangeConditionOfColumn(data)" se-init="ConditionOfColumnConfig" ng-disabled="true"></select>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputState">Kiểu dữ liệu </label>
                        <div class="textview">{{model.DataType}}</div>
                    </div>


                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal-footer modal-footer--center">
    <div class="row" style="width:100%; height: 30px;">
        <div class="col-lg-8">
            <ul class="page-footer__nav">
                <li class="page-footer__nav-item">
                    <a href="#" class="page-footer__nav-link">
                        <span class="mdi mdi-account page-footer__nav-icon" title="Người tạo"></span>
                        {{model.CreatedBy.split('#')[1]}}
                    </a>
                </li>
                <li class="page-footer__nav-item">
                    <a href="#" class="page-footer__nav-link">
                        <span class="mdi mdi-calendar-plus page-footer__nav-icon" title="Ngày tạo"></span>
                        {{model.CreatedDate | fdate:'DD/MM/YYYY HH:mm'}}
                    </a>
                </li>
                <li class="page-footer__nav-item">
                    <a href="#" class="page-footer__nav-link">
                        <span class="mdi mdi-account-check page-footer__nav-icon" title="Người sửa"></span>
                        {{model.ModifiedBy.split('#')[1]}}
                    </a>
                </li>
                <li class="page-footer__nav-item">
                    <a href="#" class="page-footer__nav-link">
                        <span class="mdi mdi-calendar-check page-footer__nav-icon" title="Ngày sửa"></span>
                        {{model.ModifiedDate | fdate:'DD/MM/YYYY HH:mm'}}
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-lg-4">
            <div class="form-group" style="float:right">             
                <button class="btn btn-outline-primary icon-left btn-sm mr-3" type="button" data-dismiss="modal" ng-click="cancel()">
                    Đóng <span class="btn-icon mdi mdi-close"></span>
                </button>
            </div>
        </div>
    </div>
</div>