﻿@{
    ViewData["Title"] = "Danh sách vận chuyển";
    Layout = "~/Areas/HR/Views/SharedAdmin/_Layout.cshtml";
}

<div class="page-content" id="contentMain" ng-controller="Ctrl_ES_VCM_Logistics">
    <div class="container-fluid">
        <div style="min-height:100px" ng-view></div>
    </div>
    <script src="~/views/Sale/Logistics/controller.js"></script>
</div>

