﻿<style>

    .lableRight {
        text-align: right;
        margin-right: 0px !important;
    }

    .jexcel tbody {
        display: block !important;
        width: max-content;
    }
</style>
<div class="modal-header has-border">
    <h5 class="modal-title es-modal-title"> {{Title}}</h5>
    <button type="button" class="close custom-modal__close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
        <span aria-hidden="true" class="ua-icon-modal-close"></span>
    </button>
</div>
<div class="modal-body">
    <form name="addform" class="form-horizontal  form-bordered" method="post" ng-validate="validationOptions" ng-show="Check">
        <div class="row">
            <div class="form-group col-md-3">
                <label for="input-type">Mã Y/c logistic<span class="color-danger"> *</span></label>
                <input type="text" ng-model="model.CodeID" name="CodeID" class="form-control" ng-disabled="disColumn">
            </div>
            <div class="form-group col-md-3">
                <label for="input-type">Người thực hiện</label>
                <input type="text" ng-model="model.EmployeeID" name="EmployeeID" class="form-control">
            </div>
            <div class="form-group col-md-3">
                <label for="input-type">Người theo dõi</label>
                <input type="text" ng-model="model.EmployeeName" name="EmployeeName" class="form-control">
            </div>
            <div class="form-group col-md-3">
                <label for="input-type">Lưu ý khác</label>
                <input type="text" ng-model="model.Title" name="Title" class="form-control">
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-lg-12">
            <ul class="nav nav-tabs tabs-alpha__nav-tabs">
                <li class="nav-item tabs-alpha__item">
                    <a class="nav-link tabs-alpha__link active" data-toggle="tab" href="/Sale/Orders/Index/add/#tabs-1">
                        Chi tiết
                    </a>
                </li>

                <li>
                    <a href="javascript:;" title="{{Check==true?'Phóng to':'Thu nhỏ'}}">
                        <i class="mdi  {{Check==true?'mdi-fullscreen':'mdi-fullscreen-exit'}}" style="font-size: 18px;" ng-init="Check=true" ng-click="Check==true?Check=false:Check=true;fullscreen(Check)"></i>
                    </a>
                </li>
            </ul>
            <div class="tab-content tabs-alpha__tab-content">
                <div class="tab-pane active show" id="tabs-1" role="tabpanel">
                    <div class="row">
                        <div class="col-lg-12">
                            <div style="overflow:auto;" ng-model="jxcelAddDetail" id="myht" ng-jexcel jx-init="jxcelAddDetailInit" class="table es-am-root-jexcel" filter="dropdown" deletees="deletees" deleterowhotkey="deleterowhotkey">
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </div>

</div>
<div class="modal-footer modal-footer--center">
    <div class="row" style="width:100%; height: 30px;">
        <div class="col-lg-6">
        </div>
        <div class="col-lg-6">
            <div class="form-group" style="float:right">
               
                <button class="btn btn-info icon-left btn-sm mr-3" type="button" ng-click="insert()">
                    Lưu <span class="btn-icon mdi mdi-content-save-all"></span>
                </button>
                <button class="btn btn-outline-primary icon-left btn-sm mr-3" type="button" data-dismiss="modal" ng-click="cancel()">
                    Đóng <span class="btn-icon mdi mdi-close"></span>
                </button>
            </div>
        </div>
    </div>
</div>