﻿<style>
    div:not(.dataTables_scrollBody):not(.dataTables_scrollFoot):not(#myht):not(#myhtread):not(#myopen):not(#mybh)::-webkit-scrollbar {
        display: none;
        margin: 0px !important;
    }

    .lableRight {
        text-align: right;
        margin-right: 0px !important;
    }
</style>
<div class="modal-header has-border modal-drag">
    <h5 class="modal-title es-modal-title">{{TitleIndex}}</h5>

    <button type="button" class="close custom-modal__close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true" class="ua-icon-modal-close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"></span>
    </button>
</div>
<div class="modal-body" id="modal-body">
    <div class="portlet-body">
        <div class="subnav ">
            <form name="addform" class="" method="post" ng-validate="validationOptions">
                <div class="row" style="margin:0px 10px">
                    <div class="form-row">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="form-group col-md-2">
                                    <label for="input-device">Mã chứng từ <span class="color-danger">*</span></label>
                                    <input type="text" class="form-control" ng-model="model.CodeID" name="CodeID" ng-disabled="statusDisable">
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="input-device">Tên chứng từ</label>
                                    <input type="text" class="form-control" ng-model="model.Title" name="Title" ng-disabled="statusDisable">
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="input-device">Thị trường xuất khẩu</label>
                                    <input type="text" class="form-control" ng-model="model.ExportMarket" name="ExportMarket" ng-disabled="statusDisable">
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="input-device">Mẫu/Form chứng từ</label>
                                    <input type="text" class="form-control" ng-model="model.ExportForm" name="ExportForm" ng-disabled="statusDisable">
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="input-device">Bộ hồ sơ</label>
                                    <input type="text" class="form-control" ng-model="model.ExportFile" name="ExportFile" ng-disabled="statusDisable">
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="input-device">Cơ quan cấp</label>
                                    <input type="text" class="form-control" ng-model="model.Agencies" name="Agencies" ng-disabled="statusDisable">

                                </div>
                                <div class="form-group col-md-2">
                                    <label for="input-device">Ký tên </label>
                                    <input type="text" class="form-control" name="EmployeeName" ng-model="model.EmployeeName" ng-disabled="statusDisable" />
                                </div>
                               
                                <div class="form-group col-md-10">
                                    <label for="input-device">Lưu ý khác</label>
                                    <input type="text" class="form-control" ng-model="model.Note" name="Note" ng-disabled="statusDisable">
                                </div>


                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>

        <div class="m-datatable es-table-scroll">
            <table class="table table-striped" style="margin-top: 0px !important; width: 100%;"
                   datatable
                   dt-options="dtOptions"
                   dt-columns="dtColumns"
                   dt-instance="dtInstance"
                   id="tblData">

                <tfoot>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th style="text-align:right"></th>
                        <th></th>                       
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>


</div>
<div class="modal-footer modal-footer--center">
    <div class="row" style="width:100%; height: 30px;">
        <div class="col-lg-6">
           
        </div>
        <div class="col-lg-6">
            <div class="form-group" style="float:right">
               
                <button href="" class="btn btn-info btn-sm icon-left" ng-click="submit_Contracts()">
                    Cập nhật <span class="btn-icon mdi mdi-content-save-all "></span>
                </button>
                <button href="" class="btn btn-info btn-sm icon-left" ng-click="clear_Contracts()">
                    Thêm mới <span class="btn-icon mdi mdi-plus-box"></span>
                </button>
                <!--<button class="btn btn-info icon-left btn-sm mr-3" type="button" ng-click="AddFile()" ng-show="statusDisable">
                    Đính kèm <span class="btn-icon mdi mdi-attachment"></span>
                </button>-->
                <button class="btn btn-outline-primary icon-left btn-sm mr-3" type="button" data-dismiss="modal" ng-click="cancel()">
                    Đóng <span class="btn-icon mdi mdi-close"></span>
                </button>
            </div>
        </div>
    </div>
</div>
