﻿<style>
    div:not(.dataTables_scrollBody):not(.dataTables_scrollFoot):not(#myht):not(#myhtindex):not(#myhtread):not(#myopen):not(#mybh)::-webkit-scrollbar {
        display: none;
        margin: 0px !important;
    }
    .jexcel tbody {
        display: block !important;
        width: max-content;
    }
</style>

<div class="subnav">
    <div class="subnav__header">
        <div class="subnav__heading">
            <span class="mdi mdi-view-list subnav__heading-icon"> </span> Danh sách vận chuyển
        </div>
        <div class="subnav__header-side">
            <a href="" class="btn btn-info btn-sm icon-left" data-toggle="modal" ng-click="addCustomers()" onclick="return false" title="Nhà cung cấp">
                Nhà cung cấp <span class="btn-icon mdi mdi-file-outline"> </span>
            </a>
            <a href="" class="btn btn-info btn-sm icon-left" data-toggle="modal" ng-click="addExportDocuments()" onclick="return false" title="Chứng từ xuất khẩu">
                Chứng từ xuất khẩu <span class="btn-icon mdi mdi-file-outline"> </span>
            </a>
            <a href="" class="btn btn-info btn-sm icon-left" data-toggle="modal" ng-click="add()" onclick="return false" title="Thêm mới">
                Thêm mới <span class="btn-icon mdi mdi-file-outline"> </span>
            </a>
            <a href="" class="btn btn-info btn-sm icon-left" ng-click="reloadAll()" title="Làm mới dữ liệu">
                Làm mới <span class="btn-icon  mdi mdi-refresh"> </span>
            </a>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="widget widget-tabs bd-widget-overview">
            <div class="widget-tabs__header widget-tabs__header--bordered">
                <div class="widget-tabs__header-meta">
                    <div class="input-group input-group-icon icon-right input-group-sm" style="margin-right:5px">
                        <input class="form-control" ng-model="staticParam.Search" ng-change="reload()" type="search" placeholder="Nhập từ khóa">
                        <span class="input-icon ua-icon-search"> </span>
                    </div>

                </div>
            </div>
            <div class="m-datatable es-table-scroll" ng-show="Check">
                <table class="table table-striped" style="margin-top: 0px !important; width: 100%;"
                       datatable
                       dt-options="dtOptions"
                       dt-columns="dtColumns"
                       dt-instance="dtInstance"
                       id="tblData">
                    <tfoot>
                        <tr>
                            <th style="text-align:center"> <b> </b> </th>
                            <th> </th>
                            <th> </th>
                            <th> </th>
                            <th> </th>
                            <th style="text-align:right"> <b> </b> </th>                           
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="nav nav-tabs tabs-alpha__nav-tabs">
                        <li class="nav-item tabs-alpha__item">
                            <a class="nav-link tabs-alpha__link active" data-toggle="tab" href="/Sale/Orders/Index/add/#tabs-1">
                                Chi tiết
                            </a>
                        </li>                     
                        <li>
                            <a href="javascript:;" title="{{Check==true?'Phóng to':'Thu nhỏ'}}">
                                <i class="mdi  {{Check==true?'mdi-fullscreen':'mdi-fullscreen-exit'}}" style="font-size: 18px;" ng-init="Check=true" ng-click="Check==true?Check=false:Check=true;fullscreen(Check)"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content tabs-alpha__tab-content">
                        <div class="tab-pane active show" id="tabs-1" role="tabpanel">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div style="overflow:auto;" ng-model="jxcelAddDetail" id="myhtindex" ng-jexcel jx-init="jxcelAddDetailInit" class="table es-am-root-jexcel" filter="dropdown" deletees="deletees" deleterowhotkey="deleterowhotkey">
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
