﻿
@{
    ViewData["Title"] = "_leftModule";
    Layout = null;
    var urlStatic = System.Web.WebContext.UrlStatic;
}
@*<div class="slide-nav">
    <div class="slide-nav__header">
        <a href="#" class="slide-nav__back ua-icon-step-arrow-left"></a>
        <img src="@urlStatic/img/logo.png" alt="" class="slide-nav__logo">
    </div>
    <div class="slide-nav__body">
        <div class="slide-nav__scrollpane js-scrollable">
            <div class="slide-nav__items">
                <a href="http://hr.easternsun.vn" class="slide-nav__item" title="Hệ thống quản lý Nhân sự">
                    <span class="widget-alpha__icon ua-icon-user-outline" style="color:#f6b900; margin-bottom: 10px;"></span>
                    <span class="slide-nav__item-text">Nhân sự</span>
                </a>
                <a href="http://sm.easternsun.vn" class="slide-nav__item" title="Hệ thống quản lý Khách hàng, Bán hàng">
                    <span class="widget-alpha__icon ua-icon-widget-line-chart-up" style="color:#f6b900; margin-bottom: 10px;"></span>
                    <span class="slide-nav__item-text">Bán hàng</span>
                </a>
                <a href="http://bm.easternsun.vn/" class="slide-nav__item" title="Hệ thống quản lý Mua hàng">
                    <span class="widget-alpha__icon ua-icon-widget-cart" style="color:#f6b900; margin-bottom: 10px;"></span>
                    <span class="slide-nav__item-text">Mua hàng</span>
                </a>
                <a href="#" class="slide-nav__item" title="Hệ thống Kế toán" hidden>
                    <span class="widget-alpha__icon ua-icon-widget-money-bag" style="color:#f6b900; margin-bottom: 10px;"></span>
                    <span class="slide-nav__item-text">Kế toán</span>
                </a>
                <a href="http://am.easternsun.vn" class="slide-nav__item" title="Hệ thống quản lý Kho">
                    <span class="widget-alpha__icon ua-icon-ticket" style="color:#f6b900; margin-bottom: 10px;"></span>
                    <span class="slide-nav__item-text">Kho</span>
                </a>
                <a href="http://tm.easternsun.vn" class="slide-nav__item" title="Hệ thống quản lý Điều hành công việc">
                    <span class="widget-alpha__icon ua-icon-widget-share" style="color:#f6b900; margin-bottom: 10px;"></span>
                    <span class="slide-nav__item-text">Công việc</span>
                </a>
                <a href="#" class="slide-nav__item" title="Hệ thống quản lý Hồ sơ, tài liệu" hidden>
                    <span class="widget-alpha__icon ua-icon-widget-document" style="color:#f6b900; margin-bottom: 10px;"></span>
                    <span class="slide-nav__item-text">Tài liệu</span>
                </a>
                <a href="#" class="slide-nav__item" title="Hệ thống quản lý Marketing" hidden>
                    <span class="widget-alpha__icon ua-icon-widget-bar-chart-up" style="color:#f6b900; margin-bottom: 10px;"></span>
                    <span class="slide-nav__item-text"> Marketing</span>
                </a>
                <a href="#" class="slide-nav__item" title="Hệ thống quản lý Dự án" hidden>
                    <span class="widget-alpha__icon ua-icon-widget-paper" style="color:#f6b900; margin-bottom: 10px;"></span>
                    <span class="slide-nav__item-text">Dự án</span>
                </a>
                <a href="http://pro.easternsun.vn" class="slide-nav__item" title="Hệ thống quản lý Sản xuất">
                    <span class="widget-alpha__icon ua-icon-widget-company" style="color:#f6b900; margin-bottom: 10px;"></span>
                    <span class="slide-nav__item-text">Sản xuất</span>
                </a>
                <a href="#" class="slide-nav__item" title="Hệ thống quản lý Tài sản" hidden>
                    <span class="widget-alpha__icon ua-icon-suitcase" style="color:#f6b900; margin-bottom: 10px;"></span>
                    <span class="slide-nav__item-text">Sài sản</span>
                </a>
                <a href="#" class="slide-nav__item" title="Hệ thống quản lý Quy trình ISO" hidden>
                    <span class="widget-alpha__icon ua-icon-widget-work-orders" style="color:#f6b900; margin-bottom: 10px;"></span>
                    <span class="slide-nav__item-text">Quy trình ISO</span>
                </a>
            </div>
        </div>
    </div>
</div>*@

