﻿@{
    ViewData["Title"] = "_menuTop";
    Layout = null;
    var urlStatic = System.Web.WebContext.UrlStatic;
}
<script src="@urlStatic/vendor/jquery/jquery.min.js"></script>


<div class="navbar navbar-light navbar-expand-lg">
    
    <div class="collapse navbar-collapse" id="navbar-collapse">
        <div class="navbar__menu">
            <ul class="navbar-nav">
                <li style="width: 100%;color: black;font-weight: bold;">GLOBAL MEKONG GROUP</li>
            </ul>
        </div>
        @*begin alert*@
       
        @*end alert*@
        @if (User.Identity.IsAuthenticated)
        {
            <div class="dropdown navbar-dropdown">
                <a class="dropdown-toggle navbar-dropdown-toggle navbar-dropdown-toggle__user" data-toggle="dropdown" href="javascript:;">
                    <img src="/Home/GetAvatar" alt="" class="navbar-dropdown-toggle__user-avatar" style="width:35px">
                    <span class="navbar-dropdown__user-name username" style="color:black;font-weight:bold">@User.Identity.Name</span>
                </a>
                <div class="dropdown navbar-dropdown">
                    @*<a class="dropdown-toggle navbar-dropdown-toggle navbar-dropdown-toggle__user" data-toggle="dropdown" href="javascript:;">
                        <img src="/Home/GetAvatar" alt="" class="navbar-dropdown-toggle__user-avatar">
                        <span class="navbar-dropdown__user-name username" style="color:black;font-weight:bold"></span>
                    </a>*@

                    <div class="dropdown-menu navbar-dropdown-menu navbar-dropdown-menu__user">
                        <a class="dropdown-item navbar-dropdown__item" href="/Home/ChangePassword"><i class="mdi mdi-onepassword"></i> Đổi mật khẩu</a>
                        <a class="dropdown-item navbar-dropdown__item" href="/Home/Register"><i class="mdi mdi-onepassword"></i> Đăng ký</a>

                        <a class="dropdown-item navbar-dropdown__item" href="/Home/logout"><i class="mdi mdi-logout"></i> Đăng xuất</a>
                    </div>
                </div>
            </div>
        }
        else
        {
            <a asp-controller="Home" asp-action="Index"> Đăng nhập</a>
        }

    </div>
</div>
